[2022-04-01 13:10] abodea opened #3172 "The refresh button is not working in landscape mode"
## Steps to reproduce
1. Launch Focus and access any website.
2. Turn the device into landscape mode.
3. Tap on the refresh button.
### Expected behavior
The page is refreshed without issues.
### Actual behavior
The refresh button is not working in landscape mode.
### Device & build information
* Device: iPhone 13 Pro Max (15.1.1).
* Build version: v99 (11983)

### Notes
Attachments:

https://user

[2022-04-04 06:19] razvanlitianu opened #3174 "Extract the design system, colors, fonts, images"

[2022-04-04 06:19] razvanlitianu opened #3175 "Extract UI helpers"

[2022-04-04 06:19] razvanlitianu opened #3176 "Extract Onboarding"

[2022-04-04 06:22] #3175 closed

[2022-04-04 06:22] #3174 closed

[2022-04-05 12:32] rilury opened #3182 "What's new button functionality"
### Related issues:

- [x]  https://github.com/mozilla-mobile/focus-ios/issues/3170
- [x]  https://github.com/mozilla-mobile/focus-ios/issues/2802
- [x] https://github.com/mozilla-mobile/focus-ios/issues/2803
- [x]  https://github.com/mozilla-mobile/focus-ios/issues/1748
- [x]  https://github.com/mozilla-mobile/focus-ios/issues/3185
- [x]  https://github.com/mozilla-mobile/focus-ios/issues/3192
-

[2022-04-05 13:10] rilury commented on #3170
Some of the intended functionality got lost in the past. So will solve this by implementing these two fixes:  #2802 #2803 .

[2022-04-05 13:10] #3170 closed

[2022-04-06 10:55] #3176 closed

[2022-04-06 12:53] abodea commented on #3141
Verified as fixed on v9000 (12147) with iPhone 13 Pro Max (15.1.1).

[2022-04-06 12:53] #3141 closed

[2022-04-07 08:10] #2984 closed

[2022-04-07 12:31] rilury opened #3185 "Whats new button does not change instantly color after changing the theme of the app"
Whats new button does not change instantly color after changing the theme of the app.
After you dismiss the settings screen and reenter the color of the button is updated

[2022-04-07 13:49] abodea commented on #3148
Verified as fixed on v9000 (12147) with iPhone 13 Pro Max (15.1.1).

[2022-04-07 13:49] #3148 closed

[2022-04-07 14:38] abodea commented on #3152
Verified as fixed on v9000 (12147) with iPhone 13 Pro Max (15.1.1).

[2022-04-07 14:38] #3152 closed

[2022-04-07 14:39] abodea commented on #3159
Verified as fixed on v9000 (12147) with iPhone 13 Pro Max (15.1.1).
After I added the Siri shortcut, I was redirected to the settings menu.

[2022-04-07 14:39] #3159 closed

[2022-04-07 15:37] isabelrios opened #3187 "Swiftlint: enable comma rule"
Let's start enabling swiftlint rules:
- comma

[2022-04-07 15:38] isabelrios opened #3188 "Swiftlint: whitespace rule"
Enable these rules:
- vertical_whitespace
- trailing_whitespace
- operator_whitespace
- leading_whitespace

[2022-04-07 17:57] #3187 closed

[2022-04-07 18:05] jeffreygee opened #3190 "Update search engines and icons"
### User proposal
[Focus](https://www.figma.com/file/epu0Sj6mCPk7K282sNpHgI/Site?node-id=3337%3A49199) search engines and their icons match desktop with the exception that Focus does not include Bing.

### Ideas for Solution

- Update the Amazon, DuckDuckGo, and Wikipedia icons.
- Remove Twitter as a search engine
- Add eBay as a search engine
- Update the order of the search engines: Google, Amaz

[2022-04-08 14:59] rilury opened #3192 "Improve user experience related to WhatsNew Button"
The pink color for Whats new button seems specific to the theme colors, so for the user would be better if we add the notification blue dot on the button to be clear that is something new.

<img width="51" alt="Screen Shot 2022-04-08 at 6 00 55 PM" src="https://user-images.githubusercontent.com/46751540/162469057-d2f67609-871e-498f-bed8-18a8bdd37cac.png">

[2022-04-08 15:04] colbswes commented on #3081
+1, I am also impacted by this issue.

[2022-04-11 13:28] jevans-mozilla commented on #2956
With the updates to biometric authentication, this issue is no longer relevant

[2022-04-11 13:28] #2956 closed

[2022-04-11 13:28] jevans-mozilla commented on #2760
With the updates to biometric authentication, this issue is no longer relevant

[2022-04-11 13:28] #2760 closed

[2022-04-11 13:30] #2898 closed

[2022-04-13 09:06] abodea opened #3202 "Add a `Toast` confirmation when adding a new shortcut"
### User proposal

### Ideas for Solution

![image](https://user-images.githubusercontent.com/42831109/163141426-5c7c0938-bf02-4fb5-b4f5-d4c1ad57c998.png)

[2022-04-13 14:05] abodea opened #3203 "The URL bar is not focused when closing the settings menu"
## Steps to reproduce
1. Launch Focus and access `settings`.
2. While `settings` is opened minimize and then resume Focus.
3. Press the `done` button in order to close the settings menu.
4. Observe the URL bar.
### Expected behavior
The URL bar should be focused and the keyboard opened.
### Actual behavior
The URL bar is not focused when closing the settings menu
### Device & build information
* D

[2022-04-13 17:22] Delphine opened #3204 "Incorrect ellipsis in string (causing linter errors in l10n repo)"
Please update this string in source repo, using proper ellipsis:
String ID: ShareMenu.SharePage
String should be: "Share Page With…"
Note: no need to update string ID as we have fixed this on localizations.

[2022-04-14 12:25] abodea commented on #2803
Verified as fixed on the latest 9000 (12347) with iPhone 13 Pro Max 15.1.1.
Note the following:
- when updating from a new version the `What's new` button was still active.
- on a fresh install the `What's new` button was displayed as not active but I was still able to access the section (@rilury is this the intended behavior?)

[2022-04-14 12:25] #2803 closed

[2022-04-14 12:32] abodea opened #3207 "`[PiP]` When adding a video in `PiP` mode, the video disappears after 1-2 seconds"
## Steps to reproduce
1. Go to Youtube or Dailymotion
2. Play a video on full screen.
3. Background Focus.
4. Observe the PiP mode.
### Expected behavior
The PiP mode is still displayed and the video is running without issues.
### Actual behavior
When adding a video in PiP mode, the video disappears after 1-2 seconds.
### Device & build information
* Device: **iPhone 13 Pro Max (15.1.1).**
* Build

[2022-04-14 12:33] abodea commented on #1909
Verified as fixed on the latest 9000 (12347) with iPhone 13 Pro Max 15.1.1.
Note that the app is now responsive and there is no stuck when returning to it.
I added [this](https://github.com/mozilla-mobile/focus-ios/issues/3207) as a regression.

[2022-04-14 12:33] #1909 closed

[2022-04-14 12:35] abodea commented on #2803
@jeffreygee is fine to remove the `UX` label?

[2022-04-14 12:36] abodea commented on #2802
Verified as fixed on the latest 9000 (12347) with iPhone 13 Pro Max 15.1.1.
@jeffreygee is fine if we remove the `UX` label?

[2022-04-14 12:36] #2802 closed

[2022-04-14 13:01] abodea opened #3209 "The `Share` button spills out of its designated area."
## Steps to reproduce
1. Launch Focus and observe the home screen.
2. Check the Share button box at the bottom.
### Expected behavior
The `Share` button doesn't spill out of its designated area.
### Actual behavior
The `Share` button spills out of its designated area.
### Device & build information
* Device: iPhone 13 Pro Max (15.1.1).
* Build version: 9000 (12347)
### Notes
Note that this occurs

[2022-04-14 13:01] abodea commented on #3074
Verified as fixed on the latest 9000 (12347) with iPhone 13 Pro Max 15.1.1.
I added https://github.com/mozilla-mobile/focus-ios/issues/3209 as a regression.

[2022-04-14 13:01] #3074 closed

[2022-04-14 13:02] #3185 closed

[2022-04-14 17:01] jeffreygee commented on #2803
@abodea good with me! thanks

[2022-04-15 08:30] github2099 opened #3212 "Add multiple Tabs"
### User proposal

To be used as a regular browser.
Only one single tab can be use under current version, which is not practical for regular use.

### Ideas for Solution

Please add the support of multiple tabs like the Android version.
I understand this might be brought up previously, but it's still not implemented :(

[2022-04-18 10:23] CatalinNeculaide commented on #3209
I have been working on a fix for this issue

<img width="451" alt="Screenshot 2022-04-18 at 12 42 44" src="https://user-images.githubusercontent.com/16647663/163790370-51b53cd9-240b-4814-bf5d-78606011c16d.png">

And I wanted to check how it will look like if the title's Share button was bigger and it looked like this:
<img width="438" alt="Screenshot 2022-04-18 at 12 42 49" src="https://user-image

[2022-04-18 11:10] isabelrios commented on #3161
This issue can be closed as swiftlint is running both on xcode and bitrise

[2022-04-18 11:10] #3161 closed

[2022-04-18 13:50] isabelrios opened #3219 "Improve automatic string import to not take changes in unrelated files"
In this PR the automation is changing the package.resolved file by removing one line: https://github.com/mozilla-mobile/focus-ios/pull/3217/commits/3775568be6c00eb70ebc8b231269e16099134a56

In this case that's not critical but it could be in case there is a package change. We need to be sure that only locale.lproj files are changed

[2022-04-18 14:14] rilury opened #3220 "Start Browsing button text does not fit on iPad, landscape orientation"
Actual behaviour
When the app is first launched, on iPad, in landscape the text "Start Browsing" does not fit on the button.

Expected behaviour:
The text should fit on the button and the button size should be the same, not smaller at the first launch in landscape mode, for iPad.

[2022-04-18 14:16] rilury commented on #3220
<img width="1058" alt="Screenshot 2022-04-18 at 11 39 55" src="https://user-images.githubusercontent.com/46751540/163820989-86c5eed8-f664-468e-a8bf-172471ba6b3e.png">

[2022-04-19 15:19] #3219 closed

[2022-04-20 08:03] abodea commented on #3172
Verified as fixed on the last version v 9000 (12536) with iPhone 13 Pro Max (15.1.1).

[2022-04-20 08:03] #3172 closed

[2022-04-20 11:52] razvanlitianu commented on #2019
@jevans-mozilla closing this issue for now.

[2022-04-20 11:52] #2019 closed

[2022-04-20 12:30] abodea commented on #3123
Verified as fixed on the last version v 9000 (12536) with iPhone 13 Pro Max (15.1.1).

[2022-04-20 12:30] #3123 closed

[2022-04-20 12:31] #3171 closed

[2022-04-20 12:31] abodea commented on #3171
@jeffreygee it's all good if we remove the `UX` label?

[2022-04-20 13:15] jeffreygee commented on #3171
@abodea - looks good to me, thanks!

[2022-04-21 17:15] isabelrios commented on #3188
This has been closed by the previous PR

[2022-04-21 17:15] #3188 closed

[2022-04-21 17:18] isabelrios opened #3228 "Swiftlint: trailing_semicolon"
[Trailing semicolon](https://realm.github.io/SwiftLint/trailing_semicolon.html)

Enable it here: https://github.com/mozilla-mobile/focus-ios/blob/2670a280235816a714992d17465802fa33202b2d/.swiftlint.yml#L209

[2022-04-21 17:20] isabelrios opened #3229 "Swiftlint: trailing comma"
[Trailing comma](https://realm.github.io/SwiftLint/trailing_comma.html)

https://github.com/mozilla-mobile/focus-ios/blob/2670a280235816a714992d17465802fa33202b2d/.swiftlint.yml#L207

[2022-04-21 17:20] isabelrios opened #3230 "Swiftlint: trailing_newline"
[Trailing newline](https://realm.github.io/SwiftLint/trailing_newline.html)

https://github.com/mozilla-mobile/focus-ios/blob/2670a280235816a714992d17465802fa33202b2d/.swiftlint.yml#L208

[2022-04-22 14:28] isabelrios opened #3234 "[XCUITest] SearchSuggestion.EnableThenDisable is failing"
This [test](https://github.com/mozilla-mobile/focus-ios/blob/e6cc133ef4a81778cfc56a76ea43317bb00457f7/XCUITest/SearchSuggestionsTest.swift#L142) was passing before but it fails on latest main.

https://app.bitrise.io/build/4038472a-de23-4931-b42d-bb686c0be1dc

The failure is in last line, when going to type in the url bar, before we could just see the text typed, but now, the url contains previous

[2022-04-22 14:30] isabelrios opened #3235 "Swiftlint: Add the l10n-screenshots-dd path to the excluded ones"
The L10nBuild is failing due to that. And since we can not apply the swiftlint changes to the files that are failing, we need to exclude the affected testing paths.
❌ /Users/vagrant/git/l10n-screenshots-dd/SourcePackages/checkouts/telemetry-ios/Sources/Telemetry/TelemetryScheduler.swift:40:22: Comma Spacing Violation: There should be no space before and one after any comma. (comma)
https://app.bit

[2022-04-22 18:30] jonathansampson commented on #3081
Sampson here, from Brave and Brave Search. Chiming in to share that we recently made changes to search.brave.com which addresses this issue from our end as well.

[2022-04-22 18:48] TaxingAuthority commented on #3081
I can confirm that I am able to add Brave Search now with no issue.

Firefox Focus 98.1

[2022-04-23 13:07] no-one opened #3237 "Face ID animation after start"
## Steps to reproduce

1. Enable Face ID protection
2. Close the app completely
3. Open the app

### Expected behavior
No Face ID, because no URL was opened before

### Actual behavior
Face ID Animation

### Device & build information
* Device: iPhone 12 mini
* Build version: 99.0 (11983) / iOS 15.4.1

### Notes
This has been the case for me since the update to 99.0. Before, there was no Face ID a

[2022-04-27 08:34] razvanlitianu commented on #3121
Looks like it's a decoding error. Name was added to support the rename feature.

[2022-04-27 12:04] abodea commented on #3204
Verified as fixed on the **v9000 (12727)** with **iPhone 13 Pro Max (15.1.1).**

[2022-04-27 12:04] #3204 closed

[2022-04-27 12:06] abodea commented on #3209
Verified as fixed on the **v9000 (12727)** with **iPhone 13 Pro Max (15.1.1).**

[2022-04-27 12:06] #3209 closed

[2022-04-27 12:11] abodea commented on #3203
Verified as fixed on the **v9000 (12727)** with **iPhone 13 Pro Max (15.1.1).**

[2022-04-27 12:11] #3203 closed

[2022-04-29 12:31] ykiran commented on #3081
I'm now able to add the Brave search engine now. Firefox Focus (98.1/11514) on IOS. Thank you all for getting this fixed.

[2022-05-02 10:30] PARAIPAN9 commented on #2782
From what I see, the "Request Desktop Site" feature works, the layout and the fonts adapt as requested, if you look closely.

[2022-05-02 13:27] abodea commented on #3081
Verified as fixed on the latest 9000 (12795) and v100 RC build with iPhone 13 (iOS 15.1.1).

[2022-05-02 13:27] #3081 closed

[2022-05-02 13:40] abodea commented on #3220
Verified as fixed on the latest 9000 (12795) and v100 RC build with iPhone 13 (iOS 15.1.1).

[2022-05-02 13:40] #3220 closed

[2022-05-03 10:18] PARAIPAN9 opened #3257 "The Icon from "Open in Default Browser" misses"
## Steps to reproduce
1. Search A URL
2. Tap Context Menu (Hamburger Menu)
### Expected behavior
The Icon from "Open in Default Browser" should appear
### Actual behavior
The Icon from "Open in Default Browser" misses
### Device & build information
* Device: *
* Build version: ?
### Notes
Attachments:
![Demo](https://user-images.githubusercontent.com/51127880/166437194-1fa2f7a5-190a-442f-a7ed-7a0d

[2022-05-03 13:32] isabelrios commented on #3030
So, we have opened a bug in Bugzilla to request a token for an internal integration for sentry https://bugzilla.mozilla.org/show_bug.cgi?id=1766250
The token has been shared but it is not working totally yet, so keeping this issue open until it is done

[2022-05-03 16:11] HahiHahiK opened #3259 "Tracker block count problem"
After update to the version below the tracker block count is 0.
Client version:Firefox Focus 99.0(11983)
System:iPadOS 15.4.1

I tried to surf twitter/google …which contains a lot of trackers on their website ,but the count is still 0.
I have tried to reinstall but it still happen.
I have turned All opinion in Tracking Protection ON.And block web front as well.

I don’t know the problem is on coun

[2022-05-04 13:35] abodea commented on #3257
Verified as fixed on the latest 9k build with iPhone 13 Pro Max (15.1.1).

[2022-05-04 13:35] #3257 closed

[2022-05-04 15:38] adamopenweb commented on #3053
Hey Mozilla folks. I have been hitting this issue for a few months now, honestly every single time I use the browser (daily). Given it's one of the primary use cases "a quick disposable search", any chance we could get this some priority?

[2022-05-05 09:50] abodea commented on #3053
Hello, we will look into it and ofc a fix for the next releases.

[2022-05-05 12:31] abodea commented on #3257
Also, verified it on iOS v100 (12849) with iPhone 13 Pro Max (15.1.1).

[2022-05-11 07:40] #3029 closed

[2022-05-11 07:57] #3121 closed

[2022-05-18 16:15] no-one commented on #3237
Still present in 100.0. You need a Code or Face ID to start Focus and that is annoying.

[2022-05-19 09:55] Keenuts commented on #1371
Hi there 👋

Is there a reason to close this issue?
It is still impossible to drag the cursor to edit part of the url on Firefox focus iOS (98.1), making modifying the beginning of URLs quite difficult.

[2022-05-19 15:54] isabelrios commented on #3235
This issuse can be closed as the fix landed in the PR mentioned above

[2022-05-19 15:54] #3235 closed

[2022-05-19 15:58] isabelrios commented on #3229
I don't see any swiftlint error related to this... do you @razvanlitianu ?

[2022-05-19 16:17] isabelrios opened #3274 "Swiftlint: redundant_optional_initialization"

[2022-05-19 16:18] isabelrios opened #3276 "Swiftlint: empty_parentheses_with_trailing_closure"

[2022-05-19 16:19] isabelrios opened #3277 "Swiftlint: comment_spacing"

[2022-05-19 16:19] isabelrios opened #3278 "Swiftlint: opening_brace"

[2022-05-19 16:20] isabelrios opened #3279 "Swiftlint: void_return"

[2022-05-19 16:20] isabelrios opened #3280 "Swiftlint: closing_brace"

[2022-05-19 16:21] isabelrios opened #3281 "L10n Screenshots - Update tests to show the new onboarding"
I just noticed that the screenshots tests are running the old version of the UI.
It would be better to show what we are shipping.
Opening this ticket to change that.

[2022-05-19 16:27] isabelrios commented on #3037
This issue can be closed as work was done in PR above

[2022-05-19 16:28] #3117 closed

[2022-05-20 10:01] #3229 closed

[2022-05-20 11:02] #3230 closed

[2022-05-22 18:55] detj commented on #3212
I think Firefox Focus for iOS/iPadOS is at a severe disadvantage compared to its competition. Because other privacy focused browsers like [Brave Private Browser](https://github.com/brave/brave-ios) supports tabs. Considering historically, Firefox was the originator of tabbed browsing on the web, a Mozilla product should not, not have it.

Though, I might be wrong in thinking that the developers ne

[2022-05-23 10:06] #3277 closed

[2022-05-23 10:06] #3280 closed

[2022-05-23 12:46] vankempen opened #3286 "Clicking on addressbar when on a website does not select the url, but appends typed text leading to unwanted searches"
Previously when clicking on the URL-/addressbar in firefox focus when on a website, it would select the full URL, so that if you would type a search term it would overwrite the url. Now it does not, resulting in search terms being appended to the url.

[2022-05-23 13:49] miladmaz12 opened #3287 "Pull to refresh page"
Self-explanatory.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-180)

[2022-05-26 17:34] auggy commented on #3286
I just noticed this, I thought I was going crazy.

[2022-05-27 08:50] SimonBasca commented on #3286
Thanks for the feedback. I can confirm that the issue is reproducible on latest main 9000. (13145)
1. Visit a page
2. Tap on the URL bar

Actual results:
- The url is not selected

Expected results:
- The URL should be selected.

https://user-images.githubusercontent.com/32130829/170665433-0fcc5f81-fe01-42b8-9c87-24dda868e0e8.mp4

[2022-05-30 19:15] marcocce opened #3293 "Issue with alternative search engines"
When adding a new search engine, is there any way to have the icon of it on the left? Like with DDG, Google etc.
I've tried with Startpage and Presearch but it doesn't work, there are only the initials! (https://imgur.com/a/JHF7gGi)
It would be great to have icons also for search engines added manually.

Best regards :)

[2022-05-31 10:00] abodea commented on #3121
Verified as fixed for the latest versions 98, 98.1, 99, and 100 with iPhone 13 Pro Max (15.1.1).

[2022-06-02 09:32] #3276 closed

[2022-06-02 19:53] lime124 opened #3296 "wallpaper setting accent colors wrong blue"
STR
1. Open app and go to menu
2. Go into customize homepage and select wallpapers
3. observe

The toggle and wallpaper highlight is a different blue from other toggles we use.

/ cc @cwzilla @Kate-Galetski

![IMG_8276](https://user-images.githubusercontent.com/287322/171726221-14e83d51-3b15-4444-a155-8332a537f6cd.PNG)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net

[2022-06-07 02:06] bithavoc commented on #3053
This is really annoying, it happens 3/5 times I google something

[2022-06-11 06:51] anEleadE commented on #3053
I'm having the same issue. It also happens around 3 times out of every 5 times I google something. So annoying I'm abandoning the app for now until a fix is introduced.

Can't believe this issue has been open for four months when one of the main purposes of the app is quick search. Really poor prioritisation of bug fixes.

[2022-06-14 06:54] abodea commented on #3286
Verified as fixed on the latest 9000 build with iPhone 13 Pro Max (15.1.1).

[2022-06-14 06:54] #3286 closed

[2022-06-22 06:08] umbralOptimatum opened #3307 "Trying to drag cursor in URL bar instead drags entire URL"
## Steps to reproduce

With a page loaded, select the URL bar so the cursor appears. Try to drag the cursor to reposition it as in any other iOS text field.

### Expected behavior

The cursor moves to where the user drags it.

### Actual behavior

Most of the time, rather than dragging the cursor, the current URL is dragged as shown in the image. Releasing it loads the URL, effectively refreshing

[2022-06-22 13:42] isabelrios opened #3308 "Bitrise: Upgrade to Xcode 14"
The new xcode 14 is available on Bitrise. Let's try to build and run tests using it

[2022-06-23 13:40] abodea opened #3311 "The scrim size is smaller than the screen"
## Steps to reproduce
1. Launch Focus and access any website.
2. Tap on the URL bar and rotate the device in landscape mode.
3. Observe the scrim size.
### Expected behavior
The scrim size should fit the entire screen.
### Actual behavior
The scrim size is smaller than the screen.
### Device & build information
* Device: iPhone 13 Pro Max (15.1.1).
* Build version: v102 (13277).
### Notes
Attachme

[2022-06-27 09:07] isabelrios commented on #3308
The app builds and unit tests pass 100%.
There is though and issue with UI test: PastenGoTest.testPastenGo() which is failing 100%. There might be a change around the copy/paste functionality

[2022-06-28 10:22] isabelrios commented on #3308
There is a new alert when there is text copied in the clipboard:
![Simulator Screen Shot - iPhone 11 - 2022-06-28 at 11 25 36](https://user-images.githubusercontent.com/1897507/176156013-c28655ca-22c8-4bfc-8d09-5760077b46b8.png)

The test is failing because this is new and we are missing the step to click on `Allow paste`. For some reason that alert is not shown in the app as an element in the hie

[2022-06-28 21:14] Sdaswani opened #3314 "Indicator in Menu but nothing in Menu"
## Steps to reproduce
Launch Focus
See Blue Indicator
Open Menu
Nothing indicated in menu?

### Expected behavior
Something to look at in menu?

### Actual behavior
Nothing in the menu? I thought the blue dot signified something, See first few seconds of attached video.

### Device & build information
* Device: iOS 15.5
* Build version: 100
### Notes
Attachments: https://photos.app.goo.gl/CqAqATrX

[2022-06-28 21:20] Sdaswani opened #3315 "Restarted Focus is asking for Face ID for no reason"
## Steps to reproduce
1. Open Focus
2. Go to a Page
3. Trash the Page
4. Force Close the App
5. Open Focus

### Expected behavior
Focus doesn't ask for Face ID

### Actual behavior
Focus is asking for Face ID

### Device & build information
* Device: iPhone 13 15.5
* Build version: 100
### Notes
Attachments: See this video https://photos.app.goo.gl/CqAqATrXFrmD4MF77

[2022-06-30 15:47] no-one commented on #3315
See #3237

[2022-06-30 19:24] #3315 closed

[2022-06-30 21:14] hwine commented on #3237
Still present on Test Flight 100 (12849) / iOS 15.5

imo, this is both:
- a regression (can that label be added, please)
- More than an annoyance. Focus _used_ to be my go-to for quick searches. I am finding I am using focus significantly less, and preferring my normal browser. That's not good for the product, or for me.

[2022-07-01 13:58] abodea commented on #3237
Hello, please note that this is being investigated.
Please check https://github.com/mozilla-mobile/focus-ios/issues/3064 for more references.
It was added a long time ago in order to protect the privacy of the focus home screen, as the shortcuts were implemented.

[2022-07-02 16:12] TimSnoots opened #3316 "URL Autocomplete Custom URL should retain details as entered"
## Steps to reproduce

1. Settings > URL Autocomplete > Manage Sites > + Add custom URL
2. Enter a custom URL including protocol or trailing slash:  “https://example.com/test/”
3. Touch Save
4. Resulting URL gets saved as “example.com/test”

### Expected behavior

Resulting URL should be saved exactly as entered: “https://example.com/test/”

If the user has reason to explicitly enter a protocol su

[2022-07-02 18:27] cpeterso opened #3317 "Focus’s homepage always says “0 trackers blocked so far”"
## Steps to reproduce

1. Launch Focus.
2. Open a website that surely have trackers, such as yahoo.com or msn.com.
4. Scroll to the bottom of the page to ensure all the pages’ content and ads have loaded.
5. Click some ads and wait for the ad page to load.
6. Tap Focus’s trash can icon 🗑 to clear your browsing session.

### Expected behavior

Focus’s homepage show say it has blocked some nonzero n

[2022-07-03 18:54] Sdaswani commented on #3237
I don't have any shortcuts, so it's a definite inconvenience.

[2022-07-04 10:58] abodea commented on #3317
Hello, @cpeterso thank you for this report!
Please note that we have the bug already https://github.com/mozilla-mobile/focus-ios/issues/3259 and a developer is working on a fix.
I will close this one as a duplicate.

[2022-07-05 20:01] mrtimuk opened #3318 "Typing a domain into search bar attempts http first not https"
We should attempt to connect via https first as http leaks content of the request eg query parameters etc.
This is a privacy risk - it could leak search terms for search engines, forums etc

## Steps to reproduce
Type ddg.gg in the search bar, and tap go.

### Expected behavior
Navigate to https://ddg.gg (if possible, otherwise fallback to http)

### Actual behavior
Navigates to http://ddg.gg (whi

[2022-07-07 09:39] isabelrios opened #3320 "Bitrise - Use the pipeline feature to run the test plan in two different devices at the same time"
It may be interesting to use the pipeline feature to run the tests on both iPad and iPhone devices at the same time.
I have seen several issues coming from iPad so having a closer eye to these tests could help us have a higher app quality there.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-29)

[2022-07-11 02:25] Penguinlay commented on #3314
This leads to Page Not Found when the gift icon is clicked in Setting.

[2022-07-13 11:24] isabelrios opened #3326 "[XCUITest] Add re-try option and modify test plan"
Since we are seeing some intermittent failures, let's see if adding a retry will fix that.
I also realized that the Smoketest is running also the Unit tests, which actually run as part of the Unit test plan defined. No need to run them twice.

[2022-07-13 12:09] rtestard opened #3328 "Add toggle to set Focus as default browser within Focus settings"
### User proposal
As a Focus user on iOS, I can set Focus as my default browser as part of the general section of settings so that I can set it to open HTTP and HTTPs links from other applications.

### Ideas for Solution

Acceptance criteria:
- A new entry in settings, within the "General" section" let users set Focus as their default browser
- Engaging with the new entry brings the OS set to def

[2022-07-13 12:21] rtestard opened #3329 "Add favicons to home screen shortcuts"
### User proposal
As a Focus user on iOS who added homescreen shortcuts, I can see the favicon of the shortcut URL displayed on the homescreen, so it's easier to find my preferred sites.

### Ideas for Solution
Acceptance criteria:
- Newly added shortcuts get the URL favicon displayed instead of the letter as they get created
- Existing shortcuts fetch the favicon and replace the letter with the f

[2022-07-13 12:27] rtestard commented on #3328
We need a string for the the settings entry, I propose we use "Set as Default Browser", similarly to  Firefox iOS. I'll confirm with Emily.

[2022-07-13 12:54] rtestard opened #3330 "Search telemetry addition"
### User proposal
As a product manager, I want to understand how Focus iOS contributes to the business so that I can keep bringing great features to Focus.

### Ideas for Solution
Implement search probes similar to Focus Android or Firefox iOS when Focus Android probe does not exist
- Count of partner search pages w/ ad:  https://dictionary.telemetry.mozilla.org/apps/focus_android/metrics/browser_

[2022-07-13 14:04] ewachowiak commented on #3328
Yes, I believe "Set as default browser" would be an appropriate string. I suggest using sentence case on Android ("Set as default browser") and title case on iOS ("Set as Default Browser"). I'm seeing inconsistent casing on Focus settings right now, so we might want to update that with this update.

[2022-07-14 02:42] jeffreygee commented on #3328
@rtestard - mocks here for review: https://www.figma.com/file/muFVUf8vLYJZhamFwFaWC6/Set-to-Default?node-id=2647%3A11563

[2022-07-14 07:28] razvanlitianu opened #3331 "UX Question"

[2022-07-14 07:40] razvanlitianu commented on #2720
I will remove 2983 and 2713 and close the issue.

[2022-07-14 07:41] #2720 closed

[2022-07-14 07:45] razvanlitianu opened #3333 "Remove SnapKit"
- [x] #3348
- [x] #3350
- [x] #3380

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-26)

[2022-07-14 08:48] #2972 closed

[2022-07-14 09:15] abodea commented on #3259
Verified as fixed on 9000 (13417) with iPhone 13 Pro Max (15.1.1).

[2022-07-14 09:15] #3259 closed

[2022-07-14 09:16] Mara-d opened #3334 "The WebView goes outside the safe area in Landscape mode"
## Steps to reproduce
1. Launch Focus in Landscape mode.
2. Access `google.com` page.
3. Access `youtube.com` page.
4. Access `google.com` page.
5. Perform a google search.
### Expected behavior
In Landscape mode, the WebView should remain within the safe area.
### Actual behavior
The WebView goes over the safe area.
### Device & build information
* Device: Device: iPhone 13 Mini (15.5)
* Build ve

[2022-07-14 14:00] #3311 closed

[2022-07-18 11:03] isabelrios commented on #3326
This has been fixed in #3327

[2022-07-18 11:03] #3326 closed

[2022-07-18 14:40] marcocce commented on #3293
No response.

[2022-07-18 14:40] #3293 closed

[2022-07-18 21:26] rtestard commented on #3328
thanks @jeffreygee  - this looks good to me

[2022-07-20 11:21] isabelrios opened #3339 "Bitrise - update the version for xcode build and test steps"
We are using and old version (2.2.x) for xcode test step. It is always recommended to update the steps to latest versions. This might fix the issue we are seeing with test failures not being reported as so to the next step.

[2022-07-20 15:33] abodea commented on #3334
Verified as fixed on the latest build **v103 (13454)** with **iPhone 13 Pro Max (15.1).**

[2022-07-20 15:33] #3334 closed

[2022-07-21 15:53] #3339 closed

[2022-07-26 06:38] flodolo opened #3345 "Last l10n export didn't update et, pa-IN"
Similarly to what reported for Firefox for iOS [here](https://github.com/mozilla-mobile/firefox-ios/issues/11391).

The last export didn't touch et and pa-IN, manually fixed in https://github.com/mozilla-l10n/focusios-l10n/commit/dd670c9537b2b5d7812cb32332765f33abcccb57

[2022-07-26 06:40] isabelrios commented on #3345
I was taking a look at the firefox-iOS issue. The behaviour is a bit diffierent, since for firefox there is that locales list that is read to export but for focus, we are reading the locales that are actually included in the project, https://github.com/mozilla-mobile/focus-ios/blob/bc0a3935f709a469e697acced290e589048b72e7/tools/Localizations/Sources/Localizations/ExportTask.swift#L74

Investigatin

[2022-07-26 06:49] flodolo commented on #3345
I can't spot resource folders for either locales, so I guess the import doesn't include those locales either.

[2022-07-26 07:20] isabelrios commented on #3345
I don't see those locales as locales availables in the project: https://github.com/mozilla-mobile/focus-ios/tree/main/Blockzilla out of curiosity, are those new?
I will try to run the scripts and see what happens...

[2022-07-26 07:32] flodolo commented on #3345
Looking at the history in the repo, Estonian was added mid June, while Punjabi was added mid April.

I've double checked our internal docs and there are no instructions around adding new locales to iOS projects, so we might have a gap there.

[2022-07-26 11:05] razvanlitianu commented on #3329
@rtestard @jeffreygee @abodea Is there any UX for fav icons on Shortcuts? The current implementation copies the design for Firefox. I have some screenshots on #3337. Could you confirm if any change is required?

[2022-07-27 06:34] razvanlitianu opened #3348 "Remove SnapKit from Packages"

[2022-07-27 10:49] #3348 closed

[2022-07-27 12:08] PARAIPAN9 opened #3350 "Remove SnapKit from TooltipView and TooltipViewController"

[2022-07-27 13:01] rtestard opened #3351 "Create a search widget"
### User proposal
As a user on the home screen I can initiate a text search by clicking on the search widget.
As a user I can add a widget to the home screen or remove it

### Ideas for Solution
- If Focus is installed I can add a search widget from the home screen (a widget is listed under the Focus entry in the widgets menu)
- If a widget is added to home screen I can remove it
- If Focus is uni

[2022-07-27 13:01] rtestard commented on #3351
@jeffreygee Can you please provide the UX for the widget?

[2022-07-27 13:11] rilury opened #3352 "String related to AppName for set as default browser description should be added dynamically."
The string for set as default browser description label: "Set links from websites, emails and messages to open automatically in Focus" should be added dynamically regarding App Name since in some locales we use a different name. It should not be hardcoded as "Focus".

[2022-07-27 13:14] flodolo commented on #3345
Looks like Focus has a local copy of the LocalizationTools
https://github.com/mozilla-mobile/focus-ios/tree/main/tools/Localizations

Is that really needed? I feel like that's going to lead to more problems, especially if there are no significant differences.

[2022-07-27 13:41] razvanlitianu commented on #3331
cc: @jeffreygee

[2022-07-27 13:47] isabelrios commented on #3345
I guess we could use the repo itself and modify the scripts here correctly to work similarly to Firefox-iOS. That way there would be only one place where to mainatin the tool.

About the missing locales, in the past we maintained hardcoded lists, those lists were removed and if I'm not wrong we had to manually add/delete locales when those were added/removed from the repo but I may be missing some

[2022-07-28 07:16] isabelrios commented on #3345
I think the first part is right, there was not a sync between repos. However, about the shipping-locales.txt file, it was removed as per Stefan's suggestion. The reason was to read the locales availables in the project instead of relying on a harcoded list. I did that part, see [PR](https://github.com/mozilla-mobile/focus-ios/pull/2842). And specifically the comment with his suggestion: https://gi

[2022-07-28 07:30] flodolo commented on #3345
I think that's part of what's generating the issue here: we're exporting (and importing?) only locales that are already in the project, i.e. have a `.lproj` folder. So, a brand new locale will never be included by automation.

What about the suggestion of reading the folders in the l10n repository instead? This was my [terrible attempt](https://github.com/flodolo/LocalizationTools/commit/db9c021f5

[2022-07-28 07:52] isabelrios commented on #3345
I think so, that's why I think we need to add them manually and after that the tools will work. I remember  Delphine telling us to add/remove locales.

That would be the ideal solution I guess. We did not do that in the past because there was like a relase locales list and kind of all locales availables in the l10n repository. But if that has changed and the list is the release list or there are n

[2022-07-28 13:32] rtestard opened #3357 "Remove notification dot on hamburger menu"
### User proposal
Currently the notification dot appears when new releases are applied that get the user attention to the hamburger menu.
This is problematic because:
- Once you select the hamburger menu it's not obvious what users should do next (Help or Settings)
- If you got to settings the gift icon is turned on (purple whereas dot was blue) and it's not obvious this is where users should go n

[2022-07-28 16:09] rtestard opened #3358 "Remove gift button and introduce a new Setting entry to access the latest release notes"
### User proposal
Per https://github.com/mozilla-mobile/focus-ios/issues/3357 we want to change the flow allowing users to access release notes details to avoid confusing them.

### Ideas for Solution
- Remove the gift button
- Add a link underneath the "Mozilla" section that points to the release notes (display content within the Settings section as the current gift icon does)

[2022-07-28 16:10] rtestard commented on #3358
@jeffreygee can you please help with UX for this please?

[2022-07-28 16:21] rtestard opened #3359 "Display the second onboarding tooltip on the first occurence of a site where Focus blocks trackers"
## Steps to reproduce
1 Launch a new Firefox install
2 Get to the second tooltip "Firefox Focus stopped this site from spying on you. Tap the shield for info on what we blocked"
3 The shield reports no trackers or scripts blocked

### Expected behavior
The tooltip appears on the first occurence of Firefox Focus blocking trackers or scripts.

### Actual behavior
The tooltip appears on the first bro

[2022-07-29 07:44] rilury commented on #3192
Closed since  #3357 will be implemented instead.

[2022-07-29 07:44] #3192 closed

[2022-07-31 08:14] byaruhaf opened #3364 "old App Store links in README.md"
Currently, the README.md has a link to the app store starting with the older itunes.apple.com instead of apps.apple.com.

[2022-08-01 05:38] cpeterso commented on #3054
To improve web compatibility, Focus's mobile UA string should include Safari's `Version/` token. See mozilla-mobile/firefox-ios#11464 for more information.

[2022-08-02 11:51] abodea opened #3369 "After adding a shortcut, show a confirmation message"
## Steps to reproduce
1. Visit any website.
2. Add it to the shortcuts.
### Expected behavior
A snack bar with the confirmation that the shortcut was successfully added.
### Actual behavior
No snack bar is displayed.
### Device & build information
* Device: **iPhone 13 Pro (15.1)**
* Build version: **9000 (13720).**
### Notes
Attachments:
![image](https://user-images.githubusercontent.com/42831109

[2022-08-02 11:52] abodea opened #3370 "After removing a shortcut, show a confirmation message"
## Steps to reproduce
1. Visit any website.
2. Add it to the shortcuts.
3. Tap on the hamburger menu while the page is open and tap on the `remove shortcut`.
### Expected behavior
A snack bar with the confirmation that the shortcut was successfully removed.
### Actual behavior
No snack bar is displayed.
### Device & build information
* Device: **iPhone 13 Pro (15.1)**
* Build version: **9000 (1372

[2022-08-02 11:54] abodea commented on #3369
@rtestard, @jeffreygee Might be worth looking at this?
It will help a lot and it's used in FF for iOS too.

[2022-08-02 11:54] abodea commented on #3370
@rtestard, @jeffreygee Might be worth looking at this?
It will help a lot and it's used in FF for iOS too.

[2022-08-02 12:09] #3202 closed

[2022-08-02 12:18] abodea opened #3371 "The user is not informed when the maximum limit is reached on shortcuts"
## Steps to reproduce
1. Launch Focus.
2. Add 4 shortcuts on the homepage.
3. Attempt to add the 5th shortcut.
### Expected behavior
The user should be informed why the `add to shortcut` button is not displayed in the hamburger menu.
### Actual behavior
The user is not informed when the maximum limit is reached on shortcuts
### Device & build information
* Device: **iPhone 13 Pro (15.1)**
* Build

[2022-08-02 12:38] abodea opened #3372 "Favicons are displayed in low resolution after upgrading Focus from a lower version"
## Steps to reproduce
1. Install any older version of Focus that doesn't contain favicons.
2. Add 4 shortcuts.
3. Upgrade to the latest Focus version that contains favicons.
### Expected behavior
Favicons should be displayed in high resolution after upgrading from a lower version.
### Actual behavior
Favicons are displayed in the low resolution after upgrading Focus from a lower version.
### Devic

[2022-08-02 12:39] abodea opened #3373 "Allow re-arranging shortcuts sites"
### User proposal

### Ideas for Solution

[2022-08-02 18:49] bcolsson commented on #3345
@isabelrios

Noting here that someone has been asking about the pa-IN not being available for focus. I noticed you made a PR #3361  adding et, but pa-IN is still missing.

[2022-08-03 13:26] #3345 closed

[2022-08-03 20:34] jeffreygee commented on #3351
UX here: https://www.figma.com/file/nCvlz8wsL1w7dLPag32Syz/Widget?node-id=59%3A128

*Note* Content not final for widget pages, but visuals are good to go

[2022-08-04 02:38] jeffreygee commented on #3329
@razvanlitianu - should be okay to follow the current implementation for Firefox. Screenshots look good to me

[2022-08-04 02:48] Tausifqureshi786 commented on #2949
Is someone still working on this issue?

[2022-08-04 11:28] abodea commented on #3328
Verified as fixed on v9000 (13758) with iPhone 13 Pro Max iOS (15.1.1).
Please note that I was able to set Focus as a default browser but I was also able to check the telemetry implemented: `set_as_default_browser_pressed`

[2022-08-04 11:28] #3328 closed

[2022-08-04 11:33] abodea commented on #3352
Verified as fixed on v9000 (13758) with iPhone 13 Pro Max iOS (15.1.1).
The correct name is displayed for Focus and Klar.

[2022-08-04 11:33] #3352 closed

[2022-08-04 11:41] abodea commented on #3357
Verified as fixed on v9000 (13758) with iPhone 13 Pro Max iOS (15.1.1).

[2022-08-04 11:41] #3357 closed

[2022-08-04 13:34] razvanlitianu commented on #3314
Fixed in https://github.com/mozilla-mobile/focus-ios/issues/3357

[2022-08-04 13:34] #3314 closed

[2022-08-08 09:50] rilury opened #3380 "Remove SnapKit from Settings"
Remove SnapKit from Settings and replace with layout constraints.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-21)

[2022-08-08 10:00] isabelrios opened #3381 "Fix swiftlint errors"
There are some errors related to the recently added swiftlint rules:
https://github.com/mozilla-mobile/focus-ios/runs/7653200961

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-20)

[2022-08-08 10:02] isabelrios opened #3382 "Bitrise: make the build fails if swiftlint rules give errors"
I just realized that there were swiftlint errors but the build was not failed completely only the swiftlint error, we should modify this so that we don't introduce more/new swiftlint errors.
Please see build as an example:
https://github.com/mozilla-mobile/focus-ios/runs/7653200961

cc @jjSDET (as good issue to look at to have more context)

[2022-08-08 10:07] isabelrios opened #3383 "[L10n Tests] Update one of the L10nScreenshots tests"
There is one tests related to shortcuts that is failing since the title shown for the shortcut changed:
[test12RemoveShortcut](https://github.com/mozilla-mobile/focus-ios/blob/d77b9a3a2e20c09c3b3f30acece7fbf1c6ce237f/ScreenshotTests/SnapshotTests.swift#L145)

cc @jjSDET in case you want to get more familiar with Focus-iOS tests

[2022-08-08 16:07] isabelrios commented on #3381
This is the error:
`Using ternary to call Void functions should be avoided.`

I don't see any new rule added... any idea why this has started and the way to fix it @razvanlitianu @rilury ?

[2022-08-08 16:23] isabelrios commented on #3381
So, for some reason bitrise is running swiftlint but not taking into account our .swiftlint file and rules. That would explain why we are seeing those errors now...
I'm trying to fix it by modifying the swiftlint file, just in case there are some invalid rules that make it invalid and so a default configuration runs (that is my guess... but happy to hear other comments/options)

[2022-08-08 16:44] isabelrios commented on #3382
The swiftlint step is passing even though linting errors are found. In fact, the report on bitrise shows the failures but the build in general is green. I'm updating the swiftlint step to the latest version, if that does not fix the issue I will open a ticket on Bitrise. It is important that we see the real status of the bitrise build so that we don't land things that are failing but not reported

[2022-08-08 17:02] isabelrios commented on #3382
Ticket open on Bitrise: https://support.bitrise.io/hc/en-us/requests/30917

[2022-08-08 17:14] isabelrios commented on #3381
To have more context, the swiftlint errors started with this PR: https://github.com/mozilla-mobile/focus-ios/commit/dd435038e222db569ae1a2685cc9024ae12e27ee but it is not changing any of the files that are shown with swiftlint errors:
<img width="599" alt="Screenshot 2022-08-08 at 19 11 58" src="https://user-images.githubusercontent.com/1897507/183475258-9e638c1a-69c7-4f32-897a-ea2abb8634dc.png">

[2022-08-08 21:50] ProperBrgdbald opened #3385 "Page Not Found when pressing Gift/What's New button"
## Steps to reproduce
1. Open Focus
2. Go to Settings
3. Press Gift button at top right

### Expected behavior
What's New, or Changelog loads, one reads changes, and can navigate to previous changelogs

### Actual behavior
Page Not Found error
![image](https://user-images.githubusercontent.com/64764903/183520456-f39844b5-8909-4183-b031-dcc95b856c46.png)

### Device & build information
* Device: iO

[2022-08-09 11:07] rtestard commented on #3054
To sum things-up here re the suggested changes:
- Desktop UA change: remove "FxiOS" and "Mobile" (similar to Firefox iOS )
---Rationale: improve web compatibility
- Mobile UA: remove "FxiOS", add Safari's Version/ token
---Rationale: lower fingerprint-ability, improve web compatibility

@jevans-mozilla Do you recall what may have driven the  addition of "FxiOS" on the UA string?

[2022-08-09 18:27] no-one commented on #3237
@abodea The issue you referenced is closed, but there has nothing changed in 103 regarding this issue.

[2022-08-10 11:40] rtestard commented on #3369
I agree that a visual confirmation that the action was completed could be valuable.
I assume the "snack bar" is the UI we use to display "Browsing history cleared" when the trash button gets used? This pattern feels like it could work well and in that case I assume that all we need is content.

I propose we use :
"Address added to shortcuts"

@emilyw can you please help review content change propo

[2022-08-10 12:21] rtestard opened #3388 "Update onboarding screen 1"
### User proposal
This first screen should be updated to align with the rest of the onboarding changes:
- We now mention history clearing on onboarding screen 2
- We don't want to steer users to settings since we now realize it may influence them to enable features that could cause webcompat issues
- The C2A on the onboarding screen 1 is not to start browsing anymore given there is now onboarding

[2022-08-10 12:22] rtestard opened #3389 "[meta] Onboarding optimisations"
### User proposal

Optimize new user retention by helping users discover key capabilities that will help them keep using Focus after initial onboarding.

### Ideas for Solution

We have identified 2 bodies of work to help drive new user retention and engagement through new user onboarding:
- Set to default
- Search Widget

The following separate issues are necessary to fulfill the delivery of this

[2022-08-10 12:29] rtestard opened #3390 "Introduce onboarding screen 2"
### User proposal
In order to help increase new user retention we want to promote the set to default action.

### Ideas for Solution
- When users select "Get started" on onboarding screen 1(https://github.com/mozilla-mobile/focus-ios/issues/3388)  this new onboarding screen appears
- Copy and visuals are per UX on https://www.figma.com/file/ahqwL3sByHprH2Rru9R58b/Onboarding?node-id=4302%3A6632
- T

[2022-08-10 12:39] rtestard opened #3391 "Replace "Go to Settings" CFR with "Start your private browsing session" CFR"
### User proposal
The first step of onboarding should help users discover the Focus value proposition to help ensure users understand the browser value and retain as a result.
Pointing users to Settings early on does not seem optimized for new user retention and can also get users to enable settings that they don't realize will cause web breakage - we instead want users to experience Focus with de

[2022-08-10 12:49] rtestard opened #3392 "Update the tracking protection tooltip"
### User proposal
- Introduce a more user friendly message to inform users that trackers were blocked on the tracking protection CFR

### Ideas for Solution
- Update CFR string per copy on UX: https://www.figma.com/file/ahqwL3sByHprH2Rru9R58b/Onboarding?node-id=3775%3A5493
- First implement https://github.com/mozilla-mobile/focus-ios/issues/3359 to make sure the behavior is correct (display CFR on

[2022-08-10 12:57] rtestard opened #3393 "Update the trash can CFR"
### User proposal
- Introduce a more user friendly message to inform users that they can use the trash button

### Ideas for Solution
- Update CFR string per copy on UX: https://www.figma.com/file/ahqwL3sByHprH2Rru9R58b/Onboarding?node-id=3775%3A5493
- Trigger: dismissal of tracking protection CFR

[2022-08-10 13:10] rtestard opened #3394 "Introduce an onboarding step to promote widget addition"
### User proposal
Discovering widgets is hard, telling users about the widget availability should drive adoption.

### Ideas for Solution
- After using the trash icon for the first time, display a "Browsing history cleared" UI per UX https://www.figma.com/file/ahqwL3sByHprH2Rru9R58b/Onboarding?node-id=3775%3A5493 (modal). This modal gets displayed over the home screen without keyboard being enable

[2022-08-10 13:49] rtestard commented on #3373
Overall I agree on the value but I see a couple issues with making this a high priority:
- Low base of users will benefit - only 2% of daily users have 4 shortcuts today https://sql.telemetry.mozilla.org/queries/87193/source#216045
- User discoverability will be hard without a way to inform them, which would add to scope

[2022-08-10 13:49] jeffreygee commented on #3358
@rtestard @rilury - Mocks here for review: https://www.figma.com/file/DGSIEO63qy9gDqcs8sNO9T/What's-New?node-id=5%3A4051

[2022-08-10 17:51] ewachowiak commented on #3370
Yes, I think we can just say "Shortcut removed" and use the same style as the history cleared confirmation

[2022-08-12 07:29] razvanlitianu commented on #3371
So the issue might not be necessarily informing the user they can't add anymore, but maybe provide them a visual representation of how many shortcuts they can add. I'm thinking something similar how Firefox does it with.

![IMG_AE69B0E125C1-1](https://user-images.githubusercontent.com/26011662/184306164-6e88a155-12c0-496d-9ed3-d95c3dd9c3f6.jpeg)

[2022-08-12 07:39] razvanlitianu commented on #3372
High resolution favicon url can be obtained only after the website is loaded. On upgrade it defaults to a url that shows that low resolution icon.
https://github.com/mozilla-mobile/focus-ios/pull/3337

The solution in this case would be to keep the placeholder, and on shortcut tap, after the website is loaded, we ca update the shortcut favicon URL.

[2022-08-12 07:41] razvanlitianu commented on #3369
We already have a toast showing a confirmation message. I guess we have to decide on the string.
@rtestard

<img src="https://user-images.githubusercontent.com/26011662/184307885-cd8bb83c-cbcb-4401-839e-5dbb486d14b2.png" width="50%" height="50%">

[2022-08-12 07:43] razvanlitianu commented on #3370
Similar with https://github.com/mozilla-mobile/focus-ios/issues/3369, we are missing the toast but we can add it as soon as we have a confirmation on the string. Is "Shortcut removed" ok?

@rtestard

[2022-08-12 07:44] razvanlitianu commented on #3388
The team was taking a look at the designs and it was not clear how the onboarding will be presented. Currently we present it as a modal. Are we going back to a carrousel style? If yes, can we add the dots that show the current page?

@rtestard @jeffreygee

[2022-08-12 13:45] ewachowiak commented on #3369
I think we should use the same string as Firefox here: "Added to shortcuts"

[2022-08-12 13:47] razvanlitianu commented on #3369
@abodea so in this case we can close this since the feature is already added.

[2022-08-12 14:46] abodea commented on #3329
Verified as fixed in v9000 (13852) with iPhone 13 Pro Max (15.1.1).

[2022-08-12 15:01] abodea commented on #3370
Added QA needed until the confirmation/implementation.

[2022-08-12 15:02] abodea commented on #3369
Verified as fixed in v9000 (13852) with iPhone 13 Pro Max (15.1.1).

[2022-08-12 15:02] #3369 closed

[2022-08-12 15:14] abodea opened #3397 "The trackers blocked bottom section is misplaced when opening Focus"
## Steps to reproduce
1. Launch Focus and add it to the background.
2. On the springboard long tap on the `Focus` icon and press `Erase and Open.`
3. `Focus` is opened without issues and observe the trackers blocked bottom section position.
### Expected behavior
Trackers blocked bottom section should be displayed closer to the keyboard.
### Actual behavior
The trackers blocked bottom section is mi

[2022-08-16 12:58] rtestard commented on #3358
thanks @jeffreygee Why not having the whatsnew section part of the settings?

[2022-08-16 13:24] rtestard opened #3401 "Consider removal of old user onboarding"
### User proposal

### Ideas for Solution

[2022-08-16 13:27] rtestard commented on #3390
@rtestard Create several telemetry tickets for each of these screen

[2022-08-17 09:07] rtestard commented on #3370
@ewachowiak can you please confirm?

[2022-08-17 09:08] rtestard commented on #3388
We clarified on the call that presentation of this screen should be modal and that the dots were removed to avoid confusion.

[2022-08-17 09:10] #3329 closed

[2022-08-17 09:15] rtestard commented on #3393
I updated the trigger to align with the Android implementation and avoid issues around implementation of a timer

[2022-08-17 13:31] ewachowiak commented on #3370
Yes, "Shortcut removed" is approved as the string.

[2022-08-17 17:52] jeffreygee commented on #3358
I was mirroring Firefox, but after talking to the other designers, the best UX is to add it also on website view. @rilury - i have updated the mocks accordingly. @rtestard - should we be also carrying over 'Help'?

<img width="375" alt="Settings" src="https://user-images.githubusercontent.com/93741573/185208362-e7a1e59e-a799-4234-9d12-dec7bf6570ce.png">
.

[2022-08-18 08:23] rilury commented on #3358
I will add whats new also on brwosing menu, as you showed in the pic. I updated my PR. Thank you!

[2022-08-18 09:35] SimonBasca commented on #3372
Verified fix on v104.0 (13915).
A placeholder is displayed. After the website is loaded the favicon is correctly displayed.

[2022-08-18 09:49] SimonBasca commented on #3345
Verified fix on v104.0 (13915)

[2022-08-18 09:51] SimonBasca commented on #3357
Verified fix on v104.0 (13915). The notification dot has been removed

[2022-08-18 10:11] SimonBasca commented on #3352
Verified as fixed on v104.0 (13915)

[2022-08-18 10:13] SimonBasca commented on #3328
Verified fix on 104.0 (13915)

[2022-08-18 10:15] SimonBasca commented on #3329
Verified fix on 104.0 (13915)

[2022-08-23 19:01] flodolo opened #3409 "Evaluate using repo for LocalizationTools instead of modified copy"
CC @isabelrios

I made [changes](https://github.com/mozilla-mobile/LocalizationTools/pull/2) to LocalizationTools so that it imports/exports all locales in the l10n repo, and can import/export only one locale.

It would be good to compare the local copy of LocalizationTools in this repo, to verify if there's actual need for a fork.
https://github.com/mozilla-mobile/focus-ios/tree/main/tools/Locali

[2022-08-24 15:06] jeffreygee commented on #2209
@razvanlitianu Let's close this

[2022-08-24 15:06] #2209 closed

[2022-08-24 15:09] jeffreygee commented on #3142
@razvanlitianu I think this is fixed with our new onboarding flow - I think we can close this if you agree.

[2022-08-25 09:59] PARAIPAN9 opened #3410 "Remove SnapKit from Toast class"
Remove SnapKit from Toast class

[2022-08-25 13:01] #3410 closed

[2022-08-30 07:35] #3182 closed

[2022-08-30 07:48] #3372 closed

[2022-08-30 08:25] #3142 closed

[2022-08-31 11:53] isabelrios opened #3419 "Bitrise - Update git-clone and xcode-test steps"
These steps are failing. They need to be upgraded to newer versions or the builds will fail.
git-clone to git-clone@6.2
xcode-test to xcode-test@4.5

[2022-08-31 13:19] jevans-mozilla commented on #3371
@jeffreygee any feedback on this suggestion?

[2022-08-31 13:26] isabelrios commented on #3308
This has been closed by previous PR

[2022-08-31 13:26] #3308 closed

[2022-08-31 21:47] jeffreygee commented on #3371
@razvanlitianu @jevans-mozilla - I think a combo of both would be helpful. I think the empty state visual cue is nice, but it's also always helpful to have an error state. I can create some visuals for reference this week.

[2022-09-02 12:04] rtestard opened #3425 "Telemetry counting the number of times the app is opened from an external link"
### User proposal
This will helps us assess the default browser status to be confident enough we can prompt users to set Focus to default

### Ideas for Solution
- A local pref informs of the timestamp of the last occurence for opening a link with Focus
- telemetry counts how many times the app is opened from an external link, similar implementation to https://dictionary.telemetry.mozilla.org/apps

[2022-09-02 15:17] #3419 closed

[2022-09-05 08:11] abodea commented on #3393
Verified as fixed on v9000 (14145) iPhone 13 Pro Max iOS (15.1.1).

[2022-09-05 08:15] abodea commented on #3391
Verified as fixed on v9000 (14145) iPhone 13 Pro Max iOS (15.1.1).

[2022-09-05 08:15] #3391 closed

[2022-09-05 08:24] isabelrios commented on #3383
In the latest [build](https://app.bitrise.io/build/04c4c8f7-7275-4ba6-b8ce-18440606c479), there are more test failing that need to be modified:
    ✖ test02Settings, Expect predicate exists == true for "settingsViewController.siriOpenURLCell" Cell
    ✖ test03About, Expect predicate exists == true for "settingsViewController.about" Cell
    ✖ test04ShareMenu, Failed to synthesize event: Failed to

[2022-09-05 08:38] abodea commented on #3370
Verified as fixed on v9000 (14145) iPhone 13 Pro Max iOS (15.1.1).

[2022-09-05 08:38] #3370 closed

[2022-09-05 13:30] razvanlitianu commented on #3401
@rtestard we currently have 3 other onboarding versions, including the one we're actively working on. Would it make sense to remove the first one and keep only the "old" meaning de previous version and the current version that we're working on?

[2022-09-06 09:12] razvanlitianu commented on #3394
@rtestard  @jeffreygee Just wanted to point out the design is a bit misleading. I understand the card should be presented on home, but we don't show the bottom toolbar on that state. Also the url bar has the back button present which might suggest is focused and the keyboard is not showing.

[2022-09-06 09:15] abodea commented on #3359
Verified as fixed on v9000 (14145) iPhone 13 Pro Max iOS (15.1.1).

[2022-09-06 09:15] #3359 closed

[2022-09-06 09:26] abodea opened #3432 "The trash message tooltip is displayed after dismissing the second onboarding tooltip on the first occurrence of a site"
## Steps to reproduce
1. Launch Focus.
2. Access a webpage where the trackers are blocked `www.bbc.com`
3. Dismiss the second onboarding tooltip on the first occurrence of a site.
### Expected behavior
The shield is displayed and it can be accessed without issues.
### Actual behavior
The trash message tooltip is displayed after dismissing the second onboarding tooltip on the first occurrence of a

[2022-09-06 11:18] rtestard commented on #3401
Given the value of testing for onboarding it seems we need to retain 2 versions (the one being tested and the current release version). Let's discuss what makes most sense on our call today:
- Retain current release version and current WIP version (feels lower risk given the "old" one was not yet tested)
- Retain the "old" and current WIP version (this iseems only valuable if we can test the old o

[2022-09-06 12:58] isabelrios opened #3433 "Error when building the app: FocusWidgetsExtension has conflicting provisioning settings"
The release workflow in Bitrise is failing due to FocusWidgetsExtension.
Looks like this was introduced in this PR: https://github.com/mozilla-mobile/focus-ios/commit/85f3e2c77a122d01cb104c9c99101b89b7f4d6e5 and since then we can't build the app to be archived.

See birtrise logs: https://app.bitrise.io/build/455c1eec-3828-4491-a0bb-72de9e79ecf7
`❌  error: FocusWidgetsExtension has conflicting pro

[2022-09-07 07:29] razvanlitianu commented on #1871
Fixed in #3330

[2022-09-07 07:29] #1871 closed

[2022-09-07 13:22] rtestard opened #3438 "Nimbus support for A/B testing the new onboarding"
### User proposal
We want to validate our assumptions regarding the new user onboarding through an A/B test:
- Improve 7 days new user retention
- Improve CDoU per new profile

### Ideas for Solution
- Nimbus can remote controle enablement of all changes under https://github.com/mozilla-mobile/focus-ios/issues/3389

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/bro

[2022-09-07 13:36] rtestard opened #3439 "Telemetry requirements for onboarding optimisations"
### User proposal
Measure impact of new onboarding changes

### Ideas for Solution
Event telemetry:
- Onboarding screen 1 https://github.com/mozilla-mobile/focus-ios/issues/3388
--- Screen displayed
--- "Get started" clicked
--- "Cross" clicked
- Onboarding screen 2 https://github.com/mozilla-mobile/focus-ios/issues/3390
--- Screen displayed
--- "Set to default" clicked
--- "Skip" clicked
--- "Cro

[2022-09-07 17:01] flodolo opened #3440 "String export broken after Search Widget"
cc @Delphine @isabelrios

[#3430](https://github.com/mozilla-mobile/focus-ios/pull/3430/files) introduced a search widget. Now, the export to the l10n repository seems to suddenly duplicate most of the strings (probably all of them…)

You can see it here
https://github.com/mozilla-l10n/focusios-l10n/pull/94

For example, it's trying to add an entire file for `FocusWidgets/en.lproj/Intro.strings`.

[2022-09-07 17:02] flodolo commented on #3440
Note that we're using the scripts available in the repo, which seems to only export "Blockzilla"
https://github.com/mozilla-mobile/focus-ios/blob/main/tools/export-strings.sh

[2022-09-07 17:23] flodolo commented on #3440
I would exclude a bug in LocalizationTools, because `xcodebuild -exportLocalizations -project Blockzilla.xcodeproj -localizationPath ../focusios-l10n/en-US` produces a similar result (minus the clean up done by that script).

[2022-09-07 20:16] clarmso commented on #3383
PR: https://github.com/mozilla-mobile/focus-ios/pull/3441

[2022-09-08 11:14] flodolo commented on #3440
This seems to have been fixed by https://github.com/mozilla-mobile/focus-ios/pull/3437

Does anyone know why, in case it happens again?

[2022-09-08 11:26] isabelrios commented on #3440
It may be because the project was not building correctly due to issue #3433, that PR reverts the changes related to the widgets extension so the problem is not happening anymore.

[2022-09-08 11:45] #3433 closed

[2022-09-08 11:45] razvanlitianu commented on #3433
Removing target for now, until we get the certificates in place.

[2022-09-08 12:51] abodea commented on #3358
Verified as fixed on the latest 9000 (14250) with iPhone 13 Pro (15.1.1).

[2022-09-08 12:51] #3358 closed

[2022-09-08 12:52] abodea commented on #3358
@jeffreygee as I verified this, can we remove the `UX` label?

[2022-09-08 13:53] CatalinNeculaide opened #3444 "Add "Show Me How" screen on new onboarding"
### User proposal
Discovering widgets is hard, telling users about how to add the widget to the homescreen.

### Ideas for Solution
- After the "Show me how" button is pressed on "Introducing widget" CFD a modal page explaining to users the process for adding a search widget. This page can be closed by selecting "Done" to get users to the home screen.

[2022-09-08 20:09] clujin opened #3445 "Using Find on a webpage shows X/0 entries"
## Steps to reproduce
Go to any website, like say Wikipedia.
Go into a second article page, like say Firefox.
Type in a search term for the page like say "fire" and click "Find in page: fire" to see some 1/13 entries on the text finder.
Swipe back (don't click back arrow) to the previous article page before Firefox.
Swipe forward (don't click forward arrow) to the Firefox article page.
Type in the

[2022-09-09 09:02] isabelrios commented on #3281
We need to remove this line: https://github.com/mozilla-mobile/focus-ios/blob/73e8605e95ecee47a2829ce950ac971b8d74ded6/ScreenshotTests/BaseTestCaseL10n.swift#L20
so that we see the current Onboarding not the old one

[2022-09-09 09:05] isabelrios commented on #3281
I have realized also, that we need to update the [test04ShareMenu](https://github.com/mozilla-mobile/focus-ios/blob/73e8605e95ecee47a2829ce950ac971b8d74ded6/ScreenshotTests/SnapshotTests.swift#L62)
It is not testing the share menu but clicking on the Desktop/Mobile view. Having a screenshot of the share menu is not giving much info, so I would change the title and just test the settings menu while

[2022-09-09 09:29] isabelrios commented on #3281
Unfortunatelly, the [removeShortcuts test](https://app.bitrise.io/build/e1398635-6980-4f0b-bfc3-45b2a34844fc) is still failing. I can't reproduce locally, it fails every time on Bitrise. I think the reason might be that we need to wait for the button to be present before tapping on it.  Before these lines:
- https://github.com/mozilla-mobile/focus-ios/blob/73e8605e95ecee47a2829ce950ac971b8d74ded6/

[2022-09-10 23:20] ProperBrgdbald commented on #3385
Device: iOS 15.6.1
Build version: 104.0 (13915)

What's new page appears; will check again in next version to confirm before closing

[2022-09-12 07:27] CatalinNeculaide opened #3453 "Remove SnapKit from HomeViewController"
Remove SnapKit from HomeViewController and replace it with layout constraints

[2022-09-12 07:32] razvanlitianu commented on #3351
@rtestard @jeffreygee I have some questions about the designs. Some of them I don't think we can implement in that form. Can we discuss them in todays meeting?

[2022-09-12 07:53] rtestard commented on #3351
@razvanlitianu Sure I now added to today's sprint planning agenda

[2022-09-12 09:16] #3440 closed

[2022-09-12 09:17] flodolo commented on #3409
It would be nice to also get rid of these Swift warnings, which should be easy to fix

[code]

[2022-09-12 10:47] rtestard commented on #3432
@jeffreygee What do you think?
True that we should leave users room to tap the shield button.
Should we adjust the rule for displaying the 3rd CFR to "on site load following the 2nd CFR site load"?

[2022-09-12 11:17] rtestard commented on #2919
Content tracker protection is disabled by default. I agree this is not a bug even is the user manually enabled content tracking protectioon.
@abodea can wwe close this issue?

[2022-09-12 11:59] #3281 closed

[2022-09-12 12:27] Dexterp37 commented on #3330
@rtestard note that the default search engine seem to be missing as well.

[2022-09-12 13:42] rtestard commented on #3351
@jeffreygee Can you please confirm that the "Paste from clipboard" version of the widget could be updated as follows so it aligns with Firefox iOS implementation:
- Update Widget string
- - Update widget icon

[2022-09-12 14:45] Dexterp37 commented on #3330
Thank you @rtestard . Is there any chance this could get prioritized?

[2022-09-13 07:49] isabelrios opened #3458 "Bitrise - Modify the import-strings job to run weekly instead of daily"
On firefox-iOS we have reduced the frequency of this job from daily to weekly. There is not a special need to have the new strings daily and we can reduce a significant amount of credits by changing the cron job to run weekly

[2022-09-13 07:49] isabelrios commented on #3458
cc @clarmso so that you are aware of changes related to the github actions that we have in place

[2022-09-13 08:11] isabelrios opened #3460 "Github action Glean probe-scraper is failing"
This github action is failing for each PR:
[code]

See: https://github.com/mozilla-mobile/focus-ios/actions/workflows/glean-probe-scraper.yml

cc @relud as "owner" of the job

[2022-09-13 08:28] #3458 closed

[2022-09-13 08:47] razvanlitianu commented on #3394
@jeffreygee @rtestard Looking at the instruction screen, the title is "Turn on Sync". Is it a mistake, since we don't have a sync feature?

[2022-09-13 08:52] rtestard commented on #3394
@ewachowiak Can you please help fix the title copy on this screen, seems we missed it when reviewing - I assume it should read nsomething like "Add a search widget"?
![image](https://user-images.githubusercontent.com/866979/189857337-aaebd845-404e-49b5-9a52-87f4ffffb8b5.png)

[2022-09-13 17:45] relud commented on #3460
Based on [github's docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#allowing-select-actions-and-reusable-workflows-to-run) I believe the solution here is to add `mozilla/probe-scraper/.github/workflows/glean.yaml@main` to the list of allowed reusable actions and work

[2022-09-13 19:02] ewachowiak commented on #3394
Let's call is "Add a Focus Widget"

[2022-09-14 09:11] razvanlitianu commented on #3351
Blocked by missing certificates for the build.

[2022-09-14 10:18] #2399 closed

[2022-09-15 08:13] isabelrios opened #3464 "[XCUITests] Some on different schedules workflows (Full Functional and iPad) are failing"
We need to update a few tests that are running as part of the Full Functional test plan (runFocus scheduled workflow).
See for example this [build](https://app.bitrise.io/build/2c1fd52a-c505-41a3-8e58-cbfa31500b22)
Failing tests:
- 	AsianLocaleTest.testSearchinLocale()
- 	WebsiteAccessTests.testAutocompleteCustomDomain()
- 	WebsiteAccessTests.testDisableAutocomplete()

Also, the runFocus-iPad have

[2022-09-15 15:51] dsmithpadilla opened #3466 "iOS App Store Connect issues sent via email for Focus/Klar"
We are receiving emails with iOS errors for every build submission to App Store Connect for Focus/Klar. This has been fixed for Fenix-ios [here](https://github.com/mozilla-mobile/firefox-ios/issues/11596).

Most of the warnings relate to some localization problem with description & title on the customintent: 'Erase'. Example (but we get a warning for every locale):
` ITMS-90626: Invalid Siri Suppo

[2022-09-16 10:47] #3392 closed

[2022-09-19 13:53] abodea opened #3468 "Cannot scroll when the new onboarding is displayed in landscape"
## Steps to reproduce
1. Launch Focus and rotate the device in landscape mode.
2. The onboarding is not fully displayed and the screen is not scrollable.
### Expected behavior
The page should be scrollable.
### Actual behavior
The full page of the onboarding is not displayed.
### Device & build information
* Device: **iPhone 13 Pro Max (15.1.1).**
* Build version: **9000 (14533).**
### Notes
Attac

[2022-09-19 13:57] abodea opened #3469 "The "Get Started" button is not fully displayed in landscape mode"
## Steps to reproduce
1. Launch Focus and rotate the device in landscape mode.
2. Observe the `Get Started` button.
### Expected behavior
The "Get Started" button should be fully displayed.
### Actual behavior
The "Get Started" button is not fully displayed in landscape mode
### Device & build information
* Device: **iPhone 13 Pro Max (15.1.1).**
* Build version: **9000 (14533).**
### Notes
Attach

[2022-09-20 12:22] abodea commented on #3388
Verified as fixed on v9000 (14557) with iPhone 13 Pro (15.1.1).

[2022-09-20 12:22] abodea commented on #3390
Verified as fixed on v9000 (14557) with iPhone 13 Pro (15.1.1).

[2022-09-20 12:22] #3390 closed

[2022-09-20 12:41] abodea opened #3472 "The text is not fully displayed on the widget addition pop-up"
## Steps to reproduce
1. Launch focus and open any webpage.
2. Clear the page by tapping on the trash icon.
### Expected behavior
The text on the widget addition pop-up should be fully displayed.
### Actual behavior
The text is not fully displayed on the widget addition pop-up
### Device & build information
* Device: **iPhone 13 Pro (15.1.1)**
* Build version: **v9000 (14557)**
### Notes
Note that

[2022-09-20 13:02] abodea opened #3473 "The `X` button color is wrongly displayed on dark theme"
## Steps to reproduce
1. Launch focus and open any webpage.
2. Clear the page by tapping on the trash icon.
### Expected behavior
The `X` button color should be light color displayed instead of dark.
### Actual behavior
The `X` button color is wrongly displayed.
### Device & build information
* Device: **iPhone 13 Pro (15.1.1)**
* Build version: **v9000 (14557)**
### Notes
Attachments:
![image1 (1

[2022-09-20 13:15] rtestard commented on #3330
@CatalinNeculaide @razvanlitianu Please let me know if i should file a separate issue for the search engine addition part I added to scope. I now realize it got added as the issue was in QA so maybe best to address as a separate issue?

[2022-09-20 13:30] abodea opened #3474 "The colors on the Widget pop-up are inconsistent"
## Steps to reproduce
1. Launch focus and open any webpage.
2. Clear the page by tapping on the trash icon.
### Expected behavior
There should not be 4-5 different colors on a page.
### Actual behavior
The colors on the Widget pop-up are inconsistent.
### Device & build information
* Device: **iPhone 13 Pro (15.1.1)**
* Build version: **v9000 (14557)**
### Notes
The `X` button depends on the theme

[2022-09-20 13:33] razvanlitianu commented on #3330
Yes, separate issue is okay @rtestard

[2022-09-20 13:34] abodea commented on #3474
Hello, @rtestard should we also, have a dark theme screen for this widget pop-up?

[2022-09-20 16:46] rtestard opened #3475 "Default search engine telemetry addition"
User proposal

As a product manager, I want to understand how Focus iOS contributes to the business so that I can keep bringing great features to Focus.

https://github.com/mozilla-mobile/focus-ios/issues/3330 implemented most of what was needed but DS raised that we also need the default search engine.

Ideas for Solution

Implement search probes similar to Focus Android:
- Default search engine:

[2022-09-20 16:47] rtestard commented on #3330
Sounds good i raised https://github.com/mozilla-mobile/focus-ios/issues/3475 and removed default search engine from the initial comment

[2022-09-21 08:18] razvanlitianu commented on #3475
@rtestard can we create separate issues for the other 2 as well?

[2022-09-21 13:05] rtestard opened #3478 "Browser search in content telemetry addition"
User proposal

As a product manager, I want to understand how Focus iOS contributes to the business so that I can keep bringing great features to Focus.

https://github.com/mozilla-mobile/focus-ios/issues/3330 implemented most of what was needed but DS raised that we also need the browser search in content.

Ideas for Solution

Implement search probes similar to Focus Android:

    Browser search

[2022-09-21 13:07] rtestard opened #3479 "Browser search count telemetry addition"
User proposal

As a product manager, I want to understand how Focus iOS contributes to the business so that I can keep bringing great features to Focus.

https://github.com/mozilla-mobile/focus-ios/issues/3330 implemented most of what was needed but DS raised that we also need the browser search count.

Ideas for Solution

Implement search probes similar to Focus Android:

    Browser search count

[2022-09-21 13:07] rtestard commented on #3475
Sure, now raised these:
https://github.com/mozilla-mobile/focus-ios/issues/3478
https://github.com/mozilla-mobile/focus-ios/issues/3479

[2022-09-21 13:24] razvanlitianu commented on #3474
@abodea the second screenshot in from Android, but yes, there's no dark mode design for iOS.

![Screenshot 2022-09-21 at 16 09 43](https://user-images.githubusercontent.com/26011662/191512619-dbc8fd85-60ed-4e19-aa8f-9712e3cb3ec6.png)

@rtestard are we keeping the dialog always in light mode? Also in landscape the content is clipped, do we show it only in portrait?

[2022-09-21 13:26] rtestard commented on #3474
Per discussion let's not address the landscape mode (very rare instances, userrs acn always flip their phone).
The dialogue should although support dark mode - @jeffreygee can you please help with the designs?

[2022-09-22 09:30] razvanlitianu commented on #3474
Using the colors from the previous onboarding screens I got to this variant? @jeffreygee do you think it's okay?
<img width="828" alt="Screenshot 2022-09-22 at 12 29 12" src="https://user-images.githubusercontent.com/26011662/191711574-90d9983d-efe0-47c2-bb7f-d690601ebab1.png">

[2022-09-22 12:12] razvanlitianu commented on #3473
This will be fixed by adding a dark mode variant.

[2022-09-23 19:08] Delphine opened #3488 "String removal needed for v106"
I just noticed [a string](https://github.com/mozilla-l10n/focusios-l10n/blob/861b2f8c29e45322c5c74260008dbd11099e700d/en-US/focus-ios.xliff#L993) was exposed for Focus iOS v106, that most probably shouldn’t be there. See also here: [https://github.com/mozilla-mobile/focus-ios/commit/53972313a56394b27c9fc70f32b315876d22c14f#diff-2ec2b4bfb0dc3bac5dd96[…]8255e714283fafdcd34cc601R14](https://github.co

[2022-09-26 06:08] #3453 closed

[2022-09-27 07:34] #3488 closed

[2022-09-27 12:48] abodea commented on #3472
Verified as fixed on v9000 (14708) with iPhone 13 PRo (15.1.1).

[2022-09-27 12:48] #3472 closed

[2022-09-27 12:50] abodea commented on #3469
Verified as fixed on v9000 (14708) with iPhone 13 PRo (15.1.1).

[2022-09-27 12:50] #3469 closed

[2022-09-27 12:56] abodea opened #3494 "The onboarding cards should be carousel style"
## Steps to reproduce
1. Launch Focus and observe the 2 cards from the onboarding.
### Expected behavior
There should be 2 dots at the bottom presenting the currently selected card.
### Actual behavior
The onboarding cards should be carousel style allowing them to navigate back and forth.
### Device & build information
* Device: iPhone 13 Pro (15.1.1).
* Build version: v9000 (14708).
### Notes
Att

[2022-09-27 13:48] abodea commented on #3468
Verified as fixed on v9000 (14708) with iPhone 13 PRo (15.1.1).

[2022-09-27 13:48] #3468 closed

[2022-09-29 10:25] abodea commented on #3394
Verified as fixed on v9000 (14751) with iPhone 13 (15.1.1).

[2022-09-29 10:25] #3394 closed

[2022-09-29 10:33] abodea commented on #3444
Verified as fixed on v9000 (14751) with iPhone 13 (15.1.1).

[2022-09-29 10:33] #3444 closed

[2022-09-29 19:52] jeffreygee commented on #3351
@ewachowiak - can you remind me of the issues brought up by the localization team?

@rtestard @razvanlitianu I believe we had to remove the text and change the visual a bit because we're unable to localize the text on the image, so this was the compromise.

[2022-09-30 01:52] chengssir opened #3496 "error: 'contentblockergen': Invalid manifest"
➜  focus-ios git:(main) ./checkout.sh
+ git clone https://github.com/mozilla-services/shavar-prod-lists.git
Cloning into 'shavar-prod-lists'...
remote: Enumerating objects: 3482, done.
remote: Counting objects: 100% (1033/1033), done.
remote: Compressing objects: 100% (599/599), done.
remote: Total 3482 (delta 451), reused 995 (delta 434), pack-reused 2449
Receiving objects: 100% (3482/3482), 4.32

[2022-09-30 18:32] InsanelyHarsh commented on #3287
I would like to take on this task.

[2022-10-04 10:36] isabelrios opened #3499 "[L10n] Remove the Localization code in the project and use the repo instead"
We are using a copy of the [LocalizationTools](https://github.com/mozilla-mobile/LocalizationTools) repo in the [project](https://github.com/mozilla-mobile/focus-ios/tree/main/tools).  It would be nice to use the repo directly for maintenace and simplicity as well as standarization between firefox and focus

[2022-10-04 11:26] abodea commented on #3330
Hello, @rtestard, @razvanlitianu, @CatalinNeculaide can you please clarify:
- Can you please clarify if this issue is for:

  - **Count of partner search pages w/ ad** **->** search any page where any ad is displayed **->** what is the trigger point and what should be displayed in the glean debugger the string name? **->**
  - **Count of search results ad clicks:** **->** Tap on any ad from any we

[2022-10-04 12:01] rtestard commented on #3330
Yes this bug is for all 5, there are also follow-on bugs for search telemetry not part of this scope, (we decided to split deliveries):
https://github.com/mozilla-mobile/focus-ios/issues/3475
https://github.com/mozilla-mobile/focus-ios/issues/3479
https://github.com/mozilla-mobile/focus-ios/issues/3478

[2022-10-04 12:11] abodea commented on #3479
Verified as fixed in v9000 (14788) with iPhone 13 Pro (15.1.1).
`{"browser_search.search_count":{"action":4},"glean.validation.pings_submitted":{"baseline":3,"events":1,"metrics":1}},"string":{"search.default_engine": "DuckDuckGo"}}`

[2022-10-04 12:12] abodea commented on #3330
Thank you! I saw the bugs but I still need help with all the questions after each section I mentioned above.

[2022-10-04 13:11] PARAIPAN9 commented on #3478
@abodea, for the moment is on hold, for some clarification.

[2022-10-05 10:53] abodea commented on #3425
Hello, @rtestard can you please help with one example of opening the app from an external link?
Also, what telemetry string should be displayed with the trigger of it?
Please note that I'm testing on the test flight builds and it doesn't really apply as you don't have any external access to Focus for test flight being limited to Mozilla accounts.

Or is this one referring to the `set_default_brows

[2022-10-05 11:20] rtestard commented on #3425
Hello, you can trigger the behavior by:
- Setting focus as your default browser
- Clicking a URL on a messaging app or email
- Focus opens and loads the URL
See https://sql.telemetry.mozilla.org/queries/87909/source that shows how to check telemetry gets sent

[2022-10-05 12:07] rtestard commented on #3385
Can it now be closed?

[2022-10-05 12:11] rtestard commented on #3330
Oh sorry i missed it.
@Dexterp37 can you please help Andrei here with his questions on https://github.com/mozilla-mobile/focus-ios/issues/3330#issuecomment-1266814538?

[2022-10-05 14:59] #3425 closed

[2022-10-05 15:03] abodea commented on #3494
Verified as fixed on v9000 with iPhone 13 Pro (15.1.1).

[2022-10-05 15:03] #3494 closed

[2022-10-05 16:45] Dexterp37 commented on #3478
Do you have any estimate on when this will be complete?

[2022-10-05 18:57] PARAIPAN9 commented on #3478
I think this week, it will be ready.

[2022-10-06 09:16] Mark-Turner0 opened #3500 "PDFs are not hidden behind the Face ID prompt"
## Steps to reproduce

* Enable “Settings > Use Face ID to unlock the app”
* Browse to a .pdf file and wait for it to fully load
* Lock the screen or navigate away from the app
* Unlock the screen or navigate back to the app
* You should see the Face ID prompt but with the .pdf file still revealed

### Expected behavior

I would expect the “Firefox Focus” splashscreen to be displayed with the Face

[2022-10-06 15:15] rtestard commented on #3351
Per discussion with UX and eng we decided to remove the quick action customization and limit ourselves to "New search". I'm removing this line from the acceptance criteria:
- Editing quick actions on the widget lets users select "New Search" or "Go to Copied Link"

If we find that the search widget is very succesful we'll reconsider extending the widget customization.

[2022-10-06 15:21] ewachowiak commented on #3351
Since we can localize the text on the widget preview, we don't need to worry about localization issues. Thanks!

[2022-10-07 18:31] cpeterso opened #3504 "Tapping the address bar no longer highlights the URL"
## Steps to reproduce

1. Tap the address bar and search for the word “test”.
2. On the search results page, tap the address bar again.

### Expected behavior

The URL in the address bar should be highlighted in purple.

### Actual behavior

The URL in the address bar is not highlighted. See the attached screenshot.

I’m pretty sure this is a recent regression.

### Device & build information

* D

[2022-10-10 12:32] rtestard commented on #3504
I cannot reproduce on iPad with Google or DDG fwiw - @abodea can you reproduce?

[2022-10-10 12:39] rtestard commented on #3500
I can also replicate with TouchID

[2022-10-10 12:58] #3307 closed

[2022-10-10 13:05] rtestard commented on #3287
@jeffreygee Was that ever considered on Focus or Firefox?

[2022-10-10 13:16] rtestard commented on #2936
Agreed, "Open link" should open the link inside Focus

[2022-10-10 13:23] rtestard commented on #2969
@jeffreygee Can you please help recommend adjustments we should make here?

[2022-10-10 13:27] rtestard commented on #2782
Should we close this issue if it cannot be reproduced anymore? @abodea

[2022-10-11 12:10] rtestard commented on #2563
It seems like this bug is now resolved with introduction of the "What's new" entry.

[2022-10-11 12:20] rtestard commented on #2320
The behavior may have changed again since the issue was raised but it now takes 2 taps: hamburger menu (1) and settings (2)
This feels optimal given settings is secondary compared to search or reaching a shortcut. I'll close this issue since it seems now resolved but feel free to reopen if you feel differently.

[2022-10-11 12:25] rtestard commented on #2180
Given lack of ability to reproduce and the fact this bug is now over a year old without duplicates I'll close. Feel free to reopen if you feel differently.

[2022-10-11 12:39] rtestard commented on #1830
https://github.com/mozilla-mobile/focus-ios/issues/1837 is now done and this issue seems actionable now

[2022-10-11 12:42] rtestard commented on #1747
Closing since https://github.com/mozilla-mobile/focus-ios/issues/3328 resolved it.

[2022-10-11 12:56] rtestard commented on #1703
We seem now able to tap and hold where a contextual menu appears that lets users Copy the link, Share the link or add it to photos

[2022-10-11 12:56] #1703 closed

[2022-10-11 13:06] #2919 closed

[2022-10-11 13:19] rtestard commented on #3190
Per https://mozilla.slack.com/archives/CFLFWM98V/p1658391817245399 we are changing the scope of this issue to:
- Update the Amazon, DuckDuckGo, and Wikipedia icons (https://searchfox.org/mozilla-central/source/browser/components/newtab/data/content/tippytop/images )
- Remove Twitter
- We won't add eBay
- Search engines should be in alphabetical order (Amazon, Duckduckgo, Google, Wikipedia) - I.E n

[2022-10-11 13:25] rtestard commented on #3053
Hello, can anyone here please confirm if this still reproduces? If so can you please provide details on the device, OS, Focus version country loac ation and details of the Google search engine result page URL?

[2022-10-11 13:50] rtestard commented on #1830
We need some investigation on feasibility. Delivering this will also require a small UX asjustment in setting to allow toggling on/off cryptominer blocking.

[2022-10-11 13:53] 0x3333 commented on #3053
I moved to duckduckgo, so I can't confirm in Google, but so far so good, no issues.

[2022-10-11 13:54] rtestard commented on #3318
@mrtimuk Can you please confirm this is indeed an Android issue? You raised this on the iOS project for Focus.

[2022-10-11 13:56] kelimuttu commented on #3053
Google is doing fine for me on Focus 105.0/iOS 15.6.1

[2022-10-11 16:15] Verdi commented on #3190
@rtestard Can we align the ordering with desktop and mobile Firefox and make it Google, Amazon, DuckDuckGo, Wikipedia?

[2022-10-11 16:20] Standard8 commented on #3190
Just to note that desktop generally does default engine first, then the rest of the engines in alphabetical order.

[2022-10-11 16:22] Verdi commented on #3190
Yes (what @Standard8 said). Aligning the order across all products was part of the original intent of this work.

[2022-10-11 16:30] jeffreygee commented on #3287
@rtestard - I don't believe so, but I think it would be a good implementation to make on both platforms.

[2022-10-11 20:08] jeffreygee commented on #3474
@razvanlitianu - dark mode button color added to [Figma](https://www.figma.com/file/ahqwL3sByHprH2Rru9R58b/Onboarding?node-id=4302%3A6645)

[2022-10-12 00:30] bithavoc commented on #3053
It used to be very bad a few months back, but lately I think it’s been working fine. Thank you

[2022-10-12 02:46] ProperBrgdbald commented on #3385
Confirmed working:
Device: iOS 15.6.1
Build version: 105.0 (14498)

[2022-10-12 02:46] #3385 closed

[2022-10-12 06:09] razvanlitianu commented on #2936
@rtestard It seems we can overwrite the menu and provide our own custom actions and it can look like this.

<img height="400" alt="Screenshot 2022-10-10 at 12 23 21" src="https://user-images.githubusercontent.com/26011662/195262816-e9640047-579f-4ba2-8953-b65828195cab.PNG">

We can also restore the preview.
<img height="400" alt="Screenshot 2022-10-10 at 12 23 21" src="https://user-images.githubus

[2022-10-12 09:22] rtestard commented on #2936
Thanks. I think we should have these options:
- Open Link (Firefox icon you have in your mock) - opens the link inside Focus
- Copy Link (Existing Copy icon) - copies link (current behavior)
- Share... (Existing share icon) - opens sharing intent (current behavior)

Why?
- As far as I can tell these are the only options relevant to focus
- The current copy seems right, retaining it will avoid loca

[2022-10-12 09:28] rtestard commented on #3053
Thanks all for the feedback, super appreciated.
Since this is an issue we never managed to replicate and that issue seems to have resolved itself (could be a Google issue that resolved as a Google update) I'll close this issue but feel free to re-open in case it shows up again.

[2022-10-12 09:28] #3053 closed

[2022-10-12 11:20] rilury opened #3508 "On light mode asset is not visible and the text looks faded"
Actual
On Safari Integration screen the last image containing a switch is not visible on light mode. Also the text color is faded.

Expected:
There should be a switch icon for light mode consistent with the tint of the other icons. The text should have more contrast to be easy visible.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-3)

[2022-10-12 11:21] rilury commented on #3508
<img width="593" alt="Screen Shot 2022-10-12 at 2 13 51 PM" src="https://user-images.githubusercontent.com/46751540/195329774-c6e716b7-f9af-4e0d-8f64-442295788ccc.png">

<img width="593" alt="Screen Shot 2022-10-12 at 2 15 31 PM" src="https://user-images.githubusercontent.com/46751540/195329804-9fb56e61-7f18-441b-bf4a-32b4e79f54d5.png">

[2022-10-12 11:21] rtestard commented on #3287
Agreed. Can you put it on your UX backlog for when you have a chance to provide an asset  (Chrome's UI feels just right so we may want to get inspiration but perhaps you have different thoughts)? We can then prioritize on Focus and Fenix - @channingcarter fyi in case you have further thoughts

[2022-10-12 11:22] rilury commented on #3508
@jeffreygee can you help us please by providing the light mode version of the switch with the purple tint just like the icons for settings and content blocker lines? Thank you

[2022-10-12 13:42] abodea opened #3511 "The `URL` bar is not focused when opening Focus from the widget"
## Steps to reproduce
1. Launch Focus and open any webpage.
2. Resume Focus
3. Add a widget on the springboard.
4. Tap on the widget to open Focus.
### Expected behavior
Focus is resumed and the webpage that was previously opened is displayed and the URL bar is focused.
### Actual behavior
The `URL` bar is not focused when opening Focus from the widget
### Device & build information
* Device: **iP

[2022-10-12 16:11] jeffreygee commented on #3508
@rilury - I made some mocks with updated icons / colors to make it more accessible: https://www.figma.com/file/x3p9SJSLZ6uCU9Do5pRsbm/Safari-Settings?node-id=0%3A1

I'm also tagging @ewachowiak here because I noticed that the instructions weren't correct. (i.e. it's now extensions instead of content blockers) so I want to give her some time to review the content to make sure it's clear.

[2022-10-12 19:11] jeffreygee commented on #3287
@rtestard - do we want to implement something new (similar to Chrome) or just carry over what we currently use on Firefox? (FYI: It's currently broken on Android prod, but works in Android Nightly)

[2022-10-12 22:15] jeffreygee commented on #2936
@rtestard I think that should be fine!

@razvanlitianu would it carry over the same Share tray as on Firefox?

[2022-10-13 08:09] razvanlitianu commented on #2936
@jeffreygee yes, it's the default on iOS.

[2022-10-13 08:52] rtestard commented on #3287
Oh I had not realized this was available on Nightly. Let's keep the Nightly design unless you feel like theming is needed for Focus.

[2022-10-13 09:02] abodea commented on #3474
Verified as fixed on v9000 (149180 with iPhone 13 Pro (15.1.1).

[2022-10-13 09:02] #3474 closed

[2022-10-13 12:13] abodea commented on #3330
Thank you @CatalinNeculaide!
Verified as fixed on v 9000 (**14918**) with iPhone 13 Pro (15.1.1).

[code]

[2022-10-13 12:13] #3330 closed

[2022-10-13 12:28] abodea commented on #3475
Verified as fixed on v 9000 (**14918**) with iPhone 13 Pro (15.1.1).

[2022-10-13 12:28] #3475 closed

[2022-10-13 12:29] abodea commented on #3473
Verified as fixed on v 9000 (**14918**) with iPhone 13 Pro (15.1.1).

[2022-10-13 12:29] #3473 closed

[2022-10-13 12:58] rtestard commented on #3438
Here is the brief for the test: https://docs.google.com/document/d/1xwcugTnjbEKx70HBgKrBacpFdrdkbRvY9c5rhHN92r4/edit
We discussed with James and Razvan that achieving this will require bundling the way Firefox iOS did it in order to work around early startup need to be enrolled into the xperiment (Nimbus enrolment happens after startup though it's poften too late for custom onboarding treatment).

[2022-10-13 13:38] abodea opened #3516 "The Onboarding is not displayed after using the search widget first"
## Steps to reproduce
1. Launch Focus (the onboarding is displayed).
2. Minimize Focus.
3. Add a search widget and perform a search using the search widget.
4. Close Focus and tap on the springboard Focus app icon.
### Expected behavior
The onboarding is displayed when accessing the app from the home screen shortcut.
### Actual behavior
The Onboarding is not displayed after using the search widget

[2022-10-13 14:07] abodea commented on #3401
Verified as fixed on v 9000 (14918) with iPhone 13 Pro (15.1.1).

[2022-10-13 14:07] #3401 closed

[2022-10-13 14:09] abodea commented on #3351
Verified as fixed on v 9000 (14918) with iPhone 13 Pro (15.1.1).

[2022-10-13 14:09] #3351 closed

[2022-10-13 23:58] Delphine commented on #3409
@isabelrios Hey there! Just checking in on the status for this. Thanks :)

[2022-10-14 16:58] ewachowiak commented on #3508
@jeffreygee I tweaked the copy in Figma.

[2022-10-14 18:06] jeffreygee commented on #3508
@ewachowiak thanks!

@rilury - [mocks](https://www.figma.com/file/x3p9SJSLZ6uCU9Do5pRsbm/Safari-Settings?node-id=0%3A1) are good to go on our end. let me know if you have any questions.

[2022-10-17 13:56] razvanlitianu commented on #2936
@rtestard we have feature on the homepage menu in browsing mode to open a link in default browser, so if Focus if the default browser it will open the link within itself, if not it will open the default browser. Just wanted to double check if the link on this preview menu should open the link in Focus, or the Default Browser?

[2022-10-17 14:03] razvanlitianu commented on #2936
I'm trying to see what is the best interaction here. If the user wants to open the page within Focus, it can simply tap the link without holding it. I assume the tap and hold needs to offer some extra functionality.
@jeffreygee what do you think it's the best experience?

[2022-10-17 17:02] rtestard opened #3525 "Telemetry for pdf document open events"
### User proposal
On Android pdf rendering is not supported. In order to assess value of supporting pdf rendering on Android, getting data on frequency of opening pdf documents on iOS would help.

### Ideas for Solution
- Telemetry that allows counting the number of pdf documents opened daily per client_id (similar to the desktop implementation on https://probes.telemetry.mozilla.org/?search=pdf&v

[2022-10-18 09:00] razvanlitianu commented on #2915
@abodea
It seems to work now on iPhone 13 Pro, iOS 16
￼

https://user-images.githubusercontent.com/26011662/196385914-921f1942-ae5b-4b6b-95ce-d962d49c78c9.MP4

[2022-10-18 13:39] rtestard commented on #2969
We'll change this area with the felt privacy work so decided it's not worth planning to change now give,n it will soon be re-worked.

[2022-10-18 13:39] #2969 closed

[2022-10-18 13:50] rtestard commented on #2277
Next steps:
- We should work out if this is a significant issue by adding telemetry to identify custom keyboard users

[2022-10-18 13:52] rtestard commented on #2770
@flodolo Do you have context on this one? We are triaging and trying to assess priority

[2022-10-18 13:56] rtestard commented on #2782
We'll close this issue since no other similar issues were raised and there is no path to resolution as it stands. Please feel free to re-open if you encounter this issue on a specific domain.

[2022-10-18 13:56] #2782 closed

[2022-10-18 14:02] rtestard opened #3526 "New telemetry for custom keyboard users"
### User proposal
We need to understand the significance of custom keyboard users given, that custom keyboard height can vary and impact our application UI

### Ideas for Solution
- Environment telemetry identifying the keyboard type (default or custom with details on custom keyboard type)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-186)

[2022-10-18 14:06] flodolo commented on #2770
I don't think this is relevant anymore.

It's about Pontoon and the export code fighting over this attribute, which is has no practical effect, but it shouldn't be happening anymore with the recent refactor I made.

[2022-10-18 15:03] rtestard commented on #2770
Thanks, I'll close this now than.

[2022-10-18 16:16] isabelrios commented on #3409
Hey! sorry @Delphine I have not had the chance yet to start this, but I will prioritize with our tasks

[2022-10-18 16:38] ewachowiak commented on #2936
I agree with @jeffreygee that offering the options above is ideal to give users a way to carry the link to their preferred browser if they want to keep it more permanent. Longer term, we should look at what percentage of users DO make Focus their default browser but I think that number will not be the majority.

Are we removing "Add to Reading List" from the menu? It is there today above Copy Link

[2022-10-19 08:29] razvanlitianu commented on #2859
Fixed in #3523

[2022-10-19 11:29] rtestard opened #3528 "Add "Open in Default Browser" to hypeling contextual menu"
### User proposal
Current context menu does not let users open links inside their default browser of choiuce

### Ideas for Solution
The contextual menu is as follows:
    Open Link (Firefox icon you have in your mock) - opens the link inside Focus
    Open Link in Default Browser (Existing browser icon) - open the link in Default Browser
    Copy Link (Existing Copy icon) - copies link (current b

[2022-10-19 11:32] rtestard commented on #2936
Thanks I opened https://github.com/mozilla-mobile/focus-ios/issues/3528 as a follow-up to add the "Open Link in Default Browser" option
@ewachowiak Yes the intention is to remove "Add to Reading List" given it's un-intuitive/unexpected that a browser feature would add to another browser reading list.

[2022-10-19 11:52] #3320 closed

[2022-10-19 12:44] isabelrios opened #3529 "Follow up issue to the pipelines work - Change the Push trigger to use pipelines"
In the previous issue #3320 and its PR, I only changed the bitrise trigger for PRs. Once we see that's working, we should change also the push trigger to run the pipelines workflow for check ins in main

[2022-10-20 14:36] rtestard commented on #3134
We discussed with Jeff that the path forward could be similar to how this was handled on Android where we displayu a call to action. @jeffreygee can you please look into a UX proposal when you get a chance?

[2022-10-20 18:10] ewachowiak opened #3531 "Widget selection copy incorrect"
## Steps to reproduce
1. Long press on home screen to enter jiggle mode
2. Press plus icon
3. search for Firefox Focus & select
4. View the copy and compare to [Figma design](https://www.figma.com/file/nCvlz8wsL1w7dLPag32Syz/Widget?node-id=59%3A128). Copy does not match design. [See attachment]

### Expected behavior
Copy matches design.

### Actual behavior
Copy does not match design. It referenc

[2022-10-20 18:11] ewachowiak commented on #3531
FYI @rtestard This is that copy fix we discussed.

[2022-10-24 07:48] razvanlitianu commented on #3528
Wouldn't be confusing if on another menu we have the Firefox icon to 'Open in Firefox' and the same icon for 'Open link' which will open in Focus?
![IMG_0187](https://user-images.githubusercontent.com/26011662/197474554-6db60abe-9341-40a1-a349-c0755d009068.PNG)

[2022-10-24 07:52] razvanlitianu commented on #2965
@rtestard @abodea This is the default behaviour on iOS. If the app supports universal link and recognises it can open the app directly it will default to that instead of opening the browser.

[2022-10-24 13:37] rtestard commented on #3438
We need more research before acting on this ticket. @razvanlitianu  will own the investigation

[2022-10-24 19:01] jeffreygee opened #3534 "Can't close shield menu when accessibility text is turned on"
## Steps to reproduce
1. Settings > Accessibility > Display & Text Size > Larger Text > ON > Slider to larger text

2. Open focus and visit website

3. Click shield icon

### Expected behavior
Text should get bigger and menu should be easily dismissed using close action (X) on the top right

### Actual behavior
The top of the window with the close action (X) goes under the iOS Top Header and you a

[2022-10-25 06:48] CatalinNeculaide opened #3536 "Onboarding widget telemetry doesn't trigger the correct event"
┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-191)

[2022-10-25 12:20] #3536 closed

[2022-10-26 08:44] csuciu opened #3538 "Hamburger menu slow to open after going from the homepage to a webpage"
## Steps to reproduce v1
1. Go to Homepage.
2. Open hamburger menu.
3. Tap on the "Help" button.
4. In the support page that opens try to open again the hamburger menu.

## Steps to reproduce v2
1. Go to Homepage.
2. Open hamburger menu
           => The menu opens instantly.
4. Dismiss the menu and go to to a webpage via search bar.
5. Try to open the menu immediately after the page loads.

### E

[2022-10-26 09:07] data-sync-user opened #3539 "Hamburger menu slow to open after going from the homepage to a webpage"
## Steps to reproduce v1
1. Go to Homepage.
2. Open hamburger menu.
3. Tap on the "Help" button.
4. In the support page that opens try to open again the hamburger menu.

## Steps to reproduce v2
1. Go to Homepage.
2. Open hamburger menu
           => The menu opens instantly.
4. Dismiss the menu and go to to a webpage via search bar.
5. Try to open the menu immediately after the page loads.

### E

[2022-10-26 12:49] razvanlitianu commented on #3466
I was checking if we localize the intents and it seems that we already do. The strange thing is for some languages like Bulgarian the strings are [different](https://github.com/mozilla-mobile/focus-ios/blob/011875c5a40046b873501d538e80c8510415ebea/Blockzilla/bg.lproj/Intents.strings#L1-L5), for example [from English](https://github.com/mozilla-mobile/focus-ios/blob/011875c5a40046b873501d538e80c851

[2022-10-27 17:39] #3438 closed

[2022-10-27 18:11] Delphine commented on #3466
This is the first time I see such a thing! I honestly have no idea...
Talking with Flod, about the difference: you may need to remove all localized files and try importing from scratch. In fact the Bulgarian file hasn't been updated since 2018. Or it might be, once again, that Focus uses a different system than Firefox.
I see that for Fenix @isabelrios was involved. Maybe she has some tips for thi

[2022-10-28 08:34] isabelrios commented on #3466
That was the first time I saw that too, I opened the issue and asked for developer's help. Laurie was able to fix that on Firefox-iOS, so we may need her help here. I think @razvanlitianu you mentioned in the last meeting that you were already talking to her, was it about this issue?

We can also try what @Delphine suggests, remove all localized files and importing from scratch...
Sorry I can't th

[2022-10-28 12:15] dsmithpadilla commented on #3466
Yes i still receive them everyday, one focus and one for klar. Laurie fixed it in https://github.com/mozilla-mobile/firefox-ios/issues/11596 for Firefox-ios.

[2022-10-28 13:15] jevans-mozilla opened #3544 "Investigate out of memory issue in v106"
There has been a surge of out of memory issues in the latest release.
This doesn't coincide with any other crash report.  Profiling the app is recommended to inform to next steps

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-194)

[2022-10-28 15:07] jeffreygee commented on #3528
@razvanlitianu @rtestard
I would avoid duplicate icons. I've pinged the Design Systems team for an icon, but I also think we can proceed without one for now.

Visual:

![NewMenu](https://user-images.githubusercontent.com/93741573/198668547-819085f0-c2c4-4112-ad3c-afa66b5842ce.png)

[2022-11-01 13:17] abodea commented on #2915
Closing this as I'm not able to repro it, thanks @razvanlitianu.
Now when I tap on the open in-app button, a pop-up is displaying with 2 buttons cancel and open and the redirection is correctly done to app store.

[2022-11-01 13:17] #2915 closed

[2022-11-01 13:41] abodea commented on #2859
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).

[2022-11-01 13:41] #2859 closed

[2022-11-01 14:32] abodea commented on #3508
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).

[2022-11-01 14:32] #3508 closed

[2022-11-01 14:38] abodea commented on #3380
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).

[2022-11-01 14:38] #3380 closed

[2022-11-01 14:49] abodea commented on #3504
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).
![image0](https://user-images.githubusercontent.com/42831109/199262215-d7208efc-d2d4-4036-a64d-94c4f142ec62.png)

[2022-11-01 14:49] #3504 closed

[2022-11-02 09:18] #3389 closed

[2022-11-02 09:39] PARAIPAN9 opened #3549 "TabView's dots are drawn on top of the Skip button"
## Steps to reproduce
1. Fresh Install Focus
2. Open the app
### Expected behavior
TabView's dots should be under the Skip Button.
### Actual behavior
The dots overlap the button.
### Device & build information
iPhone8
iPhone SE
* Build version: ?
### Notes
Attachments:

<img src="https://user-images.githubusercontent.com/4525736/199326841-b7244504-c74e-4db9-97e3-7b318445df01.png" width="300">

┆I

[2022-11-02 14:16] rilury commented on #3534
Hey, @rtestard @jeffreygee we had a discussion within the team about accessibility in general and it seems the text is too big for an iphone, we were wondering if we should limit the maximum dimension or to create a range like the text can be large and extra large but not extra extra large like in the photos that I attached to the pr that is solving this issue (https://github.com/mozilla-mobile/fo

[2022-11-02 15:04] rilury commented on #3534
I want to show you some screen shots to see the difference:
this is how big the text can be now XXXL (this is extra extra extra large option selected - the maximum available on iphone):
<img width="564" alt="Screen Shot 2022-11-02 at 12 48 48 PM" src="https://user-images.githubusercontent.com/46751540/199518406-d0df9b45-dd91-479f-9f19-9d9b082ad3fe.png">
But we can limit the max size to extraextral

[2022-11-02 20:11] perrymcmanis144 opened #3553 "Send existing mobile search metric data in baseline ping"
Pursuant to: https://bugzilla.mozilla.org/show_bug.cgi?id=1797323

There are several existing metrics that are sent in the Metrics ping, I will be including them in the baseline ping.

No new data will be collected.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-196)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FOCUSIOS-196

[2022-11-03 15:27] jeffreygee commented on #3534
@rilury @rtestard - we should definitely leave all options available - limiting it to a certain maximum is inaccessible in itself. As long as everything properly functions the same way as it does on a screen with the default size text (i.e. the close button is still clickable and not under the interface), it is okay. It may not look pretty, but there are users who can have the text that large for

[2022-11-03 15:40] isabelrios opened #3555 "[XCUITests] L10n Fix: test01FirstRunScreens"
In order to be able to run the screenshots we need to fix this test.

The error is:
`/Users/vagrant/git/ScreenshotTests/SnapshotTests.swift:10: Expect predicate exists == true for "IntroViewController.startBrowsingButton" Button
`
It may be because now the button is called `Get Started`

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-197)
┆Link To Is

[2022-11-03 15:58] rtestard opened #3556 "Implement a permanent link for the "What's new target""
### User proposal
This helps retain a single link in-product where content adapts based on the client version.

### Ideas for Solution
1 SUMO proposes a link
2 Client engineering sets the new link value

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-198)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FOCUSIOS-198

[2022-11-03 17:23] Dexterp37 opened #3557 "The search counts telemetry is recording partial data"
The [documentation](https://dictionary.telemetry.mozilla.org/apps/focus_ios/metrics/browser_search_search_count) for the search count metric states:

However, the metric itself is exclusively [recording the action](https://github.com/mozilla-mobile/focus-ios/blob/90d07540d018b249beeb749bc710cc5abf67dee3/Blockzilla/BrowserViewController.swift#L871), not the provider.

The expectation is for this to

[2022-11-04 08:39] rilury commented on #3534
Ok, than I will solve this issue and not interfere on the options - all options will still be available. Thank you @jeffreygee

[2022-11-04 08:41] rilury commented on #3534
@abodea Please can you check if the app works properly in all the screens from settings and on onboarding?...If the users can close the screens properly and can press all the buttons? Just want to make sure that all the app can be used when the accessibility text is set at the largest and to prevent similar bugs like this.... Thank you!

[2022-11-05 20:22] umbralOptimatum opened #3561 "'Drag URL text' feature interferes with basic text-editing cursor"
I don't know the official name of this feature, but Focus allows the user to drag a URL's text from the URL bar to copy it into forms on the page. When the user has the URL bar selected, this feature interferes with basic text field functionality, specifically the ability to drag and reposition the cursor. The regular Firefox iOS app also has the drag URL feature, but it doesn't interfere with the

[2022-11-07 14:38] abodea commented on #3516
Verified as fixed on v9000 (15188) with iPhone 13 Pro max (15.1.1)

[2022-11-07 14:38] #3516 closed

[2022-11-08 14:23] rtestard commented on #3318
I'll close this given we assume it is Android related.

[2022-11-08 14:23] #3318 closed

[2022-11-09 11:41] abodea commented on #3478
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).
[code]

[2022-11-09 11:41] #3478 closed

[2022-11-09 12:21] abodea commented on #2936
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).

[2022-11-09 12:21] #2936 closed

[2022-11-09 12:57] abodea commented on #3500
Verified as fixed on v9000 (15188) with iPhone 13 Pro (15.1.1).

[2022-11-09 12:57] #3500 closed

[2022-11-09 14:31] #3544 closed

[2022-11-09 14:59] isabelrios opened #3566 "Nightly Release workflow is failing"
The build started to fail on Oct 28th. The error happens when [archiving](https://github.com/mozilla-mobile/focus-ios/blob/c7884a0dfb7f287bc04b42a10576d1cbeda79598/bitrise.yml#L385) Focus and looks like a configuration issue related to Nimbus.

On Oct 27th, this PR [Add Nimbus FML and first run experiments ](https://github.com/mozilla-mobile/focus-ios/commit/72b552ee8cd769d47e159996ab55552f9b26a47

[2022-11-10 09:20] abodea opened #3570 "The old onboarding and tooltips are displayed on latest 9000 (15537) version (main)"
## Steps to reproduce
1. Install latest Focus version (latest code from the main).
2. Observe the onboarding.
### Expected behavior
The new onboarding should be displayed.
### Actual behavior
The old onboarding is displayed.
### Device & build information
* Device: iPhone 13 Pro (15.1.1).
* Build version: 9000 (15537_
### Notes
Attachments:

https://user-images.githubusercontent.com/42831109/20105

[2022-11-10 09:44] abodea commented on #3511
Verified as fixed on v9000 (15537) with iPhone 13 Pro (15.1.1).

[2022-11-10 09:44] #3511 closed

[2022-11-10 10:06] abodea commented on #3531
Verified as fixed on v9000 (15537) with iPhone 13 Pro (15.1.1).

[2022-11-10 10:06] #3531 closed

[2022-11-10 10:11] #3190 closed

[2022-11-10 10:26] abodea commented on #3528
Verified as fixed on v9000 (15537) with iPhone 13 Pro (15.1.1).

[2022-11-10 10:26] #3528 closed

[2022-11-10 23:50] xluo-ds commented on #3557
@Dexterp37  A naive question, how can I keep in the loop about when the fix is deployed?

[2022-11-11 11:14] abodea opened #3573 "The loading animation at launch is too slow"
## Steps to reproduce
1. Launch Focus and observe the loading time until the home screen is reached.
### Expected behavior
The loading at launch animation should be faster.
### Actual behavior
The loading animation at launch is too slow.
### Device & build information
* Device: iPhone 13 Pro (15.1.1).
* Build version: 9000 (15587).
### Notes
Attachments:

https://user-images.githubusercontent.com/

[2022-11-11 11:17] abodea opened #3574 "A white screen is displayed when launching Focus in dark mode"
## Steps to reproduce
1. Launch Focus and observe the loading screen.
### Expected behavior
The loading screen should be in dark mode if the theme of the device/app is set to dark mode.
### Actual behavior
A white screen is displayed when launching Focus in dark mode
### Device & build information
* Device: iPhone 13 Pro (15.1.1).
* Build version: 9000 (15587).
### Notes
Attachments:

https://user

[2022-11-11 11:36] abodea commented on #3570
Verified as fixed on v9000 (15587) with iPhone 13 Pro (15.1.1).

[2022-11-11 11:36] #3570 closed

[2022-11-11 12:07] Dexterp37 commented on #3557
@xluo-ds I was able to track this down thanks to @abodea . The schedule for Focus iOS is tracked [here](https://docs.google.com/spreadsheets/d/1hER_w7pOsWSjeBaUqMd_9ClYCCGlwc4jaFYpcBvFE8g/edit#gid=489304879), see row 52. This should hit release on Nov 15th.

[2022-11-11 13:45] razvanlitianu commented on #3570
Caused by https://github.com/mozilla-mobile/focus-ios/pull/3533. Necessary for v108 release.

[2022-11-11 15:56] abodea commented on #3534
Verified as fixed on v107 (15590) with iPhone 13 Pro (15.1.1).

[2022-11-11 15:56] #3534 closed

[2022-11-11 16:07] abodea commented on #3549
Verified as fixed on v107 (15590) with iPhone 13 Pro (15.1.1).

[2022-11-11 16:07] #3549 closed

[2022-11-11 16:11] abodea commented on #3557
As an update, after this was uplifted to **v107**, I synced with @Dexterp37 on slack and it looks like there is still an issue with this one.

```:{"browser_search.in_content":{"google.in-content.sap.firefox-b-m":1},"browser_search.search_count":{"__other__":1},"glean.error.invalid_label":{"browser_search.search_count":1},"glean.validation.pings_submitted":{"baseline":4,"events":2,"metrics":1}},"s

[2022-11-12 18:08] AbhyudayaSharma opened #3575 "App crashes on entering misformed URL in the address bar"
## Steps to reproduce

Type `https::/example.com` into the address bar and press go.

### Expected behavior

The app doesn't crash.

### Actual behavior

The app crashes immediately.

### Device & build information
* Device: iPhone XS
* Build version: 106.0 (14949)
### Notes
Attachments:

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-206)

[2022-11-14 10:49] abodea commented on #3575
Thank you for this report @AbhyudayaSharma I was able to reproduce this issue.

[2022-11-14 12:38] Anttrap63 opened #3577 "Apply ethics"
Apply ethics

__Originally posted by @Anttrap63 in https://github.com/aip-dev/google.aip.dev/pull/936#discussion_r1021473656__

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-207)

[2022-11-14 15:34] martinbalfanz opened #3579 "Intermittent: Keyboard disappears when opening app, leaving Focus in a "frozen" state"
## Steps to reproduce
- open Focus/Klar

### Expected behavior
- Focus should open, with the keyboard present

### Actual behavior
- sometimes, Focus opens and the keyboard immediately disappears.
- The keyboard can't be brought back by tapping the URL bar. Nothing happens in this situation.
- The top left corner shows the angle bracket icon as if the keyboard was present. (usually it should show

[2022-11-14 16:42] razvanlitianu commented on #3557
@Dexterp37 Could you please describe what is exactly broken/not working well?

[2022-11-15 14:45] rtestard commented on #3553
@perrymcmanis144 Is this a client implementation request or rather a data pipeline change?

[2022-11-15 14:48] rtestard commented on #3496
@chengssir Can you please clarify what this request is about? Focus does not load the ETP list from, remote settings.

[2022-11-15 14:55] perrymcmanis144 commented on #3553
@rtestard oh goodness, ok I thought there was auto-linking between PRs and issues.

I had this associated PR that I opened: https://github.com/mozilla-mobile/focus-ios/pull/3554

It's already in, any opposition to me closing this one out as completed?

[2022-11-15 15:43] rtestard commented on #3553
Sure, closing this one sounds good

[2022-11-15 15:52] abodea commented on #3557
Verified as fixed on **v9000 (15610)** with **iPhone 13 Pro (15.1.1).**

[code]
For more details, you can check my pings [here](https://debug-ping-preview.firebaseapp.com/pings/Shamx7).

[2022-11-15 15:52] #3557 closed

[2022-11-15 15:52] abodea opened #3580 "`"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device & build information
* Device: ?
* Build version: ?
### Notes
Attachments:

[2022-11-15 15:54] #3580 closed

[2022-11-15 16:01] abodea opened #3581 "`"none.in-content.sap.none":1` is displayed in the labeled counter when checking the search telemetry"
## Steps to reproduce
1. Install and launch Focus.
2. Enable the telemetry and tap on the available pings.
3. Perform a few searches. (access few websites)
4. Put Focus in the background.
### Expected behavior
The search counts should be correctly displayed with the rest data in the ping.
### Actual behavior
`"none.in-content.sap.none":1` is displayed in the labeled counter when checking the searc

[2022-11-15 16:30] #3553 closed

[2022-11-16 08:10] rtestard commented on #3556
Fabi shared the new permanent link: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-ios

[2022-11-16 08:20] PARAIPAN9 commented on #3526
@rtestard, quick question: Do we want to record if the users are using a custom keyboard, every time the keyboard appears on the screen, in the idea that they will change the keyboard while using the app, or we want only once, when the app launches.

[2022-11-16 09:24] razvanlitianu commented on #1684
@rtestard I think we can close this since the PR was merged

[2022-11-16 09:25] razvanlitianu commented on #1682
@rtestard There was a PR open for it but I think it was closed. @kirapwn is this issue still relevant?

[2022-11-16 09:31] #1747 closed

[2022-11-16 09:34] SimonBasca commented on #1724
This issue is still reproducible on latest v9000 (15628).

[2022-11-16 09:35] razvanlitianu commented on #1705
@rtestard are we considering this?

[2022-11-16 09:36] razvanlitianu commented on #1714
@rtestard closing this since the PR was merged

[2022-11-16 09:36] #1714 closed

[2022-11-16 09:37] #1689 closed

[2022-11-16 09:38] razvanlitianu commented on #1693
@rtestard closing this since a PR was merged

[2022-11-16 09:38] #1693 closed

[2022-11-16 09:38] razvanlitianu commented on #1690
@rtestard closing this since this was before the redesign

[2022-11-16 09:38] #1690 closed

[2022-11-16 09:40] razvanlitianu commented on #1691
cc: @SimonBasca we are not able to generate favicons for search engines

[2022-11-16 09:40] razvanlitianu commented on #1694
@rtestard closing this since a PR was merged

[2022-11-16 09:40] #1694 closed

[2022-11-16 09:42] razvanlitianu commented on #1958
@rtestard closing this since the visual refresh was finished a while ago

[2022-11-16 09:42] #1958 closed

[2022-11-16 09:43] razvanlitianu commented on #1937
@rtestard closing this since the visual refresh was finished a while ago and we have the option in Settings

[2022-11-16 09:43] #1937 closed

[2022-11-16 09:44] #1879 closed

[2022-11-16 09:47] #2400 closed

[2022-11-16 09:47] #2320 closed

[2022-11-16 09:49] razvanlitianu commented on #2297
Closing this since we have minimum iOS 14 which uses only the native component

[2022-11-16 09:49] #2297 closed

[2022-11-16 09:51] #2767 closed

[2022-11-16 09:51] razvanlitianu commented on #2765
Pro tips do not show anymore.

[2022-11-16 09:51] #2765 closed

[2022-11-16 09:52] razvanlitianu commented on #2604
@isabelrios are we building on M1?

[2022-11-16 09:53] #2482 closed

[2022-11-16 09:55] razvanlitianu commented on #2562
Closing since we use different versions of onboarding

[2022-11-16 09:55] #2562 closed

[2022-11-16 09:55] #2563 closed

[2022-11-16 09:57] #2797 closed

[2022-11-16 09:58] razvanlitianu commented on #3296
@lime124 this looks like a Firefox feature. Closing the issue here.

[2022-11-16 09:58] #3296 closed

[2022-11-16 09:59] Dexterp37 commented on #3581
Talking to Xuan, this is **not expected**. She mentioned that this might be due to [the values set here](https://searchfox.org/mozilla-mobile/rev/990af0c23daadcd453063930edecb088b47c8796/focus-ios/Blockzilla/Utilities/SearchInContentTelemetry.swift#47-48). Maybe the correct values are not being set before the search is recorded? Looks like code and provider are only set [here](https://searchfox.or

[2022-11-16 10:12] rtestard commented on #3526
Only once the app launches, this is to get statistics on custom keyboard users on Focus in order to understand if these are significant enough to worry about custom keyboard height and its impact on our UI

[2022-11-16 10:15] rtestard commented on #1784
If the API is implemented and the websites control the decision then it sounds like the issue can be closed.

[2022-11-16 10:15] #1784 closed

[2022-11-16 10:17] #1684 closed

[2022-11-16 12:13] rtestard commented on #1705
I think we should, this sounds valuable, let's keep this one

[2022-11-16 14:41] abodea commented on #3581
Sure thing I can try to test it in Fenix for android and get back with the results.

[2022-11-16 15:10] abodea commented on #3581
Hello, @Dexterp37!
Here are the results from Fenix (latest nightly) after 4 searches exactly how I described in the description.
Tap on URL add any word and search for it - repeat 4 times.
[code]

[2022-11-16 15:15] Dexterp37 commented on #3581
@abodea great, thanks for checking! This seems to highlight that there's indeed a problem with search data. Can you do a screengrab of what you're doing both in Fenix and Focus? if you're doing 4 searches, it looks weird that Focus is counting 8 two times.. (Fenix is counting 4 two times)?

[2022-11-16 15:19] abodea commented on #3581
For this example, on Focus I had 8 searches, but on Fenix I used 4, I mentioned the number of searches so you can see that is correct on Fenix.
If I would have done 8 searches on Fenix, it would show 8 on the logcat.

[2022-11-16 15:24] Dexterp37 commented on #3581
Oh, I see :-) Cool , sorry I was confused by the different numbers. All right, this confirms that Fenix does not capture a "none" for the same STR, so it's indeed a confirmed bug in Focus iOS that needs to be fixed.

[2022-11-17 14:10] razvanlitianu commented on #3381
@isabelrios is this issue still relevant?

[2022-11-18 09:08] isabelrios commented on #3381
No, I think we can close it for now. I see the swiftlint tests all passing. We can re-open if needed. Thanks

[2022-11-18 09:08] #3381 closed

[2022-11-18 09:13] abodea commented on #3573
Verified as fixed on v9000 (15683) with iPhone 13 Pro (15.1.1).

[2022-11-18 09:27] razvanlitianu commented on #1715
@rugk is this issue still applicable?
cc: @Dexterp37

[2022-11-18 09:39] Dexterp37 commented on #1715
@razvanlitianu this is legacy telemetry, which is not maintained and is going to be deprecated next year.

[2022-11-18 10:27] razvanlitianu commented on #1715
Okay, closing this for now.

[2022-11-18 10:27] #1715 closed

[2022-11-18 10:38] PARAIPAN9 commented on #3581
Hi @abodea , @Dexterp37, this: "none.in-content.sap.none" appears because at some point while searching in the URL Bar, some website gets recommended, for example you're starting typing "air", and automatically it autocompletes, and if you hit enter on this website, the url changes to www.airbnb.com and we cannot extract anymore the provider and the code to record it on glean, but still it informs

[2022-11-18 10:41] Dexterp37 commented on #3581
@PARAIPAN9 do we have the same behaviour on Firefox Android (Fenix)?

[2022-11-18 10:46] PARAIPAN9 commented on #3581
The implementation is practically the same as Firefox for iOS, with few adjustments, without changing the behavior. Regarding the Android implementation, I don't know, let me try and see how it works, I will ask for Andrei's help, maybe he can make some searches and will se how the events record in glean.

[2022-11-18 10:51] Dexterp37 commented on #3581
@abodea already tried this, see [this comment](https://github.com/mozilla-mobile/focus-ios/issues/3581#issuecomment-1317173397). Please use Fenix as the reference implementation, not Firefox iOS (which should be using Fenix as well).

[2022-11-18 10:57] PARAIPAN9 commented on #3581
Ok, thank you!!

[2022-11-18 23:26] icecold85 commented on #3575
@abodea having a similar issue here as well so I will post this here
When trying to go to “about:config” the app crashes

IOS information
IPhone 12 mini
Build 107
IOS ver, 16.2

[2022-11-21 10:11] PARAIPAN9 commented on #1723
This issue is not relevant anymore. I think we should close it, @rtestard.

![DemoImageDownload](https://user-images.githubusercontent.com/51127880/203023803-45e535e3-70fc-4645-bfd5-beb2c691da69.jpeg)

[2022-11-21 15:22] abodea commented on #3581
Hello here is the android part @PARAIPAN9.
[code]

[2022-11-21 15:27] PARAIPAN9 commented on #3581
Thank you, @abodea!!

[2022-11-21 15:33] PARAIPAN9 commented on #2277
Hi @rtestard, @jevans-mozilla, what do you think if we show the app store review request on the settings screen? We let the same behavior, but we show it there.

![Demo](https://user-images.githubusercontent.com/51127880/203094141-46b40152-86e2-4e4b-b420-fa4431519ee5.jpeg)

[2022-11-21 23:43] jevans-mozilla commented on #2277
What is our current logic for when it pops up?  I don't think many people use the settings very often

[2022-11-22 08:33] swarupbhc opened #3589 "Extremely slow launch time"
## Steps to reproduce
Just open the app on iPhone

### Expected behavior
Quick launch as safari or any other browser

### Actual behavior
Taking longer time to open

### Device & build information
* Device: iPhone 13
* Build version: iOS 16.1.1 (20B101)

https://user-images.githubusercontent.com/55395995/203264512-33c7aa0d-bedd-44ac-a3e9-123947e8212b.MOV

### Notes
Attachments:

[2022-11-22 08:40] PARAIPAN9 commented on #2277
After 14 launches of the app, after the trash is pressed, the rating request appears, then, after 90 days. The request cannot show up more then 3 times in 365 days. I think that, sometime users will check the settings menu, maybe to set biometrics, theme, default browser, and since we cannot show it many times, this will be a good place, and solve the custom keyboard problem.

[2022-11-22 08:40] swarupbhc opened #3590 "Search suggestions lag"
## Steps to reproduce
Try typing anything on the search bar when search suggestions is on

### Expected behavior
Search suggestions without any lag

### Actual behavior
Taking time and sometimes it’s crashing the app.

### Device & build information
* Device: iPhone 13
* Build version: iOS 16.1.1 (20B101)
### Notes
Previous version was fine, this version seems to have multiple bugs, app open delay

[2022-11-22 09:03] Dexterp37 commented on #3581
Hey @PARAIPAN9 ! Is there any update on this?

[2022-11-22 10:42] mjj2000 commented on #3590
I can reproduce +1
please fix this problem asap
thanks

[2022-11-22 10:50] abodea commented on #3590
Thank you for this report @swarupbhc please not that I'm not able to reproduce it on the latest main version (you can't access that).
This week hopefully there will be a dot release with a fix for the issues you mentioned.

[2022-11-22 10:54] #3573 closed

[2022-11-22 10:54] abodea commented on #3589
Duplicate of https://github.com/mozilla-mobile/focus-ios/issues/3573.

[2022-11-22 10:55] abodea commented on #3590
Thank you, that is a duplicate, I commented on it, the issue is already verified it's a matter of time until a dot release will be created.

[2022-11-22 16:09] abodea commented on #3574
Verified as fixed on v9000 (15683) with iPhone 13 Pro (15.1.1).

[2022-11-22 16:09] #3574 closed

[2022-11-22 16:33] #3581 closed

[2022-11-23 13:16] Gsihgr commented on #3590
Thank you for report @swarupbhc

[2022-11-25 04:57] mMARUF opened #3593 "Firefox Focus – welcome page instructions should be correctly written"
## Steps to reproduce
1) Open Firefox Focus 107.1(15758) in iPhone SE 2020 (iOS 16.1.1)
2) We see a welcome page

### Expected behavior
The welcome page instructions should be correctly written.

1) We clear your history when you clo... -> should be: We clear your history when you close focus (full line should be visible in the browser window)
2) Make focus your default to protect your data with e

[2022-11-25 05:13] mMARUF opened #3594 "What's New – link is broken"
## Steps to reproduce
1) Open Firefox Focus 107.1(15758) in iPhone SE 2020 (iOS 16.1.1)
2) From the three-dot menu, click on – **What's New**

### Expected behavior
The link should be working.

### Actual behavior
The link is broken. We are not redirected to the desired page.

### Device & build information
* Device: iPHONE SE 2020
* Build version: Firefox Focus 107.1(15758)

https://user-images.g

[2022-11-25 11:04] rtestard commented on #1723
Agreed

[2022-11-25 11:04] #1723 closed

[2022-11-25 11:17] PARAIPAN9 commented on #3350
Issue closed, not relevant anymore, because this is a previous version of onboarding.

[2022-11-25 11:31] rtestard commented on #2277
https://github.com/mozilla-mobile/focus-ios/issues/3526 will help assess if the issue is significant enough. I think we all assume the custom keyboard population is very small assuming this is confirmed with telemetry I'd recommend not displaying the app rating message to custom keyboard users.
We'll have the data with 108 in 4 weeks so it sounds worth waiting to then make the right decision.

In

[2022-11-25 15:00] abodea commented on #3575
Verified as fixed on v9000 (15781) with iPhone 13 PRo (15.7.1).

[2022-11-25 15:33] abodea commented on #3526
Verified as fixed on v9000 (15781) with iPhone 13 (15.7.1).

[code]

[2022-11-25 15:33] #3526 closed

[2022-11-25 15:43] abodea commented on #3525
Verified as fixed on v9000 (15781) with iPhone 13 (15.7.1).
[code]

[2022-11-25 15:43] #3525 closed

[2022-11-27 00:45] mjj2000 commented on #3590
verified this issue is fixed in 107.1 (15758)
thanks!

[2022-11-28 08:43] rilury commented on #1695
@abodea We can close this ticket since it no longer applies.  Thank you!

[2022-11-28 08:50] rilury commented on #1678
I verified this issue and it is working properly for me. What do you think, @jeffreygee should we increase the tappable area?

[2022-11-30 02:42] Bluefire32 opened #3600 "# 35"
### Bitrise Test Run:
Provide a Bitrise test run report link here showcasing the problem
### Stacktrace:
### Build:

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-214)

[2022-11-30 11:16] Bluefire32 opened #3601 "You"
### Bitrise Test Run:valid
Provide a Bitrise test run report link here showcasing the problem
### Stacktrace: media
### Build: track

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-216)

[2022-11-30 11:16] Bluefire32 opened #3602 "### Bitrise Test Run:valid"
### Bitrise Test Run:valid
Provide a Bitrise test run report link here showcasing the problem
### Stacktrace: media
### Build: track

__Originally posted by @Bluefire32 in https://github.com/mozilla-mobile/focus-ios/issues/3601__

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-215)

[2022-11-30 11:24] #3601 closed

[2022-11-30 11:24] #3602 closed

[2022-11-30 11:24] #3600 closed