[2017-09-12 21:06] Sdaswani commented on #420
@wcbeard you can also try with 3.7, which was just released in the App Store. Thanks for the bug report.

[2017-09-12 21:07] wcbeard commented on #420
@bkmunar Ok, it works when I flip that switch. I thought that switch was more for alerts instead of audio though. Does this mean Focus treats the audio more like a notification than audio?

[2017-09-12 21:08] Sdaswani opened #444 "Denim l10n stuff"
1. Import in the latest l10n localizations.
2. Generate Screenshots

Tracking this in Ebony as it's part of that Sprint.

[2017-09-12 21:13] Sdaswani commented on #420
OK I see what @wcbeard is talking about - if you open that page with Safari or Firefox, and your sound switch is off, the audio still plays. I am actually surprised focus can respect that switch - is that something we are doing in code @bkmunar ? I guess it is privacy preserving, though now what I expected.

[2017-09-12 21:23] bkmunar commented on #420
I do not know whether it is a design decision that was made--what do we want to do with this? I guess this is a further discussion with @bbinto ??

[2017-09-12 21:26] Sdaswani commented on #420
@bkmunar can you see if we are enabling this in code? If so they it's probably a feature and not a bug ;) .

[2017-09-12 21:32] bkmunar commented on #420
https://stackoverflow.com/questions/35289918/play-audio-when-device-in-silent-mode-ios-swift

Right now, Focus is doing normal iOS behavior. Do we want to override that then?

[2017-09-12 22:21] antlam commented on #94
@bbinto since what's new (for Android and iOS) is in Folly, should we move this out of Folly and into Granite for now? Folly isn't supposed to be a UX heavy release and this involves a lot of strings.

[2017-09-12 23:02] Sdaswani commented on #420
Thanks @bkmunar - @wcbeard this is indeed a feature, and not a bug - we haven't enabled audio to play even in silent mode like Firefox has. https://github.com/mozilla-mobile/firefox-ios/blob/f839bea0c8986914fc29f426b2fac1d5a162e450/Client/Application/AppDelegate.swift#L133

If it's something you think we should enable, we should run it by Product @bbinto  / UX @antlam .

[2017-09-13 12:56] wcbeard commented on #420
I can only comment as an user, but it looks like most apps (Safari, Chrome, Firefox) train users to expect audio even in 'silent mode,' so it feels like a bug when it doesn't play. It seems like an issue of correctness vs convention, but not sure what the outcome should be.

[2017-09-13 14:41] bbinto commented on #420
This doesn't seem to be pressing ATM, especially since it's "normal" behavior and something you'd expect from a privacy-focused browser.

I'm fine with parking this until we hear others complain, especially since it's marked as a medium for ENG.

@antlam, thoughts?

[2017-09-13 14:48] Sdaswani commented on #420
@bbinto upon further investigation it is a small eng effort, but yeah I think their is a privacy benefit here.

[2017-09-13 14:57] BrianNJones commented on #343
@antlam
**If TP enabled:**
Total trackers blocked <X>
  Ad trackers <X>
  Analytics trackers <X>
  Social trackers <X>
  Content trackers <X>

**If TP disabled:**
Tracking Protection off
  Ad trackers --
  Analytics trackers --
  Social trackers --
  Content trackers --

If a page doesn't include content trackers (for instance), are we including the reference (Content trackers 0) or suppressing th

[2017-09-13 14:58] BrianNJones commented on #144
@antlam
**If TP enabled:**
Total trackers blocked
Ad trackers
Analytics trackers
Social trackers
Content trackers
@antlam
**If TP disabled:**
Tracking Protection off
Ad trackers --
Analytics trackers --
Social trackers --
Content trackers --

If a page doesn't include content trackers (for instance), are we including the reference (Content trackers 0) or suppressing the reference?

[2017-09-13 15:05] AaronMT opened #447 "Unable to invoke context menu on images in order to save them"
Tested via v3.8 (Build #663)

- [Macrumors.com](MacRumors.com)
- Long tap on any iPhone image
- No context menu

This works in Safari.

[2017-09-13 15:22] BrianNJones commented on #272
@antlam can you update me with outcome of your discussion with michelle re: disconnect's descriptors?

[2017-09-13 16:17] lime124 commented on #144
discussed in Slack! updating the spec pages. We also changed the strings a bit - @BrianNJones can you update your comment?

[2017-09-13 16:21] antlam commented on #420
I've been confused by the volume switch on iOS before too. In general, I think there are a lot of contextual cues that makes the iOS volume switch and UI slightly confusing.

Right now, I don't think this is a pressing issue either, leaving it For Consideration is fine by me. IIUC, this may not even be something that straight forward for UX either (due to system limitations).

[2017-09-13 16:28] lime124 commented on #343
Here is the visual design spec!

![visual design - drawer](https://user-images.githubusercontent.com/287322/30388841-dfa9149e-9865-11e7-95d8-4fa11031b5c2.png)

LMK if there are any questions!

[2017-09-13 16:42] antlam commented on #272
@BrianNJones Leaving this one to @lime124 too! I just wanted to past that for visual reference

[2017-09-13 18:32] boek commented on #343
@lime124 How do you want the drawer to look on smaller screen sizes? Right now the 4S - SE that would take up the entire screen. Is that OK?

[2017-09-13 20:33] lime124 commented on #255
antlam posted the icons you should need in the meta bug #343. There aren't any strings to be approved, so this should be ready for Eng so moving it there.

[2017-09-13 20:39] boek commented on #274
# Add support for WKWebView
## Summary

Currently Focus uses `UIWebView` to display web pages. With iOS 11 Apple gives us the ability to use `WKWebView` with our content blocker.

## Pros

### Performance
`WKWebView`  is reported to be [3-4x](https://www.scirra.com/blog/174/boosting-ios-performance-with-wkwebview). This will make Focus noticeably faster on nearly every device running iOS 11.

###

[2017-09-13 20:41] BrianNJones commented on #272
New strings:
Block ad trackers
Some ads track site visits, even if you don’t click the ads

Block analytics trackers
Used to collect, analyze, and measure activities like tapping and scrolling

Block social trackers
Embedded on sites to track your visits and to display functionality like share buttons

Block other content trackers
Enabling may cause some pages to behave unexpectedly

Remove "Descr

[2017-09-13 20:56] lime124 commented on #144
strings are final and approved! spec pages are up-to-date. moving to ready for eng.

[2017-09-13 20:59] lime124 commented on #121
antlam left assets for disabled state in meta bug. no strings are required. moving to ready for eng.

[2017-09-13 21:00] lime124 commented on #96
Strings for the TP toggle setting and the description text are approved. Please refer to #343 - specs are up-to-date.

[2017-09-13 21:02] Sdaswani opened #450 "Export Strings for Ebony"
We have to figure out a way to auto-gen this ticket for every milestone :) .

[2017-09-13 21:04] Sdaswani commented on #92
Closed with https://github.com/mozilla-mobile/focus-ios/pull/426

[2017-09-13 21:04] #92 closed

[2017-09-13 21:04] lime124 commented on #343
Looks like the spec pages cover all the linked issues. All strings have been approved by @BrianNJones . Filing a follow up issue for one string Brian would like to tweak.

[2017-09-13 21:11] lime124 opened #451 "iterate on the description text for the Tracking Protection toggle in the TP drawer"
The term "browsing session" is too technical. We'd like to update this string to be more accessible. This is purely a string change and requires no UI updates.

<img width="395" alt="screen shot 2017-09-13 at 2 07 09 pm" src="https://user-images.githubusercontent.com/287322/30400782-e3371d8c-988c-11e7-86eb-10cbafc5efb0.png">

Back story: we ran into string freeze for Ebony before settling on the i

[2017-09-13 22:28] bkmunar commented on #443
Is there a way to get these icons? does UX give the icons? @antlam

[2017-09-13 22:48] antlam commented on #202
Sorry @Sdaswani @bbinto I don't think this will make Ebony* :( . We started unpacking it a bit and there's a bit more going on here than what we first thought. We figured getting an intermediate solution that we weren't happy with wasn't worth it given that string freeze is also today and the content team is in the air ATM.

Especially to Sush because I know you moved this out and I had asked that

[2017-09-13 23:01] Sdaswani commented on #274
Thanks for this @boek - very helpful. I think moving to WKWebView is something we should do, but in the following fashion:

- Plan to release it early next year (earlier if we see iOS11 tending towards 50% iOS market share).
- At release, iOS10 uses UIWebView, and iOS11 uses WKWebView.
- At release, we build feature parity between UIWebView and WKWebView.
- After release, all new features are on W

[2017-09-13 23:05] bkmunar commented on #381
https://github.com/mozilla-mobile/focus-ios/pull/431 Keeping in mind there's a working PR on this I think?

[2017-09-13 23:08] lime124 opened #452 "Footer text for specific trackers"
In Settings, we have 4 settings (ad, analytics, social, and content). The group needs a more general description to go in a Footer underneath the tableview. (see "words go here text")

<img width="412" alt="screen shot 2017-09-13 at 2 41 25 pm" src="https://user-images.githubusercontent.com/287322/30404826-6b0e1aa2-989d-11e7-91c0-87c645d58bfe.png">

The same description can be used in the TP drawe

[2017-09-13 23:08] Sdaswani commented on #381
Sorry this is a bit confusing - we need to see if we already have telemetry for this: https://github.com/mozilla-mobile/focus-ios/pull/431#issuecomment-328320285

We need three Telemetry events:

1. User enters URL into the URL/Search box
2. User enters a Search into the URL/Search box
3. User chooses the 'Search for' hint

So your first task @bkmunar is to see which of these exist already.

[2017-09-13 23:14] lime124 commented on #272
As Brian described above. Created new issue for the follow up.

![tracker setting text](https://user-images.githubusercontent.com/287322/30405038-8bbf8abe-989e-11e7-8358-23297750e758.png)

[2017-09-14 00:52] ArtSabintsev commented on #32
Any movement on this issue?

[2017-09-14 01:08] bkmunar commented on #32
It's `firefox-focus://open-url?url=. . .` I believe, @boek correct me if I'm wrong

[2017-09-14 01:14] davidjb commented on #32
@bkmunar That's right and working now with latest version of Focus.  So:

[code]

opens that site accordingly.  Closing as working!

[2017-09-14 01:14] #32 closed

[2017-09-14 01:20] ArtSabintsev commented on #32
thanks!

[2017-09-14 02:21] ArtSabintsev commented on #32
Just added support for it here: https://github.com/ArtSabintsev/Freedom

Thanks for the turnaround!

[2017-09-14 03:45] Sdaswani commented on #32
Very cool, thanks @ArtSabintsev ! cc @bbinto

[2017-09-14 08:09] dmead28 commented on #128
I've created the project nearly identical to firefox-ios-open-in-client (with some updates for Swift 4). Few issues/questions though:
- It doesn't appear I have rights to push to this repo. I think I need to be added as a collaborator. Is this the typical flow, or should I fork it?
- I created the xcode project using my own credentials with Team: None. The bundle id is: `org.mozilla.OpenInFocusCli

[2017-09-14 08:36] flodolo opened #453 "L10n sign-off for Denim"
cc @delphine

We didn't get any updated screenshots in this cycle, so we're signing off in the dark.

For reference, this is the list of locales shipping in the previous version:

[code]

[2017-09-14 08:37] flodolo commented on #453
There are no changes in terms of new locales.

-----
There are no complete locales missing in product
-----
The following locales are shipping but incomplete: af, ar, bn, ca, ga-IE, gd, he, hi-IN, ko, lo, my, ro, ses, sq, ta, tl, ur, uz

Detailed stats:
af: 23 missing strings
ar: 9 missing strings
bn: 23 missing strings
ca: 14 missing strings
ga-IE: 21 missing strings
gd: 14 missing strings
he: 7

[2017-09-14 08:45] flodolo commented on #453
For reference, the output above is generated by [this script](https://github.com/flodolo/scripts/blob/master/ios_l10n/analyze_locales_focus.py).

[2017-09-14 09:24] bbinto commented on #274
Thanks @boek & @Sdaswani. We all agree that we should move to WKWebview.

The only questions are when, and what happens to existing UIWebView users with <iOS 11.

When:

Agreed, with all existing and new features on WKWebView _only_.

Support:

- I'm not the eng manager, but if I understand this correctly we would we still have to "maintain" the UIWebView code case and its features. If so, I'd lik

[2017-09-14 09:28] bbinto commented on #128
@Sdaswani how is this different from: https://github.com/mozilla-mobile/focus-ios/issues/32#issuecomment-329361629 or our share menu implementation?

[2017-09-14 09:32] bbinto commented on #32
Very nice @ArtSabintsev ...worth a Tweet :) https://twitter.com/bbinto/status/908261909660672002

[2017-09-14 11:32] ArtSabintsev commented on #32
Thank you! Really appreciate it!

[2017-09-14 14:08] AaronMT commented on #376
Of the apps I listed, everything but Reminders works. When I share to it, I get an empty field. Do we want to investigate further?

[2017-09-14 14:11] AaronMT commented on #126
When I go to http://yelp.com or http://yelp.ca, I don't get any prompt whatsoever when I tap 'Open in App'.

[2017-09-14 14:12] Sdaswani commented on #376
@AaronMT let's wait for the GM, maybe it will be fixed like the other things were with newer iOS11 versions.

[2017-09-14 14:24] Sdaswani commented on #453
@flodolo do you mean Denim - we are shipping Denim at the end of this week, Ebony is still in development until next week.

[2017-09-14 14:29] flodolo commented on #453
Correct, mixed them up

[2017-09-14 14:35] timonus commented on #32
Added to Opener here as well https://github.com/timonus/OpenerManifest/commit/a57a193d497c0fcd7e8604b1344a2304adc2e135, thanks gang!

[2017-09-14 15:13] Sdaswani commented on #128
@bbinto this is different because it enables a third party app to support opening links in focus from within the app, as opposed to from the iOS Share Menu. Let me know if that doesn't make sense.

@dmead28 thanks for your help here!

- I added you as a collaborator. You can push PRs now for review.
- I would follow whatever the Firefox version does, so if you are doing that, sound fine.
- Cool, w

[2017-09-14 15:20] Sdaswani commented on #453
@bkmunar will be importing locales and generating screens - you should have the screens by tomorrow: https://github.com/mozilla-mobile/focus-ios/issues/444

[2017-09-14 15:46] AaronMT commented on #376
I am running GM.

[2017-09-14 16:12] AaronMT opened #456 "Spacebar needed between UIConstants.strings.learnMore and UIConstants.strings.detailTextSendUsageData in SettingsViewController"
"Mozilla strives to collect only what we need to provide and improve Firefox Focus for everyone.Learn more."

[2017-09-14 16:21] Sdaswani commented on #376
I don't think we do anything special here - we can split the reminders issue out and handle it later.

[2017-09-14 16:25] AaronMT opened #457 "Support UIKit Drag and Drop (iOS 11)"
In Focus, I can drag a link e.g, from Hacker News and drop it into Safari and have Safari load the dropped link (e.g, in side by side). We should support the vice versa. Currently Focus will append the dropped link to the address-bar. This is helpful if I e.g, have Mail open in side by side and want to quickly drag a link into Focus.

https://developer.apple.com/documentation/uikit/drag_and_drop

[2017-09-14 16:27] boek commented on #376
Does it not add the web icon and attach the link for you?

![img_967e4dab7ccb-1](https://user-images.githubusercontent.com/1250545/30441636-e0c508b4-992e-11e7-9bb7-e62f076f1ee4.jpeg)

![img_2663](https://user-images.githubusercontent.com/1250545/30441607-c65d2100-992e-11e7-9332-9b7b6138c0e4.PNG)

[2017-09-14 16:29] Sdaswani commented on #126
I'm actually fine with it just opening yelp directly - doesn't seem like a huge deal if we don't interrupt the user flow.

[2017-09-14 16:34] lime124 commented on #96
I should add - @boek and I discussed adding some telemetry so we can get some data about how often people are turning TP off and additionally turning back on. Thanks!

[2017-09-14 16:35] boek commented on #126
So we're prompting on app urls `firefox-focus://...` I think this is an app store universal link: https://developer.apple.com/library/content/documentation/General/Conceptual/AppSearch/UniversalLinks.html

I _think_ we can disable this functionality if we want. Let me check.

[2017-09-14 16:37] AaronMT commented on #126
I prefer no warning, as a Safari user it's what I expect

[2017-09-14 16:52] Sdaswani commented on #126
Yes no need to disable - hopefully Aaron can verify this as this is expected behavior.

[2017-09-14 17:21] Sdaswani commented on #96
@boek do you need another ticket for the telemetry or will you remember as part of this ticket?

[2017-09-14 17:22] boek commented on #96
@Sdaswani added a list item to the ticket description

[2017-09-14 17:24] boek commented on #96
aha I added it in response to your question. You didn't miss anything

[2017-09-14 17:25] Sdaswani commented on #405
Done and approved by Apple with 3.7

[2017-09-14 17:25] #405 closed

[2017-09-14 17:50] #456 closed

[2017-09-14 17:50] #447 closed

[2017-09-14 18:10] Sdaswani commented on #274
Sorry @bbinto I may have confused matters a bit when I said 'new features on WKWebView only'. That doesn't mean *all* new features, necessary - only the ones where we have to interact with the WebView. For example, Save/Copy Image interacts with the WebView, but Onboarding or Tracking Protection may not. So we would maybe spend 1 month build out WKWebView support, and any new feature would hopeful

[2017-09-14 18:24] lime124 commented on #343
@boek and I just discussed the drawer width question and figured it out.

tl;dr is we are going to specify a max width for the drawer so it doesn't take up the whole screen on say an ipad in landscape, as well as have a min for the gap so that it can be an acceptable tap area to close the drawer.

[2017-09-14 18:52] Sdaswani commented on #274
<img width="1031" alt="screen shot 2017-09-14 at 11 42 34 am" src="https://user-images.githubusercontent.com/4879954/30448281-373ebc62-9943-11e7-8b63-40edc7fa234d.png">

# of trackers blocked not possible with WKWebView!

[2017-09-14 19:25] dmead28 commented on #128
@Sdaswani Thanks!

I will look into it the build issue this weekend or next week at some point. It was failing on importing some framework (Snapkit I think)? May just have to update / re-build the framework.

[2017-09-14 19:46] antlam commented on #443
@bkmunar I'm using the same icons from iOS Fennec. Can you just grab those?

[2017-09-14 19:47] SvenSchindler commented on #89
As in case of the Android version, the reason for this is the disabled localStorage. It is disabled on purpose in the App Delegate:

https://github.com/mozilla-mobile/focus-ios/blob/3227ab34fdd91e5bb03022310dcf994789da596d/Blockzilla/AppDelegate.swift#L71-L74

Setting it to true and reloading the page fixes the bug. I haven't had a look at bug 1319208 yet though.

[2017-09-14 19:58] antlam commented on #202
@bbinto I may have spoke too soon. How would you feel about Granite* instead?

Given that we have "What's New?" in Folly, I think its better to group this with the other Settings work we want to do in Granite*.

Doubly sorry because I had just moved this.

[2017-09-14 23:38] boek commented on #274
It looks like `WKWebView` supports https://developer.mozilla.org/en-US/docs/Web/API/Resource_Timing_API/Using_the_Resource_Timing_API

We could potentially use this to get the URLs and the time the browser spent downloading them to get the same information as the URLProtocol method used with UIWebView

Here is a little example of measuring the difference between content blocking enabled / disabled

[2017-09-14 23:42] Sdaswani commented on #274
@boek but does this we have to do both loads - with content blocking on and off - to get a comparison?

[2017-09-14 23:51] boek commented on #274
@Sdaswani no, those APIs give us [quite a bit](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceEntry). I think I can get all the requests where the duration was 0 and then match the URLs against the content blocker lists to get a breakdown of what was blocked.

[2017-09-14 23:54] Sdaswani commented on #274
OK, spend some time researching this, but maybe after Ebony, as we have a long list of items to work on for the Ebony release.

[2017-09-15 06:08] Sdaswani commented on #434
@boek i know this fix is in v3.8, but is it all in master? if so we can close it up?

[2017-09-15 15:54] bkmunar commented on #443
So the interesting thing here is, I'm pretty sure we use the same icons that Fennec does. The way I know this is I cross checked this locale (Turkey) among the projects and they're exactly the same.... Might need more investigation @boek any ideas on why this is happening?

[2017-09-15 16:01] bkmunar commented on #443
<img width="559" alt="screen shot 2017-09-15 at 9 00 48 am" src="https://user-images.githubusercontent.com/8356717/30492145-678a47ea-99f4-11e7-9db8-865dcaffb30a.png">
Also, this looks fine to me D:

[2017-09-15 16:17] antlam commented on #443
That's what I was saying too. 😕 so it looks like there's nothing for UX here.

Removing labels.

[2017-09-15 16:25] Sdaswani commented on #443
Sorry @antlam what do you mean by 'nothing for UX here'? Doesn't the change still require UX approval?

[2017-09-15 16:32] antlam commented on #443
@Sdaswani .... good point! I got overexcited because Friday coffee.

Approval would still be nice after we find out what the fix is :)

[2017-09-15 16:39] AaronMT commented on #126
SoundCloud - dialog
Yelp - No dialog

[2017-09-15 16:41] Sdaswani commented on #126
soundcloud is an app link, yelp is a universal link, so that is expected behavior.

[2017-09-15 16:44] AaronMT commented on #376
I was expecting the title of the active URL to be pasted into the field.

[2017-09-15 16:44] #376 closed

[2017-09-15 17:13] boek commented on #376
@AaronMT We could also do that. I wouldn't mind matching the behavior in Safari. But I do wonder how useful it is to have the link in the text field? Feel free to open another ticket :)

[2017-09-15 17:26] selimsumlu commented on #443
This issue is not specific to Turkish/Turkey. Here's a screenshot taken after setting my iPhone 6 to English/United States.
![img_0500](https://user-images.githubusercontent.com/1046789/30495289-20e3197e-9a54-11e7-9fdf-041e68f2092c.PNG)

[2017-09-15 18:12] boek commented on #434
@Sdaswani I'll get a PR targeting master in a moment

[2017-09-15 19:32] #444 closed

[2017-09-15 20:38] boek commented on #343
@antlam if I could get the assets here <3

[2017-09-15 20:43] boek commented on #443
So I think the problem here is just the image resizing artifacts. I think the assets are at 3x, (96x96px) which looks fine on my iPhone+.

 I'll play around with it a little bit to see if we can make it look better

[2017-09-15 20:50] selimsumlu commented on #443
iPad Pro 12.9-inch and iPad Air 2 screenshots for reference... I think they look fine on iPad Pro, but pixelated on iPad Air 2.

**iPad Pro 12.9-inch**
![focus-ipad-pro](https://user-images.githubusercontent.com/1046789/30502813-85ad680c-9a70-11e7-84a6-962a15de1171.PNG)

**iPad Air 2**
![focus-ipad-air2](https://user-images.githubusercontent.com/1046789/30502815-85b8c4f4-9a70-11e7-8e6d-e36f74cdbdf

[2017-09-15 21:57] joeyg commented on #433
I am still working on improving the UI but I wanted to post a screen of the work in progress. Let me know what you think: http://g.recordit.co/TpLFz8xk01.gif

[2017-09-15 23:57] Sdaswani opened #466 "Track DuckDuckGo Searches"
Like @pocmo did here: https://github.com/mozilla-mobile/focus-android/commit/2f5b47d7ecbcfb05d9b1fb3db1e3eb53e260baf9

This is a stretch for Ebony. Can punt it to Folly if needed.

[2017-09-18 07:33] ExE-Boss opened #467 "Allow changing settings without needing to erase the current session"
### Describe the problem and steps to reproduce it:
Right now, when a session is in progress, the settings button is replaced with the erase session button.

### What happened?
I navigated to a web page and lost the ability to change the settings in the middle of the current  session.

### What did you expect to happen?
That I could still access the settings in the middle of a session.

### Anythi

[2017-09-18 07:38] bbinto opened #468 "m.tmz.com - site is not usable"
URL: http://m.tmz.com

Browser / Version: Firefox Focus 3.6.1
Operating System: iOS 10.3.3
Tested Another Browser: Yes

Problem type: Site is not usable
Description: Site doesn't load
Steps to Reproduce:

From webcompat.com with ❤️

[2017-09-18 16:45] Sdaswani commented on #467
Maybe since we [removed the settings button from above the keyboard](https://github.com/mozilla-mobile/focus-ios/commit/6db44bdcb458eb056cd7a1d0a2b7e1ad03299ebf) this has become more of a challenging user flow?

[2017-09-18 17:28] antlam commented on #467
This is interesting and definitely something related to no longer having a Settings button above the keyboard.

Something for UX to think about and I'm going to leave this to @lime124 to take the lead here :)

[2017-09-18 17:32] bkmunar commented on #336
Correct me if I'm wrong, but I think this Handoff issue is included in the clipboard feature #269 per @lime124 's spec. So I'm going to dupe this

[2017-09-18 17:32] #336 closed

[2017-09-18 18:27] AaronMT commented on #467
Is this even possible? I assume toggling the trackers with an active page will require a refresh? Or do we already have the content cached and are merely stifling the visibility of elements?

[2017-09-18 18:30] Sdaswani commented on #467
That's a good point @AaronMT - a refresh would be required.

[2017-09-18 19:41] #272 closed

[2017-09-18 20:05] bkmunar commented on #466
<Url type="text/html" method="GET" template="https://duckduckgo.com/">
  <Param name="q" value="{searchTerms}"/>
  <Param name="t" value="ffocus"/>
</Url>
<Url type="application/x-moz-tabletsearch" method="GET" template="https://duckduckgo.com/">
  <Param name="q" value="{searchTerms}"/>
  <Param name="t" value="ffocus"/>
</Url>

seems like the change they made is already in Focus iOS

[2017-09-18 20:07] Sdaswani commented on #466
oh i maybe missed it? github link to line?

[2017-09-18 20:09] bkmunar commented on #466
<img width="1552" alt="screen shot 2017-09-18 at 1 09 10 pm" src="https://user-images.githubusercontent.com/8356717/30562241-9930f124-9c72-11e7-86c9-57b917ee02ff.png">

[2017-09-18 20:39] #466 closed

[2017-09-18 22:11] lime124 opened #472 "tweak info icon in settings"
The new info icon seems a bit thick. This ticket is to track updating that icon (both UX and Eng).

@shorlander Can we tweak this please!

![2017-09-18 14 45 57](https://user-images.githubusercontent.com/287322/30567063-8387bb9e-9c83-11e7-9f16-bf0ba5d34eb0.png)

[2017-09-18 22:16] antlam commented on #472
@shorlander, what are your thoughts on a  -medium version? like we have for the mobile photon toolbar, would that work better?

[2017-09-18 22:27] lime124 commented on #433
Thanks @joeyg for the pull request review. Looks like this is slated for Indigo @bbinto ?

If we want to move up the milestone b/c there is a pull request let me know so we can re-prioritize our UX backlog. Otherwise, we'll aim for getting it done for Indigo. Thanks!

[2017-09-18 22:45] lime124 opened #473 "[meta][ux] Quick access to favourite sites (requiring login)"
Let's take some time to examine the typing screen and make some improvements to it.

- [ ] #433 Auto complete for top level domains
- [ ] #469 PR for the above issue
- [ ] #250 Search suggestion feels redundant

[2017-09-19 01:53] ExE-Boss commented on #467
Yes, but a refresh doesn’t cause a loss of the current session.

Plus, when a tracker setting has been changed, a refresh can be triggered automatically when leaving the settings screen.

[2017-09-19 03:10] bkmunar commented on #381
Yeah I think all of those exist already: type_url, type_query, and select_query all in their respective places to be tracked via Telemetry

[2017-09-19 03:12] bkmunar commented on #381
Closing since all 3 events are accounted for

[2017-09-19 03:12] #381 closed

[2017-09-19 03:13] bkmunar commented on #381
https://github.com/mozilla-mobile/focus-ios/blob/83bac386e87494c4e513deb5b6c995a7ae142d5c/Blockzilla/BrowserViewController.swift#L343

https://github.com/mozilla-mobile/focus-ios/blob/83bac386e87494c4e513deb5b6c995a7ae142d5c/Blockzilla/BrowserViewController.swift#L346

https://github.com/mozilla-mobile/focus-ios/blob/83bac386e87494c4e513deb5b6c995a7ae142d5c/Blockzilla/BrowserViewController.swift#L

[2017-09-19 04:27] Sdaswani commented on #467
Also good points @ExE-Boss . We will discuss this tomorrow during our triage meeting.

[2017-09-19 12:04] bbinto commented on #433
@joeyg -- you know why I love to work for Mozilla, because of people like you who support the open source community and help us improve our product! If UX is ok, we could move it to Granite and move #202 to Indigo instead (UX t-shirt size-wise it's the same).

I'd love to align it with the Android Granite launch, submitted an issue/feature request https://github.com/mozilla-mobile/focus-android/is

[2017-09-19 18:48] antlam commented on #343
[trackingprotection-PDF.zip](https://github.com/mozilla-mobile/focus-ios/files/1315489/trackingprotection-PDF.zip)

@boek try these!

[2017-09-19 18:59] lime124 commented on #433
@bbinto that totally works. We can align this and Android work for Granite. And then we can take a look at the Safari integration (iOS) and other Settings issues we have on both platforms for Indigo.

[2017-09-19 19:01] Sdaswani opened #475 "Send Build ID in Telemetry"
@justindarc said:

[2017-09-19 19:03] justindarc commented on #475
Should be in `YYYYmmddHHMMSS` format

[2017-09-19 19:21] Sdaswani opened #476 "BuddyBuild should Upload Release Candidate"

[2017-09-19 19:22] joeyg commented on #147
A few questions:
 - Does this feature also allow users to remove a predefined search engine from the list?
 - There is no reordering of search engines (like you can in Firefox iOS), right?
 - Can users turn off search engine integration all together?
 - Are there any other differences from the Firefox iOS settings UI?

[2017-09-19 19:52] antlam commented on #147
@joeyg thanks for the interest in picking this up! those questions should be answered with the UX spec. We're just working through our priority queue ATM.

Keep an eye out for updates!

[2017-09-19 20:10] joeyg commented on #147
@antlam Cool - I'll subscribe to the issue.

[2017-09-19 20:10] boek commented on #468
It looks like the tracking protection is breaking m.tmz.com. This would be a perfect candidate for temporarily disabling tracking protection.

[2017-09-19 20:45] bbinto commented on #90
Not needed anymore for WKWebView.

Jeff to add some boolean value to code to make it work.

[2017-09-20 14:28] Sdaswani commented on #476
@st3fan has offered his help here - TIA!

[2017-09-20 18:22] Sdaswani opened #479 "License Updates"
1. Prepare a list of all code dependencies that we use to build. If possible, distinguish between ones that we take from upstream unmodified vs. ones that we have modified for our own use.

2. Run [SLIC and FLIC](https://github.com/gerv/slic) on the codebase. You should run this against the codebase as it would exist immediately before build (without webpack), with all dependencies, libraries, and

[2017-09-20 19:55] boek opened #481 "Add BuildID for Telemetry"
https://github.com/mozilla-mobile/firefox-ios/blob/master/buddybuild_postclone.sh#L21-L26
https://github.com/mozilla-mobile/firefox-ios/blob/master/buddybuild_prebuild.sh#L22-L24

[2017-09-20 21:06] #269 closed

[2017-09-21 18:27] bkmunar commented on #207
This one is complete

[2017-09-21 18:27] #207 closed

[2017-09-21 18:39] #434 closed

[2017-09-21 18:40] #335 closed

[2017-09-21 21:05] #443 closed

[2017-09-22 15:58] boek commented on #481
Dup of #475

[2017-09-22 15:58] #481 closed

[2017-09-22 19:12] Shosta commented on #203
May I work on that one.
I'd be happy to test it on iOS11.

[2017-09-22 20:11] Sdaswani commented on #203
Hi @Shosta thanks for your contribution! I think this is actually done under https://github.com/mozilla-mobile/focus-ios/issues/273, which I believe can now be closed, right @AaronMT ? That said, if you find new issues, please do let us know.

[2017-09-24 19:08] Sdaswani opened #484 "Text Collision in Landscape on iPhone 8"
![aeb5ecf7-a18b-48f9-8083-492c78480f80](https://user-images.githubusercontent.com/4879954/30785778-e6735000-a120-11e7-84dc-5a61ed4e1046.png)

[2017-09-24 19:08] Sdaswani commented on #484
It happens after erase and then clears.

[2017-09-24 19:10] Sdaswani opened #485 "Share Extension Crashing"
https://photos.app.goo.gl/BZbpLykoevTOzbUb2

[2017-09-25 17:42] lime124 opened #486 "[meta] design for iPad"
Right now the Focus app just kind of works on iPad. Let's take some time to optimize Focus for an iPad experience.

[2017-09-25 17:46] st3fan opened #487 "Erase does not work on iPad in Slide Over or Split View"
In both Split View and Slide Over mode, the Erase button can be tapped but does not do anything.

*iOS 11 GM on 9.7" iPad Pro withFocus 3.8*

![img_994a3e22a819-1](https://user-images.githubusercontent.com/28052/30822840-2b2bc92a-a1f8-11e7-9288-aff7e318cef8.jpeg)
![img_7b318bdc5c74-1](https://user-images.githubusercontent.com/28052/30822841-2b48438e-a1f8-11e7-9fd7-c4e0dd336e1d.jpeg)

[2017-09-25 17:54] st3fan opened #488 "Dragging an image also opens the context menu"
This is iPad and iOS 11 specific because it uses drag & drop. When yuo long press on an image, the WebView correctly creates a drag & drop item that you can drop for example in Notes. However, the context menu is also always opened.

*iOS 11 GM on 9.7" iPad Pro withFocus 3.8*

![foo](https://user-images.githubusercontent.com/28052/30823193-649ae6e0-a1f9-11e7-842d-a30c9d2a3f3c.jpg)

[2017-09-25 18:03] st3fan opened #489 "On iPad the Edit Menu items do not work"
When you long press on text in a web page, the Edit Menu correctly show up. But none of the items work. You can tap them but nothing happens. The menu stays up.

*iOS 11 GM on 9.7" iPad Pro withFocus 3.8*

![img_ebc332e79b04-1](https://user-images.githubusercontent.com/28052/30823478-44311626-a1fa-11e7-8f18-dbd8434de5cd.jpeg)

[2017-09-25 18:21] st3fan opened #490 "Sharing a page does not include the title"
Sharing a page from Focus does not include the page title. For example, when I share a page from Firefox to Mail, the email subject is set to the page title and the email body to the page url. When i share the same page from Focus, only the page url is put in the email body.

*iOS 11 GM on 9.7" iPad Pro or iPhone 7 with Focus 3.8*

[2017-09-25 18:27] st3fan opened #491 "Print and Save as PDF are missing from the share sheet"
Print and Save as PDF are missing from the share sheet. This is most likely a matter of adding a `UIPrintInfo` instance to the shared items.

Firefox does this at https://github.com/mozilla-mobile/firefox-ios/blob/04a9f632fd22c29e6334eb2cfac207272e681ae2/Client/Frontend/Share/ShareExtensionHelper.swift#L27

*iOS 11 GM on 9.7" iPad Pro or iPhone 7 with Focus 3.8*

[2017-09-25 18:32] st3fan opened #492 "No keyboard shortcuts available on iPad"
On iPad, Focus does not expose any keyboard shortcuts. Holding down the command key does not show the overlay with hints.

I'd love to see at least the following shortcuts:

- Command-L for *Select Location Bar*
- Command-K for *Erase*
- Command-[ for *Back*
- Command-] for *Forward*
- Command-R for *Reload*

(The above are well established and also available in Firefox, Safari and Chrome)

[2017-09-25 18:39] st3fan opened #493 "Focus is not a Drop Destination for URLs"
On iOS 11 & iPad, Focus does not register itself as a drop target for URLs.

As part of standard behaviour, the WebView accepts drops in text fields, but you cannot drop a URL on the WebView to make it load a new page. Which is something that does work in Safari that that we are trying to do in Firefox too with a workaround. See https://github.com/mozilla-mobile/firefox-ios/pull/3209 for progress.

[2017-09-25 19:00] Sdaswani commented on #366
https://bugzilla.mozilla.org/show_bug.cgi?id=1402946

[2017-09-25 21:11] bkmunar commented on #484
@antlam what do you suggest we do here?

[2017-09-25 21:31] antlam commented on #484
Yeah this is a known issue on Android too.

Let me discuss with @lime124 first

[2017-09-26 02:53] lime124 commented on #250
I think this can be added to our "bring value to the typing screen" meta bug.

[2017-09-26 06:34] #366 closed

[2017-09-26 16:46] boek opened #494 "Handle internal iOS links"

[2017-09-26 16:56] BrianNJones commented on #452
Just to reiterate: The 4 "Block <X> trackers" are longer, specific descriptions. This is the short, generic description:
Choose whether Firefox Focus blocks ads and other trackers.

@antlam, can you update to strings-approved if this works for everyone?

[2017-09-26 18:20] boek commented on #485
So, I was able to fix the bug in this case. But it brings up an interesting question.

Since Chrome and Feedly use the `text` extension types when sharing.

- Chrome uses text to store the actual URL
- Feedly posts two items.
    - `text`: The title of the article
    - `url`: the URL to the article

If we don't accept `text`, we won;'t show up in anything that shares with `text`. But this does br

[2017-09-26 18:22] Sdaswani commented on #485
Sorry @boek I guess my question is why wouldn't we want to handle both?

[2017-09-26 18:27] boek commented on #485
We do.

But lets say an application just shares `text` that contains a string that isn't a URL? I haven't seen one yet. But right now it will behave like the video (tapping our icon does nothing).

I can submit a fix and we can think about this later.

[2017-09-26 19:05] Sdaswani commented on #485
Ah understood @boek - I think if we support text and then there isn't a url handy we *have* silently fail, since we have no way to affect the UI. I think this is low cost considering the upside of supporting Focus usage, but will wait to hear from @antlam and @lime124 .

[2017-09-26 19:28] Sdaswani opened #495 "Export Strings for Folly"
As part of @liuche effort to improve the localization effort across NMX Apps, I would like her to see how the sausage is made on iOS and Android. String Freeze is September 28th. She can look for guidance on the wiki and from @boek and @bkmunar .

[2017-09-26 19:36] Sdaswani opened #496 "Import Latest l10n Strings into Repo"
We have some new strings to import into the project: https://l10n.mozilla-community.org/webstatus/?product=focus-ios

She can look for guidance on the [wiki](https://github.com/mozilla-mobile/focus-ios/wiki/Importing-Locales) and from @boek and @bkmunar .

[2017-09-26 19:36] Sdaswani commented on #495
https://github.com/mozilla-mobile/focus-ios/wiki/Adding-New-Strings-For-Localization

[2017-09-26 19:49] antlam commented on #485
Need to check my understanding here but it sounds like the question is

In Android, we fill the URL field with the text, keyboard up, and let the user easily fire off a new search with the plain text.

Could we do that here?

[2017-09-26 20:08] boek commented on #485
I like that solution! Will wait for @lime124

[2017-09-26 20:56] #475 closed

[2017-09-26 21:02] bkmunar commented on #235
<img width="545" alt="screen shot 2017-09-26 at 2 01 54 pm" src="https://user-images.githubusercontent.com/8356717/30884128-43ba52a6-a2c3-11e7-8aef-900ae1e11dca.png">

This is what it looks like when I change the text type to .URL - What specifically do we want to add here? @antlam @bbinto

[2017-09-26 21:03] bkmunar commented on #235
And probably needs UX support since Chrome's keyboard is custom and has the extra symbols on a row above the keyboard

[2017-09-26 21:22] lime124 commented on #485
That sounds like a good plan!

On Tue, Sep 26, 2017 at 1:08 PM Jeff Boek <notifications@github.com> wrote:

[2017-09-26 21:31] antlam commented on #235
Looks good to me! @lime124 thoughts? concerns?

[2017-09-26 21:34] bkmunar commented on #235
@antlam there's no spacebar tho? LOL

[2017-09-26 21:35] bkmunar commented on #235
Unless only wanted URL type texts

[2017-09-26 21:36] lime124 commented on #235
Yes I agree with @bkmunar there isn't a space bar. If this were strictly URL entry that would be totally fine, but people can also enter search strings in this box.

[2017-09-26 21:50] antlam commented on #235
@bkmunar @lime124 doh... good catch. I missed that!

[2017-09-27 04:29] joeyg commented on #492
@st3fan I didn't see an implementation for Command-K in Firefox - does that erase the URL in the location bar?

[2017-09-27 16:19] antlam commented on #452
WFM! cc @lime124

[2017-09-27 18:02] lime124 commented on #484
Here you go! tl;dr - let's remove the transparent background and replace with a solid one.

![homepage - toast](https://user-images.githubusercontent.com/287322/30929407-4d05bd72-a373-11e7-982e-86e5dd200517.png)

[2017-09-27 18:16] bkmunar commented on #484
<img width="964" alt="screen shot 2017-09-27 at 11 15 58 am" src="https://user-images.githubusercontent.com/8356717/30930046-4455e16e-a375-11e7-93d1-be5327178860.png">

@lime124 @antlam

[2017-09-27 18:18] lime124 commented on #472
the what's new design solution may actually render this moot. let's pause on this.

[2017-09-27 18:21] boek opened #501 "Homeview text cut off on iPhone SE in landescape"
<img width="882" alt="image" src="https://user-images.githubusercontent.com/1250545/30930216-dcd6d704-a375-11e7-9037-523f6941c253.png">

[2017-09-27 18:31] BrianNJones commented on #452
@lime124 reminds me that FF doesn't actually block ads. so, @antlam need to revise to:

Choose whether Firefox Focus blocks ad, analytic, social, and other trackers.

[2017-09-27 18:58] lime124 commented on #484
Hey @bkmunar can you attach a screenshot of the 7 please? I'm noticing a bit of visual displacement of the toast (text peeking out below). I want to see if that holds true on the 7 as well. Thanks!

[2017-09-27 19:00] lime124 commented on #452
Thanks @BrianNJones. /cc @Sdaswani

[2017-09-27 19:23] st3fan opened #502 "Focus does not appear in Firefox' share sheet"
The *Open in Focus* share extension does not appear when sharing a URL from Firefox. Tested with both 9.0 and 10.0 Beta.

[2017-09-27 19:35] boek commented on #502
related to #485

[2017-09-27 19:39] Sdaswani commented on #501
@lime124  https://david-smith.org/iosversionstats/ iphone 5 devices at around 10-15% of devices

[2017-09-27 19:46] bbinto commented on #484
@bbinto to check telemetry for landscape probe

[2017-09-27 19:51] st3fan commented on #502
Focus is also not showing up when sharing from Chrome on iOS.

[2017-09-27 19:51] #274 closed

[2017-09-27 19:55] st3fan commented on #502
I see this is connected to #485 but I want to make clear that this is not a crash: the extension simply is not showing at all in the share sheet.

For Firefox we recently landed this, which may be related:

https://github.com/mozilla-mobile/firefox-ios/pull/3203

[2017-09-27 19:58] boek commented on #235
https://developer.apple.com/documentation/uikit/uiresponder/1621119-inputaccessoryview

[2017-09-27 20:04] lime124 commented on #350
for reference the Android Issue: https://github.com/mozilla-mobile/focus-android/issues/1201

[2017-09-27 20:28] bkmunar commented on #484
<img width="981" alt="screen shot 2017-09-27 at 1 28 13 pm" src="https://user-images.githubusercontent.com/8356717/30936136-c0ec1bfa-a387-11e7-98de-8a239b5b43de.png">

@lime124

[2017-09-27 21:58] lime124 commented on #484
Since the iphone x isn't released yet and it looks good on phones that are release, let's not worry about the x yet.

We can tackle that when we look at the accessory GH issue as that is going to push the toast up too. Thanks!

[2017-09-27 21:59] lime124 commented on #235
mental note to self: the keyboard is also a bit taller in iphone x. also need to make sure how this impacts the toast, especially in landscape view.

[2017-09-27 22:31] #484 closed

[2017-09-27 22:34] joeyg commented on #492
@bbinto Should this go into Milestone Folly?

[2017-09-27 23:00] Sdaswani commented on #492
Maybe @joeyg but I also wonder why this needs strings?

[2017-09-27 23:25] Sdaswani opened #503 "[3.8 Crasher] OverlayView"
[2cOkHemcLCTd9SkpD8C-k.xccrashpoint.zip](https://github.com/mozilla-mobile/focus-ios/files/1338978/2cOkHemcLCTd9SkpD8C-k.xccrashpoint.zip)

[2017-09-27 23:25] Sdaswani commented on #503
You can also find this in XCode -> Organizer -> Focus -> Crashes

[2017-09-27 23:27] Sdaswani opened #504 "[3.8 Crasher] JavaScriptCore"
[CqDRoCI9iHGeqPud3tVMs4.xccrashpoint.zip](https://github.com/mozilla-mobile/focus-ios/files/1338985/CqDRoCI9iHGeqPud3tVMs4.xccrashpoint.zip)

[2017-09-27 23:30] Sdaswani commented on #224
[BL4Zh0DCwc6m1d-ViYHfKO.xccrashpoint.zip](https://github.com/mozilla-mobile/focus-ios/files/1338990/BL4Zh0DCwc6m1d-ViYHfKO.xccrashpoint.zip)

[2017-09-27 23:32] Sdaswani opened #505 "[3.8 Crasher] Telemetry"
[BbCUIPGkLCnRvBid9R_4F4.xccrashpoint.zip](https://github.com/mozilla-mobile/focus-ios/files/1338992/BbCUIPGkLCnRvBid9R_4F4.xccrashpoint.zip)

[2017-09-27 23:35] Sdaswani opened #506 "[3.8 Crasher] UIKit"
[BEPt6Fixo4f9S3nC7yCEoS.xccrashpoint.zip](https://github.com/mozilla-mobile/focus-ios/files/1339007/BEPt6Fixo4f9S3nC7yCEoS.xccrashpoint.zip)

[2017-09-27 23:58] Sdaswani opened #508 "Write Sentry Entry for Focus"
This doc is a good template: https://github.com/mozilla-mobile/firefox-ios/wiki/Crash-Reporting-with-Sentry

I think we may as well cover both iOS and Android in the same doc and just place it in a common location or link to it from one project.

This was requested by @liuche during data review: https://bugzilla.mozilla.org/show_bug.cgi?id=1402946

[2017-09-27 23:59] joeyg commented on #492
@Sdaswani The PR includes strings for the overlay displayed to iPad users when they old down CMD.

[2017-09-28 00:04] Sdaswani commented on #492
@BrianNJones @lime124 is this string OK for this:

"Select Location Bar"

[2017-09-28 01:13] st3fan commented on #476
Yeah let me know if I can help with this. Been through the same thing for Firefox.

[2017-09-28 16:13] AaronMT opened #509 "Unable to scroll to top in landscape view (via status bar touch)"
Tested via (9c53ef7c99625065c5d72467ffa86a327b0e51da) in an iPhone 8 (iOS 11.0) simulator

=> http://netflix.com
=> [**Portrait**] scroll down, tap the status bar
=> See the view scroll to the top
=> [**Landscape**] scroll down, tap the status bar
=> Unable to scroll to the top

In Safari, while the status bar is not visible in landscape. Touching the thin border around the navigation bar will scr

[2017-09-28 16:19] AaronMT opened #510 "Ports in a URL fail to query"
Tested via (9c53ef7c99625065c5d72467ffa86a327b0e51da) in an iPhone 8 (iOS 11.0) simulator

Discovered while trying to access a network share.

=> 63.245.215.20:80 ([mozilla.org](http://www.mozilla.org))

[2017-09-28 16:59] boek opened #511 "Pixelated toolbar icons"
On 2x size it looks like the toolbar icons aren't rendering correctly.

<img width="795" alt="image" src="https://user-images.githubusercontent.com/1250545/30979813-b4d59d1c-a433-11e7-811d-52d783d289ee.png">

<img width="785" alt="image" src="https://user-images.githubusercontent.com/1250545/30979808-b0083ca4-a433-11e7-9fde-d35e08efede5.png">

[2017-09-28 17:05] lime124 commented on #511
It's pretty random and seemingly arbitrary. For example the share button will be fine and then it will be pixelated. It's kind of crazy making.

[2017-09-28 18:11] lime124 commented on #511
a few more thoughts...
- I haven't see the refresh or X get pixelated
- The back seems to always be pixelated
- The share and forward flip between pixelated and not. It seems like on a page reload

Also, when I killed the app and restarted it - the share icon when from good to pixelated.

[2017-09-28 20:58] liuche commented on #343
Handling the strings-approved labels - not doing anything for this meta bc it doesn't look like it has any strings.

[2017-09-28 21:02] bkmunar commented on #489
<img width="1320" alt="screen shot 2017-09-28 at 2 00 19 pm" src="https://user-images.githubusercontent.com/8356717/30990267-7c383c4a-a455-11e7-8a22-b58db05104a3.png">
<img width="1320" alt="screen shot 2017-09-28 at 2 00 39 pm" src="https://user-images.githubusercontent.com/8356717/30990278-8399b11c-a455-11e7-91e2-91f6e0b81db9.png">

Tried this on the new WKWebView branch and although the options

[2017-09-28 21:02] #489 closed

[2017-09-28 21:03] liuche commented on #96
This string looks like it's already been added, so I'm not going to include it it in the Folly string export. I'm not sure why it's still flagged for strings-approved, but we should definitely improve this system!

[2017-09-28 21:03] bkmunar commented on #489
@boek ^^^^

[2017-09-28 21:05] liuche commented on #144
With respect to strings export for l10n, it looks like these strings are already covered by #343 and #96 so there are no strings to add for Folly l10n string export for this issue.

[2017-09-28 21:11] boek commented on #489
@antlam @lime124 It looks like we'll lose the Select All action in the WKWebView transition. Is that OK?

[2017-09-28 21:30] bbinto opened #514 "Add 'multiple tabs' support"
To be aligned with Android.

[2017-09-28 21:38] lime124 commented on #489
I'm guessing we don't have a choice so the question is do we want to file an issue to create our own "select all" functionality.

Do we know what Firefox did/does?

My gut says it's fine but I'm flagging @bbinto in case she wants to weigh in.

[2017-09-28 21:43] lime124 commented on #492
I'll let @BrianNJones make the final call on this.

[2017-09-28 21:59] #495 closed

[2017-09-28 22:04] Sdaswani opened #516 "Re-implement 'Select All' in Action Menu"
@bkmunar feel free to change estimate if S is wrong.

https://github.com/mozilla-mobile/focus-ios/issues/489#event-1270609227

[2017-09-28 22:04] Sdaswani commented on #489
Firefox does not have 'Select All' but it does have 'Find in Page', which is probably custom. I would recommend we don't go backwards so I've created an issue to have 'Select All' re-implemented. https://github.com/mozilla-mobile/focus-ios/issues/516

[2017-09-28 22:09] Sdaswani commented on #96
Agree @liuche we have a lot of manual steps in our process, such as:

1. someone needs to add 'needs triage' to every new ticket
2. engineers need to remove 'strings approved' when they export the string

:(

[2017-09-28 22:44] boek commented on #487
@st3fan hmm I'm not able to reproduce this and I have the same setup as you

[2017-09-28 22:49] bkmunar commented on #487
![ezgif-4-36ad9eb2de](https://user-images.githubusercontent.com/8356717/30993588-7faf3edc-a464-11e7-90e8-1c665059f711.gif)

Yeah, just tried it on the simulator with the exact specs and it worked (although I am on the wkwebview branch, but that shouldn't matter).

[2017-09-28 22:53] Sdaswani commented on #487
@boek did you try it on an actual device?

[2017-09-28 23:09] boek commented on #487
Yeah iPad Pro 9.7 running iOS 11 GM

[2017-09-28 23:11] Sdaswani commented on #487
I'll try tonight too.

[2017-09-29 04:48] Sdaswani commented on #487
STR:

1. force close all apps
2. open host app (which is capable of multitasking)
3. slide over with focus (ERASE will work)
4. dock focus with host app (ERASE will **not** work)
5. slide focus out into slide over (ERASE will **not** work)

[2017-09-29 05:24] Sdaswani commented on #487
STR video here: https://drive.google.com/a/mozilla.com/file/d/0BzUgKmpyzGztYXNPRWJyQ2VoQ2pZZGl3TWtDUlktYlUyVzZF/view?usp=sharing

[2017-09-29 13:50] bbinto commented on #489
I'm fine with going with the WKWebView default and address #516 sometime in the future (not blocking). Good reminder to see if/how often users tap this event in the first place. I couldn't find any probe that tracks that.

[2017-09-29 15:47] bbinto commented on #171
closing, see https://github.com/mozilla-mobile/focus-ios/pull/480

[2017-09-29 15:47] #171 closed

[2017-09-29 16:21] lime124 commented on #489
@boek and I talked about this yesterday and from what I understand we don't have the ability to add telemetry or see how often people tap this. There doesn't seem to be a way to get data on it.

I understand @Sdaswani comment about not going backwards and I _generally_  agree I don't like doing that either. BUT - from what we can tell Chrome, Safari, and Firefox all dropped this so we need to eval

[2017-09-29 17:16] Sdaswani commented on #489
Fair enough @lime124 . Feel free to close 516 if you guys determine we won't need 'Select All' any longer.

[2017-09-29 17:27] bkmunar commented on #487
love STRs thank u!!

[2017-09-29 17:59] Sdaswani commented on #204
@npark-mozilla @st3fan can you give us details on how you automated this for Firefox?

[2017-09-29 21:26] Sdaswani commented on #204
@pocmo can maybe also tell us more about how to use taskcluster for this.

[2017-10-02 18:07] #491 closed

[2017-10-02 18:11] AaronMT opened #518 "Erase non functional after keyboard dismissal"
=> Tap the address bar
=> Enter '**test**'
=> Dismiss the keyboard
=> Tap the address bar
=> Query on test (tap Go) on keyboard
=> Attempt to tap **Erase**

Other STR

=> Tap the address bar
=> Dismiss keyboard
=> Tap the address bar and go to a site
=> Attempt to tap **Erase**

Erase is non-functional.

Reproducible on my iPad Pro (landscape) on iOS 11 with latest master (5dd6e0c58d0a3cfecd41a105

[2017-10-02 19:04] #494 closed

[2017-10-02 19:07] boek commented on #440
Fixed with #498

[2017-10-02 19:07] #440 closed

[2017-10-02 19:09] #172 closed

[2017-10-02 22:29] #518 closed

[2017-10-03 00:04] Krishna commented on #503
I started taking a look into this issue.

The crash logs indicate that the problem manifests in the ```OverlayView setAttributedButtonTitle(phrase: button:)``` method.

So I pulled out the relevant code into a Playground (attached) with some minor refactoring to make it easier to push in different test data.

[firefox-focus-overlay-bug-2.playground.zip](https://github.com/mozilla-mobile/focus-ios/

[2017-10-03 14:46] BrianNJones commented on #94
@antlam @lime124, as we discussed yesterday, let's pull in the relevant approved content from Firefox for Android and discuss further for subsequent releases. Strings below repurposed from Michell's updates for Firefox for Android. Pls update to strings-approved upon review.

<Card 1>
Power up your privacy
Take private browsing to the next level. Block ads and other content that can track you acro

[2017-10-03 16:06] bbinto commented on #514
Idea here is to get some feedback about current Android tab implementation first

[2017-10-03 16:10] bbinto commented on #510
@boek let's see if this is still an issue with the new webview

[2017-10-03 16:11] bbinto commented on #509
@lime124 will start investigating and breaking down the issue in UX tasks

[2017-10-03 16:17] bbinto commented on #228
This should be fixed once we have the option to turn on/offf blocking per session/site #96

[2017-10-03 16:42] bbinto commented on #46
see #147

[2017-10-03 16:42] #46 closed

[2017-10-03 16:48] #323 closed

[2017-10-03 17:12] AaronMT opened #524 "Progress bar still visible on stop"
=> CNN.com
=> Hit '**Stop**'

See progress bar still visible.

We should match Firefox and hide the progress bar on '**Stop**'

Tested with v3.8

[2017-10-03 21:07] boek commented on #504
This crash only happens with iOS 11. I've looked through our codebase and our dependency for anything that could be using JavaScriptCore but haven't found anything yet. This leads me to believe they might have broken some compatibility with UIWebView? Maybe that's why they dont want anyone using it?

[2017-10-03 21:48] boek opened #525 "[Regression] Back/Forward buttons don't change between page loads"

[2017-10-03 22:24] bkmunar commented on #503
First, I tried testing in different locales to see if any sort of specific and unique characters were causing the crash in OverlayView. I tried Arabic and various other languages, putting in anything and everything in the native keyboard, but to no avail. I tried putting in super long strings as well.

Also, I realized this crash ONLY started occurring after the Swift 4 port, so maybe it had to do

[2017-10-04 03:17] lime124 commented on #350
![ixd flow - what s new ios](https://user-images.githubusercontent.com/287322/31158601-a914138a-a877-11e7-90d8-e90f1babfcbc.png)
![visual design - what s new ios](https://user-images.githubusercontent.com/287322/31158602-a91aaf42-a877-11e7-8dae-53cd61ea8146.png)

@antlam - will provide the Settings icon with the indicator.
I will provide the icon for Settings
@BrianNJones - there is only one strin

[2017-10-04 09:05] pocmo commented on #204
The very short summary is:
* We are using Taskcluster: https://docs.taskcluster.net/
* Taskcluster uses our Docker image with all Android dependencies: https://github.com/mozilla-mobile/focus-android/blob/master/tools/docker/Dockerfile
* We then start and run an emulator on taskcluster: https://github.com/mozilla-mobile/focus-android/blob/master/tools/taskcluster/take-screenshots.sh
* The script e

[2017-10-04 12:44] bbinto commented on #350
Going into settings to view release notes / "what's new" seems like a redundant additional step (step 2.) to me, but I assume there is not better/easier way to indicate the "what's new" notification badge.

[2017-10-04 12:54] Krishna commented on #503
I opened a PR https://github.com/mozilla-mobile/focus-ios/pull/526 with some light refactoring + added a comment about the Pasteboard issue to the relevant bit in the code.

Not a fix unfortunately, but hopefully will make the issue easier to test, and for any replacement logic to easily be substituted in.

[2017-10-04 14:50] BrianNJones commented on #350
Would we ever consider on of the screen-bottom interactions that have
become common for updates to privacy policy...the "We've updated our
prirvacy policy. Click to read more" treatments. Problems are that they
require user interaction to dismiss (doesn't seem to align with Focus
ethos) and that a user would potentially get the interruptor every couple
weeks.

On Wed, Oct 4, 2017 at 7:44 AM, Barba

[2017-10-04 15:20] lime124 commented on #350
Hey @bbinto I explored a bunch of different ideas and, given our two big constraints of not cluttering the homescreen and using a webpage, this was the best solution. I'm happy to go into more detail if you want.

Both Android and iOS have the same basic interaction premise and each require two taps.

Android: 1) Tap overflow icon to open menu. 2) Tap What's New in menu
iOS: 1) Tap Settings icon 2

[2017-10-04 15:34] lime124 commented on #350
@BrianNJones that idea was one of the ideas I explored and it just didn't work for our constraints and goals. (he and I chatted more over Slack)

[2017-10-04 15:37] bbinto commented on #350
I figured @lime124 -- you are the expert and you've tried to find the best solution considering all the constraints and requirements.

Sorry if I missed this, if I don't click the update notification, will it ever go away on its own?

[2017-10-04 16:05] lime124 commented on #350
Yes - it will go away after 3 sessions.

[2017-10-04 16:07] BrianNJones commented on #350
Let's update "About" to "About Firefox Focus." Otherwise, seems like it's
"About Mozilla."

On Tue, Oct 3, 2017 at 10:17 PM, Tiffanie Shakespeare <
notifications@github.com> wrote:

[2017-10-04 16:23] lime124 commented on #350
[icon-highlights.imageset-20171004T162201Z-001.zip](https://github.com/mozilla-mobile/focus-ios/files/1356591/icon-highlights.imageset-20171004T162201Z-001.zip)

Here's in the icon for settings.

[2017-10-04 18:02] #525 closed

[2017-10-04 18:02] boek commented on #496
Can this be closed by: 742b119442ebf20da87827b43c881290425815cd ?

[2017-10-04 20:09] #496 closed

[2017-10-04 22:10] bkmunar commented on #488
Waiting until WkWebView transition branch is merged into master -- my assumption is that this will be fixed when that is merged.

[2017-10-04 22:26] bkmunar commented on #488
Fixed with WKWebView -- tested on iPad Pro 9.7 inch sim

[2017-10-04 22:26] #488 closed

[2017-10-05 16:55] Sdaswani commented on #524
reproduced and yes should be fixed.

[2017-10-05 18:56] antlam commented on #487
I think the fundamental bug here is that we are not showing the Phone UI (Top bar and bottom bar) in this split view. This is something that I noticed Safari doing - screenshot below:

![img_3a9f37ec943f-1](https://user-images.githubusercontent.com/1994820/31247007-1b5aa93e-a9c4-11e7-92dc-150ec7b42165.jpeg)

Instead of trying to show "Tablet UI" (only top bar) in this split view, why don't we star

[2017-10-05 19:23] Sdaswani opened #529 "Update Scripts / Docs to Use New Repo"
@stefan said: "Sorry if I was not clear, the firefox-ios-build-tools repository has been renamed to ios-l10n-script. So you will most likely need to make a change to your strings workflow too.

I did not give a more advance warning because I saw that you have not integrated these scripts in your buddybuild_*.sh scripts."

So we should update all of our tooling and docs to use this new repo.

[2017-10-05 21:18] antlam opened #531 "Use "iPhone" UI/layout for multitasking/split-view"
In issue #487, Stefan pointed out that the Erase button doesn't work. But I noticed the UI is also incorrect. The width of the slide-over UI is more akin to that of a phone, so we should be using a phone there, like Safari. But for some reason we're forcing a Tablet UI into that small box right now.

Screenshot of Safari:
![img_3a9f37ec943f-1](https://user-images.githubusercontent.com/1994820/3124

[2017-10-05 22:11] lime124 commented on #235
this isn't super high priority, i'm going to move this to the parking lot and we can tackle it when we can.

[2017-10-05 22:14] lime124 commented on #346
I'd like to move this iPad Settings improvement to Indigo when we would like to tackle the iphone and android settings re-org work.

[2017-10-05 22:23] lime124 commented on #346
ugh sorry many mistaps.

[2017-10-05 23:09] #524 closed

[2017-10-06 02:49] dmead28 commented on #128
Just opened the PR for this. Tried connecting it to this issue, but doesn't seem to be working? I copy / pasted the url, but not sure what it needs

[2017-10-06 15:35] bbinto commented on #235
Ok, @lime124, I might be missing some context here, could you please clarify who made the call it's not a high priority and based on what criteria?

[2017-10-06 16:05] #485 closed

[2017-10-06 16:06] #502 closed

[2017-10-06 17:08] lime124 commented on #235
@antlam and I discussed it yesterday and he said it's a "nice to have"
hence it being moved to the parking lot.

On Fri, Oct 6, 2017 at 8:35 AM Barbara Bermes <notifications@github.com>
wrote:

[2017-10-06 18:00] bkmunar commented on #529
@boek I don't think Focus touches firefox-ios-build-tools... Can you double check for me? I checked the buddy build scripts, importing locales script... nothing Focus directly uses. Only thing I know is when exporting strings we use the firefox-ios-build-tools directly, but since we use it directly, there's nothing we need to change in Focus. If Focus isn't dependent on it, then I'll close the iss

[2017-10-06 18:01] AaronMT commented on #510
On master, Focus wants to open the aforementioned address in a different app. On confirmation, it attempts to query the URL but continues to fail.

[2017-10-06 18:16] AaronMT opened #533 "Retain keyword search rather than resolved address after query"
Currently, after selecting a keyword search e.g, input '**Mozilla**' and tapping "**Search for Mozilla**", we resolve the full URL as expected. On tap of the address bar, and then a keyboard dismissal, we expose the entire URL in the "**Search for**" field. On tap of that, a search is conducted with the entire search URL, e.g, with Google as my default, the entire search URL is input into the Goog

[2017-10-06 18:26] bkmunar commented on #508
https://github.com/mozilla-mobile/focus-ios/wiki/Crash-Reporting-with-Sentry

someone review plz

[2017-10-06 19:26] boek commented on #505
It looks like this is crashing on this line https://github.com/mozilla-mobile/telemetry-ios/blob/master/Telemetry/TelemetryEvent.swift#L33

But I haven't been able to reproduce. At first I thought it could be optional unwrapping, but I don't know why the stack trace wouldn't go into the init/helper methods. Could ` UIntMax(Date().timeIntervalSince(type(of: self).AppLaunchTimestamp) * 1000)` cause

[2017-10-06 22:58] boek commented on #89
![image-1](https://user-images.githubusercontent.com/1250545/31301488-1e7dc592-aaaf-11e7-8009-4b882e25c4e0.jpg)

Looks like it was fixed with WKWebView. Feel free to re-open!

[2017-10-06 22:58] #89 closed

[2017-10-06 23:49] boek commented on #508
@bkmunar LGTM.

[2017-10-06 23:51] boek commented on #529
@bkmunar we referenced it here: https://github.com/mozilla-mobile/focus-ios/wiki/Adding-New-Strings-For-Localization

I updated the docs, we can close this :)

[2017-10-06 23:51] #529 closed

[2017-10-08 02:09] wcbeard opened #537 "Unable to reach url containing ñ"
When I tried to navigate to the page
https://es.wikipedia.org/wiki/Anexo:Elecciones_en_España

I get the message "a server with the specified hostname could not be found"

<img width="375" alt="image" src="https://user-images.githubusercontent.com/379413/31313192-3e42ec36-aba9-11e7-893e-d794267809f8.png">

I don't know if it warrants a separate issue, but the following link has that same behavior,

[2017-10-09 17:14] #505 closed

[2017-10-09 18:17] bkmunar commented on #487
Dupe: https://github.com/mozilla-mobile/focus-ios/issues/518

[2017-10-09 18:17] #487 closed

[2017-10-09 18:17] Sdaswani commented on #228
@bkmunar please check if the new WKWebView implementation has fixed this.

[2017-10-09 18:18] bkmunar opened #539 "Use Mobile Layout for Focus doing Split View"
@antlam @lime124

[2017-10-09 18:19] bkmunar commented on #539
Should I just go through with this? Everyone's doing it!

[2017-10-09 20:34] sblatz opened #542 "Drag and drop from the URL bar is not supported"
Users should be able to tap and hold on the URL bar in order to drag the URL into another application. See Safari's implementation of this for reference.

Follow https://github.com/mozilla-mobile/focus-ios/pull/541 for updates.

[2017-10-09 21:43] Sdaswani commented on #508
@bkmunar to generate a crash to fill in focus specific stuff here: https://github.com/mozilla-mobile/focus-ios/wiki/Crash-Reporting-with-Sentry

[2017-10-10 16:31] #90 closed

[2017-10-10 16:31] boek commented on #90
WKWebView in Folly

[2017-10-10 18:21] Krishna opened #543 "Code signing/Provisioning Profiles - Not possible to test on devices"
I couldn't manage to get Xcode to deploy the code to my debugging device.

I tried turning on Xcode's "Manage provisioning" feature, but also ran into code-signing issues.
(I am assuming this is because I am not on the relevant Mozilla team/provisioning profile).

It would be good to have a target which is easily deployable and tested on an actual iOS device.

[2017-10-10 18:25] antlam commented on #539
@bkmunar how is this different to https://github.com/mozilla-mobile/focus-ios/issues/531 ?

[2017-10-10 18:34] bkmunar commented on #539
I didn't know the issue was already created!

[2017-10-10 18:35] bkmunar commented on #539
Dupe of #531

[2017-10-10 18:35] #539 closed

[2017-10-10 23:41] boek commented on #542
Good step towards completing #457. 👍

[2017-10-11 02:46] marchiore commented on #533
I've send a pull request for this.

https://github.com/mozilla-mobile/focus-ios/pull/544

[2017-10-11 03:02] liuche opened #545 "Export Strings for Granite"

[2017-10-11 04:50] Sdaswani commented on #545
Do we have strings for iOS? cc @boek @bkmunar

I don't see anything on this list: https://github.com/mozilla-mobile/focus-ios/milestone/7

[2017-10-11 14:09] AaronMT opened #547 "Unable to share iOS 'News' to Focus"
=> Install Focus
=> Launch News
=> Tap Share

Focus is missing from the top activity list. Focus is missing from bottom activity list.

[2017-10-11 14:13] AaronMT commented on #335
See also https://github.com/mozilla-mobile/focus-ios/issues/547

[2017-10-11 14:19] Sdaswani commented on #547
Hopefully this is a quick fix?

[2017-10-11 14:29] AaronMT opened #548 "Historical backward page cache retained after erase"
=> http://nba.com
=> Erase
=> http://www.mozilla.org
=> Backwards button now visible, tap backwards multiple times

User lands on NBA.com

[2017-10-11 14:45] AaronMT opened #549 "Main layout becomes skewed and unusable post Erase (with conditions)"
=> http://nba.com
=> While loading, tap Erase
=> If successful you will see 'about:blank' in the address-field
=> Visit mozilla.org

See screenshot.
![img_0142](https://user-images.githubusercontent.com/102331/31447966-47977386-ae71-11e7-8cc6-6e524c357dc9.PNG)
The only way to restore usability is to close and re-open the application.

[2017-10-11 14:50] AaronMT commented on #548
This is reproducible on 3.8. Folly?

[2017-10-11 14:52] AaronMT commented on #549
This is reproducible on 3.8.

[2017-10-11 15:08] AaronMT opened #550 "Restart of Focus required for changes to ad-blocking to take effect"
Currently, a restart of Focus is required for changes to ad-blocking to take effect.

=> http://neogaf.com

See missing advert

![screen shot 2017-10-11 at 11 05 43 am](https://user-images.githubusercontent.com/102331/31449154-2d022ff4-ae74-11e7-9423-0e986088d2a6.png)

Tap Erase. Head to Settings and disable everything.

![screen shot 2017-10-11 at 11 06 27 am](https://user-images.githubuserconten

[2017-10-11 15:23] AaronMT commented on #549
There seems to be a race condition here.

[2017-10-11 17:47] boek commented on #545
@Sdaswani I think we're good on strings this release

[2017-10-11 17:48] Sdaswani commented on #545
https://www.youtube.com/watch?v=JY-1ZxYiE8I

[2017-10-11 17:48] #545 closed

[2017-10-11 18:13] AaronMT commented on #537
Thanks for the report. We'll check this out during our bug triage.

[2017-10-11 18:14] AaronMT commented on #542
Firefox for iOS Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1399927

[2017-10-11 20:52] liuche commented on #545
Okay, I opened this issue because yesterday it looked like "Add Search Engine" was still part of Granite. @Sdaswani I see the [strings-approved label](https://github.com/mozilla-mobile/focus-ios/issues?q=is%3Aissue+is%3Aopen+label%3Astrings-approved) with a single item (just not in this milestone). Is that something that we're doing at some point? Or just going to wait for a different milestone la

[2017-10-11 21:25] Sdaswani commented on #545
Yes it's slotted for Indigo, and it's probably strings approved since it's using the same strings from Android (which has implemented it already).

[2017-10-12 01:01] #549 closed

[2017-10-12 01:01] #548 closed

[2017-10-12 14:33] marchiore commented on #547
I look for a solution for this, and a think the problem that the project is missing an App Extension.

I made some test in my local dev environment, create an Action Extension and it starting to appear when i open share options, but now i don't know how to open the url inside Focus and neither how to put a custom logo in there.

![simulator screen shot - iphone 8 plus - 2017-10-12 at 11 29 162](ht

[2017-10-12 17:34] farhanpatel opened #553 "WebRTC IP leak using VPN"
### Update as of July 30th, 2021

 - On iOS 15 Beta 4 my real IP is not exposed through WebRTC while I am connected through a VPN.
 - Similar to iOS 14.7.1

Closing this ticket because it doesn't seem that this is an issue with iOS.

### Original Issue

This is an issue I saw reported via SurveyGizmo. Doing some googling Im seeing this issue show up in other browsers as well. It looks like it was

[2017-10-12 18:16] bkmunar commented on #547
Hey! So we already have an action extension in the project, so I think it's maybe a matter of adding the type of information we detect to send it to the client? Maybe push a pull request in and let me and @boek take a look at it?

[2017-10-12 20:33] boek commented on #543
@Krishna Getting Focus to a state that our contributors can easily build on their own devices has definitely been on our radar. Having another target is a good idea!

[2017-10-13 02:09] marchiore commented on #547
@bkmunar I solved it and sent a pull request https://github.com/mozilla-mobile/focus-ios/pull/554 !!

<img width="231" alt="screen shot 2017-10-12 at 22 51 47" src="https://user-images.githubusercontent.com/648079/31527140-bb419e70-afa1-11e7-9738-5af1ad666b60.png">
<img width="287" alt="screen shot 2017-10-12 at 22 51 37" src="https://user-images.githubusercontent.com/648079/31527142-bb6ffa5e-afa1

[2017-10-13 13:50] Sdaswani opened #555 "Add App Store Icon"
Per @st3fan : "You need to add a 1024x1024 icon to your app assets inside the app. So not on iTunes Connect, but in the app like the home screen icons. I think it is called the "App Store Icon"."

[2017-10-13 13:50] Sdaswani opened #556 "Update Adjust SDK"
There is new version that support iOS11.

[2017-10-13 14:12] AaronMT commented on #490
This doesn't work for me. Attempt to share any article off of e.g, http://cnet.com to Mail. All I get is the URL in the subject field.

[2017-10-13 14:15] Sdaswani opened #557 "Update Sentry SDK and enable for all builds"

[2017-10-13 15:27] AaronMT opened #558 "WebView layout becomes skewed on orientation change"
Tested via (c9bbec324cd94a1edb966e8386bfb0db01db4246) on my iPad Pro (9.7) [iOS 11]

**Landscape Orientation**

1. Visit mozilla.org
2. Hit **Erase**

**Portrait Orientation**

1. Visit mozilla.org

See screenshot

![img_b92d7f3e7718-1](https://user-images.githubusercontent.com/102331/31553776-88c569e6-b009-11e7-99e6-b9daf22697d6.jpeg)

[2017-10-13 15:32] AaronMT opened #559 "Unable to tap any link off of Yahoo Search results (Default) on my iPad"
Tested via (c9bbec324cd94a1edb966e8386bfb0db01db4246) on my iPad Pro (9.7) [iOS 11] as well as 3.10 on TestFlight

Search 'Toronto' in Yahoo (default engine). Attempt to tap any link off the search results.

[2017-10-13 15:47] AaronMT commented on #558
Seems reproducible on the iPhone too

[2017-10-13 17:40] #555 closed

[2017-10-13 17:55] Sdaswani opened #564 "Use 1.0 of Telemetry Library"

[2017-10-13 18:09] #556 closed

[2017-10-13 20:05] #558 closed

[2017-10-13 20:05] #550 closed

[2017-10-13 20:08] boek commented on #559
the links on the desktop version have a `target="_blank"` value. Which opens a new tab in Safari/Firefox. But we don't have tabs yet. I think I might be able to continue to open it in the same view

[2017-10-13 23:19] #531 closed

[2017-10-14 00:06] marchiore commented on #537
The problem is not the 'ñ' character, because we already has a validation that encode this characters:

[code]

But the prefix 'https://' in the url. So the Focus makes the new url start with **http://**

http://https://es.wikipedia.org/wiki/Anexo:Elecciones_en_España

I made a pull request # 571 with a possible solution to this. If that is not the best way to resolve it, I'd like to hear your sug

[2017-10-15 02:00] Sdaswani opened #572 "Focus ‘Erases’ when backgrounded / foregrounded"
I guess this is sort of a feature but it’s not what Focus users are probably used to.

[2017-10-15 02:48] AaronMT opened #573 "Crash on return to Focus from external application"
* Install latest build on Test-Flight **(3.9) [860]**
* Install Reddit (official client) from the App Store

=> http://google.com

=> Search for 'Reddit'
=> Scroll down and tap the 'Free' link on the Reddit client App Store link

![img_0066](https://user-images.githubusercontent.com/102331/31581155-78d42c92-b131-11e7-8beb-e8e1b51271d0.JPG)

=> Once Reddit opens, tap 'Back to Focus'

Focus crashes

[2017-10-15 02:49] #559 closed

[2017-10-15 02:51] AaronMT commented on #572
There is a race condition, you won't lose your page if you background and restore quickly.

[2017-10-15 02:54] AaronMT commented on #573
Alternatively,

=> http://dropbox.com/ipad
=> Click **'Download on the App Store'**
=> Tap Back to Focus

[2017-10-15 03:10] boek commented on #572
Ah, that was the missing piece I needed. Thanks @AaronMT!

[2017-10-15 04:03] boek commented on #572
tracking: mozilla-mobile/telemetry-ios#46

[2017-10-15 04:16] boek commented on #573
Related to #572

[2017-10-15 04:18] #564 closed

[2017-10-16 17:00] #573 closed

[2017-10-16 17:28] lime124 opened #575 "loading indicator for webpages"
When our UI loads a webpage, as in the case of What's New or Help, there is not a loading indicator shown so you are looking at a blank, black page wondering what's going on.

This issue is to address showing a loading indicator for any support type webpage we point to in our app. (accessed via settings, not the general browsing UI).

[2017-10-16 19:51] Sdaswani commented on #476
This is now possible, but for build failures, which are a more common, unrelated problem.

[2017-10-16 19:51] #476 closed

[2017-10-16 23:34] lfxc opened #579 "bug: type in weather.com and browser chokes"
shows http://weather.com, hangs for a while, and then displays a white screen with no back or forward buttons visible.

hitting reload from the white page shows loading from https://weather.com but never fully loads the entire page and back and forward button still never show.  Hitting reload once more produces same results.

tried again with all blocking disabled, same results.  Note:  safari int

[2017-10-16 23:53] marchiore commented on #579
I can't reproduce this error.

Steps that i made:

- Open Focus
- Click URL bar and typed **weather.com**
- Load the page without problem

What is your iOS version? I made this test on a iPhone 6 with 11.0.2

[2017-10-17 01:21] lfxc commented on #579
Just tried again with same results.    iOS 11.0.3 on iPhone 6s.   I’m going to uninstall Focus, reinstall, and try again.  Stand by

[2017-10-17 01:28] lfxc commented on #579
Same results after reinstalling focus

[2017-10-17 01:39] marchiore commented on #510
Hey @bbinto and @AaronMT. I was looking to solve this problem, and i noticed that this is related with another issue, that i already sent a pull request https://github.com/mozilla-mobile/focus-ios/pull/571, i just have to make a regex validation for the url.

Can you check if i made this is a good solution?

Thanks in advance!

[2017-10-17 01:40] marchiore commented on #579
Are you over a wi-fi or a cellular data connection?

[2017-10-17 01:55] AaronMT commented on #510
@boek can verify, or we can verify this bug if the other lands

[2017-10-17 08:12] liuche commented on #508
Thanks for the documentation. r+ on data-review from me, comments in the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1402946#c5

All data collection also needs an owner who is responsible for making sure that data being collected is used, or removing the data collection if it's determined to not be needed anymore. I'm assuming that is @Sdaswani here, correct me if I'm wrong!

[2017-10-17 08:12] #508 closed

[2017-10-17 15:14] lfxc commented on #579
more info:  weather.com seems to work on ipad w/ iOS 11.0.3, but not on iphone 6s 11.0.3.    For iphone,  It appears that when it hits the first ad on the page it doesn't display anything after that.   I also noticed that on the ipad (where it works) that the layout appears to change to horizontal after the page location of the removed ad.  Based on the ipad behavior, I put the iPhone into landsca

[2017-10-17 15:17] Sdaswani commented on #508
yes, that's me @liuche , thanks for the review!

[2017-10-18 11:04] lfxc commented on #579
I had 2 other people try it, one with iOS 11.0.3 and another with 11.0.2 and it worked for them.  I have no idea why it's not working on my phone, closing this one regardless.  thanks for checking.

[2017-10-18 11:04] #579 closed

[2017-10-18 22:43] mcomella opened #581 "`carthage boostrap` reports "The dependency graph contained a cycle""
I pulled master and upgraded to the latest carthage. `carthage build` & `carthage bootstrap` both reported this error:
[code]

master is 01dac80, which reverts to an older telemetry library. I checked out a previous revision, 083d98a, which is before the telemetry library was added and reverted, and it works correctly. I think there's a problem with the backout (perhaps `Cartfile.resolved` was not

[2017-10-18 22:54] Sdaswani commented on #581
@mcomella because we were using hashes earlier. agree it's not good. anyhow master needs to go back to 1.0.4.

[2017-10-18 23:07] Sdaswani commented on #581
@garvankeeley said: "we had this and moved the Cartfile to be called tests-only-Cartfile: https://github.com/mozilla-mobile/telemetry-ios/blob/master/tests-only-Cartfile"

[2017-10-18 23:23] garvankeeley commented on #581
Reverting to a known good version is the right idea for now. That should be an ignorable carthage warning, except for Firefox iOS BuddyBuild treats it as an error and stops the build.

[2017-10-18 23:32] Sdaswani commented on #581
3.9er is using a known good version, we will let 1.0.4 bake in master for the next release.

[2017-10-18 23:39] Sdaswani opened #584 "Add Adjust API Key to BB Builds"

[2017-10-18 23:43] Sdaswani opened #585 "Configure Sentry DSN Keys in BB"

[2017-10-19 17:05] antlam commented on #147
[searchengine-add.pdf](https://github.com/mozilla-mobile/focus-ios/files/1399339/searchengine-add.pdf)

Got a new asset here cc @joeyg @boek

[2017-10-19 18:28] boek opened #586 "[META] Feature Flags"

[2017-10-19 18:30] #557 closed

[2017-10-19 19:14] jenn-chaulk opened #587 "[breakdown] Support Tor"
Breakdown #396

[2017-10-19 19:16] jenn-chaulk opened #588 "[breakdown] Add 'multiple tabs' support"
Breakdown #514

[2017-10-19 19:19] jenn-chaulk opened #589 "[breakdown] Update First Run UX content and UI"
Breakdown #94

Children will be linked to the tracking protection meta - #343

[2017-10-19 19:45] boek commented on #70
Works in 3.9

[2017-10-19 19:45] #70 closed

[2017-10-19 19:46] boek commented on #33
Added in 3.8

[2017-10-19 19:46] #33 closed

[2017-10-19 19:49] boek commented on #79
Added in 3.8

[2017-10-19 19:49] #79 closed

[2017-10-19 19:50] boek commented on #100
Looks like this is now working. Feel free to re-open with more information if you're still able to reproduce.

[2017-10-19 19:50] #100 closed

[2017-10-19 19:51] boek commented on #76
Looks like this is now working with WKWebView :)

[2017-10-19 19:51] #76 closed

[2017-10-19 19:55] boek commented on #128
Hey @dmead28, my apologies for the delay. I wasn't on the new Repo so never got notified of the PR. I'll take a look at it this week and get it merged :)

Thanks again for the contribution!

[2017-10-19 20:06] joeyg commented on #147
@antlam Where does this asset go? Are we intending to add the icon above the keyboard when a user taps a search box like firefox-ios?

[2017-10-19 20:08] boek commented on #234
We landed on leaving the old versions available to devices running iOS 10. All new versions will only run on iOS 11+

[2017-10-19 20:08] #234 closed

[2017-10-19 20:08] boek commented on #223
WKWebView improves this quite a bit Can we close @bbinto?

[2017-10-19 20:12] Sdaswani commented on #234
I need to remember to test this on my iOS10 device, but yes.

[2017-10-19 20:14] jenn-chaulk commented on #575
Kamino cloned this issue to jenn-chaulk/jchaulk

[2017-10-19 20:16] jenn-chaulk commented on #509
Kamino cloned this issue to jenn-chaulk/jchaulk

[2017-10-19 20:21] jenn-chaulk opened #590 "[ux]Unable to scroll to top in landscape view (via status bar touch)"
From focus-ios created by [AaronMT](https://github.com/AaronMT) : mozilla-mobile/focus-ios#509

Tested via (9c53ef7c99625065c5d72467ffa86a327b0e51da) in an iPhone 8 (iOS 11.0) simulator

=> http://netflix.com
=> [**Portrait**] scroll down, tap the status bar
=> See the view scroll to the top
=> [**Landscape**] scroll down, tap the status bar
=> Unable to scroll to the top

In Safari, while the sta

[2017-10-19 20:22] jenn-chaulk opened #591 "[breakdown][ux]Unable to scroll to top in landscape view (via status bar touch)"
Breakdown #590

From focus-ios created by [AaronMT](https://github.com/AaronMT) : mozilla-mobile/focus-ios#509

Tested via (9c53ef7c99625065c5d72467ffa86a327b0e51da) in an iPhone 8 (iOS 11.0) simulator

=> http://netflix.com
=> [**Portrait**] scroll down, tap the status bar
=> See the view scroll to the top
=> [**Landscape**] scroll down, tap the status bar
=> Unable to scroll to the top

In Safar

[2017-10-19 20:26] jenn-chaulk opened #592 "[ux]loading indicator for support webpages"
From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#575

When our UI loads a webpage, as in the case of What's New or Help, there is not a loading indicator shown so you are looking at a blank, black page wondering what's going on.

This issue is to address showing a loading indicator for any support type webpage we point to in our app. (accessed via settings

[2017-10-19 20:26] jenn-chaulk commented on #575
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:26] jenn-chaulk commented on #592
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:26] jenn-chaulk opened #593 "[breakdown][ux]loading indicator for support webpages"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#592

From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#575

When our UI loads a webpage, as in the case of What's New or Help, there is not a loading indicator shown so you are looking at a blank, black page wondering what's going on.

This issue is to address

[2017-10-19 20:27] dmead28 commented on #128
Sounds good 👍

[2017-10-19 20:33] jenn-chaulk opened #594 "[ux] Allow changing settings without needing to erase the current session"
From focus-ios created by [ExE-Boss](https://github.com/ExE-Boss) : mozilla-mobile/focus-ios#467

### Describe the problem and steps to reproduce it:
Right now, when a session is in progress, the settings button is replaced with the erase session button.

### What happened?
I navigated to a web page and lost the ability to change the settings in the middle of the current  session.

### What did yo

[2017-10-19 20:33] jenn-chaulk commented on #467
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:33] jenn-chaulk commented on #594
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:33] jenn-chaulk opened #595 "[breakdown][ux] Allow changing settings without needing to erase the current session"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#594

From focus-ios created by [ExE-Boss](https://github.com/ExE-Boss) : mozilla-mobile/focus-ios#467

### Describe the problem and steps to reproduce it:
Right now, when a session is in progress, the settings button is replaced with the erase session button.

### What happened?
I navigated to a web

[2017-10-19 20:53] jenn-chaulk commented on #438
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:53] jenn-chaulk opened #596 "[ux]Initial support for 3D touch options"
From focus-ios created by [antlam](https://github.com/antlam) : mozilla-mobile/focus-ios#438

Screenshot of Fennec for iOS:
![img_1271](https://user-images.githubusercontent.com/1994820/30294023-84b291d0-96f0-11e7-84e6-de885190b163.PNG)

There are some system level integrations that could help us solve some problems we've already been looking at. But we haven't been actively looking at these solut

[2017-10-19 20:54] jenn-chaulk commented on #596
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 20:54] jenn-chaulk opened #597 "[ux]Initial support for 3D touch options"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#596

From focus-ios created by [antlam](https://github.com/antlam) : mozilla-mobile/focus-ios#438

Screenshot of Fennec for iOS:
![img_1271](https://user-images.githubusercontent.com/1994820/30294023-84b291d0-96f0-11e7-84e6-de885190b163.PNG)

There are some system level integrations that could help u

[2017-10-19 21:03] jenn-chaulk commented on #433
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:03] jenn-chaulk opened #598 "[meta] [ux] Add ability to add domains to top domain list for autocomplete"
From focus-ios created by [boek](https://github.com/boek) : mozilla-mobile/focus-ios#433

This request originally stems from #69 but I think it would be a great addition.

From breakdown:

- [x] #636 Identify Problem
- [x] #637 Review Proposal
- [x] #638 Design Deliverable
- [ ] #712 SUMO page
- [ ] #723 Implementation Phase

[Relevant Android issue ](https://github.com/mozilla-mobile/focus-androi

[2017-10-19 21:04] jenn-chaulk opened #599 "[breakdown][ux] Add ability to add domains to top domain list for autocomplete"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#598

From focus-ios created by [boek](https://github.com/boek) : mozilla-mobile/focus-ios#433

This request originally stems from #69 but I think it would be a great addition.

[2017-10-19 21:04] jenn-chaulk commented on #598
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:05] jenn-chaulk commented on #430
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:05] jenn-chaulk opened #600 "[meta] [ux] Beg for Reviews"
From focus-ios created by [Sdaswani](https://github.com/Sdaswani) : mozilla-mobile/focus-ios#430

In iOS you can beg the user to leave a review in app - we should think about using this UX control. cc @boek

[2017-10-19 21:05] jenn-chaulk commented on #600
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:05] jenn-chaulk opened #601 "[breakdown][ux] Beg for Reviews"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#600

From focus-ios created by [Sdaswani](https://github.com/Sdaswani) : mozilla-mobile/focus-ios#430

In iOS you can beg the user to leave a review in app - we should think about using this UX control. cc @boek

[2017-10-19 21:13] jenn-chaulk opened #602 "[ux] On iPad, scrolling slowly does not remove collapsedURL"
From focus-ios created by [npark-mozilla](https://github.com/npark-mozilla) : mozilla-mobile/focus-ios#408

STR:
On iPad, go to a website, (www.mozilla.org)
Scroll down to show collapsed URL being displayed on top
Now, scroll up very slowly for a 1/4 of screen
Expected:
Collapsed URL view should disappear, and the URL Textfield should be shown
Actual:
Collapsed URL remains displayed

This is curre

[2017-10-19 21:13] jenn-chaulk commented on #408
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:14] jenn-chaulk opened #603 "[breakdown][ux] On iPad, scrolling slowly does not remove collapsedURL"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#602

From focus-ios created by [npark-mozilla](https://github.com/npark-mozilla) : mozilla-mobile/focus-ios#408

STR:
On iPad, go to a website, (www.mozilla.org)
Scroll down to show collapsed URL being displayed on top
Now, scroll up very slowly for a 1/4 of screen
Expected:
Collapsed URL view should

[2017-10-19 21:14] jenn-chaulk commented on #602
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:18] jenn-chaulk opened #604 "[meta][ux] Support Tor"
From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#396

Tasks:

- [ ] #587  Breakdown

Similar to https://github.com/mozilla-mobile/focus-android/issues/66

Using WebView, see more info here: https://docs.google.com/document/d/1hA5SS9npOZCZdsSoD3LCN1d7MrYDs1C71rbAkV8Gwvc/edit

By default Focus blocks different kinds of trackers. If we utilize Orbot (to route t

[2017-10-19 21:18] jenn-chaulk commented on #396
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:19] jenn-chaulk commented on #604
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:19] jenn-chaulk opened #605 "[breakdown][ux] Support Tor"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#604

From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#396

Similar to https://github.com/mozilla-mobile/focus-android/issues/66

Using WebView, see more info here: https://docs.google.com/document/d/1hA5SS9npOZCZdsSoD3LCN1d7MrYDs1C71rbAkV8Gwvc/edit

By default

[2017-10-19 21:24] jenn-chaulk opened #606 "[ux] Reader view"
From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#362

similar to mozilla-mobile/focus-android#802

[2017-10-19 21:24] jenn-chaulk commented on #362
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:27] jenn-chaulk commented on #606
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:27] jenn-chaulk opened #607 "[breakdown][ux] Reader view"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#606

From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#362

similar to mozilla-mobile/focus-android#802

[2017-10-19 21:41] jenn-chaulk opened #608 "[meta][ux] Settings updates"
From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#351

While we're taking a look at Android Settings, I think it makes sense to also look at iOS and address some issues we have floating around. Let's look at the organization, the strings, and interactions.

- [ ] #202 Safari integration isn't clear
- [x] #229 Add settings button back to Safari instructions

[2017-10-19 21:41] jenn-chaulk commented on #351
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:42] jenn-chaulk commented on #608
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:42] jenn-chaulk opened #609 "[meta] Settings updates"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#608

From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#351

While we're taking a look at Android Settings, I think it makes sense to also look at iOS and address some issues we have floating around. Let's look at the organization, the strings, and interactions

[2017-10-19 21:57] jenn-chaulk commented on #350
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:57] jenn-chaulk opened #610 "[ux] "What's new" in app"
From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#350

We want to inform our users of updates *inside* the app, rather than via the store update description.

UX to come up with a solution how to achieve that.

Requirements:
- needs to show the content of a What's New SUMO Page
- shows after update of the app
- the presentation does not conflict with the simp

[2017-10-19 21:58] jenn-chaulk commented on #610
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 21:58] jenn-chaulk opened #611 "[breakdown][ux] "What's new" in app"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#610

From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#350

We want to inform our users of updates *inside* the app, rather than via the store update description.

UX to come up with a solution how to achieve that.

Requirements:
- needs to show the content of a

[2017-10-19 22:00] jenn-chaulk commented on #347
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 22:00] jenn-chaulk opened #612 "[ux] SSL icon doesn't behave as expected"
From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#347

Referring to badssl.com, our lock icon doesn't show the SSL states one would expect and can be seen in Firefox (desktop).

[2017-10-19 22:00] jenn-chaulk opened #613 "[breakdown][ux] SSL icon doesn't behave as expected"
From focus-ios created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-ios#612

From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#347

Referring to badssl.com, our lock icon doesn't show the SSL states one would expect and can be seen in Firefox (desktop).

[2017-10-19 22:00] jenn-chaulk commented on #612
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-19 22:07] jenn-chaulk opened #614 "[ux] Show trackers blocked in collapsed URL bar (on-scroll)"
From focus-ios created by [antlam](https://github.com/antlam) : mozilla-mobile/focus-ios#255

**EDIT: New design preview**

![screen shot 2017-08-17 at 3 27 35 pm](https://user-images.githubusercontent.com/1994820/29436490-a455477e-8360-11e7-81f2-9c0ed08f178e.png)

@Sdaswani from our meeting, we mentioned we need to know how/what knobs-and-dials we have to play with here. I.e. Can we show total tr

[2017-10-19 22:07] jenn-chaulk commented on #255
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-10-20 17:37] jonisavage commented on #350
Here's the link to the upcoming "What's New..." page on SUMO: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-ios-3

[2017-10-20 17:39] lime124 commented on #350
@BrianNJones is the content for this done? https://docs.google.com/document/d/1Rm5Deju1_2gs_8wGGEvoRUYgrYPA94Fb0-MnSbGg330/edit#

[2017-10-20 17:57] Sdaswani commented on #350
@jonisavage so do we have to set the locale on the client side? i was hoping we can just put in the version (e.g., 3.10) and os (i.e., 'iOS') and then the web page picks up the locale from the browser?

[2017-10-20 18:03] #223 closed

[2017-10-20 18:15] BrianNJones commented on #350
Content s/b good to go.  Note that the "complete list" link does need to be updated.

Add strings-approved label.

[2017-10-20 19:35] #585 closed

[2017-10-20 20:22] antlam opened #616 "Remove existing "first run" experience"
Since we're not focusing on the FRUE on iOS, we should remove the one slide UI we have right now that has some dated messaging, and inconsistent UI.

cc @lime124 @boek

[2017-10-20 23:45] antlam opened #617 "Restore 90% opacity to bottom toolbar"
This looks like it might have been a regression? @boek and I were looking at this briefly.

We used to have a 90% opacity on the bottom toolbar but its a solid fill now 🤔  cc @lime124

![img_1920](https://user-images.githubusercontent.com/1994820/31845464-cba58ba4-b5b5-11e7-9767-49210a0359d3.jpg)

[2017-10-21 05:29] Sdaswani commented on #350
Re-opening until the PR is closed, and I think we need to do some work on the 3.10 release notes.

[2017-10-21 18:50] #537 closed

[2017-10-23 15:52] marchiore commented on #510
@boek, can we close this? Fix was merged on https://github.com/mozilla-mobile/focus-ios/pull/571

[2017-10-23 16:50] MLLHrMLLHr opened #618 "You"

[2017-10-23 17:01] boek commented on #618
Hi @MLLHrMLLHr. Looks like you opened this by mistake!

[2017-10-23 17:01] #618 closed

[2017-10-23 17:02] boek commented on #510
This works for me now

[2017-10-23 17:02] #510 closed

[2017-10-23 18:19] bkmunar commented on #617
on it

[2017-10-23 18:26] Sdaswani opened #619 "Set up Onboarding Slides with Privacy and Search Cards"
Let's get iOS onboarding slides going and add the Privacy and Search Cards to the deck.

[2017-10-23 18:32] #572 closed

[2017-10-23 18:32] boek opened #620 "Erase not clearing out search history"

[2017-10-23 18:48] AaronMT commented on #620
I can reproduce this. Search up 'Mozilla'. Erase. Visit Google, see 'Mozilla' in the dropdown on search field focus.

[2017-10-23 19:07] Sdaswani opened #622 "Figure out how to offer Focus 3.10 to iOS 10 Users"
cc @boek @bkmunar

[2017-10-23 19:33] joeyg commented on #350
@Sdaswani can I get confirmation that this is the correct URL. When the app filled in platform, version, and locale I get: https://support.mozilla.org/1/mobile/3.11/iOS/en/whats-new-focus-ios-3 but that returns page not found. The URL for android works though: https://support.mozilla.org/1/mobile/3.11/iOS/en/whats-new-firefox-focus-android

[2017-10-23 19:49] joeyg commented on #350
@Sdaswani  ahh sorry about that. That is because I bumped the version locally to test. Here is an updated video with the flow as it currently works. I can update again once the URL is up and running: http://recordit.co/eSmxbx0N9V

[2017-10-23 19:50] Sdaswani commented on #350
@joeyg thanks for the video, the URL is up and running now :) .

[2017-10-23 19:54] joeyg commented on #350
@Sdaswani awesome! here is the updated video then: http://recordit.co/7TzeIpPQWa

[2017-10-23 20:02] lime124 commented on #350
Looks good to me! Thanks @joeyg

[2017-10-23 20:03] Sdaswani commented on #350
Thanks @lime124 ! @joeyg one question - will the indicator show up for 3.10, or will we need to ship up 3.11 for users to see the indicator?

[2017-10-23 20:06] lime124 commented on #350
oh! one thing I want to confirm - the indicator doesn't show up for new installs right? sorry if you've already answered that :)

[2017-10-23 20:07] Sdaswani commented on #350
that's another great question @lime124 ! :)

[2017-10-23 20:21] joeyg commented on #350
@lime124 it will not show up if you see the onboarding flow but I believe it shows up on the second boot of the app - should that be changed?

@Sdaswani Yes - 3.10 is fine.

[2017-10-23 20:31] lime124 commented on #350
@joeyg yes. after someone installs the app, it shouldn't "activate" until the next app update.  Thanks!

The rationale is because when you download an app everything is new, so there isn't a reason to flag/highlight the current release changes to a new person. But we still provide a way to access the notes if someone is interested.

[2017-10-23 20:36] joeyg commented on #350
@lime124 thanks. I'll make that change so that it does not show on first launch but does show after the first update.

[2017-10-23 20:45] Sdaswani commented on #350
@joeyg so if I'm a 3.9 (no what's new code( user, and I upgrade to 3.10 (has what's new code), will I see the indicator?

Thanks for the first launch change.

[2017-10-23 20:49] Sdaswani commented on #622
@boek i think we had wrong assumption about what the 'older version' capability means :confused: http://www.ios-developer.net/iphone-ipad-programmer/deployment/versions-of-apps-for-older-versions-of-ios

```The catch is that it appears this only applies for users who have previously installed the app, not for new users who may want it on an old device. ```

In other words, we can't - the iOS 10 sh

[2017-10-23 20:49] #622 closed

[2017-10-23 21:01] boek commented on #622
@Sdaswani There are a couple of things we could do.

* Ship `UIWebView` / `WKWebView` side by side in the same binary.
* continue to ship just the content blocker for iOS 10, make browsing an iOS 11 feature.
* Ship 3.8 as a standalone app.

Not sure if any of these sound appealing though..

[2017-10-23 21:11] joeyg commented on #350
@Sdaswani Yes, that user upgrading from 3.9 to 3.10 should see the indicator.

@lime124 I have made the change to the launch experience and recorded this video: http://recordit.co/qLwFllwClv
 The flow in the video is the user at the Onboarding screen with no WhatsNew Indicator. The app restarted and still now WhatsNew Indicator. Then an updated version of the app is installed and the WhatsNew Indi

[2017-10-23 21:24] lime124 commented on #350
Fantastic! That's the exact behaviour! Thanks for working with me on this interaction! :)

[2017-10-23 23:30] Sdaswani commented on #350
Merged into master - thanks again @joeyg !

[2017-10-23 23:30] #350 closed

[2017-10-23 23:37] Sdaswani commented on #622
Thanks @boek .

1 is too expensive considering we are at 75% iOS users already, which will only grow with iPhone X. 2 is probably super dissatisfying as a user. 3 is a logistical nightmare.

It’s all good - I don’t think this a huge issue.

[2017-10-23 23:47] joeyg commented on #350
@Sdaswani is there a beta or daily build list I could get on to help test?

[2017-10-24 00:03] Sdaswani commented on #350
@joeyg can you email me and I’ll get you on our lists. I’m sdaswani at Mozilla.com

[2017-10-24 16:24] #617 closed

[2017-10-24 16:29] Sdaswani opened #624 "Add Feature Flags"

[2017-10-24 16:31] #611 closed

[2017-10-24 16:31] #610 closed

[2017-10-24 16:51] #591 closed

[2017-10-24 16:51] #590 closed

[2017-10-24 16:56] Sdaswani opened #625 "Add Slide for Quick Fix in Onboarding"

[2017-10-24 16:58] #625 closed

[2017-10-24 18:51] Sdaswani commented on #494
@boek does this still need to be QA'ed?

[2017-10-24 18:52] Sdaswani commented on #475
@boek can you confirm this yet?

[2017-10-24 18:55] boek commented on #494
@Sdaswani No. Pretty sure we QA'd it with 3.9

[2017-10-24 19:01] boek opened #627 "Fix UI tests"

[2017-10-24 19:46] #620 closed

[2017-10-24 19:47] #627 closed

[2017-10-24 21:20] garvankeeley opened #629 "Integrate telemetry-ios v1.0.6"
https://github.com/mozilla-mobile/telemetry-ios/releases/tag/v1.0.6
is considered stable.

For Firefox iOS version 10 no further changes are planned, we are just focused on testing it.

These changes to the readme describe the interface changes: https://github.com/mozilla-mobile/telemetry-ios/pull/65/commits/ddf3b685faa276dc2340f02d5969ef0c932245a9

Mainly, you need to remove applicationDidBecomeA

[2017-10-24 21:43] lime124 commented on #614
Closing - I've provided the UX specs in the Meta bug for tracking protection #343

[2017-10-24 21:44] #614 closed

[2017-10-24 22:37] lime124 commented on #599
[ ] Dig more into what problem we are trying to solve
[ ] Review current work/ pull request (from Joe) and assess how it addresses the problem
[ ] Provide feedback/designs/spec to Joe

[2017-10-25 04:34] Sdaswani commented on #624
this is a dupe.

[2017-10-25 04:34] #624 closed

[2017-10-25 14:21] AaronMT opened #630 "Crash [NSException in AutocompleteTextField]"
Hit this crash while entering a URL which had autocomplete itself.

iOS 11.0.3 (iPhone 7+)

Build: (d558da56084abddc9c6f19753a3cb67b1833f2cb)

[code]

[2017-10-25 19:05] AaronMT opened #631 "Add a UITest for the content blocker"
Currently, the actual content blocker and all related functionality has no actual UITest.

[2017-10-25 19:38] #584 closed

[2017-10-25 19:45] #215 closed

[2017-10-25 20:38] Sdaswani opened #632 "Export Strings for Harlequin"

[2017-10-25 22:06] Sdaswani commented on #632
Won’t fix after all.

[2017-10-25 22:06] #632 closed

[2017-10-25 22:14] Sdaswani opened #633 "Not Connected Indicator for About & Whats New Pages"

[2017-10-25 23:06] lime124 commented on #599
I think I did this wrong and I was supposed to put the items in the meta and close this one. copying and pasting to #598

[2017-10-25 23:06] #599 closed

[2017-10-27 04:55] boek commented on #630
STR

1. open URLBar
2. type `face`
3. when book.com is auto completed `CMD + A` to select all and press `f`
4. kaboom

[2017-10-27 16:34] AaronMT opened #635 ""What's New" highlight indicator does not function if update applied without prior launch"
=> Install 3.9 (do not launch)
=> Install 3.10 (launch)
=> See no "What's New" (blue) indicator

[2017-10-27 16:36] AaronMT commented on #350
See https://github.com/mozilla-mobile/focus-ios/issues/635

[2017-10-27 16:38] AaronMT commented on #635
We'll want this fixed should we publish a quick update to the app and wish to publish new notes and the user hasn't launched yet.

It's also unclear if state corruption occurs at this point forward on future updates.

[2017-10-27 16:45] Sdaswani commented on #635
Good catch. This is a edge case that shouldn’t block 3.10 but should be fixed for 3.11.

[2017-10-27 16:46] Sdaswani commented on #635
@joeyg let us know if you can pick this up, if not we will handle it.

[2017-10-27 17:11] joeyg commented on #635
From the list above it looks like the first launch of the app is on 3.10. You wouldn’t get the What’s New indicator during your first launch even if it updated. You would get the First Run flow

[2017-10-27 17:15] boek commented on #492
Can this be closed with https://github.com/mozilla-mobile/focus-ios/pull/499?

[2017-10-27 17:16] boek commented on #270
Closed with #328

[2017-10-27 17:16] #270 closed

[2017-10-27 17:18] boek commented on #244
This looks fixed :)

[2017-10-27 17:18] #244 closed

[2017-10-27 17:21] boek commented on #224
Looks like this was fixed with WKWebView. We can re-open if it pops up again

[2017-10-27 17:21] #224 closed

[2017-10-27 17:34] #304 closed

[2017-10-27 18:11] Sdaswani commented on #635
Yes, that makes sense @joeyg - as @lime124 has said, it's all new, so no need to get a 'What's New' indicator.

@AaronMT let us know if we are misunderstanding the issue.

[2017-10-27 18:15] AaronMT commented on #635
Not sure I understand the reasoning for stifling the indicator if a first-run is not performed.

[2017-10-27 19:11] lime124 commented on #635
I think there's a bit of confusion so hopefully this snippet from the IA will help.

Basically, if the app is a fresh install and you see FTE then you see no indicator.

The next check is has the app been updated since the install. If not - there is no indicator b/c there have been no updates, thus nothing is new/different from when you installed the app. If there has been an update, then the indi

[2017-10-27 19:21] Sdaswani commented on #635
Thanks for the great visual @lime124 ! @AaronMT let us know if you have further questions.

[2017-10-27 19:45] #635 closed

[2017-10-27 19:46] joeyg commented on #635
Thanks for your help @Sdaswani  and @lime124 !

[2017-10-27 20:09] bbinto commented on #603
closing because it's just a bug

[2017-10-27 20:09] #603 closed

[2017-10-27 20:09] bbinto commented on #602
It's just a bug

[2017-10-27 20:09] #602 closed

[2017-10-27 20:17] bbinto commented on #594
Needs #343 to get done first and revisit

[2017-10-27 20:18] bbinto commented on #593
see #633

[2017-10-27 20:18] #593 closed

[2017-10-27 20:22] bbinto commented on #589
done in #94

[2017-10-27 20:22] #589 closed

[2017-10-27 23:32] lime124 opened #636 "[ux] Add ability to add domains... - identify the problem"
#598 [meta] [ux] Add ability to add domains to top domain list for autocomplete

Dig more into what problem we are trying to solve

[2017-10-27 23:34] lime124 opened #637 "[ux] Add ability to add domains... - Review Proposal"
#598 [meta] [ux] Add ability to add domains to top domain list for autocomplete

Review current work/ pull request (from Joe) and assess how it addresses the problem

[2017-10-27 23:35] lime124 opened #638 "[ux] Add ability to add domains... - Design Deliverable"
#598 [meta] [ux] Add ability to add domains to top domain list for autocomplete

 Provide feedback/designs/spec to Joe

[2017-10-30 17:34] #163 closed

[2017-10-30 17:35] bbinto commented on #47
See #159, should solve the issue

[2017-10-30 17:35] #47 closed

[2017-10-30 17:36] #122 closed

[2017-10-30 17:44] #453 closed

[2017-10-31 16:26] Sdaswani commented on #553
@boek is there anything _we_ have to do here, or will you file a radar?

[2017-10-31 16:40] Sdaswani commented on #493
@boek is this still an issue given that we use WKWebView now?

[2017-10-31 16:40] #506 closed

[2017-10-31 16:41] #504 closed

[2017-10-31 16:42] Sdaswani commented on #492
@joeyg do you still need approval on this string? "Select Location Bar"

[2017-10-31 16:42] #503 closed

[2017-10-31 16:43] #472 closed

[2017-10-31 16:45] bbinto commented on #468
The issue #96 will provide a workaround, otherwise, we can't do anything due to WebKit engine.

[2017-10-31 16:45] #468 closed

[2017-10-31 16:46] Sdaswani commented on #467
We are working on a toggle to quickly enable/disable Tracking Protection, which should fix this issue.

[2017-10-31 16:47] joeyg commented on #492
The PR for this was merged in a while ago. I think this can be safely closed

[2017-10-31 16:47] bbinto commented on #457
Dup #541 and #542

[2017-10-31 16:47] #457 closed

[2017-10-31 16:48] #492 closed

[2017-10-31 16:59] Sdaswani opened #639 "[meta][ux]Ability to add search engines and or remove existing search engines"
@lime124 to provide specs.

#147 [meta] ability to add search engines and/or remove existing search engines.

[2017-10-31 17:01] Sdaswani commented on #575
Closed.

[2017-11-01 18:01] lfxc opened #642 "Request: Implement Canvas Browser Fingerprinting Blocking"
FYI: Firefox 58 to Block Canvas Browser Fingerprinting By Default to Stop Online Tracking

[2017-11-01 21:05] boek commented on #343
Hey @lime124, we wanted to get your input on the `+99` having potential localization issues.

A couple of ideas we tossed around were replacing the text with an infinity symbol or some sort of other glyph. Or potentially just showing the absolute number until we can patch it in the next release.

[2017-11-01 21:56] lime124 commented on #343
It should be 99+ ([see Note B in that first mock I posted](https://github.com/mozilla-mobile/focus-ios/issues/343#issuecomment-328582848)). This was reviewed by Michelle (prior to @BrianNJones joining us) and should be localization friendly.

[2017-11-01 22:34] Sdaswani opened #645 "String Export for v3.12"
Gather all strings for 3.12 and export them.

[2017-11-02 16:01] AaronMT commented on #642
iOS uses WebKit which we're at the mercy of the platform and available API's for such a feature. Not sure if this is feasible for us, but we can talk about it internally

[2017-11-02 20:38] Sdaswani commented on #479
Also try this tool @boek https://github.com/mono0926/LicensePlist

[2017-11-02 22:28] Sdaswani opened #646 "Experiment: Ask iOS Users to Opt-in to Product Usage Reporting"
Hypothesis: Users will opt-in to Product Usage Reporting at 'acceptable' rates (10-20%), and retention for users who are asked to opt-in will not differ from users who are not.

Test:
- **Who**: User Cohort is 20% of New Installs
- **When**: After [Onboarding](https://github.com/mozilla-mobile/focus-ios/issues/619) is dismissed, present the alert
- **How**: Track showing the alert, the response, a

[2017-11-02 22:31] Sdaswani commented on #646
@bbinto @antlam @lime124 I am hoping we can discuss this asychronously either via slack or in the github issue. If you think we need a meeting to discuss, let me know and I'll set it up.

[2017-11-02 23:50] Sdaswani opened #647 "Import Latest Locales"
Let's just catch up with localizations.

Also check with Delphine if there are any new locales to pick up.

[2017-11-03 10:58] 5y opened #648 "Import Latest Locales Script"
Hey,

I have a question about GO script strings updater(xliff). I need update all of the completed and incompleted locals on the Firefox Focus. However, the scripts just update the complete locals (the projects that contain all of the targets ).
I've changed some parts of Go script but at the end, script imported all of the locals but empty on the target for the incomplete projects.
How to update

[2017-11-03 12:00] splewako opened #649 "Focus for iOS version 3.10 contains many untranslated strings"
It is really unfortunate that broken l10n process makes volunteers work so carelessly ignored.
We need change something seriously to make it actually work.

[2017-11-03 12:32] pstibrany opened #650 "Use HTTPS by default"
As a browser that focuses on privacy, I think it should use HTTPS by default, and fallback to HTTP only when HTTPS is not available, or maybe never. Plain HTTP = no privacy.

[2017-11-03 17:45] bkmunar commented on #647
Output for latest locale updates
Processing  ../focusios-l10n/af/focus-ios.xliff
Skipping: ../focusios-l10n/af/focus-ios.xliff: not completely localized
Processing  ../focusios-l10n/ar/focus-ios.xliff
Processing  ../focusios-l10n/az/focus-ios.xliff
Processing  ../focusios-l10n/bn/focus-ios.xliff
Skipping: ../focusios-l10n/bn/focus-ios.xliff: not completely localized
Processing  ../focusios-l10n/br

[2017-11-03 18:15] #592 closed

[2017-11-03 18:19] boek opened #652 "[eng] [breakdown] Feature Flags"
For #586

[2017-11-03 18:21] #343 closed

[2017-11-03 19:56] Sdaswani opened #653 "Bump Version to 3.11"

[2017-11-03 21:20] lime124 commented on #619
hey @bkmunar would you mind posting your screenshots here so I can comment on. I keep losing them in slack :)

[2017-11-03 21:24] garvankeeley commented on #629
Feel free to ping me for review/feedback. (And a reminder to remove `applicationDidXXXXX` hooks).

[2017-11-03 22:55] bkmunar commented on #629
@garvankeeley what do you mean by those hooks? I'm not sure if we do that in Focus

[2017-11-03 22:56] bkmunar commented on #629
If you mean call Telemetry in those functions in AppDelegate, I just checked and we DO do it... is there a solution in Firefox you did to avoid that?

[2017-11-03 22:57] #653 closed

[2017-11-03 23:57] garvankeeley commented on #629
Just remove those lines, the library does this internally.

[2017-11-06 18:33] #647 closed

[2017-11-06 18:35] #581 closed

[2017-11-06 18:46] #273 closed

[2017-11-06 18:47] #203 closed

[2017-11-06 18:51] Sdaswani commented on #50
@pocmo is this issue in the right place?

[2017-11-06 19:21] Sdaswani opened #657 "Add Unit / UI Tests for Tracking Protection"
As issues are found it may be good to start adding tests.

[2017-11-06 20:05] #452 closed

[2017-11-06 20:05] #144 closed

[2017-11-06 20:05] #96 closed

[2017-11-06 20:05] #228 closed

[2017-11-06 20:05] #121 closed

[2017-11-06 20:05] #255 closed

[2017-11-06 20:32] #451 closed

[2017-11-06 20:33] lime124 commented on #451
The string was confirmed by Brian and it's already in the string file.

[2017-11-06 20:36] lime124 commented on #646
Are we pausing on this ticket now as a result of what we discussed in the A/B testing meeting this AM?

[2017-11-06 20:37] Sdaswani commented on #646
Yes good point - I think so. Will close for now.

[2017-11-06 20:37] #646 closed

[2017-11-06 21:15] #629 closed

[2017-11-07 06:12] Sdaswani opened #660 "TP Learn More link goes to broken web page"
![c10bac1d-eecc-4c3e-b32e-0002dc882bed](https://user-images.githubusercontent.com/4879954/32479596-75e3614a-c33f-11e7-87ab-54f134cca063.jpeg)

[2017-11-07 10:35] pocmo commented on #50
Yep. The TODO is here:
https://github.com/mozilla-mobile/focus-ios/blob/master/Search/scrape_plugins.py#L24

[2017-11-07 17:12] lfxc commented on #642
webkit is limited and not very privacy-focused, for example it WebRTC IP Leaks.  May want to consider switch to Gecko or some other browser core

[2017-11-07 19:08] #586 closed

[2017-11-07 19:10] Delphine commented on #649
Can you please give more details about this? what's untranslated? Which locale(s)?
Also, I don't think that your comment is given in a constructive way - and would appreciate another tone in exchanges. I think we've made this clear multiple times in the past.

[2017-11-07 19:22] AaronMT commented on #298
Might just need to flip this https://developer.apple.com/documentation/webkit/wkwebview/1415000-allowslinkpreview

[2017-11-07 19:24] AaronMT commented on #298
https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/Modules/WebView/WebViewController.swift#L84

[2017-11-07 19:29] AaronMT commented on #298
Yep that works for me in my simulator

[2017-11-07 19:35] bbinto commented on #155
closing in favour of #650

[2017-11-07 19:35] #155 closed

[2017-11-07 19:37] bbinto commented on #160
dup of #141

[2017-11-07 19:40] Sdaswani commented on #408
@npark-mozilla can we close this?

[2017-11-07 19:54] Sdaswani commented on #298
I wouldn't want to enable the preview if it's not tracking protected. it will require some UX and eng work to make the preview tracking protected.

[2017-11-07 20:18] splewako commented on #649
I didn't test all locales and don't know how exactly the process works but I can attach a screenshot showing the problem quite clearly in current version (3.10.1) and Polish locale.

![focus 3 10 1](https://user-images.githubusercontent.com/1074871/32515663-1c0b8b3a-c401-11e7-82cb-e3b68d21a3ec.png)

[2017-11-07 20:28] #408 closed

[2017-11-07 21:12] ckarlof opened #662 "Double paste when copying a URL from Focus and pasting into Slack"
When @vmunix recently pasted a URL from Focus for iOS into Slack, it pasted twice.

[2017-11-07 21:16] Sdaswani commented on #662
Thanks we will look into this. @boek  @AaronMT not a lot of STR here but have you seen anything like this?

[2017-11-07 21:23] Delphine commented on #649
We checked in French and Italian and both are localized correctly. I haven't checked how/when you localized these strings but seems like it's not an error for other locales.
Maybe this is due to working directly on GitHub (vs when final strings are exposed in Pontoon) , but I don't know at this point.

[2017-11-07 21:27] ckarlof commented on #662
STR are:

1) Press share button in Focus

[2017-11-07 23:18] Sdaswani commented on #660
@lime124 @BrianNJones
![img_1b2618182908-1](https://user-images.githubusercontent.com/4879954/32522946-1c1e95aa-c3ce-11e7-87ce-69894bc58270.jpeg)

The 'Learn More' link is looking for a Mozilla Support page with the resource https://support.mozilla.org/en-US/tracking-protection-focus-ios - can this be created? It probably can be used in the What's New page for 3.11 too.

[2017-11-07 23:20] Sdaswani commented on #662
I've reproduced this - thanks @vmunix for discovering.

[2017-11-07 23:24] Sdaswani opened #663 "What's New Entry for 3.11"
We need a What's New web page for 3.11. The main feature is TP indicator, and there are some other bug fixes. https://github.com/mozilla-mobile/focus-ios/milestone/16?closed=1

[2017-11-07 23:48] lime124 commented on #660
We got a link from Joni and I passed it on to @boek but I don’t know if she
has written the support page yet.

On Tue, Nov 7, 2017 at 3:18 PM Susheel Daswani <notifications@github.com>
wrote:

[2017-11-07 23:55] Sdaswani opened #664 "Track TP Drawer Access"
Let's add some telemetry around how many users are accessing the telemetry tray.

[2017-11-08 06:50] flodolo commented on #649
These descriptions were added to Italian on [Sep 15](https://github.com/mozilla-l10n/focusios-l10n/commit/85e4a462cae1c47be109378255b7f5788caa7eb5#diff-0d149b90e7394297301c90191ae775f0), they were added to Polish on [Oct 19](https://github.com/mozilla-l10n/focusios-l10n/commit/fe1ea2292b132060ca4af42063cae321066c6d11#diff-639db3bee64ee0321cf58a604a138517).

I suspect that, since we didn't add new

[2017-11-08 17:09] antlam opened #666 "Empty tracker counter on IMDB"
![img_2273](https://user-images.githubusercontent.com/1994820/32562763-577bfaa2-c464-11e7-9a9f-d5213e6407b8.jpg)

I noticed a toolbar UI bug on IMDB where some pages have no number in the counter space.

iPhone 7, latest test flight build.

[2017-11-08 17:56] antlam opened #667 "Fix toolbar padding and spacing issues with the TP shield"
There's a lot of inconsistent padding around the shield after we added it to the Toolbar, and the spacing gets weirder with the counter number.

Here's a gif of how it feels when its loading a webpage, it jumps quite a bit. I don't think its to-spec yet.

![tp_toolbar_spacing](https://user-images.githubusercontent.com/1994820/32565054-df3c5274-c46a-11e7-888f-11f6506352c6.gif)

Here's some images:

[2017-11-08 18:28] lime124 commented on #663
For reference here is the WIP doc: https://docs.google.com/a/mozilla.com/document/d/1Rm5Deju1_2gs_8wGGEvoRUYgrYPA94Fb0-MnSbGg330/edit?usp=sharing

[2017-11-08 18:28] lime124 commented on #663
For reference here is the WIP doc: https://docs.google.com/a/mozilla.com/document/d/1Rm5Deju1_2gs_8wGGEvoRUYgrYPA94Fb0-MnSbGg330/edit?usp=sharing

[2017-11-08 19:04] npark-mozilla opened #669 "The new progress indicator is still in DOM when website is fully loaded"
Even after the site is fully loaded, the app.progressIndicators.element(boundBy: 0) does not disappear from the UI tree, and it appears that its value is set to 0.
I think we have similar issue as firefox-ios had in https://bugzilla.mozilla.org/show_bug.cgi?id=1400339 (which is now fixed).
Until this issue is fixed, we can't wait reliably until the site is loaded properly, causing intermittents.

[2017-11-08 19:17] Delphine commented on #649
We've talked with Susheel today and agreed that l10n imports on their side would happen more often from now on. There were some missed exports lately - but with the new l10n schedule we're putting in place, they should happen much more often now. I'll announce this schedule more widely to localizers very soon, as we're finalizing the fine-tuning part right now. So we can close this issue for now.

[2017-11-08 19:39] AaronMT opened #672 "No re-prompt on saving images to camera roll"
According to https://github.com/mozilla-mobile/focus-ios/issues/283 I should be re-prompted on saving images to camera roll.

- Install 3.11
- boston.com, 'Save Image', 'Disallow'
- 'Save Image' again

Nothing.

[2017-11-08 20:08] jonisavage commented on #660
Thanks for looping me in. You have the right URL but we haven't created the SUMO page yet.

[2017-11-08 20:56] lime124 commented on #663
@BrianNJones said he would be able to finish by friday.

[2017-11-08 23:31] lime124 commented on #147
Hurray! I wasn't sure how much to spec on the search engine list as that's basically using standard  tableviewUI. LMK if there are any questions!

@joeyg
- yes, you can removed installed engines.
- there is no reordering here - firefox allows that b/c it determines the ordering of the engines shown in the search UI, which we don't do right now. (i can't remember what that's called)
- you can't tur

[2017-11-08 23:33] lime124 commented on #147
@joeyg also - you asked antlam about the asset. we were originally intending on also including the icon above the keyboard for quick adding, but decided to pare the feature down a bit for this first version.

[2017-11-08 23:36] lime124 commented on #147
one more update, sorry. I'm following up with @BrianNJones as this has the strings needed label but I thought we got all those done.

[2017-11-08 23:46] #649 closed

[2017-11-08 23:56] joeyg commented on #147
@lime124 Thanks! This looks great!

[2017-11-09 00:04] Sdaswani opened #673 "What's New Should Not be Required for Every Release"
I'd like to make the what's new check dynamic as much as possible. For example, _if_ there is a what's new page for that version, then show the indicator, else don't. I would rather not require client side updates to fuel the indicator. I don't think running a server is in scope so I'm hoping we can check for existence (i.e., HTTP 200 after any 302 redirects) of the corresponding what's new page.

[2017-11-09 05:35] joeyg commented on #147
Created a branch for this work here: https://github.com/joeyg/focus-ios/tree/add-search-engine
Here is the add screen so far: http://g.recordit.co/bvHFfq1qv9.gif

[2017-11-09 15:36] AaronMT opened #674 "Tracker sidebar malformed on full blocker protection (block other content trackers)"
- Enable 'Block other content trackers'
- Visit any site.
- Open the sidebar

![img_0071](https://user-images.githubusercontent.com/102331/32613844-e629378a-c539-11e7-9212-5580f00c1348.PNG)

[2017-11-09 15:47] AaronMT opened #675 "Inconsistency with state of disabled tracking protection versus the Tracking Protection toggle in the sidebar"
- Settings
- Disable all privacy options
- Visit any site

Expected to see a diagonal cross through the shield icon

- Open the sidebar

Expected to see Tracking Protection disabled

A warning should prompt me to back to settings to re-enable privacy features.

[2017-11-09 15:51] AaronMT opened #676 "Tracking Protection support page is 404"
- Open the sidebar
- Tap Learn More

Not sure if a support page is on staging currently. Please reference the bug if so.

[2017-11-09 18:14] AaronMT commented on #676
https://github.com/mozilla-mobile/focus-ios/issues/660

[2017-11-09 18:14] #676 closed

[2017-11-09 19:17] Sdaswani commented on #674
Reproduced. P1!

[2017-11-09 19:25] Sdaswani commented on #675
I think this is a reasonable side effect of disabling all TP types, right @lime124 ?

This thought requires @lime124 input - we can punt on it for a future release.

Note that Focus Android suffers from this same issue, i.e., I can disable all TP options in Settings but then the TP slider in the side panel is still enabled. cc @pocmo @liuche @mcomella @bbinto @antlam @lime124

[2017-11-09 19:25] Sdaswani commented on #675
Also nice find @AaronMT !

[2017-11-09 19:27] Sdaswani commented on #664
Let's actually get this in 3.11 as since the icon is displayed on iOS instead of Android I want to see how many users are clicking it.

[2017-11-09 21:11] lime124 commented on #675
This is going to require a bit more thinking. If all the settings are off, then what exactly would you be turning on? I'm going to have to think on the best way to handle this.

[2017-11-09 21:16] Sdaswani opened #677 "Let Users Share How Many Trackers They Have Blocked"
I absolutely love that the iOS App now always shows you the number of trackers you've blocked for every website you visit. It would be great if we can let users let others know they love this too by doing the following:

1) Keeping track of how many trackers a user has blocked over a set of time (weeks, months, etc.).
2) Displaying that number in the TP drawer.
3) Allow the user to share that numb

[2017-11-09 21:27] Sdaswani commented on #675
@lime124 if you go to settings and turn of all tracker blocking, I mean we should shut off the TP drawer toggle in the sidebar.

[2017-11-09 21:53] st3fan commented on #677
This is a really cool idea. Make it go viral!

[2017-11-09 22:02] Sdaswani commented on #675
Ah understood @lime124. So what should we do for 3.11? Shipping as is can be an answer as Android is shipping in this state.

[2017-11-09 22:25] antlam opened #678 "Toolbar doesn't have tap target when collapsed"
I think we brought this up before, but the collapsed state of the top toolbar doesn't have respond to any presses. Since the user can see it, we should make it responsive, give it a tap target to expand the top toolbar maybe?

Otherwise, sometimes I'll hit the system status bar and it will just scroll to the top. But as a result, it feels like its sometimes broken because there's no response.

@li

[2017-11-09 23:07] antlam commented on #667
Visual spec by @lime124 can be found here: https://user-images.githubusercontent.com/287322/30400244-1bea1546-988b-11e7-9d8a-48f99db96fc5.png

Basically, it should be a consistent 4px padding at all times:

1. between the shield and the lock
2. between the lock and "https://"

And always 10px margin from left-edge of screen to the first element.

[2017-11-10 07:11] antlam commented on #678
![img_2292](https://user-images.githubusercontent.com/1994820/32646797-2fa7590a-c5a3-11e7-8fbc-f0e9cb6d4d78.jpg)

Here's the screenshot example. Basically, the status bar has a tap target, and does something. While the collapsed toolbar (shield, #, URL) doesn't have a tap target, and does nothing.

[2017-11-10 16:54] lime124 commented on #147
thanks @joeyg I'll try to review it soon - I'm super packed with meetings :'(

Can we update the example string to "searchenginename.com"? IDK if that's something you can do or one of our eng have to do.

@BrianNJones realized that the other one actually exists!

Thanks!

[2017-11-10 17:45] joeyg commented on #147
No hurry on the UI review there is Plenty of work to be done - meetings
have kept me busy too :)
On Fri, Nov 10, 2017 at 8:54 AM Tiffanie Shakespeare <
notifications@github.com> wrote:

[2017-11-10 18:06] lime124 commented on #678
@AaronMT we don't need to worry about adding 'needs triage' label since we moved to using p's :)

Ok - so what I'm hearing is (@antlam let me know if i misunderstood):
1. Tap status bar - scroll to top
2. Tap collapsed URL bar - expand URL bar

I'm a little worried about having two small tap areas right next to each other, but I think it's something we should try and see how it works.

Can I get f

[2017-11-10 18:22] marchiore commented on #672
Hey @AaronMT,

I'm trying to solve this bug.
First I readed the thread on the other issue (#283) and I noticed this PR (https://github.com/mozilla-mobile/focus-ios/pull/281) by @boek, that was merged on master.

But I can't see some files on my project like `Blockzilla/Browser.swift` either the changes on the other files.

I tried to reach someone at iRC, to help me with this but without success.

[2017-11-10 18:35] AaronMT commented on #672
You are not doing anything wrong.

I believe this code was refactored or just straight up removed with the https://github.com/mozilla-mobile/focus-ios/commit/6e1edeb555e7b1d3d34cba3336a125998bd7a63c#diff-93f8e8b1353c1dabb447526fe4178103 WKWebView migration (@boek ?)

[2017-11-10 18:45] #662 closed

[2017-11-10 19:01] marchiore commented on #672
btw, I think this method is not being used on BrowserViewController.swift

[code]

thanks @AaronMT I joined the channel!

[2017-11-10 19:13] Sdaswani commented on #675
Moving this to 3.12 as we are in parity with Android, so will let @lime124 and @bbinto think about the right UX.

[2017-11-10 19:27] antlam commented on #678
That sounds like a good start to me!

I'll leave the interaction to you, I think as long as there is a behaviour/reaction there when the user presses that part of the collapsed UI, it'll feel better than having the void of no reaction. :)

[2017-11-10 19:32] lime124 commented on #667
@antlam why did you close this?

[2017-11-10 19:32] antlam commented on #667
...I pressed teh wrong buttonz 😅

[2017-11-10 19:51] AaronMT commented on #666
Unable to reproduce on my iPhone 7+

[2017-11-10 19:55] Sdaswani commented on #672
Is this also an issue in the current release (3.10)?

[2017-11-10 19:56] Sdaswani commented on #672
@AaronMT ???

[2017-11-10 20:01] marchiore commented on #672
@Sdaswani, i’ve Tested on my phone with the last version of focus released on App Store and the problem happens too

[2017-11-10 20:06] boek commented on #672
When we moved to WKWebView we used their native context menu over using our own. The big problem with this now is we aren't showing our own guard prompt in front of the system one. We'll have to go back to our own context menu to bring this functionality back :(

[2017-11-10 20:06] lime124 opened #681 "search engine manually entry error strings"
I wanted to make sure this didn't get lost in the shuffle. We need to show error strings for the manual entry form.

@BrianNJones to provide them! Thanks!

[2017-11-10 20:06] Sdaswani commented on #672
OK no need to fix for 3.11, we'll handle it in triage.

[2017-11-10 20:07] lime124 commented on #147
I created a separate bug for error strings so that work doesn't get lost. #681.

[2017-11-10 20:09] lime124 commented on #663
Pinged Joni that it's ready

[2017-11-10 20:40] jonisavage commented on #663
In product link: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-android-focus-311

Still need the release date

[2017-11-10 20:43] Sdaswani commented on #663
@jonisavage same issue here: https://github.com/mozilla-mobile/focus-android/issues/1670#issuecomment-343580400

[2017-11-10 20:43] Sdaswani commented on #663
The release date for iOS would be November 15th @jonisavage .

[2017-11-10 20:59] boek opened #682 "Gap in URLBar when visiting non https page"
![img_0359](https://user-images.githubusercontent.com/1250545/32678364-e5949cd2-c616-11e7-92bc-0364e33d9b03.PNG)

[2017-11-10 21:07] AaronMT commented on #672
That seems like an overall poor choice for code management. Maybe we should just disregard this feature.

[2017-11-10 22:14] boek commented on #682
this is related to #667. We should really think about moving the URLBar into a StackView

[2017-11-10 22:15] boek commented on #660
This looks fixed now

[2017-11-10 22:15] #660 closed

[2017-11-10 22:38] #664 closed

[2017-11-10 22:39] #674 closed

[2017-11-10 23:47] Sdaswani commented on #663
@jonisavage the title need to be changed too as it references Android: "What's new in Firefox Focus for Android version 3"

[2017-11-11 01:02] #678 closed

[2017-11-11 01:02] #509 closed

[2017-11-11 14:28] J0WI commented on #650
That's not secure. You don't know if HTTPS is not available or blocked/stripped by third party. Also some site have only partial HTTPS support. I would still prefer #155.

[2017-11-11 21:19] pstibrany commented on #650
@J0WI If I had found #155 before, I wouldn't have created this case. I think it may be still difficult to use only HTTPS though.

[2017-11-13 16:55] AaronMT opened #688 "Give the tracking protection badge an accessibility identifier"
Trying to write an XCUITest and accessing the badge can only currently be done with its' static text label for a given pages tracker count.

[2017-11-13 17:20] antlam opened #689 "Unable to trigger top toolbar on Google AMP pages"
STR:

1. Search for "world news" or something
2. Press a search result that has the ⚡️ symbol
3. Try to enter a new search term or URL address

![img_810b7fc80256-1](https://user-images.githubusercontent.com/1994820/32739123-cf4c6c72-c853-11e7-8ffe-ac339412ad8d.jpeg)

[2017-11-13 18:02] lime124 commented on #147
hi @joeyg ! i was able to review the video you posted - thanks for that! i'm not sure what would be most helpful for you at this point. do you want me to provide critique on what i see in the video or wait until your further along?

[2017-11-13 18:08] bkmunar commented on #645
yes, I think this is done

[2017-11-13 18:08] #645 closed

[2017-11-13 18:10] joeyg commented on #147
@lime124 not yet. i'll try and have an updated one soon.

[2017-11-13 18:51] antlam opened #691 "When there are over 99 trackers, show another icon (instead of 99+ or +99)"
cc/ @lime124

Currently, we show 3 keys in a cramped corner of the Tracking Protection shield when there's more than 99 trackers on a web page being blocked.

+99, 99+, or even 199 are all options. But they inherently still have a visual design problem. They squeeze too much into a space that's not designed to fit 3 keys/digits.

In the same scenario, what if we could show something a little bit m

[2017-11-13 19:27] antlam commented on #666
@AaronMT I got it by going back and forward a few times.

Sometimes I also get other weirdness like a 0 up there when it obviously isn't 0.

[2017-11-13 20:17] antlam commented on #619
<img width="666" alt="screen shot 2017-11-13 at 11 00 07 am" src="https://user-images.githubusercontent.com/1994820/32747056-739f0c72-c86c-11e7-84db-2ff8a51b2060.png">

Design mocks with copy from @BrianNJones over in issue #94

Visual UI specs to follow

[2017-11-13 21:34] antlam commented on #619
![spec_firstrun1](https://user-images.githubusercontent.com/1994820/32750337-2e146926-c877-11e7-8ddb-edfc50336027.png)

![specs_firstrun2](https://user-images.githubusercontent.com/1994820/32750336-2dfc4788-c877-11e7-97d5-ed090f9e96dc.png)

@bkmunar this should help you get started. Note, images to follow, but they will be slightly smaller than 302px (card width) since this might change based on d

[2017-11-13 22:10] #682 closed

[2017-11-13 22:25] BrianNJones commented on #681
Added to #1567.

If no text entered in "Search engine name" field, string would be:
Enter search engine name

If no text entered in "Search string to use" field, string would be:
Enter search string

If "Search string to use" field is incorrect format, string wold be:
Check that search string matches Example format

[2017-11-14 16:00] AaronMT commented on #689
Also reproducible just on news.google.com

[2017-11-14 17:20] #688 closed

[2017-11-14 17:52] AaronMT opened #695 "Provide more identifiers for tracking protection breakdown items in the sidebar"
For XCUITests, each breakdown item (ads/analytics/content/social) should have an accessibility identifier too

[2017-11-14 18:02] boek commented on #691
When we revisit this we should also make sure the padding between all of the URLBar elements are consistent

[2017-11-14 19:16] boek commented on #689
@antlam can you reproduce on latest beta?

[2017-11-14 19:24] bbinto commented on #672
@boek could you please file a bug that adds a probe for users having the photo access denied. Let's decide then

[2017-11-14 19:28] #667 closed

[2017-11-14 19:28] #666 closed

[2017-11-14 19:37] #663 closed

[2017-11-14 19:37] #648 closed

[2017-11-14 19:45] Sdaswani commented on #147
@joeyg we want to ship this in a few weeks - if you can’t commit to getting it in then @bkmunar can pick it up.

[2017-11-14 21:07] joeyg commented on #147
@Sdaswani Realistically I will have time to have the functionality working this week but need to spend time next week writing tests and cleaning up UI. Whats your team's timeline?

[2017-11-14 22:56] Sdaswani commented on #147
@joeyg end of next week works just fine but if you sense any delay let me know ASAP.

[2017-11-14 22:59] lime124 commented on #147
and @joeyg lmk if you have any questions or need anything! thanks for
helping out!

On Tue, Nov 14, 2017 at 2:56 PM Susheel Daswani <notifications@github.com>
wrote:

[2017-11-14 23:29] antlam commented on #619
[First Run Illustrations.zip](https://github.com/mozilla-mobile/focus-ios/files/1472897/First.Run.Illustrations.zip)

@bkmunar image assets now too

[2017-11-15 08:04] antlam commented on #689
I can still trigger it in Buddybuid 1157 but it’s not as much of an issue now since there’s a tap target on the collapsed Toolbar state.

[2017-11-15 23:55] joeyg commented on #147
@Sdaswani A lot of UI improvements to make and tests to write but here is an updated screencast: http://g.recordit.co/TH53WOwQwo.gif

[2017-11-16 04:46] Sdaswani commented on #147
Thanks @joeyg the progress looks great! cc @lime124

[2017-11-16 05:47] Sdaswani opened #701 "Add Telemetry for Onboarding"
Add Telemetry for the following events:

- Onboarding Shown
- Event for each Onboarding Slide Shown (so first event would be Onboarding Shown, then Onboarding Slide Shown with 1, 2, 3 as they are shown)
- Onboarding Skipped
- Onboarding Completed

[2017-11-16 05:57] Sdaswani opened #702 "A/B Test Onboarding"
Don't show onboarding for all users. Specifically:

1. Flip a coin at a new install.
2. If heads, show current first run experience.
3. If tails, show new Onboarding experience.
4. Add Telemetry about what you showed.

[2017-11-16 17:44] boek opened #704 "Make sure ./scrape_plugins.py gives us up to date information"
With the default search engine change we had to manually change `SearchEngines.plist` and `list.json`. We'll have to make sure `./scrape_plugins.py` gives us accurate information otherwise we'll lose the manual updates in the future.

[2017-11-16 19:36] Sdaswani opened #705 "Fix Adjust Integration"
As of October 23 we stopped this: https://mozilla.slack.com/archives/D4HPYJC10/p1510860649000023

[2017-11-16 22:30] lime124 commented on #147
@joeyg I took a look at the video. Your progress is great! I wanted to provide some super quick feedback that you will hopefully find helpful. (sorry if it's already on your list to fix!) :)

**search engine page**
default icon for new search engine
need section header

**edit mode**
hide default and add options

**manual entry**
hint string missing from 2nd text box
	- Paste or enter search strin

[2017-11-16 22:49] joeyg commented on #147
@Sdaswani The icon for the a custom search engine is the first letter of its name on a #EDED0F background. Does the team have a preference if that is done by drawing a UIImage or adding a subview to the table cell?

[2017-11-16 22:50] joeyg commented on #147
@lime124 Thanks so much for taking a look. I'll make sure all of those are on my todo list.

[2017-11-16 23:31] Sdaswani commented on #147
I defer to @boek and @bkmunar but my _guess_  is a subview?

[2017-11-17 00:58] #669 closed

[2017-11-17 19:08] #705 closed

[2017-11-17 19:12] #689 closed

[2017-11-17 19:19] jenn-chaulk commented on #147
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-17 19:20] #147 closed

[2017-11-17 19:21] lime124 commented on #147
hey @joeyg can you please use the eng #1742 for updates and what not? Thanks!

[2017-11-17 19:26] jenn-chaulk opened #710 "[eng] Ability to add search engines and or remove existing search engines"
From focus-android created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-android#1742

From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#147
UX specs: https://github.com/mozilla-mobile/focus-ios/issues/147#issuecomment-342997067

## User Story
- I want to add a search engine default that is not in the pre-defined list of search engin

[2017-11-17 19:39] jenn-chaulk opened #711 "[breakdown] Quick access to favourite sites (requiring login)"
From focus-ios created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-ios#473

Let's take some time to examine the typing screen and make some improvements to it.

- [ ] #433 Auto complete for top level domains
- [ ] #469 PR for the above issue
- [ ] #250 Search suggestion feels redundant

[2017-11-17 19:39] jenn-chaulk commented on #473
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-11-17 21:30] #636 closed

[2017-11-17 21:30] #637 closed

[2017-11-17 21:32] lime124 opened #712 "[sumo] need article to describe feature"
The article should describe how the feature works in Focus and also show this built-in list (in alphabetical order):

https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/topdomains.txt

[2017-11-18 02:47] lime124 commented on #638
Still need to finalize visual design and strings.

![flow - add new url](https://user-images.githubusercontent.com/287322/32976270-96665cf2-cbc7-11e7-85fb-cfafd085e6ab.png)
![flow - remove custom url](https://user-images.githubusercontent.com/287322/32976271-967aeb04-cbc7-11e7-9a20-9bd583729dd7.png)
![other states](https://user-images.githubusercontent.com/287322/32976272-968e79ee-cbc7-11e7-8552-c

[2017-11-18 19:13] TheoChevalier opened #714 "“Learn More” link is not localized"
Just got an update to 3.11, when you open the tracking protection panel, the Learn More link at the bottom is not localized

![img_1886](https://user-images.githubusercontent.com/1294206/32983906-27273c80-cc94-11e7-91dc-317ebe691627.PNG)

[2017-11-19 04:31] joeyg commented on #710
Added pull request #715 for this work.

[2017-11-19 17:38] Sdaswani opened #716 "Re-enable Code Coverage"
https://docs.buddybuild.com/tests/ios/code_coverage.html

We should have BB run code coverage checks once again.

[2017-11-20 12:47] bbinto opened #717 ""What's New" link seems wrong (showsn Android release notes)"
See here: https://twitter.com/_gsathya/status/932534188460466176
<img width="264" alt="screen shot 2017-11-20 at 7 45 46 am" src="https://user-images.githubusercontent.com/122897/33019102-084dfa72-cdc7-11e7-9310-40c26548b772.png">

[2017-11-20 15:26] tsekityam commented on #717
The content of the page is for iOS, but not the title. I think we should change the title of the article, and also the link to the article.

[2017-11-20 16:03] Sdaswani commented on #717
@BrianNJones can this be fixed?

[2017-11-20 16:28] jonisavage commented on #717
Sorry about that. I've changed the target URL and title so it says "ios". I mistakenly gave you an in-product link with "Android" in it but it'll redirect to the right one. Let me know if you need a new in-product link.

[2017-11-20 17:24] Sdaswani commented on #717
Thanks @jonisavage - can you also change the release date to November 18th?

[2017-11-20 17:24] #717 closed

[2017-11-20 18:37] Sdaswani commented on #202
![screen shot 2017-11-20 at 10 36 37 am](https://user-images.githubusercontent.com/4879954/33035070-c58e282a-cdde-11e7-8920-60af0755ea14.png)

[2017-11-20 19:38] Sdaswani opened #718 "String Export for v4.0"
Gather all strings for 4.0 and export them.

- Any new onboarding strings.
- Quick Access.

cc @boek @lime124 @bkmunar

[2017-11-20 19:53] bbinto opened #719 "Add telemetry to track users web trail"
We do have probes to tell us when a user types in a query or URL into the search bar, or opens a link in a new tab, we don't have a probe that tells us about an event like user visits website A, clicks on link in A to go to B, loads website B etc.

With that data, we can not only define when a user is active, how active they are but also how they use the browser app and learn about their behavior

[2017-11-20 22:33] Sdaswani opened #721 "Prevent Focus From Opening Universal Links"

[2017-11-20 22:57] lime124 opened #723 "[ux] Add ability to add domains... - Implementation"
This is to track the work done during the implementation phase.

[2017-11-20 22:59] lime124 opened #724 "[ux] search engine - implementation phase"
This is to track the work done during implementation. I'm not sure there's a meta to link this to.

[2017-11-20 23:12] lime124 commented on #638
@itsDevyani ping!

[2017-11-21 01:13] boek commented on #630
Oh interesting. Github will close cross-repos.

[2017-11-21 16:51] #721 closed

[2017-11-21 16:51] boek commented on #718
Is this due today @Sdaswani? I don't have the events in my calendar anymore

[2017-11-21 16:53] Sdaswani commented on #718
String import and then export is due tomorrow @boek.

[2017-11-21 18:37] Sdaswani opened #726 "Use Taskcluster to Import Strings Every Evening"
Talk to @pocmo for how he did this on Android.

[2017-11-21 18:37] Sdaswani commented on #726
@boek get this info before he leaves for pat leave.

[2017-11-21 19:04] bbinto commented on #726
@boek - please check with @pocmo soon.

[2017-11-21 19:15] bbinto opened #727 ""What's new" SUMO page for 4.0 release"

[2017-11-21 19:18] bbinto opened #728 "Autocomplete: Add telemetry probes for autocomplete"
Meta: #433

- event when add, remove URL is used
- #of items in custom list
- pre-defined / custom autocomplete toggle off/on
- #of times/URL loaded by using pre-defined or custom list

[2017-11-21 20:39] AaronMT commented on #695
Added some via https://github.com/mozilla-mobile/focus-ios/pull/720

[2017-11-21 20:39] #695 closed

[2017-11-22 09:35] pocmo commented on #726
## Taskcluster

Taskcluster is a generic task execution framework developed and used by Mozilla to automate continuous integration and release processes. We started to use it to automate various Focus for Android related tasks.

* [Taskcluster docs](https://docs.taskcluster.net)

You can play with it here:
https://tools.taskcluster.net/tasks/create

### Docker

Taskcluster supports various types o

[2017-11-22 09:37] pocmo commented on #726
Hope that helps. You can play with most of those services with your mozilla account.

For setting up hooks and maintaining "roles" for the repo I required more access:
* https://bugzilla.mozilla.org/show_bug.cgi?id=1409353
* https://bugzilla.mozilla.org/show_bug.cgi?id=1409431

[2017-11-22 17:08] Sdaswani commented on #726
Great documentation, thanks @pocmo .

[2017-11-22 17:10] AaronMT opened #731 "XCUITests need to reset in-app settings"
If a XCUITest changes an in-app setting, on next test-run the changes are still present. Do we have a way to clear profiles or reset all in-app settings in our setup or teardown? @npark-mozilla

E.g, https://gist.github.com/joemasilotti/74df5e13adede2e132461dfea32b441c ?

[2017-11-22 17:25] AaronMT commented on #731
We can probably just copy Firefox's approach w.r.t launch args and reset

https://github.com/mozilla-mobile/firefox-ios/blob/master/XCUITests/BaseTestCase.swift

[2017-11-22 17:40] npark-mozilla commented on #731
yes, we load test profile in case of Firefox XCUITest, and that seem to work pretty well.

[2017-11-22 18:57] rtanglao commented on #727
please assign to joni @bbinto ?

[2017-11-22 19:03] bbinto commented on #727
I invited Joni to this Repo but for some reason can't assign this to her (@jonisavage).

[2017-11-22 19:07] rtanglao commented on #727
does she have to be part of the mozilla organization or some such?

[2017-11-22 19:11] bbinto commented on #727
added her to NMX, that should do it, I think

On Wed, Nov 22, 2017 at 2:07 PM, Roland Tanglao <notifications@github.com>
wrote:

--
Barbara Bermes | b@mozilla.com | IRC: barbara | Product Manager, Firefox
Mobile

[2017-11-22 20:45] jonisavage commented on #727
I can't assign myself either although I've joined the organization. I'll make a note in my calendar though.

[2017-11-23 01:33] #718 closed

[2017-11-23 01:33] #479 closed

[2017-11-23 11:48] bbinto commented on #727
worked for me just now. yeah

[2017-11-23 18:37] antlam commented on #638
I wonder if we might be relying too much on the category Headers here? 🤔 maybe it's worth revisiting the multiple (double?) "Autocomplete" prefs at some point in the near future. This is generally something we don't see often in other apps either.

Do you think it would be a good idea if we borrowed some of the Fennec language here?... like "Suggest/Suggestion"... Maybe a suggestion would be:

`DE

[2017-11-23 21:35] bkmunar opened #734 "XCUI Open In Focus Test when Google Search page has a special logo"
HAHAHA Trying to fix a test and it turns out we try to recognize the "Google" logo on the page to confirm it's the page, but that will fail on special holidays like today (Thanksgiving) where the logo is different (or has a different title at least) that's why this test is failing. We maybe need to find another way to handle this?

[2017-11-23 21:40] bkmunar opened #735 "Reimplement delay of keyboard after dismissing first run"
Right now we use a timer; we want to use a callback method instead but it will take some refactoring

[2017-11-23 21:41] bkmunar opened #736 "Create new pagination dots for onboarding UI"
Right now we use the native UI for pagination dots. It will take some effort to create custom ones that we want for our onboarding; Refer to https://github.com/mozilla-mobile/focus-ios/issues/619 for mocks

[2017-11-24 04:28] Sdaswani commented on #734
Wow! @npark-mozilla can we use a page with a more static rendering?

[2017-11-24 15:47] bbinto commented on #677
I'd love to run a quick A/B test on that, thoughts @Sdaswani and @lime124. How can we come up with a simple UX solution that lets us find out if this is something that makes a) people come back b) increases growth (by referring/sharing)

[2017-11-24 22:14] #616 closed

[2017-11-24 22:15] #619 closed

[2017-11-24 22:15] #702 closed

[2017-11-24 22:15] #701 closed

[2017-11-25 12:12] uncertainquark opened #737 "Use dark iOS keyboard to better indicate the private browsing focus."
Calling the dark iOS keyboard by default would better suit the private browsing features of Focus. Right now it calls the light iOS keyboard by default.

![photo 25-11-17 5 31 05 pm](https://user-images.githubusercontent.com/22585732/33230347-e7dff0a2-d207-11e7-8ae1-4de9d42d4d0e.png)

[2017-11-25 17:24] Sdaswani commented on #677
@bbinto if we enable the experiment for a small amount of users (~10%), maybe we can surface a toast on the ‘home screen’? Something like ‘Focus has blocked 897 ad trackers in the past week. Help your friends by telling the about Focus!’. When the user clicks on the toast it opens up the share menu with a pre-filled tweet / share.

I’m hoping that’s not too much UX or engineering work.

[2017-11-27 06:19] Sdaswani opened #738 "Share Extension Sometimes Launches with Keyboard Up and Overlay Over Content"
STR (may take a couple of tries):
1) Launch a link from iOS Share Menu
2) See something like the screenshot
![unnamed](https://user-images.githubusercontent.com/4879954/33253337-cbbb59f2-d2f7-11e7-8e08-52fc3d0119f7.jpg)

[2017-11-27 12:50] bbinto commented on #677
@lime124 and @brampitoyo ...inquiring about your workload, ......could this be something @brampitoyo can take on while Tiff focuses on other important 4.0/5.0 features?

[2017-11-27 14:40] bbinto commented on #194
I actually agree with @liuche, I love what @pocmo has been doing here: https://github.com/mozilla-mobile/focus-android/wiki/Telemetry.

We should have the same for iOS.

Can we make this a nice in between holiday break task?

[2017-11-27 15:20] BrianNJones commented on #638
@antlam @lime124
<<Also trying to see if we could repeat "URL" less too, maybe some of those could be made redundant based on the context? For example, on the 3rd screen in "Add New URL", maybe we don't need to say "URL to add" above the input field if we have "Add Custom URL" at the top, "Paste or enter URL" in the field, and the example underneath?>>

I believe there's value in reinforcing /bein

[2017-11-27 17:42] lime124 commented on #638
@antlam I also see your point about the text field label, but agree with @BrianNJones about being specific especially since this is not a common activity. iOS uses labels next to text fields and it's nice to retain that context when you lose the hint text after you start typing.

[2017-11-27 18:35] npark-mozilla commented on #734
#739

[2017-11-27 18:50] Sdaswani commented on #194
@pocmo are you updating that Telemetry wiki manually or do you have some method to auto-generate it as the code updates?

@bbinto note we do have this on iOS: https://github.com/mozilla-mobile/focus-ios/wiki/Event-Tracking-with-Mozilla's-Telemetry-Service

But I agree I'm not sure if it's up to date? @boek @bkmunar ?

[2017-11-27 19:01] pocmo commented on #194
This is updated by the engineers whenever they land a new probe.

[2017-11-27 19:50] AaronMT commented on #737
I think this is a good idea. It's a one-liner.

Opened as https://github.com/mozilla-mobile/focus-ios/pull/741

[2017-11-27 19:59] Sdaswani opened #742 "Top toolbar should not be in “bright” state yet"
Came in from buddybuild report.
![unnamed](https://user-images.githubusercontent.com/4879954/33286494-558c4516-d36a-11e7-8d32-3c95b552e764.jpg)

Did you file this @antlam ?

[2017-11-27 20:02] Sdaswani commented on #194
@bkmunar please go over own latest telemetry stuff and update this doc as needed,

[2017-11-27 20:06] antlam commented on #742
@Sdaswani yes! I think @boek started catching these regressions already, there were some others.

[2017-11-27 21:39] bkmunar commented on #194
Isn't the end of the document automatically updated since it's pointing to the list of pings in the project?

[2017-11-27 21:41] bkmunar commented on #194
OH, do we want to do the pretty thing @pocmo did for iOS? LOL

[2017-11-27 22:47] Sdaswani opened #744 "Implement Password Autofill for iOS11"
https://developer.apple.com/videos/play/wwdc2017/206/

@lime124 @bbinto so iOS11 has an autofill option for things stored in iCloud - this could be an easy win for quick access. @bkmunar is going to investigate if this is possible in Focus and provide estimate for the dev work here but maybe we can sneak this into 4.0?

[2017-11-27 22:51] Sdaswani opened #745 "Integrate 1Password Extension in Focus"
https://github.com/AgileBits/onepassword-app-extension#use-case-4-web-view-filling

This is part of quick access (cc @lime124 @bbinto )

- [ ] Integrate 1Password Extensions
- [ ] Add Telemetry to show it is being used.

[2017-11-27 22:52] Sdaswani commented on #194
Yes, iOS should be perty too :) .

[2017-11-28 01:39] bkmunar commented on #744
"The next thing to know is that UITextView and UITextField are automatically eligible for consideration or Password AutoFill. So, if you're using these standard controls out of UIKit, you're already in a really good place.

However, if you're rolling your own text fields, no need to worry.

If your text field conforms to UITextInput, it's also eligible for Password Autofill."

I think this makes P

[2017-11-28 06:01] Sdaswani commented on #744
Thanks @bkmunar looks like this isn't an option :/ .

[2017-11-28 06:01] #744 closed

[2017-11-28 06:03] Sdaswani opened #746 "Trackers blocked bars are only rounded on one side"
Filed from BB feedback (I am guessing @antlam ).
![unnamed 1](https://user-images.githubusercontent.com/4879954/33304620-c77a9ca0-d3be-11e7-9470-d87400d8d003.jpg)

[2017-11-28 06:23] boek commented on #746
This was by design

On Mon, Nov 27, 2017 at 10:03 PM Susheel Daswani <notifications@github.com>
wrote:

[2017-11-28 17:08] antlam commented on #746
<img width="662" alt="screen shot 2017-11-28 at 9 05 59 am" src="https://user-images.githubusercontent.com/1994820/33333289-613c430a-d41b-11e7-8715-f17539057d69.png">

Sorry the screenshots a bit fuzzy.... but here's what I'm seeing in the design files. where the sides are both rounded?

Will let @lime124 confirm. Maybe I missed something :) if so, sorry!

[2017-11-28 18:05] boek commented on #746
@antlam

https://user-images.githubusercontent.com/287322/30400226-0a077bca-988b-11e7-9216-7118ddd653d9.png

<img width="198" alt="image" src="https://user-images.githubusercontent.com/1250545/33336066-a74cad1e-d423-11e7-8953-df2f3825fd3a.png">

This might be a good example on way having an actual sized screenshot as part of the handoff would be good too

[2017-11-28 18:08] bbinto commented on #514
We've decided to first do some UR on the Android implementation and use results to inform how to do it on iOS

[2017-11-28 18:14] boek commented on #746
Spoke with @lime124. They're supposed to be rounded on one side

[2017-11-28 18:14] #746 closed

[2017-11-28 18:54] #742 closed

[2017-11-28 18:58] boek commented on #742
Fixed with #740

[2017-11-28 19:06] bbinto commented on #737
@lime124, what do you think?

[2017-11-28 19:09] #734 closed

[2017-11-28 19:12] bbinto commented on #712
+ @jonisavage

[2017-11-28 19:24] Sdaswani opened #747 "Integrate Dashlane Extension in Focus"
This is part of quick access (cc @lime124 @bbinto )

- [ ] Integrate https://github.com/Dashlane/Dashlane-iOS-Extension (if possible, not sure if it works for WKWebView)
- [ ] Add Telemetry

[2017-11-28 19:28] Sdaswani opened #748 "Integrate Lastpass Extension in Focus"
This is part of quick access (cc @lime124 @bbinto )

- [ ] Integrate https://github.com/joelastpass/generic-password-app-extension
- [ ] Add Telemetry

[2017-11-28 23:10] lime124 commented on #737
@boek just showed me some screenshots and it's gorgeous! +1

[2017-11-30 07:09] Sdaswani commented on #711
maybe you can close this?

[2017-11-30 17:57] AaronMT opened #754 "Klar 'Code Signing Error'"
Klar Builds on Buddy Build are failing with:

- **Code Signing Error: Provisioning profile "buddybuild Adhoc - org.mozilla.ios.Klar" doesn't support the group.org.mozilla.ios.Klar App Group.**

- **Code Signing Error: Provisioning profile "buddybuild Adhoc - org.mozilla.ios.Klar" doesn't match the entitlements file's value for the com.apple.security.application-groups entitlement.**

- **Code Sign

[2017-11-30 18:51] #711 closed

[2017-11-30 19:45] jonisavage commented on #727
Here's the URL for https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-ios-4

It will say "page not found" until we get the content up (coming soon).

[2017-11-30 21:01] jonisavage commented on #712
https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/autofill-domain

Content coming up (there'll be a "page not found" error in the meantime.

[2017-12-01 14:32] bbinto commented on #701
Is there actually a way to set timestamps between cards?

I'm happy to creat a new issue if needed.

[2017-12-01 14:53] Sdaswani commented on #701
@bbinto since we drop a new event between slides each event should have a time stamp already. Can you confirm with the data team? If not we are happy to enable this client side.

[2017-12-01 18:04] Sdaswani opened #758 "Add SearchEngineManager Unit Tests"
Assigned to @joeyg (thanks again for your contributions)!

[2017-12-01 19:51] bkmunar commented on #728
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* Are users using the Autofill feature of the system? -> Do they see and click on autofill popups?
* Is it worth investing more in autofill features

[2017-12-01 20:10] #714 closed

[2017-12-01 20:23] Sdaswani commented on #94
Closed via https://github.com/mozilla-mobile/focus-ios/commit/a59d12730568446cccf037a035684fc20e94aa5f

[2017-12-01 20:23] #94 closed

[2017-12-01 20:24] Sdaswani commented on #724
Closed via https://github.com/mozilla-mobile/focus-ios/commit/6c6d12af59292fbcea3c1fdaa20b0b90f97fd3de

[2017-12-01 20:24] #724 closed

[2017-12-01 20:34] Sdaswani commented on #433
dupe of https://github.com/mozilla-mobile/focus-ios/pull/469

[2017-12-01 20:34] #433 closed

[2017-12-01 21:17] bkmunar commented on #745
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* Are users using the Autofill feature of the system? -> Do they see and click on autofill popups?
* Is it worth investing more in autofill features

[2017-12-01 21:44] lime124 commented on #638
i think this can be closed now...

[2017-12-01 21:44] #638 closed

[2017-12-01 22:13] joeyg opened #759 "Add Validation for Custom Search Engines"
PR #715 added the functionality for custom search engines but there is a lack of validation on the user input. The app should validate that the domain is legit and display an error message if not.

[2017-12-02 00:23] Sdaswani opened #764 "Unit Test URL Sanitization"
https://github.com/mozilla-mobile/focus-ios/pull/763#discussion_r154478559

[2017-12-02 00:23] boek opened #765 "Write unit test for the CustomCompletionSource regex"
Context: #763

[2017-12-02 00:24] boek commented on #765
Dup: #764

[2017-12-02 00:24] #765 closed

[2017-12-02 00:50] boek commented on #738
So I'm at a loss on how this is happening

https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/AppDelegate.swift#L117

The app should either navigate OR open the overlay. Not both. Can you still reliably reproduce from your phone? We might want to try debugging it

[2017-12-02 01:04] boek opened #767 "Autocomplete: Add telemetry probe when a user submits w/ autocomplete"
Context: #728

This is going to require a patch to AutocompleteTextField to get this information.

[2017-12-02 01:04] Sdaswani commented on #738
Yes I just reproduced it. Let’s pair program in Austin.

[2017-12-02 01:05] boek commented on #728
I was able to get everything except `#of times a URL was loaded by using pre-defined or custom list`. Tracking that separately here: #767

[2017-12-02 01:05] #728 closed

[2017-12-02 01:06] boek commented on #738
Sounds good 👍

[2017-12-02 05:04] #748 closed

[2017-12-02 05:04] #745 closed

[2017-12-02 05:04] #719 closed

[2017-12-02 05:09] Sdaswani commented on #767
moving this out to 4.1.

[2017-12-02 05:10] #473 closed

[2017-12-02 05:10] #598 closed

[2017-12-02 05:10] #723 closed

[2017-12-02 16:25] joeyg opened #768 "Fix SearchProviderTest UI test"
Looks like SearchProviderTest.testRemoveDefaultSearchProvider is failing on master after the custom search engine changes

[2017-12-02 16:27] joeyg commented on #758
@Sdaswani the PR for this landed so this can be closed.

[2017-12-03 02:49] cbzehner commented on #514
Would it be possible to leave a setting to disable the use of multiple tabs?

The best part of using Focus as my main web browser for me is that it forces me to either read what I already have open or discard it. This prevents me from getting into a state where I have :100:  tabs open which reduces my choice and makes the UX much simpler.

Definitely a power user problem. Let me know if there's a

[2017-12-03 03:08] cbzehner opened #770 "QuickType inputs do not show up"
I've got the default US English keyboard from Apple turned on with "Predictive" toggled to "Yes" but I'm not seeing any results displayed when using Focus.

![24475000_10209834291523380_2020689877_o](https://user-images.githubusercontent.com/3886290/33521901-1baf0440-d794-11e7-8697-7a06788a402b.jpg)

Using an iPhone 8 Plus with iOS 11.2

[2017-12-03 03:13] cbzehner opened #771 "Predictive Inputs from Gboard incorrectly passed into the Omnibar"
I'm using [Gboard](https://itunes.apple.com/app/gboard-search.-gifs.-emojis/id1091700242?mt=8) as my keyboard and in a couple cases when I select a word from the keyboard prediction the third letter is incorrectly removed.

For example, when selecting "pioneer" from the keyboard "pineer" gets entered into the omni box instead.

When I select "pioneer"
![24323962_10209834279043068_2055796446_o](htt

[2017-12-03 05:24] #768 closed

[2017-12-03 05:27] boek commented on #771
Hey @cbzehner, definitely interesting. I think you're right with it being related to #770.

[2017-12-03 05:37] #758 closed

[2017-12-03 05:38] boek commented on #737
Hey @uncertainquark, thank you for the recommendation :) This will land in 4.0!

[2017-12-03 05:38] #737 closed

[2017-12-03 05:39] boek commented on #726
Awesome rundown @pocmo!

[2017-12-04 12:24] bbinto commented on #514
Great feedback, thanks cbzehner! I agree it's a power user request but we've heard this before. We'll keep it in our backlog. FYI, there will be some user testing for multiple tabs coming next year, and I assume we will learn and can improve even more after the results are in.

If you don't mind creating a new issue with this request and we'll triage/reference it accordingly? Thanks,

[2017-12-04 15:55] AaronMT opened #772 "Wrong default search engine in 4.0 (1364)"
Installed 4.0 (1364). Amazon was my default search engine.

[2017-12-04 15:57] AaronMT commented on #759
Just noticed this as it let me add a blank name and blank URL and subsequently caused further issues

[2017-12-04 16:00] AaronMT opened #773 "'Restore Default Search Engines' non-functional"
4.0 (1364) exposes a user-visible button to restore default search engines. Currently, in this build, it is non-functional (greyed out by default and after a third party engine is added).

Is this a work in-progress still? (@joeyg)

[2017-12-04 16:13] joeyg commented on #773
@AaronMT the button should become active after you remove a default search engine.

[2017-12-04 16:31] #773 closed

[2017-12-04 16:33] AaronMT opened #774 "Crash on search engine removal"
- Install 4.0 (1364)
- Settings | Search
- Swipe Twitter to the left and '**Delete**'

[2017-12-04 16:40] AaronMT commented on #774
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001061941ab __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x0000000105829f41 objc_exception_throw + 48
	2   CoreFoundation                      0x0000000106199372 +[NSException raise:format:arguments:] + 98
	3   Foundation                          0x00000001052ce089 -[NSAssertionHandler handleFailu

[2017-12-04 16:43] AaronMT opened #775 "Custom URL autocomplete needs validation"
Added the URL '**test**' which was permitted.

Attempted to visit '**test**' which was not autocompleted.

This field should only let me enter valid URLs.

[2017-12-04 20:05] Sdaswani opened #779 "Fix Up iTunes Connect Issues & BB Issues"

[2017-12-04 20:09] bkmunar commented on #772
What should the default be? Is it Google now? or still Yahoo

[2017-12-04 20:12] bkmunar commented on #772
@Sdaswani @bbinto ^^

[2017-12-04 20:14] Sdaswani commented on #772
Google @bkmunar .

[2017-12-04 20:17] bkmunar commented on #772
Ok so the reason why this is happening is the person who coded the new search engine screen sorts the search engines alphabetically. Is it ok if at first run, they are in the same order as they was before this feature? this would solve this problem, but also would start using the alphabetical order ONCE the user starts to add their own search engines

[2017-12-04 20:17] bkmunar commented on #772
Is this a @lime124 question?

[2017-12-04 20:20] Sdaswani commented on #772
@bkmunar the invariants for this are:
1) Google should be the default search provider at install.
2) After the user adds a custom search engine and sets it as default OR chooses a new one as default, this choice should be preserved across installs.

As for alphabetizing, that's fine but me, but the two invariants must hold . :)

[2017-12-04 20:31] bkmunar commented on #772
yeah, it's an easy fix because what the code is initially doing is setting google as the default since it's the first search engine, but he's alphabetizing them before setting the default, so I just wanna make sure it's not a big issue whether it's initially alphabetized or not

[2017-12-04 20:32] joeyg commented on #759
@AaronMT @lime124 I'm working on adding some validation to this. Which of the following should be valid:
 - example.com/%s
 - example/%s
 - http://example.com/%s
 - http://example/%s

I checked firefox for iOS and the first two are invalid and the second two are valid. Not sure if we want to match that functionality.

[2017-12-04 21:25] lime124 commented on #759
@liuche implemented this on Android. I'd like to hear her thoughts as well. I'm of the opinion that they should all be valid, but idk if there's some technical reason why we need the user to include the http://

[2017-12-04 21:28] lime124 commented on #772
so the list would be un-alphabetical and then switch to alphabetical after the first search engine is added?

that would be super confusing and super odd. t

[2017-12-04 21:29] Sdaswani commented on #772
I think @bkmunar would just set the default before it alphabetized?

[2017-12-04 23:34] AaronMT commented on #772
Hard code Google check? Shouldn't we read the searchDefault read in per locale?

[2017-12-04 23:35] AaronMT commented on #759
Pretty sure Firefox on Android has this feature too if you need another spot to check its impl

[2017-12-04 23:38] Sdaswani commented on #772
Great point @AaronMT cc @bkmunar

[2017-12-05 05:39] Sdaswani commented on #772
@AaronMT can you re-verify this please?

[2017-12-05 05:39] #772 closed

[2017-12-05 05:41] Sdaswani commented on #774
Close in https://github.com/mozilla-mobile/focus-ios/commit/467f5db98384ec9d3905939ed0c2d29aec226c8b - can you please verify @AaronMT?

[2017-12-05 05:42] #774 closed

[2017-12-05 06:01] Sdaswani opened #784 "Upgrade BB SDK"
"Hi there,
If you’ve never used the buddybuild SDK you can feel free to skip this message; however, if you’re using the SDK to gather User Feedback and Crash Reports, please read on for some important updates.
At buddybuild, we care deeply about the security and privacy of your users.
To date, users who installed apps using the buddybuild SDK might not have been aware of what information was colle

[2017-12-05 06:57] jonisavage commented on #727
Content now ready; link above should redirect here: https://support.mozilla.org/en-US/kb/whats-new-focus-ios-4

[2017-12-05 06:58] jonisavage commented on #712
Content is up: https://support.mozilla.org/kb/autocomplete-url-bar-firefox-focus-ios

The link in the previous comment will redirect to this one.

[2017-12-05 15:45] bbinto commented on #702
@bkmunar can you please give me details on what value will this probe have?

https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/TelemetryIntegration.swift#L46

I'd love to setup a query

[2017-12-05 16:28] AaronMT opened #786 "Unable to restore default search engines after changing a default engine"
1. Visit Settings
2. Switch from **Google** to **Duck Duck Go**
3. Re-enter Search Settings
4. Delete **Yahoo**

Expected: **Restore Default Search Engines** to be _enabled_

Actual: **Restore Default Search Engines** is _disabled_

[2017-12-05 18:48] flodolo opened #787 ""URL Autocomplete" label in settings doesn't wrap"
Here's how it looks in Italian

<img width="320" alt="iphone 5s-06settings" src="https://user-images.githubusercontent.com/3644868/33624600-301aff5c-d9f5-11e7-9298-f8596f9b7f03.png">

Compare, for example, to other pref labels that wrap.

cc @delphine

[2017-12-05 18:51] flodolo commented on #787
Side question: can someone clarify why this panel shows up like this (partial panel, off-panel switch)?
https://github.com/5y/firefox-focus-ios/blob/master/iPhone5s/it/iPhone%205s-10trackingProtection.png

[2017-12-05 19:01] Delphine commented on #787
This also happens in Dutch, and probably more locales.
<img width="320" alt="iphone 5s-06settings" src="https://user-images.githubusercontent.com/399020/33625101-5fcebe04-d9ab-11e7-95fb-4d10d2d84128.png">

[2017-12-05 19:10] antlam commented on #677
Leaving some thoughts here around the premise of sharing "# of blockers" (hopefully they're helpful 🤔 )

- Do our target audience (privacy toe-dippers), actually _want_ to share the number of blockers? what **else** do they want to share?
- Could sharing # of blockers be an added benefit to say, sharing a URL that was simply loaded in Focus?
- what other information would people like to share that

[2017-12-05 19:14] Sdaswani commented on #779
This will also fix up https://github.com/mozilla-mobile/focus-ios/issues/754

[2017-12-05 23:36] Sdaswani commented on #677
Good question - we will instrument this first experiment to answer that question for us.

[2017-12-05 23:46] Sdaswani commented on #702
@bbinto the events are here: https://github.com/mozilla-mobile/focus-ios/blob/dc8a39a000463f6e4cb5ca7879d2fcc297e32ccf/Blockzilla/TelemetryIntegration.swift#L26

Hopefully there is already some data for you to build queries on.

[2017-12-06 04:30] joeyg commented on #786
NOTE: To reproduce this you need to delete with swipe to delete not through the edit nav button.

[2017-12-06 13:17] bbinto commented on #702
Are there any values attached to this method?

I'm not seeing it in the events pivot table yet either.

<img width="474" alt="screen shot 2017-12-06 at 8 16 15 am" src="https://user-images.githubusercontent.com/122897/33663417-e58f1d60-da5d-11e7-9fc2-24275415bf5e.png">

[2017-12-06 13:32] bbinto commented on #677
I agree with @Sdaswani - we don't know the answer to these things yet until we test it.

Target user would be our #1 user: Ad-suck Sam.

[2017-12-06 15:45] Sdaswani commented on #702
Yeah I don't see those objects or events either - how up to date is this data @bbinto ?

[2017-12-06 17:46] bbinto commented on #702
at least a couple of hours (not days)

[2017-12-06 17:48] joeyg commented on #775
@AaronMT Is the bug that the user was able to enter "test" or that "test" is not autocompleted? @bbinto is this supposed to allow auto-completion of search terms as well or just URLs?

[2017-12-06 17:56] bkmunar commented on #194
@liuche Review this plz https://github.com/mozilla-mobile/focus-ios/wiki/Event-Tracking-with-Mozilla's-Telemetry-Service

[2017-12-06 18:11] Sdaswani commented on #702
@bkmunar this is potentially another release blocker - we have to make sure the data is getting in. It is alarming we aren't seeing 'coin_flip' anywhere (just as one example).

[2017-12-06 18:11] Sdaswani commented on #702
@npark-mozilla @AaronMT  marking this as ReadyForQA but it's on the eng team to verify, just an FYI.

[2017-12-06 18:16] Sdaswani commented on #702
we have to be 100% sure we are tracking this correctly so marking as a blocker,.

[2017-12-06 18:20] Sdaswani opened #794 "Verify A/B Tested Onboarding is Firing Events"
One way to test it: https://mozilla.slack.com/archives/C4D7TER5G/p1512584287000187?thread_ts=1512584145.000009&cid=C4D7TER5G

[2017-12-06 18:22] Sdaswani commented on #702
Actually will track that work here: https://github.com/mozilla-mobile/focus-ios/issues/794

[2017-12-06 18:36] bbinto commented on #775
@joeyg -- this feature is primarily addressing URLs.

[2017-12-06 18:39] bbinto commented on #794
Use this pivot table to check if it's coming through https://sql.telemetry.mozilla.org/queries/4293#8578
(change "OS" in top row)

[2017-12-06 19:05] AaronMT commented on #775
Also accidently added an emoji as input and couldn't back out of the menu or escape edit mode

[2017-12-06 19:06] bkmunar commented on #794
<img width="782" alt="screen shot 2017-12-06 at 11 06 23 am" src="https://user-images.githubusercontent.com/8356717/33680126-8f7a9ce8-da75-11e7-8425-22a2338b1c09.png">

[2017-12-06 19:08] Sdaswani opened #795 "Adding ebay and imdb as a search engine doesn't work"
@bbinto marketing found this issue - if you try to to add ebay or IMDB as your search provider, the 'example' in the add search engine page doesn't satisfy the url format of either of those sites:

https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.Xstar+war.TRS0&_nkw=star+wars&_sacat=0

http://www.imdb.com/find?ref_=nv_sr_fn&q=star+wars&s=all

If you are smart e

[2017-12-06 19:11] AaronMT opened #796 "Unable to back out of Custom URL settings on iPad"
Added a custom URL in iPad.

Tapping 'Save' or 'Cancel' are non-functional. I can not escape out of this view.

[2017-12-06 19:12] Sdaswani commented on #795
Also cc @AaronMT

[2017-12-06 19:13] bkmunar commented on #795
Depends on how important searching with these websites are??? imo, not really sure if these are everyday usage search engines lol. If we really care about them... maybe catch them as edge cases? Not sure really

[2017-12-06 19:22] joeyg commented on #795
@Sdaswani - The implementation in Focus is similar to that of Firefox iOS where for your example you have to know to take "star wars" and turn it into "%s". Firefox for the Desktop works around this by linking out to https://addons.mozilla.org/en-US/firefox/search/?type=search and allowing users to just click a button for the search engine they want. Would that be a preferred v2 user experience?

[2017-12-06 19:23] AaronMT commented on #795
How does Firefox (Android) handle the formatting?

[2017-12-06 19:29] npark-mozilla commented on #795
We have a pretty similar bug in https://github.com/mozilla-mobile/focus-android/issues/1879

[2017-12-06 19:46] boek commented on #754
Klar is now building 🙌

[2017-12-06 19:46] #754 closed

[2017-12-06 20:14] boek opened #797 "Add validation to enforce %s in the input"

[2017-12-06 20:20] boek opened #798 "Search engine view controller is using the wrong string for its title"
<img width="598" alt="image" src="https://user-images.githubusercontent.com/1250545/33683439-c715a18e-da7f-11e7-8be5-f07fe7200b4d.png">

[2017-12-06 20:33] mcomella opened #799 "Import strings before v4.0 release"
Cross-functional said we needed to import strings before release.

@Sdaswani, anything to add here?

[2017-12-06 20:36] bbinto commented on #795
Discussed a quick fix in x-functional
- Validate on user's input, return error message if search query is incorrect and point user to SUMO page
- Add "learn more" under add to search engine screen
- @bbinto to work with @jonisavage and Roland to add examples to SUMO page

[2017-12-06 20:51] Sdaswani opened #800 "Import Latest Locales"

[2017-12-06 20:54] antlam commented on #795
Talked to @boek about this too, for now, we can add "Learn more." links to SUMO under "Add new search engine" button and a correspondingly useful one after the Example text.

[2017-12-06 20:59] liuche commented on #800
Duping again to #1765

[2017-12-06 21:00] Sdaswani commented on #800
@liuche what's 1765 for iOS?

[2017-12-06 21:00] liuche commented on #800
omg wrong github window sorryyyyy

[2017-12-06 21:21] antlam opened #801 "Add button above keyboard to add search engine"
We do this on iOS where we can. Might be a good way to surface this functionality a bit more?

![img_66a5f33db434-1](https://user-images.githubusercontent.com/1994820/33685970-28487a46-da88-11e7-9a8f-50460a01cb10.jpeg)

@lime124 for her thoughts and feedback

[2017-12-06 21:23] Sdaswani commented on #800
no you were right @mcomella did this already.

[2017-12-06 21:23] #800 closed

[2017-12-06 21:26] antlam opened #802 "Make it easier for users to add the website they're on to the URL autocomplete list"
Idea that came to mind in our cross functional meeting. If a user is on a webpage that they've already navigated to, we should give them an easier means of adding that to their URL autocomplete list. ESP if that URL is especially long.

We could do this in many ways, maybe we could prefill the form field with the current URL or something if there is one? that might be a privacy concern. But leavin

[2017-12-06 21:38] Sdaswani commented on #795
FYI on what @bbinto meant by:
"Validate on user's input, return error message if search query is incorrect"

https://github.com/mozilla-mobile/focus-android/issues/1879#issuecomment-349768342

[2017-12-06 22:27] AaronMT commented on #754
What was the issue?

[2017-12-06 22:40] joeyg commented on #798
oops! What was the title supposed to be?

[2017-12-06 23:17] bkmunar commented on #787
which one do we want
<img width="545" alt="screen shot 2017-12-06 at 3 14 00 pm" src="https://user-images.githubusercontent.com/8356717/33690492-9b19b1ba-da98-11e7-9390-1729e2d5f9ac.png">
<img width="545" alt="screen shot 2017-12-06 at 3 13 15 pm" src="https://user-images.githubusercontent.com/8356717/33690493-9b2f30f8-da98-11e7-98e3-d29714220f4d.png">

[2017-12-06 23:21] bkmunar commented on #787
@flodolo @Delphine @lime124 ^^^

[2017-12-06 23:35] joeyg commented on #795
@Sdaswani issue #759 was targeted for 4.1 release but there is a pull request up for it. Would it make sense to build this fix off of that? They seem related.

[2017-12-06 23:36] Sdaswani commented on #787
@lime124 is on PTO so I think we can make a decision and reverse it later if needs be - please do option 2. cc @bbinto

[2017-12-06 23:44] bbinto commented on #787
2nd one (for now)

![image](https://user-images.githubusercontent.com/122897/33691289-897d7582-dab5-11e7-949b-701114c473f1.png)

[2017-12-06 23:45] Sdaswani commented on #795
@joeyg we can't pull too many levers here as we are technically code frozen - if the patch only does the following things with minimal code, then happy to work off it. Search engines should not be:

[2017-12-06 23:48] bkmunar commented on #796
What did you test this on? It works fine for me on 9.7 inch iPad Pro simulator

[2017-12-06 23:54] boek commented on #802
We could add a custom actionsheet item

[2017-12-06 23:55] Delphine commented on #799
All locales except "bg" (Bulgarian) and "mr" (Marathi) are good to go : https://github.com/mozilla-l10n/focusios-l10n/

Entire list is:
ar
az
bs
cy
de
dsb
en-US
eo
es-CL
es-ES
es-MX
fa
fr
hsb
hu
id
is
it
ja
ka
kab
ko
ms
nb-NO
nl
nn-NO
pt-BR
pt-PT
ro
ru
sk
sl
sv-SE
tl
tr
uk
vi
zh-CN
zh-TW
sq
ast
es-AR
th
ne-NP
kk
cs
bn
da
eu
hi-IN
gd
lo
pl
br
he
my
ur
el
te
kn
ta
ca
ga-IE
af
ses
uz
fi

[2017-12-06 23:55] Delphine commented on #799
Please import the latest strings for these locales before adding to the release. Thanks!

[2017-12-06 23:57] bkmunar commented on #794
https://sql.telemetry.mozilla.org/queries/4293#8578

[2017-12-06 23:58] boek commented on #779
🙌 fixed!

[2017-12-06 23:58] #779 closed

[2017-12-06 23:58] boek commented on #786
Fixed with #793

[2017-12-06 23:58] #786 closed

[2017-12-07 00:01] joeyg commented on #795
I updated #783 with a check for %s. I'll let maintainers decide if this PR touches too much for a code freeze change

[2017-12-07 00:02] bkmunar commented on #794
Testing previous first run ping

[code]

[2017-12-07 00:05] bkmunar commented on #735
Oops, didn't merge it in yet

[2017-12-07 00:06] Sdaswani commented on #796
@AaronMT can you let us know what type of device you tried this on?

[2017-12-07 00:07] boek commented on #796
@Sdaswani @bkmunar it also breaks on my iPad. Weird how it works in the simulator though...

[2017-12-07 00:09] Sdaswani commented on #796
Reassigning to Jeff since he can repro it.

[2017-12-07 00:15] #796 closed

[2017-12-07 00:23] bkmunar opened #805 "Clicking Save with empty fields on Add Custom Search Engine crashes"

[2017-12-07 00:54] AaronMT commented on #796
For record I use actual devices for testing. It's what our users use.

[2017-12-07 03:08] #787 closed

[2017-12-07 12:27] bbinto commented on #794
@Sdaswani & @bkmunar - to clarify if I want to split the cohorts into a) was shown onboarding b) was not shown onboarding, and I want to calculate retention for e.g. b), how would I query out a)? These users don't have this method at all?

I was hoping for either a binary value for new_onboarding = true|false to distinguish between a) and b)
or something we've done in the past for other mobile pro

[2017-12-07 14:27] Sdaswani commented on #794
@bbinto we should also be seeing[ 'previous_first_run'](https://github.com/mozilla-mobile/focus-ios/blob/9dc3f4cb4f2510d8cedd169df6e43e48bdf21c42/Blockzilla/TelemetryIntegration.swift#L41), which should allow you to distinguish between the two flows, but I'm not seeing it there - @bkmunar please look into this ASAP.

[2017-12-07 14:38] bbinto commented on #794
This is getting more confusing :( Now I see another method called "ios_onboarding_1". What's does that refer to?

<img width="622" alt="screen shot 2017-12-07 at 9 31 18 am" src="https://user-images.githubusercontent.com/122897/33720397-d356644e-db31-11e7-862b-973ec0b94960.png">

My undersanding was any version < 4.0 does not have multiple first run slides but just the [one](https://user-images.gi

[2017-12-07 14:53] Sdaswani commented on #794
Sorry @bbinto - 'ios_onboarding_v1' for all 4.0 users who see the new onboarding, and 'previous_first_run' for all 4.0 users who see the older screen you linked to.

@bkmunar is going to check why 'previous_first_run' isn't showing up in the table - he saw it spit out i the client per this [comment](https://github.com/mozilla-mobile/focus-ios/issues/794#issuecomment-349815993).

[2017-12-07 15:18] Sdaswani commented on #805
@bkmunar can this be closed? I see a referenced commit, but don't see it in the master commit history?

[2017-12-07 15:23] bbinto commented on #794
Ok, so here is the query I'm hoping will show us the DAUs for the two cohorts, currently only showing is_onboarding_v1 (@bkmunar to let me know when the other object is successfully sent) -- I set the query to refresh every 10min.

https://sql.telemetry.mozilla.org/queries/49852#134073

[2017-12-07 16:55] joeyg commented on #802
The Firefox iOS app handles this with the search button above the keyboard when you focus on any form input. Presumably most pages have multiple inputs so they wait until you enter a field to allow the option.

I believe Firefox desktop allows users to add search engines if they link to an open search spec in their meta fields.

[2017-12-07 18:06] bkmunar commented on #805
This is addressed in @joeyg 's other patch

[2017-12-07 18:08] Sdaswani commented on #805
What other patch @bkmunar ? Did that land?

[2017-12-07 18:11] bkmunar commented on #805
https://github.com/mozilla-mobile/focus-ios/pull/783

[2017-12-07 18:11] bkmunar commented on #805
Don't think it landed yet

[2017-12-07 18:29] Delphine commented on #799
(CC @Sdaswani and CC @bbinto since there may not be a lot of turnaround time for this - want ot get this on your radar asap)

So I looked at the string import here, and unless I'm missing something it seems like the process is not entirely working anymore. In fact, what's described here doesn't look reliable anymore: https://github.com/mozilla-mobile/focus-ios/wiki/Importing-Locales

Older locales

[2017-12-07 19:28] Sdaswani commented on #799
Thanks @Delphine - @bkmunar is working on re-importing everything fresh, and then we will solve this issue later.

[2017-12-07 19:32] Sdaswani commented on #805
Should be fixed by https://github.com/mozilla-mobile/focus-ios/commit/c9ff67d894fb746f0a2b3c68042c8f6a4e8eb476 - @boek re-open if you it doesn't verify.

[2017-12-07 19:32] #805 closed

[2017-12-07 19:33] Sdaswani commented on #797
Closed by https://github.com/mozilla-mobile/focus-ios/commit/c9ff67d894fb746f0a2b3c68042c8f6a4e8eb476 - @boek re-open if it doesn't verify,.

[2017-12-07 19:33] #797 closed

[2017-12-07 19:33] Sdaswani commented on #795
@boek will add the 200 check as part of the code added in this flow: https://github.com/mozilla-mobile/focus-ios/commit/c9ff67d894fb746f0a2b3c68042c8f6a4e8eb476

[2017-12-07 19:43] Sdaswani opened #810 "Figure out Why l10n script isn't adding new files for existing locales"
See this for background: https://github.com/mozilla-mobile/focus-ios/pull/808#issuecomment-349880986

[2017-12-07 19:44] Sdaswani commented on #759
Closed with https://github.com/mozilla-mobile/focus-ios/commit/c9ff67d894fb746f0a2b3c68042c8f6a4e8eb476 - re-open if all issues not addressed.

[2017-12-07 19:45] #759 closed

[2017-12-07 20:16] Sdaswani commented on #794
@bbinto the data has been showing up all along - just in a different category. Here is the table? Can we keep it here or should we add it to the 'action' category?

https://sql.telemetry.mozilla.org/queries/49862#table

My preference is to add it to the 'action' category.

[2017-12-07 20:27] boek opened #813 "Add Search Engine laundry list"
# UI
- [x] Add learn more link inline with the example on AddViewController
- [x] Test user input before saving
- [x] Fix restore search engines button when tapped (doubles in size)
- [x] Disable save button
- [x] Fix keyboard color changes
- [x] Fix placeholder text shifting when typing in the template

# Validation
- [x] double check url message

[2017-12-07 20:32] joeyg commented on #813
@boek thanks! Sorry my initial PR created so many issues

[2017-12-07 20:48] boek commented on #813
No problem @joeyg! Thank you for all the effort landing this feature :) I'll take care of some of this cleanup

[2017-12-07 20:49] Sdaswani commented on #794
@bkmunar remove this line: https://github.com/mozilla-mobile/focus-ios/blob/9dc3f4cb4f2510d8cedd169df6e43e48bdf21c42/Blockzilla/TelemetryIntegration.swift#L13

Then fix all

[2017-12-07 20:55] Sdaswani commented on #794
he fix is in https://github.com/mozilla-mobile/focus-ios/commit/ce11965e62cec0f0b94ed37659c0b91f47199b11

@bkmunar can you get the latest code and run the app a few times and then we should start seeing data here: https://sql.telemetry.mozilla.org/queries/49852#134073

[2017-12-07 21:39] liuche opened #816 "SUMO link for search engines"
Talked to @jonisavage and here's the link for iOS:
https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/add-search-engine-ios

which redirects to
https://support.mozilla.org/en-US/kb/add-search-engines-firefox-focus-ios

Already talked to @boek, but filing this for reference.

[2017-12-07 21:41] liuche commented on #816
This page will also include the examples of search urls that users can paste into "add search engine" and use as mentioned by @bbinto, page is done so closing this issue now.

[2017-12-07 21:41] #816 closed

[2017-12-07 21:42] Sdaswani commented on #799
Landed here https://github.com/mozilla-mobile/focus-ios/commit/81ccc160db78853c8d2f958c896587428f2f0d96 .

[2017-12-07 21:42] #799 closed

[2017-12-07 22:38] Sdaswani commented on #794
Seeing data here now @bbinto ! https://sql.telemetry.mozilla.org/queries/49868#134100

[2017-12-07 22:38] #794 closed

[2017-12-07 23:42] bkmunar commented on #798
@joeyg "Search Engine"

[code]

[2017-12-08 00:51] Sdaswani commented on #798
Closed in https://github.com/mozilla-mobile/focus-ios/commit/de5f751ce6019ab5cfb43d359dd08dd96072a1d7

[2017-12-08 00:51] #798 closed

[2017-12-08 01:20] Sdaswani opened #819 "Fix Failing Test"
https://dashboard.buddybuild.com/apps/58cc46bc5753e401002f47b4/build/5a29e00a1257290001f1cebb/test/7bb4b084-0641-4d60-9587-e8e0a34cc892/5d04a308-165d-41f2-acd6-edbb4139dce9

[2017-12-08 02:07] cbzehner opened #821 "Continue supporting a "focused" view"
Once https://github.com/mozilla-mobile/focus-ios/issues/514, _Adding 'multiple tab' support_, is implemented would it be possible to leave a setting to disable the use of multiple tabs?

The best part of using Focus as my main web browser for me is that it forces me to either read what I already have open or discard it. This prevents me from getting into a state where I have :100: tabs open.

Defi

[2017-12-08 03:35] #813 closed

[2017-12-08 03:35] #795 closed

[2017-12-08 06:30] #819 closed

[2017-12-08 19:34] boek opened #824 "Make the example text responsive to screen size"
Currently we had to sandwich the label to fit inside the iPhone 5s. We should account for this better

<img width="504" alt="image" src="https://user-images.githubusercontent.com/1250545/33782000-ac3b1690-dc0b-11e7-9a7d-d40c09954767.png">

![img_3dc5c0b30cb8-1](https://user-images.githubusercontent.com/1250545/33782009-b5eb7e0a-dc0b-11e7-995a-e9d330faf70e.jpeg)

[2017-12-08 19:48] antlam opened #825 "Match custom search engine icon with Android"
The custom search engine icon currently a white square with a black character on top.

On Android, it's the same purple as the Add to Homescreen shortcut icon as the background with a white character on top.

We should match these two since they're inconsistent right now - whichever we choose? @lime124

[2017-12-08 20:48] #735 closed

[2017-12-08 20:51] Sdaswani commented on #348
@boek this is done right?

[2017-12-08 20:53] Sdaswani opened #827 "Better String for Search Engine Validation"
Our message is not great now, so we need to improve it.

[2017-12-09 00:33] Delphine commented on #799
(For my tracking purposes: 2 new locales were added to this release - bs and ka)

[2017-12-09 00:42] Sdaswani opened #829 "Bump Version"

[2017-12-09 00:43] Sdaswani opened #830 "Fix Missing Intro Strings"

[2017-12-09 00:49] Sdaswani commented on #830
Background can be found here: https://github.com/mozilla-mobile/focus-ios/issues/799#issuecomment-350406985

[2017-12-09 00:51] Sdaswani commented on #830
I meant this one: https://github.com/mozilla-mobile/focus-ios/pull/812#issuecomment-350401802

[2017-12-09 00:59] cecilebertin opened #831 "Label for "Restore Default Search Engines" not responsive"
The label **_Restore Default Search Engines_** at the bottom of the **Search Engine** settings is not responsive. Localized texts that are longer are cut off.

<img width="245" alt="capture d ecran 2017-12-08 a 16 53 08" src="https://user-images.githubusercontent.com/21285660/33790822-7f3c94ac-dc38-11e7-8812-fd50a568b04a.png">

[2017-12-09 01:13] cecilebertin opened #833 "Color of the switches in the "URL Autocomplete" settings are green"
The color of the switches in the "URL Autocomplete" settings are green, but the color of the switches in the rest of the app are blue.
<img width="245" alt="capture d ecran 2017-12-08 a 17 06 30" src="https://user-images.githubusercontent.com/21285660/33790996-a311ca58-dc3a-11e7-9c62-8c855f42c20e.png">
<img width="245" alt="capture d ecran 2017-12-08 a 17 06 37" src="https://user-images.githubuser

[2017-12-09 05:04] Sdaswani commented on #830
Closed with https://github.com/mozilla-mobile/focus-ios/commit/393bc925dea94445fee4c23c2c3ebd26d8de86c5

[2017-12-09 05:04] #830 closed

[2017-12-09 05:22] Sdaswani commented on #829
Commited here: https://github.com/mozilla-mobile/focus-ios/commit/f204069403d580928c7e5c72b3166d83f423c025

[2017-12-09 05:22] #829 closed

[2017-12-10 06:05] Sdaswani opened #836 "Update Open In Firefox Icon in Share Sheet"
https://dashboard.buddybuild.com/apps/58cc46bc5753e401002f47b4/feedback?fid=5a2b93cc1b54950001c44ccc&bnum=1477

@antlam I wonder if this is a bug on the Firefox side -  I don't know if Focus sets up that share sheet.

[2017-12-11 16:03] AaronMT commented on #821
CC @antlam for thoughts