[2018-08-18 15:34] joeyg opened #1255 "Custom URL’s using wrong selected bg color"
![GitHawk Upload by joeyg](https://i.imgur.com/N7PwRok.jpg)

[2018-08-18 18:20] joeyg opened #1256 "Copy url action doesn’t have feedback"
It would be nice if after using the copy url from the page action menu a quick message popped up to confirm that the url is in the clipboard.

[2018-08-18 19:02] marchiore commented on #1249
I created a PR ( #1257) for this.

[2018-08-18 23:48] oliviabrown9 commented on #1254
@brampitoyo Can you let us know what color you want the what's new icon to be when there's something new?

[2018-08-20 03:28] brampitoyo commented on #1254
@oliviabrown9 The colour of the highlight icon should be `teal-50` `#00feff`. This will give it sufficient contrast to the rest of the Settings menu items.

[2018-08-20 12:13] SIMRAN1 commented on #1213
@oliviabrown9 please guide me to solve this issue!

[2018-08-20 20:20] oliviabrown9 commented on #1247
Closed with #1248.

[2018-08-20 20:20] #1247 closed

[2018-08-20 20:29] oliviabrown9 commented on #1255
Closed with #1259.

[2018-08-20 20:29] #1255 closed

[2018-08-20 22:18] oliviabrown9 opened #1262 "URL bar isEditing states gets distorted when scrolling"
![simulator screen shot - iphone x - 2018-08-20 at 17 02 02](https://user-images.githubusercontent.com/20130899/44372853-cb728900-a49a-11e8-8c95-54dd6864aa4e.png)

[2018-08-20 22:30] marchiore opened #1264 "Invalid Char While Entering Text in AutocompleteTextField with Previous Text"
![error-focus](https://user-images.githubusercontent.com/648079/44370111-2b732a80-a4af-11e8-9331-b690b96c6702.gif)

Steps to reproduce:
- Run Focus on **v7.0-dev**
- Type `T`and press `Enter`
- Type `M`

[2018-08-20 22:30] marchiore commented on #1264
ping @oliviabrown9

[2018-08-20 23:31] oliviabrown9 commented on #1264
Good catch - it's an interesting issue. It looks to me like it's A. always reproducible. and B. always whatever the last character of the previous URL was.

[2018-08-20 23:36] oliviabrown9 commented on #1264
It's directly related to this change: https://github.com/mozilla-mobile/focus-ios/pull/1248#discussion_r210928522

CC: @sblatz

[2018-08-20 23:59] oliviabrown9 commented on #533
Closed with #1215.

[2018-08-20 23:59] #533 closed

[2018-08-21 01:44] brampitoyo commented on #1097
In an ideal world, we’d like to have as many shortcut sites as possible – the system limit is 16.

Unfortunately, when we support more than one site, Siri will will display an onscreen notification that will ‘spoil’ the URL and compromise the user’s privacy, every time the keyword is invoked.

<img width="375" src="https://user-images.githubusercontent.com/51007/44375385-8ce6d800-a547-11e8-8436-ba

[2018-08-21 05:33] abusedcharacter opened #1269 "Drag and drop YouTube Bug"
While using Firefox Focus on my iPad, I dragged and dropped the url link of several different YouTube videos to Notes. Once I went to check out the urls that I copied they were all for the same url. Thank you all if this bug gets fixed, have a nice day.

[2018-08-21 06:41] oliviabrown9 commented on #965
Documentation has been updated. (Script has not been)

[2018-08-21 06:45] oliviabrown9 opened #1270 "[meta] Broken Tests in V7.0"
Not all tests are passing with redesign. Need to investigate exactly what needs to be done.

Tests that are failing:

- [x] #1277 - AsianLocaleTest
- [x] #1278 - FindInPageTest
- [x] #1279 - QuickAddAutocompleteURLTest
- [x] #1280 - RequestDesktopSite
- [x] #1281 - SearchProviderTest
- [x] #1282 - SettingAppearanceTest
- [x] #1283 - TrackingProtectionSettings
- [x] #1284 - WebsiteAccessTests
- [x]

[2018-08-21 15:14] sblatz opened #1271 "Scrolling loading webpage leads to duplicated tracking protection icon"
Steps to reproduce:
1. Navigate to a webpage that can scroll
2. While the webpage is partially loaded, scroll down a bit

Result:
When the webpage finishes loading, tracking protection icon is duplicated. Demo can be seen below.
![bug 2018-08-21 11_13_45](https://user-images.githubusercontent.com/4400286/44410885-4dae8c00-a533-11e8-99c0-74c83d8527e3.gif)

[2018-08-21 15:22] sblatz opened #1272 "URL bar flashes transparent when transitioning to overlayView"
Steps to reproduce:
1. Navigate to any website
2. Scroll to collapse the URL bar
3. Tap on the URL bar
4. Tap again to begin editing.

Result:
The URL bar flashes transparent for a split second (somewhat jarring), before transitioning to the overlay view color

<img width="320" alt="screen shot 2018-08-21 at 11 21 21 am" src="https://user-images.githubusercontent.com/4400286/44411402-6ec3ac80-a534

[2018-08-21 15:42] sblatz commented on #1262
Steps to reproduce:

1. Scroll down on a page
2. Scroll up on a page
3. While the page is still scrolling, tap the url bar to begin editing.

[2018-08-21 15:59] sblatz commented on #1213
@SIMRAN1 it looks like it may be an issue with inside the dismiss function! Particularly with this conditional statement:

[code]

[2018-08-21 16:11] sblatz commented on #1269
I'll investigate this! Thanks for reporting it :)

[2018-08-21 17:12] oliviabrown9 commented on #1262
Closed with #1268.

[2018-08-21 17:12] #1262 closed

[2018-08-21 17:13] oliviabrown9 commented on #1254
Closed with #1260.

[2018-08-21 17:13] #1254 closed

[2018-08-21 18:06] Sdaswani commented on #1165
@oliviabrown9 you may want to break down this ticket but you must include telemetry.

[2018-08-21 18:09] Sdaswani commented on #944
@oliviabrown9 to ask someone on Firefox iOS if they ran into this issue.

[2018-08-21 18:15] sblatz commented on #1264
This appears to actually be a bug with AutocompleteTextField. I've submitted a patch to keep 6.0 functionality with the end of the URLText showing until it can be fixed.

[2018-08-21 23:36] oliviabrown9 opened #1275 "Paste and Go from Menu Controller on Home Screen Crashes"

[2018-08-22 00:26] oliviabrown9 opened #1277 "AsianLocaleTest Fails on 7.0"

[2018-08-22 00:27] oliviabrown9 opened #1278 "FindInPageTest Fails on 7.0"

[2018-08-22 00:28] oliviabrown9 opened #1279 "QuickAddAutocompleteURLTest Fails on 7.0"

[2018-08-22 00:28] oliviabrown9 opened #1280 "RequestDesktopSite Fails on 7.0"

[2018-08-22 00:28] oliviabrown9 opened #1281 "SearchProviderTest Fails on 7.0"

[2018-08-22 00:29] oliviabrown9 opened #1282 "SettingAppearanceTest Fails on 7.0"

[2018-08-22 00:29] oliviabrown9 opened #1283 "TrackingProtectionSettings Fails on 7.0"

[2018-08-22 00:30] oliviabrown9 opened #1284 "WebsiteAccessTests Fail on 7.0"

[2018-08-22 00:30] oliviabrown9 opened #1285 "WebsiteMemoryTest Fails on 7.0"

[2018-08-22 02:53] oliviabrown9 commented on #1264
Closed with https://github.com/mozilla-mobile/focus-ios/pull/1273

[2018-08-22 02:53] #1264 closed

[2018-08-22 03:07] SIMRAN1 commented on #1213
Thanks @sblatz . I will send a PR for it soon!

[2018-08-22 17:51] oliviabrown9 commented on #1275
Closed with #1276.

[2018-08-22 17:51] #1275 closed

[2018-08-22 20:40] oliviabrown9 opened #1293 "TrackingProtectionSidebar Test Fails on 7.0"

[2018-08-22 21:38] oliviabrown9 commented on #1277
Closed with #1286.

[2018-08-22 21:38] #1277 closed

[2018-08-22 21:38] oliviabrown9 commented on #1278
Closed with #1287.

[2018-08-22 21:38] #1278 closed

[2018-08-22 21:40] oliviabrown9 commented on #1279
Closed with #1288.

[2018-08-22 21:40] #1279 closed

[2018-08-22 21:41] oliviabrown9 commented on #1280
Closed with #1289.

[2018-08-22 21:41] #1280 closed

[2018-08-22 21:49] oliviabrown9 commented on #1282
Closed with #1290.

[2018-08-22 21:49] #1282 closed

[2018-08-22 21:50] oliviabrown9 commented on #1281
Closed with #1291.

[2018-08-22 21:50] #1281 closed

[2018-08-22 21:51] oliviabrown9 commented on #1283
Closed with #1292.

[2018-08-22 21:51] #1283 closed

[2018-08-22 23:06] oliviabrown9 commented on #1256
Closed with #1297.

[2018-08-22 23:06] #1256 closed

[2018-08-22 23:07] oliviabrown9 commented on #1285
Closed with #1296.

[2018-08-22 23:07] #1285 closed

[2018-08-22 23:07] oliviabrown9 commented on #1284
Closed with #1295.

[2018-08-22 23:07] #1284 closed

[2018-08-22 23:09] oliviabrown9 commented on #1177
Closed with #1298.

[2018-08-22 23:09] #1177 closed

[2018-08-23 00:49] oliviabrown9 commented on #944
PR opened, should be fixed: https://github.com/mozilla-mobile/focus-ios/pull/1299

[2018-08-23 00:57] Sdaswani commented on #944
Very cool @oliviabrown9 - what was the fix?

[2018-08-23 04:47] oliviabrown9 commented on #944
@Sdaswani Google changed their policy to stop supporting web view log in for apps in favor of having them use a native SDK (so an app wouldn't just load a web view to log into their app and would instead have a native log in with Google button. The change to the structure of our UA shows Google that we are a browser rather than an app that is trying to let users log into our own app.

[2018-08-23 05:02] oliviabrown9 commented on #1293
Closed with #1294.

[2018-08-23 05:02] #1293 closed

[2018-08-23 05:02] oliviabrown9 commented on #1270
Closing as all tests are passing :)

[2018-08-23 05:02] #1270 closed

[2018-08-23 05:08] Sdaswani commented on #944
Thanks @oliviabrown9 . any idea when this policy changed?

[2018-08-23 05:27] oliviabrown9 commented on #944
@Sdaswani Looks like they announced it [here](https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html?m=1) in Aug 2016 and started enforcing it in April 2017.

[2018-08-23 11:00] iqDF commented on #1213
Has the issue solved? Hi there I'm new to contribution thingy and wondering if issue like this is real or just meant for practice. I'm willing to work on this issue.

[2018-08-23 15:06] Sdaswani commented on #944
Wow not sure how we could have seen that message. We _probably_ need somebody to build an automated test to check for this.

[2018-08-23 15:06] Sdaswani opened #1300 "Create a automated test to check for google sign in availability"
Per #944

[2018-08-23 15:56] sblatz commented on #1213
@iqDF Thanks for your interest in contributing! It looks like @SIMRAN1 is working on this issue right now, but feel free to look at some of the other [good first issues](https://github.com/mozilla-mobile/focus-ios/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22). Let me know if you have any questions!

[2018-08-23 18:58] sblatz opened #1301 "Siri shortcuts should force browser view"
Steps to reproduce:
1. Open the settings menu
2. Exit the app
3. Trigger a Siri voice shortcut

Result:
* Settings menu is still displayed when the app is opened

Expected:
* Browser is shown instead of the settings menu

Ideally we would also dismiss photon action sheets that were previously opened as well.

[2018-08-23 20:50] oliviabrown9 commented on #1097
Closed with #1274.

[2018-08-23 20:50] #1097 closed

[2018-08-23 22:59] oliviabrown9 opened #1302 "Increase Build Number for Beta 2"

[2018-08-23 23:01] oliviabrown9 commented on #944
Closed with #1299.

[2018-08-23 23:01] #944 closed

[2018-08-24 00:09] oliviabrown9 commented on #1300
PR: #1305

[2018-08-24 11:18] oliviabrown9 opened #1306 "[7.0 Beta 2] Share trackers button does nothing on tap"

[2018-08-24 11:26] oliviabrown9 opened #1307 "[7.0 Beta 2] Open Favorite Site not being donated consistently"
I believe the plan was just to donate if it had been set and the website visited was the same as the base url. Needs investigation.

[2018-08-24 14:08] AaronMT opened #1308 "[7.0 Beta 2] Navigation toolbars overlap on device rotation"
Using 7.0 (2997) on TestFlight on my iPad. I visited a site and then did a device rotation and saw the overlapped navigation buttons. See screenshot. Also their padding looks weird here, not sure if that’s expected.
![7a5facd0-4b67-421f-b5a8-14fac850856a](https://user-images.githubusercontent.com/102331/44589098-99587400-a785-11e8-86ee-aac16da810ca.png)

[2018-08-25 06:45] iqDF commented on #1271
Hi @sblatz,

I want to work on this issue but I wonder how can I build the xcode project?
When I follow along the installation guide and finally build the focus scheme, I realise I still don't have the Snapkit, and some json files:
- disconnect-social.json
- disconnect-content.json
- disconnect-analytics.json
- disconnect-advertising.json

I have Carthage installed and I did execute the ./checkout

[2018-08-25 07:11] SIMRAN1 commented on #1271
Hi @iqDF I also faced the same problem. You can follow the following suggestions:-
Make sure that you have python 2.7 installed. You can check it by using python --version.
Install Carthage when Your Xcode is closed.
Follow Steps of ReadMe properly.
If you face any other problem you can ping anytime. Thanks!

[2018-08-25 07:44] iqDF commented on #1271
Hi @SIMRAN1,
Thank you for you prompt response. I did check my python version is currently 2.7.10 and my carthage version is 0.30.1 installed using brew. I just encountered a build failed errors when I run `./checkout.sh` bash file. Here are the errors I can read from terminal:

1.  `Skipped downloading <framework_name>.framework binary due to error: "Must specify two-factor authentication" `.  I

[2018-08-27 18:02] oliviabrown9 commented on #1300
Closed with #1305.

[2018-08-27 18:02] #1300 closed

[2018-08-27 18:03] oliviabrown9 commented on #857
Closed with #898.

[2018-08-27 18:03] #857 closed

[2018-08-27 19:32] bbinto opened #1309 "Update topdomain list (remove terraclicks.com)"
See more info here: https://bugzilla.mozilla.org/show_bug.cgi?id=1477059

[2018-08-27 20:02] oliviabrown9 commented on #1309
It looks to me like this URL already does not autocomplete on Focus iOS @bbinto

[2018-08-27 20:03] oliviabrown9 commented on #1301
Closed with #1304.

[2018-08-27 20:03] #1301 closed

[2018-08-27 20:03] #1142 closed

[2018-08-27 22:19] oliviabrown9 opened #1311 "[7.0 Beta 2] Crash in 'Open in Focus' sharing"

[2018-08-28 00:34] oliviabrown9 opened #1317 "Update documentation to include filing security issues"

[2018-08-28 00:37] #1317 closed

[2018-08-28 00:55] oliviabrown9 opened #1319 "Export Strings for 7.0"

[2018-08-28 16:17] oliviabrown9 commented on #1306
Closed with #1318.

[2018-08-28 16:17] #1306 closed

[2018-08-28 17:42] oliviabrown9 commented on #1311
Closed with #1316.

[2018-08-28 17:42] #1311 closed

[2018-08-28 17:44] oliviabrown9 commented on #1213
Closed with #1315.

[2018-08-28 17:44] #1213 closed

[2018-08-28 17:45] oliviabrown9 commented on #1308
Closed with #1313.

[2018-08-28 17:45] #1308 closed

[2018-08-28 17:46] oliviabrown9 commented on #1307
Closed with #1310.

[2018-08-28 17:46] #1307 closed

[2018-08-28 17:51] oliviabrown9 commented on #1095
Closing as not reproducible with the new menus in the 7.0 betas. If you experience this on 7.0, please file.

[2018-08-28 17:51] #1095 closed

[2018-08-28 18:13] Sdaswani commented on #1165
@brampitoyo and @BrianNJones can you please provide a list (as opposed to strings in screen mocks) of all the tips you want? Similar to Android you should have an actionable link that @oliviabrown9 will deep link to the correct setting.

[2018-08-28 18:19] oliviabrown9 commented on #1165
@sblatz Can you specify when and what tips users see on Android?

[2018-08-28 18:19] oliviabrown9 commented on #1165
@sblatz Also what telemetry you have in Android?

[2018-08-28 18:38] Sdaswani commented on #1165
Telemetry: https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#homescreen-tips

[2018-08-28 19:15] oliviabrown9 commented on #1049
Closed with #1312.

[2018-08-28 19:15] #1049 closed

[2018-08-28 19:16] oliviabrown9 opened #1320 "Telemetry for Siri"
Add telemetry for each time each shortcut is invoked.

[2018-08-28 20:07] oliviabrown9 commented on #1319
Closed with #1321.

[2018-08-28 20:07] #1319 closed

[2018-08-28 20:10] sblatz commented on #1272
This appears to be resolved by removing the
[code]
line within URLBarContainer. @oliviabrown9 to investigate further (perhaps we don't need the editing state?)

[2018-08-28 20:18] BrianNJones commented on #1165
I'll set up a meeting with Bram to sync our lists.

On Tue, Aug 28, 2018 at 1:13 PM, Susheel Daswani <notifications@github.com>
wrote:

[2018-08-28 20:24] oliviabrown9 opened #1322 "Duplicate string title causing project to not compile"

[2018-08-28 20:25] Sdaswani commented on #1165
Thanks @BrianNJones note that for ease of shipping we are going with English only for the A/B test.

[2018-08-28 23:06] oliviabrown9 commented on #1322
Closed with #1323.

[2018-08-28 23:06] #1322 closed

[2018-08-29 19:31] oliviabrown9 commented on #1320
Closed with #1324.

[2018-08-29 19:31] #1320 closed

[2018-08-29 20:48] oliviabrown9 opened #1325 "Update 7.0 localization string comments based on l10n feedback"
See discussion at https://github.com/mozilla-l10n/focusios-l10n/pull/51

[2018-08-29 21:03] oliviabrown9 commented on #1325
Closed with #1326.

[2018-08-29 21:03] #1325 closed

[2018-08-29 21:15] oliviabrown9 opened #1327 "Add Telemetry for Screen Tips"

[2018-08-29 21:16] oliviabrown9 commented on #1165
Separating out Telemetry: #1327

[2018-08-30 13:50] BrianNJones commented on #1165
@oliviabrown9 @brampitoyo @Sdaswani

Strings below. Confirmation, pls, that user can only use "Siri to open site" with a single site?

*Add to Autocomplete*
Autocomplete URLs for the sites you use most
Long-press any URL in the address bar

*Normalize behavior using TP*
Site acting strange?
Try turning off Tracking Protection

*Open desktop site*
Get the full desktop site instead
Page Actions > Re

[2018-08-30 17:45] oliviabrown9 commented on #1165
@BrianNJones Confirmed that there is only a single favorite site! Thanks for the strings!

[2018-08-30 21:39] oliviabrown9 opened #1330 "Update what's new link for 7.0"

[2018-08-30 21:42] oliviabrown9 opened #1331 "Update build number for beta 3"

[2018-08-30 22:55] oliviabrown9 commented on #1327
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) **What questions will you answer with this data?**

* How do home screen tips affect engagement with specific features?
* Are users engaging with deep-linking on home screen tips?

2) **Why does Mo

[2018-08-31 00:36] sblatz opened #1335 "Jumpy text when URL bar transitions"
Breakout issue from #1223: only addresses the text animation.

[2018-08-31 05:18] oliviabrown9 commented on #1331
Closed with #1332.

[2018-08-31 05:18] #1331 closed

[2018-08-31 05:27] oliviabrown9 commented on #1219
Closing as sub tickets have been closed.

[2018-08-31 05:27] #1219 closed

[2018-08-31 12:37] sblatz commented on #1335
Closed by #1336.

[2018-08-31 12:37] #1335 closed

[2018-08-31 18:32] oliviabrown9 commented on #1330
Closed with #1333.

[2018-08-31 18:32] #1330 closed

[2018-08-31 18:33] oliviabrown9 opened #1337 "Add Toggle to Turn Off Screen Tips in Settings"

[2018-08-31 21:10] oliviabrown9 commented on #1165
Closed with #1329.

[2018-08-31 21:10] #1165 closed

[2018-08-31 21:11] oliviabrown9 commented on #1165
Follow up ticket for adding a toggle to settings: https://github.com/mozilla-mobile/focus-ios/issues/1337

[2018-08-31 21:14] oliviabrown9 opened #1338 "Client Tests are Failing"
Both BrowserVCTests and UserAgentTests are failing.

Likely linked to the fix for https://github.com/mozilla-mobile/focus-ios/issues/944

[2018-08-31 21:23] oliviabrown9 opened #1339 "Import Strings for 7.0 Beta 3"

[2018-08-31 21:27] oliviabrown9 opened #1340 "L10n Documentation Needs Update to Allow Incomplete"

[2018-08-31 21:29] oliviabrown9 commented on #1340
Closed with https://github.com/mozilla-mobile/focus-ios/wiki/Importing-Locales.

[2018-08-31 21:29] #1340 closed

[2018-09-01 01:19] oliviabrown9 opened #1343 "Siri Descriptions Must Have Localization"

[2018-09-01 08:55] oliviabrown9 commented on #1339
Closed with #1341.

[2018-09-01 08:55] #1339 closed

[2018-09-03 02:58] brampitoyo opened #1345 "Consider swapping Settings and Erase buttons"
CC @oliviabrown9 @sblatz @Sdaswani and others.

### Current

![slice 2x](https://user-images.githubusercontent.com/51007/44965146-36868a00-af88-11e8-95cd-0be2e0f8499d.png)

### Proposed

![slice 2x](https://user-images.githubusercontent.com/51007/44964953-3d60cd00-af87-11e8-9bd5-ea489f4802ed.png)

### About this proposal

This is an idea that I’ve considered in earlier mockup, but backed away from

[2018-09-03 03:06] brampitoyo commented on #1337
This toggle should be located under the “Privacy” section, and below “Block web fonts”.

We can call it something like:

[2018-09-03 17:37] Sdaswani commented on #1345
We just made the current UI change - @brampitoyo do you have enough data / telemetry to see how the new UI is doing?

[2018-09-03 19:46] SIMRAN1 commented on #1271
@oliviabrown9 @sblatz can you please help @iqDF in solving the above problem as mentioned in previous comment!!

[2018-09-03 20:53] brampitoyo commented on #1345
@Sdaswani I would love to see some data/telemetry on the new UI. Moving the erase button elsewhere – although to a better position – is still my biggest worry.

[2018-09-04 04:01] Sdaswani commented on #1345
@mmccorks is there any way to get daily historical data on how many clicks of erase_button happen per day? https://sql.telemetry.mozilla.org/queries/4293#8578

[2018-09-04 04:56] iqDF commented on #1271
@SIMRAN1  Thanks for your concern. I have solved the above issue a week ago. I'm sorry I forgot to tell you. I was a bit busy the last 2 weeks with my school assignment but I'll be back for my first contribution here around mid September.

About the installation issue, I found out that carthage downloaded the dependecies using ssh and when I executed the carthage command, it basically trying to ac

[2018-09-04 13:39] sblatz commented on #1271
Thanks for the update, @iqDF! Glad you got it working :)

[2018-09-04 21:28] oliviabrown9 commented on #1337
Just my opinion, but I'm not sure that it makes sense to put it under "Privacy" because it doesn't affect their privacy. It might need to be its own section (similar to how Safari is?). I think @sblatz told me it's under "Mozilla" in Android, which I'm not sure is ideal either since, again, it's not actually related to Mozilla. Might be overthinking it, but since we just reordered the menu with 7.

[2018-09-04 23:43] brampitoyo opened #1347 "[7.0 RC] Small colour tweaks to Settings"
After using our TestFlight build daily, it became apparent that our Settings look and feel out of place when compared to both Firefox for iOS and iOS system dark themes.

Note how some of our text and line colours are too harsh:

<img width="220" src="https://user-images.githubusercontent.com/51007/45062892-2fce5300-b0ff-11e8-8561-17d691e903a3.jpeg"><img width="220" src="https://user-images.github

[2018-09-05 00:29] oliviabrown9 commented on #1345
Removing the RC tag since this won't land with 7.0.

[2018-09-05 20:55] Sdaswani opened #1348 "Results from Focus iOS Share Experiment"
Now that the Focus iOS Share tracker has been in the wild for quite some time, we want to see if the users who see the share tracker retain better than the ones who don't.

[2018-09-06 19:28] oliviabrown9 opened #1353 "TipManager Crashes in BuddyBuild"
Crashing during the testSearchProvider test inside canShowTip function according to logs. Unable to reproduce locally.

[2018-09-06 19:30] oliviabrown9 commented on #1338
Closed with #1350

[2018-09-06 19:30] #1338 closed

[2018-09-06 19:31] oliviabrown9 commented on #1347
Closed with #1349.

[2018-09-06 19:31] #1347 closed

[2018-09-07 01:45] oliviabrown9 commented on #1345
Just a personal opinion, but as a user, I think I trust the erase placement too much to inspire changing it. If you're considering it, I would get someone to throw together a build for beta (with more testers than we have currently) and make sure people are fans.

[2018-09-07 19:40] oliviabrown9 commented on #1353
CC: @sblatz. This should probably be watched in the stable Xcode 10 release.

[2018-09-07 20:57] oliviabrown9 commented on #771
This appears to be an issue with AutocompleteTextField (https://github.com/mozilla-mobile/AutocompleteTextField). Disabling autocomplete in Focus resolves the issue. (CC: @boek)

[2018-09-09 09:00] oliviabrown9 commented on #1052
Closing as there is updated UX for this in #1344.

[2018-09-09 09:00] #1052 closed

[2018-09-10 07:51] SimonBasca opened #1354 "Wrong project name in README.md of focus-ios"
Request from bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1489467

Steps to reproduce:

Following the guidelines for setting up the project. Run command 'cd focus'.

Actual results:

Got the following error:
-bash: cd: focus: No such file or directory

[2018-09-11 03:55] saresend commented on #1152
@oliviabrown9 @brampitoyo Hey, I would like to tackle this issue if possible. However, I imagine this may require a fair bit of design input to add this feature, and I wanted to ask what the best way forward would be with regards to moving this forward?

[2018-09-11 04:44] brampitoyo commented on #1152
First, I think that we need to figure out whether a search engine has a manual language selection UI that we can tap into.

Then we can redesign the “Installed search engine” page, so that they allow selecting a search engine, and selecting a search engine *language* (with the default being “follow the language used by the system”):

<img width="360" src="https://user-images.githubusercontent.com/

[2018-09-11 04:55] oliviabrown9 commented on #1152
I agree with Bram about figuring out functionality first.

I think the first two steps are:
1. Investigate if this is actually possible across search engines. Can we programmatically set this for users or construct a URL in our search query that contains the parameter? How many of our default search engines would support this? How do we handle this for custom search engines users add? (@brampitoyo

[2018-09-12 06:13] oliviabrown9 commented on #1152
Before we worry about the specifics, let's verify how possible this is. @saresend, I think the first step is investigating if we can set the search engine region and/or language across search engines programmatically.

[2018-09-12 13:34] SIMRAN1 commented on #1354
@SimonBasca May I work on this issue?

[2018-09-12 14:10] SimonBasca commented on #1354
@SIMRAN1 Sure thing, go for it.

[2018-09-12 20:59] oliviabrown9 commented on #1343
Closed with  #1355.

[2018-09-12 20:59] #1343 closed

[2018-09-13 02:40] saresend commented on #1152
Doing a bit of digging, it doesn't look like theres a unified way to approach language / region selection, however there might be options for at least some of the provided browsers to enable this functionality on a case by case basis. At least for google, it seems like there is a way to redirect to a separate language / region by building a url query against a different subdomain (there a sample [

[2018-09-13 02:51] oliviabrown9 commented on #1152
Intersting. I would suggest starting off with just one search engine (likely Google since it’s our default and you already found a way to construct a URL). We can see how it works and investigate other search engines if it goes well. Users who prioritize language/region could always just select a search engine that allows setting. Curious to hear thoughts from @vesta0 and @sdaswani about whether t

[2018-09-13 03:16] saresend commented on #1152
Sounds good, I'll hold off until until everyone's weighed in to confirm that this seems like a sensible path forward.

[2018-09-13 15:17] Sdaswani commented on #1152
Based off @brampitoyo’s mocks it seems like we have to find a generalized solution for all search engines?

[2018-09-13 19:02] sblatz opened #1358 "Unable to Submit Focus 7.0 to App Store"
We are currently unable to submit Focus 7.0 to the App Store neither through BuddyBuild nor manually.

### BuddyBuild gives us the following error (Xcode 10 GM, Carthage 0.29.0) when trying to upload to iTunes Connect
* Error 1: ITMS-90596 - Invalid Bundle
    * The asset catalog at 'Payload/Firefox Focus.app/Frameworks/OnePasswordExtension.framework/Assets.car' can't be read. Try rebuilding the a

[2018-09-18 00:18] vesta0 commented on #514
@brampitoyo will add design to parody Android tab functionality.

[2018-09-18 17:33] sblatz opened #1360 "Suggested Siri phrase localization not exported properly"

[2018-09-18 21:05] vesta0 commented on #1271
@sblatz can we close this?

[2018-09-18 21:11] vesta0 commented on #839
@brampitoyo would love your feedback on this one.

[2018-09-18 21:12] vesta0 commented on #821
@brampitoyo we touched on this a bit when discussing multiple tabs yesterday. Let me know what you think.

[2018-09-18 21:46] oliviabrown9 commented on #1152
I think, to keep it as generic as possible, we should start with _just_ offering the option to set language, and we'll base the constructed URL on that. This solution is largely generic, with the only different being slight variations on how to construct the URL. It appears that all engines are using the same standard language codes.

A bit of quick researching for our default engines trying to ge

[2018-09-18 21:55] brampitoyo commented on #821
@vesta0 One of the more “elegant” ways to do this is by making participation in multitasking fully optional.

Continue using the browser the way you use it today, and multitasking will never show up. We won’t show a persistent “number of tabs” or “tab switcher” icon by default, like other browsers do.

Multitasking will show up only after a new tab has been opened. At that point forward, you can i

[2018-09-18 23:41] Sdaswani commented on #1152
Thanks for the investigation @oliviabrown9 - I think this makes a ton of sense!

[2018-09-19 02:10] brampitoyo commented on #1151
![ios-search-suggestions 2x](https://user-images.githubusercontent.com/51007/45726881-50c19880-bc15-11e8-891a-aded557d2b39.png)

Note that the UI works similarly and has identical strings to Android.

1. “Show Search Suggestions?” is a non-modal dialogue that appears above the existing search UI in the URL bar.
2. After tapping “Yes”, search suggestions appear below the URL bar.
3. To modify its S

[2018-09-19 17:48] #1354 closed

[2018-09-19 17:58] sblatz commented on #547
@vesta0 @Sdaswani we have an open PR for this--are we able to confirm that we want Focus to be a "share" option inside every menu? Jeff's last comment was this:

Follow #568 for more info.

[2018-09-19 18:01] sblatz commented on #1271
@vesta0 we don't have a PR for it yet.

@iqDF are you still working on this?

[2018-09-19 18:31] sblatz commented on #547
@Sdaswani I asked marchiore about this in the PR--will update there as necessary!

[2018-09-19 22:45] mdelarioja opened #1363 "Collapse empty ad space"
Would it be possible to collapse the empty white space left after ads are blocked?

[2018-09-20 07:00] iqDF commented on #1271
@sblatz Not on this issue. I thought @SIMRAN1 has worked on this one?

[2018-09-20 18:38] vesta0 commented on #1151
@brampitoyo looks great!

@Sdaswani FYI

[2018-09-20 20:38] Sdaswani commented on #1151
looks great! @vesta0 this is something we should chat with the team during their code sprint.

[2018-09-21 04:42] vesta0 commented on #821
@brampitoyo I like the idea of solving for this use case through design. We will address this in #514. Once we have build multiple tabs we can come back and re-validate this hypothesis before closing the issue.

[2018-09-21 05:27] vesta0 commented on #1358
@sblatz I think we can close this since 7.0 was submitted successfully and went live yesterday.

[2018-09-21 13:29] #1358 closed

[2018-09-22 13:31] vesta0 commented on #839
@sblatz ^^^

[2018-09-22 13:53] vesta0 commented on #839
Current behaviour on safari:
![img_0001](https://user-images.githubusercontent.com/42752644/45917938-25c18980-be4d-11e8-90fa-d3472662fcfc.PNG)

Current behaviour on Focus:
![img_0002](https://user-images.githubusercontent.com/42752644/45917939-25c18980-be4d-11e8-88f7-63a1a8f846d5.PNG)

[2018-09-22 17:36] Meng-Wei commented on #1271
@sblatz Hello Sawyer, I submit a PR #1366 for this issue. However, I am not sure if my interpretation is correct. Any suggestions for my solution? Thanks!

[2018-09-22 19:58] cmorierroy opened #1370 "dupe: #1422"
The bottom toolbar is absent when loading certain news websites, and the url bar initially loads in collapsed view. They do not reappear with additional scrolling. However, pressing the url bar makes them appear, and from there, with additional scrolling, they do not collapse again.

Ex: I typed "new york times" and selected the first top story via google.

![issues 1](https://user-images.githubus

[2018-09-23 03:08] tsekityam opened #1371 "Can't change cursor position at address bar"
# Step to reproduce
1. make a typo when you enter a url, e.g. http://firemox.com
1. long press at the end of the url
1. try to move the cursor to the typo by moving the finger

# What did I see
The Url is dragged away from the url when I move my finger
![Firefox Focus](https://user-images.githubusercontent.com/3814422/45923734-b61cce80-bf20-11e8-9d4a-b272f5119adb.gif)

# What do I expect
The curso

[2018-09-23 04:17] SIMRAN1 commented on #1271
@iqDF No I was not working on it!

[2018-09-23 22:27] brampitoyo commented on #839
@vesta0 It would be great if we can use Safari’s “Open in” UI, but I’m not sure if there’s any technical hurdle to that. @sblatz can help answer.

[2018-09-25 05:06] brampitoyo commented on #839
@sblatz I didn’t know that Firefox for iOS implements their own file handler. It would be a good idea to emulate them, I think.

[2018-09-25 18:27] oliviabrown9 commented on #1337
@sblatz Someone else is free to take it! I'll come back to it in the future if no one has finished it, and I have time. Happy to answer any questions about tips.

[2018-09-25 18:27] sblatz commented on #1309
@vesta0 to confirm we can close this? As mentioned above: it doesn't autocomplete as is. Looks like an issue that was isolated to Firefox.

[2018-09-25 19:48] vesta0 commented on #839
I chatted with @sblatz and @Sdaswani and we are all on the same page as @brampitoyo to emulate what Firefox for iOS has implemented for file handling. Let's break this down at the Monday sprint planning meeting.

[2018-09-25 19:54] vesta0 commented on #1309
Yes we can close this issue.

[2018-09-25 19:54] #1309 closed

[2018-09-25 23:29] Sdaswani opened #1373 "7.0 Top Crasher"
https://sentry.prod.mozaws.net/operations/focus-ios/issues/4608906/

[2018-09-25 23:29] Sdaswani opened #1374 "7.0 Top Crasher #2"
https://sentry.prod.mozaws.net/operations/focus-ios/issues/4642639/

[2018-09-26 05:13] brampitoyo commented on #1152
![slice 2x](https://user-images.githubusercontent.com/51007/46058349-c944ce00-c1ae-11e8-9992-d590bcd8cc77.png)

Note that for search engines like Amazon, we may want to change our selection heading from “Language” to “Country”.

For example, instead of saying “Amazon → English (UK)” or “Amazon → Portuguese (Brazil)”, we say “Amazon → United Kingdom” and “Amazon → Brasil”.

This clarifies to the us

[2018-09-26 15:42] reidgust opened #1375 "Get tableview to show more than one cell in the search suggestion area."
Right now, on partial text the search suggestion just shows one cell with exactly what was typed. In this intermediate stage we want it to show at least two cells stacked on each other like in the meta issue, with the same input in (both/all).

[2018-09-26 15:48] reidgust opened #1376 "Get and store in a list the search suggestions from the user preferred search engine."
When the user changes inputs in the URLBar, the user specified browser should look for search suggestions based on that input and store it as a list in URLBar.swift.
Can consult Androids focus/searchsuggestions/searchSuggestionsFetcher.kt for implementation ideas.

[2018-09-26 15:53] reidgust opened #1377 "Fill in the cell values with the values from the browsers search suggestions."
This step is the combination of two issues and should not be attempted until the two below are complete:
- [x] #1375
- [x] #1376
Once these two are done. Fill in the new cells with the values of the list, and make the number of cells equal the length of the list.

[2018-09-26 15:54] reidgust commented on #1151
- [ ] #1377

[2018-09-26 15:57] reidgust commented on #1151
- [ ] #1375
- [ ] #1376
- [ ] #1377

[2018-09-26 17:29] sblatz commented on #1374
Interestingly this *seems* to be coming from one of our imported packages, ADJAdditions, as it's the only place in our code-base I can see that performSelector method being called:

[code]

I'll do some more investigation.

[2018-09-26 17:42] cmorierroy opened #1379 "Add button in SettingsViewController.swift"
Subtask for search suggestions.

[2018-09-26 17:46] cmorierroy commented on #1151
#1379

[2018-09-26 17:48] cmorierroy opened #1380 "Save radiobutton value from SettingsViewController to user settings (SearchSuggestionsOn)."
Subtask for search suggestions
'radiobutton' refers to the button to be added in #1379

[2018-09-26 17:49] cmorierroy opened #1381 "Get Value of SearchSuggestionsOn in URLBar.swift in form of boolean variable."
Subtask of Search Suggestions

[2018-09-26 19:30] ludwigjohnson opened #1382 "Broken character encoding on button"
When a domain won't resolve there is a button saying "Try again". In Swedish, this button isn't encoded properly for the non-English characters (it should say "Försök igen"):
![temp](https://user-images.githubusercontent.com/26125031/46104297-56018300-c1d3-11e8-9961-1058399cba79.png)

[2018-09-27 16:08] sblatz opened #1383 "App Store Review: Print option gives blank preview"
According to a recent app store review, the option to print from focus has been removed.
![img_5775](https://user-images.githubusercontent.com/4400286/46159301-f98f7980-c24d-11e8-81bf-4cd2d4952118.jpg)

Needs some investigation.

[2018-09-27 16:08] sblatz opened #1384 "App Store Review: Sharing bug"
We have a sharing bug according to this user. Needs investigated further.

![img_5776](https://user-images.githubusercontent.com/4400286/46159330-0ca24980-c24e-11e8-9e93-e146922be892.jpg)

[2018-09-27 16:13] sblatz opened #1385 "Accessibility concerns with colors chosen in settings"
I've had several people mention to me that they find the Done button in settings (as well as the "Learn more" text) difficult to read. This could present accessibility concerns. Would love for our accessibility team to weigh in on this / provide feedback!

Example:
<img width="250" src=https://user-images.githubusercontent.com/4400286/46159570-9fdb7f00-c24e-11e8-8536-b5f89e235d37.PNG>

[2018-09-27 16:19] sblatz opened #1386 "App Store Review: Share to reminders app"
In a recent review, a user requested we allow websites to be shared to the reminders app. This goes along with our ticket of #547 to open up our sharing.

![img_5779](https://user-images.githubusercontent.com/4400286/46159901-7111d880-c24f-11e8-936a-d688a5e3a488.jpg)

[2018-09-27 21:02] boek opened #1387 "Update language around Autocomplete list"
We're changing some strings around autocomplete on Android. We should update the strings on iOS as well to stay consistent.

Reference mozilla-mobile/focus-android#3467

![image](https://user-images.githubusercontent.com/1250545/46174427-d240a880-c25d-11e8-8c36-fbec0080e38e.png)

[2018-09-27 23:20] janicelee opened #1388 "Add prompt for user to allow search suggestions"
- Maintain a value about whether prompt was asked to user yet
- Extension in URLBar
- Mockup/Meta issue: https://github.com/mozilla-mobile/focus-ios/issues/1151

[2018-09-27 23:47] janicelee opened #1389 "Store search suggestion preference in settings"
- Make search suggestions conditional on this value
- Mockup/Meta issue: https://github.com/mozilla-mobile/focus-ios/issues/1151

[2018-09-28 01:37] Meng-Wei opened #1390 "Sync up Telemetry, using Android as basis of required information"
Part of "Search Suggestions".

[2018-09-28 01:38] Meng-Wei opened #1391 "Ensure combination of previous searching tasks coheres with goals of original ticket."
Part of "Search Suggestions"

[2018-09-28 01:39] Meng-Wei opened #1392 "[meta] Create a comprehensive test suite for search suggestions."
**Unit Tests:**
- [x] https://github.com/mozilla-mobile/focus-ios/issues/1500 BrowserViewController Unit Tests
- [x] https://github.com/mozilla-mobile/focus-ios/issues/1501 OverlayView Unit Tests
- [x] https://github.com/mozilla-mobile/focus-ios/issues/1502 SearchSuggestionsPromptView Unit Tests
- [x] https://github.com/mozilla-mobile/focus-ios/issues/1503 SettingsViewController Unit Tests
- [x] h

[2018-09-28 01:43] Meng-Wei commented on #1151
#1390
#1391
#1392

[2018-09-28 06:34] oliviabrown9 commented on #1383
It's definitely still there in the action sheet. I'm guessing the user didn't know to find it under the "Share Focus With" string to open the action sheet.

[2018-09-28 10:07] bb-shubham commented on #1249
Is this bug resolved? Or anyone can pick it up?

[2018-09-28 12:07] sblatz commented on #1383
Confirmed with @oliviabrown9 that the print option still exists:
<img width=250 src=https://user-images.githubusercontent.com/4400286/46207465-7de90780-c2f5-11e8-8694-1ede6073edec.PNG>

@Sdaswani Are we able to respond to this user to let them know about it?

[2018-09-28 14:29] Sdaswani commented on #1383
@lwa-moz can you respond to this user?

[2018-09-28 17:52] pdil commented on #1337
I can work on this, I'll get started soon and submit a pull request.

[2018-09-28 19:21] sblatz commented on #1374
This third crash can be replicated by:

1. Open a website on iPad
2. Press "..." menu
3. Press "share with"

Fixing now :)

[2018-09-28 19:31] sblatz opened #1393 "Long press on reload on iPad for desktop site is buggy"
Steps to reproduce:

1. Open a website on iPad
2. Press and hold reload icon

Expected:
Request desktop site menu appears

Actual:
The URL is grabbed as if you're about to drag and drop

This can likely be fixed fairly easily by making the urlText box smaller!

[2018-09-28 19:45] sblatz opened #1395 "Bump version number for hotfix to 7.0.1"

[2018-09-28 23:02] sblatz opened #1399 "Set tip display rate to 100%"

[2018-09-29 00:00] sblatz opened #1403 "Share trackers blocked button press crashes on iPad"
Pressing the "share trackers blocked" button on the home view crashes on iPad because we don't have a source for the popup presentation controller.

[2018-09-29 17:52] pdil commented on #1337
I have submitted pull request #1405 to implement this change.

[2018-09-29 21:15] reidgust opened #1406 "Sumo: Create URL content"
The mockup of the meta-issue had a "learn more" tag. So, we need a URL "search-suggestions" that hits a landing page like "usage-data" does for the Send Usage Data toggle.
Also, need a "what's-new-focus-ios-8" URL like the "what's-new-focus-ios-7" one.

[2018-10-01 15:40] st3fan opened #1408 "Focus is not a supported browser for ReCaptcha"
It looks like Google is doing User Agent sniffing to decide that Focus for iOS is not a supported browser for their ReCaptcha. They do fully support iOS WebView, and also have no trouble supporting Firefox for iOS.

I tested Firefox for iOS with Tracking Protection enabled, so I doubt our block lists are the cause here.

Screenshots of Firefox and Focus:

![img_3629](https://user-images.githubuser

[2018-10-01 18:29] oliviabrown9 commented on #1249
@bb-shubham It's still open, so you can work on it!

[2018-10-01 20:30] vesta0 commented on #1392
Unit testing (for each issue) + End to end UI testing + UX testing

[2018-10-01 22:29] danielbogomazov commented on #1393
I can take a look at this bug if no one else is already

[2018-10-01 22:52] #1391 closed

[2018-10-02 19:45] #1381 closed

[2018-10-02 19:57] Bunn commented on #1382
I've created this PR: https://github.com/mozilla-mobile/focus-ios/pull/1409

[2018-10-02 21:29] lwa-moz commented on #1383
Responded with instructions to access the print option.

[2018-10-03 01:02] oliviabrown9 commented on #1393
@danielbogomazov Go for it!

[2018-10-03 19:08] cpeterso opened #1410 "Page load error has mojibake characters: "The URL canâ€™t be shown""
STR:
I entered `802.11` in the Focus (7.0) address bar, trying to search for the [Wikipedia page about IEEE 802.11](https://en.wikipedia.org/wiki/IEEE_802.11). Focus interrupted `802.11` as an address (IP or domain name, I don't know).

ACTUAL RESULT:
Focus shows an error page with mojibake characters: `The URL canâ€™t be shown`.

EXPECTED RESULT:
In Firefox for iOS, entering `802.11` loads a WebK

[2018-10-03 21:46] sblatz opened #1411 "App Store Review: redirecting https to http"
According to this user review we have a bug that is forcing users to use http instead of https. We should investigate this.

<img width=500 src=https://user-images.githubusercontent.com/4400286/46441350-3ec31800-c734-11e8-8b98-bd5696132f51.jpeg>

[2018-10-04 01:05] oliviabrown9 commented on #1411
It's not a bug - it's just the default for many websites. We use whatever the website's default is (ie. we don't choose http or https, we just go to mozilla.com and support whatever that site's default is). I think that this user is asking for us to default to http as is tracked in https://github.com/mozilla-mobile/focus-ios/issues/650

[2018-10-04 01:06] oliviabrown9 commented on #1411
Would consider closing as dupe, but I would also throw that review into the ticket since it's relevant to know that users are noticing.

[2018-10-04 01:08] oliviabrown9 commented on #1410
I think the character issue will be solved with the fix for #1382 but should watch.

[2018-10-04 16:27] lwa-moz commented on #1383
User responded with a new issue:
<img width="579" alt="screen shot 2018-10-04 at 9 25 51 am" src="https://user-images.githubusercontent.com/39960812/46488448-8c349900-c7b7-11e8-80c8-1216bc5cc554.png">
I tried myself and also got a blank print preview. Is that expected behavior? @sblatz
![img_5a557fd02b1a-1](https://user-images.githubusercontent.com/39960812/46488476-a2daf000-c7b7-11e8-9580-d4c72dc

[2018-10-04 16:29] Sdaswani commented on #1383
Thank you @lwa-moz for responding and investigating user reviews!

[2018-10-04 16:44] sblatz commented on #1383
Definitely not expected behavior. I'll investigate :)

[2018-10-04 17:31] sblatz commented on #1411
Good call @oliviabrown9, closing and adding to that ticket!

[2018-10-04 17:31] #1411 closed

[2018-10-04 17:31] sblatz commented on #650
Users seem to be requesting this feature in reviews:

<img width=500 src=https://user-images.githubusercontent.com/4400286/46441350-3ec31800-c734-11e8-8b98-bd5696132f51.jpeg>

[2018-10-04 19:01] imvm commented on #1408
I tried hardcoding the cached user agent to a chrome user agent and it worked. That's probably not a good solution but confirms it's user agent related.

<img width="620" alt="screen shot 2018-10-04 at 15 56 07" src="https://user-images.githubusercontent.com/9863339/46496310-1ef02a80-c7ee-11e8-9d03-ec1bc520a812.png">

![img_4012](https://user-images.githubusercontent.com/9863339/46496370-434c0700-

[2018-10-04 19:02] sblatz commented on #1383
Will likely want to look [here](https://github.com/mozilla-mobile/focus-ios/blob/a11dceb6e1ef12a550fc9f6051ece50e3412636a/Blockzilla/OpenUtils.swift#L25)for a fix.

[2018-10-04 21:16] oliviabrown9 commented on #1408
I wonder if this happened before the user agent change with 7.0. Will investigate.

Recaptcha says that it only supports Chrome and Safari on iOS, so I'll need to investigate why it works for Firefox. https://support.google.com/recaptcha/answer/6223828?hl=en and not for us. Maybe they count webviews as Safari?

[2018-10-04 21:32] imvm commented on #1408
I have no idea how they're parsing the user agent string in recaptcha but I decided to do some more tests if that helps.

The default user string doesn't work:
`"Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FocusOS/7.0 Mobile/16A5366a Safari/605.1.15"	`

Changing FocusOS to FxiOS (Firefox-iOS) works:
`"Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like

[2018-10-04 22:02] oliviabrown9 opened #1414 "Migrate to support the color UIConstants extension FirefoxUX recommends"
See: https://github.com/FirefoxUX/photon-colors for description on how FirefoxUX recommends we add in our constant color values. This would also match how Firefox iOS defines their constants. Probably best to be consistent.

[2018-10-04 22:03] oliviabrown9 commented on #1414
@sblatz I recognize that this could be debatable (ie. consistency in own project structure vs. consistency with other projects). What are your thoughts?

[2018-10-05 03:31] Sdaswani commented on #1408
@oliviabrown9 I think it may be easier to change our UA to comply. Can we just change it to the last one which maintains Focus and gets rid of the 'Safari' portion?

[2018-10-05 06:27] oliviabrown9 commented on #1408
@Sdaswani I'll investigate. I remember adding the Safari portion in the 7.0 UA to support log in/sign up with Google. I'll see if we can remove that and still support Google authentication.

[2018-10-05 10:53] st3fan commented on #1408
@oliviabrown9 Yes, we have webcompat team who can reach out to Google. They can also give advice bout user agent changes. (Which are super fragile)

[2018-10-05 17:47] sblatz commented on #650
Of note: Android is considering implementing this as well, we should track [their progress](https://github.com/mozilla-mobile/focus-android/issues/596) and replicate this on iOS as necessary.

[2018-10-05 18:05] abusedcharacter opened #1417 "PDF of Website Shows Blank"
The issue i found is that when you try to create a pdf of a website on focus, it doesn't create it. Thankyou for considering this issue.

[2018-10-05 19:31] jonisavage commented on #1151
Here's the link you can use in-product: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/search-suggestions-focus-ios

[2018-10-05 19:41] jonisavage commented on #1406
I commented in the meta bug by mistake. Here are the URLs you can use in product:

- Search suggestions: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/search-suggestions-focus-ios

- What's new...version 8: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-ios-8

[2018-10-05 20:47] oliviabrown9 commented on #1417
Yes, this is definitely an issue, linked to https://github.com/mozilla-mobile/focus-ios/issues/1383 Thanks for reporting!

[2018-10-06 15:24] sblatz opened #1418 "Rotation bug on iPhone"
When rotating the device from portrait to landscape on iPhone (with the URL bar collapsed), then rotating back to portrait leaves the app in an unusable state.

<img width=250 src=https://user-images.githubusercontent.com/4400286/46572837-57ad1280-c95a-11e8-8aa6-c2b2235754b6.png>
<img width=250 src=https://user-images.githubusercontent.com/4400286/46572838-57ad1280-c95a-11e8-93ce-1be1bacc5aed.png>

[2018-10-06 15:47] sblatz opened #1419 "URL bar touch target on iPad is too large"
When touching to the right of the erase button or left of the tracking protection button on the iPad, the URL bar gets activated even though you're not selecting inside the textAndLockContainer.

Example:

![ipad bug](https://user-images.githubusercontent.com/4400286/46573059-92647a00-c95d-11e8-9612-a964c4d0a3ac.gif)

[2018-10-06 23:30] danielbogomazov commented on #1419
I can work on this. The fix should be similar to my [previous PR](https://github.com/mozilla-mobile/focus-ios/pull/1416)

[2018-10-07 02:41] mrkcee opened #1421 "Pressing cancel button of URL field crash"
It looks like that the app crashes or exits whenever the back button of the URL field is pressed.

Encountered this on iOS 12 on a XS Max.

[2018-10-08 12:00] sblatz opened #1422 "Toolbar never uncollapses on Google AMP pages"
The browser toolbar fails to appear (uncollapse) when scrolling upward on a Google AMP page. This has left many users confused on how to get back (not everyone knows about swipe to go back).

Notably Firefox iOS handles this by just forcing the toolbar to remain uncollapsed *always* on Google AMP pages.

![amp toolbar](https://user-images.githubusercontent.com/4400286/46607721-0161e000-cad0-11e8-8

[2018-10-08 12:29] sblatz commented on #1421
Ah, I misread your post. The back button in the URL field does in fact crash! (We fixed the back button to go back a page crash in 7.0.1) My bad for misunderstanding; I'll investigate this

[2018-10-08 14:22] sblatz opened #1425 "Sentry needs Carthage update"
Necessary for us to keep receiving crash logs.

[2018-10-08 15:56] Meng-Wei commented on #1375
@sblatz Hello Sawyer, I submit a PR #1427  for this issue. I am not sure if my attempt is in the right way. Any suggestions for my solution? Thanks!

[2018-10-09 13:37] #1421 closed

[2018-10-09 13:37] #1418 closed

[2018-10-09 13:56] sblatz opened #1430 "Consider implementing a linting system"
Whitespace changes, inconsistent spacing, and other small linting issues are _by far_ our most common feedback when reviewing PR's. This causes a lot of unnecessary back and forth between reviewers and developers.

I'm not aware of another mozilla-mobile project that does **not** have linting in place, so implementing one here seems like a no-brainer.

Possible system to use:
* [Danger Swiftlint](

[2018-10-09 14:07] sblatz opened #1431 "Update Carthage dependencies"
With iOS 12, a lot of our Carthage dependencies have been updated, and we should update them to ensure they keep working and bugs are ironed out!

[2018-10-09 14:35] sblatz commented on #1414
I'm under the impression this would take a decent amount of work to get our current codebase adapted to this new file location (we'd have to make sure all our colors are UIColor instead of UIConstants.colors.photon etc). I'm not against migrating to it (as it would be helpful for code health), but I don't think it's likely to be a priority in the near future.

[2018-10-10 07:39] oliviabrown9 commented on #1406
Closing as complete. Thanks @jonisavage!

[2018-10-10 07:39] #1406 closed

[2018-10-10 07:44] oliviabrown9 commented on #1410
Looks to me to be fixed with #1409, going out with 8.0. Thanks for filing!

[2018-10-10 07:44] #1410 closed

[2018-10-10 18:11] oliviabrown9 commented on #1393
Closed with #1416.

[2018-10-10 18:11] #1393 closed

[2018-10-10 18:13] oliviabrown9 commented on #1353
@sblatz Was this fixed with one of the dot releases?

[2018-10-10 18:14] sblatz commented on #1353
Yep, forgot to close. Was fixed by #1402.

[2018-10-10 18:14] #1353 closed

[2018-10-10 18:34] #1417 closed

[2018-10-10 18:34] #1383 closed

[2018-10-11 02:13] Meng-Wei opened #1433 "UI bugs: Some settings titles do not respect dynamic text sizing."
On my iPhone 8Plus, I noticed the mentioned problem:
![img_4339](https://user-images.githubusercontent.com/25020683/46776440-92f06e00-ccd9-11e8-82bb-e06692cd7b01.PNG)

However, this problem doesn't occur in the simulators.

[2018-10-11 22:30] oliviabrown9 commented on #1408
I'm curious. @sblatz is Google sign in failing for you also in 8.0-dev? I'm not getting any response for sign in with Google. I think I had written a test for this? Is that failing?

[2018-10-11 22:49] Sdaswani commented on #1430
You two can make the decision - I think we do this already for Focus Android, and maybe even for Firefox iOS. Can you check with those teams and see what the options are @sblatz and @oliviabrown9 ?

[2018-10-11 23:42] oliviabrown9 commented on #1430
@Sdaswani I think Sawyer and I are both on the same page about wanting to use Danger (as Firefox iOS uses).

[2018-10-11 23:45] Sdaswani commented on #1430
Roll with it! :)

[2018-10-12 12:43] sblatz opened #1434 "Can't properly copy URL from Google AMP site"
When copying a URL from a Google AMP site, your search URL is copied instead. This makes it frustrating to try to share links from these sites.

Steps to reproduce:

1. Search "the guardian"
2. Select any of the cards
3. Try to share the URL by either long pressing on the URL or pressing the "..." button

![amp example](https://user-images.githubusercontent.com/4400286/46892975-52116a00-ce3d-11e8-

[2018-10-12 12:45] sblatz commented on #1419
Fixed by #1420.

[2018-10-12 12:45] #1419 closed

[2018-10-12 12:45] sblatz commented on #1382
Fixed by #1409.

[2018-10-12 12:45] #1382 closed

[2018-10-12 12:47] sblatz commented on #1425
After further discussion with @st3fan this is likely not due to Sentry needing updated. 7.0.1 seems to have had an anomaly with stacktraces not appearing for some reason. 7.0.2 has fixed this, and I'm just going to include Sentry in the larger carthage update found at #1431.

[2018-10-12 12:47] #1425 closed

[2018-10-12 15:48] sblatz opened #1435 "scrape_plugins.py is deprecated and our documentation should reflect this"
Per a conversation with engineers in #firefox-ios channel, the scrape plugins script is deprecated and should not continue to be used. Because of this, we should either delete the script altogether or modify our documentation to reflect its deprecated status.

[2018-10-12 19:22] oliviabrown9 commented on #1434
CC @marchiore

[2018-10-12 19:48] sblatz commented on #1408
Yeah, the UI test is failing. Sounds like we should reach out to Google as we haven't made any changes that would've caused this. @st3fan

[2018-10-12 19:58] marchiore commented on #1434
Hey, can you show me how can reproduce this?

[2018-10-12 20:12] sblatz commented on #1376
[This may also be a useful resource](https://github.com/mozilla-mobile/firefox-ios/blob/2f18b8768cdc7a5b97e6f60dddd6efdf969e2b9e/Client/Frontend/Browser/SearchSuggestClient.swift)

[2018-10-12 20:38] #1370 closed

[2018-10-12 20:39] sblatz commented on #1434
@marchiore updated the original ticket to include steps to reproduce!

[2018-10-12 22:39] #1379 closed

[2018-10-12 22:41] reidgust commented on #1379
Implemented and merged #1407

[2018-10-12 22:41] #1380 closed

[2018-10-12 22:42] reidgust commented on #1380
Implemented and merged #1407

[2018-10-12 22:43] #1389 closed

[2018-10-12 22:43] reidgust commented on #1389
Implemented and merged #1407

[2018-10-13 20:11] Bunn commented on #1433
@Meng-Wei what's the iOS version you're running? I've tested on an iPhone 7 plus device, iOS 12.0.1 and iPhone SE iOS 11.4.1, and it looks OK on both App Store and Master branch.
![iPhone 7 plus](https://user-images.githubusercontent.com/782316/46909545-4486dd80-cf2c-11e8-9d77-de31b03f9e90.jpeg)

[2018-10-13 21:00] Bunn commented on #490
Hi, I've created a PR for this: https://github.com/mozilla-mobile/focus-ios/pull/1436

[2018-10-14 02:40] Meng-Wei commented on #1433
I tested the master branch on IPhone8 plus with IOS 12.0.

[2018-10-14 14:07] marchiore commented on #1434
Hi @sblatz, I did an investigation on this problem and we have some points here:

- When i click on any AMP site, Focus doesn't recognise it as a web navigation (you can see that in the navigation arrows staying disabled) so it won't trigger a controller method, that's why it get the searched URL instead of a The Guardian URL.

- Another thing is that we can slide the page (like the gif above), an

[2018-10-15 18:07] cpeterso opened #1437 "Focus home screen text overlaps address bar in landscape orientation"
I am using Focus 7.0.2 on an iPhone 8 with iOS 12.0.1. When my iPhone is in landscape orientation, the Focus home screen text ("Firefox Focus", "Add a site", and the "Ask Siri" tip) overlaps the address bar. See the attached screenshot:

![focus_landscape_screenshot](https://user-images.githubusercontent.com/629193/46969165-0b548780-d06a-11e8-9528-8d8f35436f8f.jpg)

[2018-10-16 13:09] TheOriginalTomO opened #1438 "Open Firefox Focus w/ favourite website w/out Siri Shortcuts"
Hi all,

It’s currently possible within Focus to open a favourite website with Siri Shortcuts. Is it possible to add an option in the Focus app settings to have the app open with a favourite site without having to use Siri Shortcuts?

Thanks!

[2018-10-16 13:27] TheOriginalTomO opened #1439 "Download items from a website to Files app through Focus"
Hi all,

Is it possible to add the ability for Firefox Focus to download items (such as pdf files) to the Files app like in iOS Firefox browser? Currently this doesn’t seem possible in Focus.

Could it be possible via a storage API? Is this due to the fact that Focus only uses one tab, and downloads often appear in a second tab?

Thanks!

[2018-10-16 14:20] sblatz commented on #1434
@marchiore thank you for this investigation! I agree that adding the AMP sites to the stack seems to be the correct solution here (and will hopefully fix several bugs all in one). Would you like to tackle adding this? 😄

[2018-10-16 14:22] sblatz opened #1440 "Set up a system that auto-assigns PR's to "Focus iOS Team""
Similar to how we have it set up on the Focus Android repo, it'd be nice if PR's were auto-assigned to be reviewed by the team. I believe we're **using Waffle to accomplish this** over there.

[2018-10-16 14:50] sblatz opened #1441 "Sharing a URL with Gmail includes URL twice"
Not sure if this is a bug on their end or with the specific way that we're setting the "title" and various metadata of the email:
![double title and url](https://user-images.githubusercontent.com/4400286/47025297-36ee7500-d131-11e8-9a7b-42bb9ddee2cb.jpg)

[2018-10-16 15:21] sblatz commented on #1438
Hey @TheOriginalTomO, thanks for the feature request! Are you able to clarify how exactly you'd like this to work? Were you wanting it to be a 3D touch action or how did you envision it functioning?

[2018-10-16 15:42] andrasveto opened #1443 "Build instructions don't work with Python 3 due to urlparse renaming"
Since urllib was renamed to urllib.parse in python 3, ./checkout.sh fails with
[code]

I attempted to change it to
[code]
but that failed with various other errors.

What ended up working for me was to run `python2.7 build-disconnect.py` followed by `carthage bootstrap --platform iOS`

I might just be missing something obvious though, so please let me know if that's the case!

[2018-10-16 17:41] sblatz commented on #1430
@oliviabrown9 Are there any specific linting rules you want to set up? See the PR linked below for what I have so far.

#1445

[2018-10-16 18:03] sblatz opened #1446 "Create linting rule for not (unecessarily) adding to BrowserViewController"
Related to #1018--let's at least not make the problem worse 😅. We can help enforce this by creating a linting rule inside of our Dangerfile. The Firefox iOS team has mentioned they would use such a rule as well, so it'd be helpful to both projects!

[2018-10-16 21:02] sblatz commented on #1441
Of note: Firefox iOS is handling this bug (just not the bug of copying subject to body). That is: URL’s are not double copied.

[2018-10-16 22:39] TheOriginalTomO commented on #1438
Hey @sblatz - no worries, thank you for your response!

3D Touch is a good shout, actually! But as not all devices support 3D Touch, I was envisioning that it would be a toggle option in the settings menu to activate the option, then a field below to enter a specific website.

[2018-10-17 04:16] oliviabrown9 commented on #1439
Certainly possible. Actually included inside of https://github.com/mozilla-mobile/focus-ios/issues/839, which is in the roadmap. Closing as duplicate, but feel free to comment in the other issue with ideas or feedback!

[2018-10-17 04:16] #1439 closed

[2018-10-17 16:41] TheOriginalTomO commented on #1438
Hi @oliviabrown9 - thanks for your response! Apologies for my delayed response.

I was envisioning that the user would set it up in settings once. It would have a toggle option to turn it on or off, something along the lines of “Open Focus with your favourite site”. I envision that there would be a field below the toggle option to enter the URL of the site you want to open every time. Then every t

[2018-10-17 17:58] sblatz commented on #1438
Thanks for the clarification @TheOriginalTomO!

@Sdaswani, @vesta0 to decide if this is in the product road map.

[2018-10-17 18:01] Sdaswani commented on #1438
Thanks, @vesta0 is on vacation but should be back in a few weeks to consider this.

[2018-10-17 18:09] #1430 closed

[2018-10-17 23:44] marchiore commented on #1434
@sblatz PR opened!

https://github.com/mozilla-mobile/focus-ios/pull/1450

[2018-10-18 11:59] marchiore commented on #1249
@bb-shubham did you find a solution for this? I tried some solutions, but I could not find a sweetspot for the animation. If you have an idea we can work together on this.

[2018-10-18 16:04] sblatz opened #1452 "Run SwiftLint Autocorrect"
We need to run ```swiftlint autocorrect``` in order to fix all of the linting issues so each new PR doesn't flag them for contributors to fix.

Note: we should do this after merging 8.0-dev in to make sure no merge conflicts occur.

[2018-10-18 17:03] sblatz opened #1454 "Merge 8.0-dev into master and create "versions" for releases"
We have a few reasons for doing this:
* **Contributors can safely branch off of master** as they have been doing (without us having to fix tons of merge conflicts to merge their changes into a development branch)
* This puts us **in line with Focus Android** version control
* Results in less cherry-picking and overall controls our releases in a more manageable way that is **less error prone to us

[2018-10-18 19:38] sblatz opened #1455 "Google AMP sites don't have active back button"
If a user navigates to a Google AMP site after making their **first** search query of a session, the back button does not become active. Users can still swipe to go back, but this is bad for accessibility and not everyone knows about that feature.

![broken amp](https://user-images.githubusercontent.com/4400286/47179320-c8094b80-d2eb-11e8-8b61-8f348ce8b118.gif)

[2018-10-18 20:52] sblatz opened #1458 "Fix top crasher"
<img width="997" alt="screen shot 2018-10-18 at 4 51 17 pm" src="https://user-images.githubusercontent.com/4400286/47183457-16234c80-d2f6-11e8-8ea4-6fb64566653d.png">

[2018-10-18 20:56] #1422 closed

[2018-10-18 20:56] #1434 closed

[2018-10-18 21:46] sblatz opened #1460 "Modify linter rules"
Suppress:
* function too long
* var name
* enum naming
* warnings in tests

[2018-10-18 22:37] #490 closed

[2018-10-18 22:37] #1337 closed

[2018-10-18 23:11] #1460 closed

[2018-10-19 12:19] sblatz commented on #1454
[6.0, 7.0.2, 7.0.3 releases created](https://github.com/mozilla-mobile/focus-ios/releases).

Ended up cherry-picking the 8.0-dev changes into (#1405, #1444).

[2018-10-19 12:19] #1454 closed

[2018-10-19 12:23] sblatz opened #1463 "Add linting rule for 'magic' numbers"
Almost all numbers that are added to the project should be inside of UIConstants (to ensure code is not duplicated and UX design is followed closely). A linting rule inside of our danger file would help enforce this.

[2018-10-19 12:29] sblatz opened #1464 "Fix current linting warnings"
After running SwiftLint Autocorrect, we have a few remaining linting errors and warnings. These should be corrected so they are not flagged in all future PR's.

[2018-10-20 10:07] shubhjain1106 commented on #1249
@marchiore Yes. we can work together on this

[2018-10-20 15:07] marchiore commented on #1455
I've made some tests and included **updateBackForwardState** method in my observer:

[code]

but our WKWebView doesn't recognise it's navigation and the method **WKWebView.canGoBack()** is always **true** on Google AMP websites even when I get to the first page.

Maybe this is a bug in WKWebView?  Any idea how to get around this?

[2018-10-20 15:18] shubhjain1106 commented on #1249
@oliviabrown9 Please have a look at this PR ([1465](https://github.com/mozilla-mobile/focus-ios/pull/1465))

[2018-10-20 22:17] shubhjain1106 commented on #1384
I tried replicating the explained scenario. The url shared and opened has the correct format.
Could anyone replicate this?

[2018-10-20 22:51] sblatz opened #1468 "Safe area not respected on 'open favorite site'"
<img width="964" alt="screen shot 2018-10-21 at 3 02 34" src="https://user-images.githubusercontent.com/17464685/47258954-fe0e2180-d4dd-11e8-8787-a46c1ffbc2c4.png">

[2018-10-20 23:44] Bunn commented on #1269
I've created a PR for this: https://github.com/mozilla-mobile/focus-ios/pull/1469

[2018-10-21 01:13] Botary commented on #1386
Share to Apple Reminders works as it should
<img width="545" alt="screen shot 2018-10-21 at 10 07 44" src="https://user-images.githubusercontent.com/17464685/47262095-c1601b80-d519-11e8-951d-25c0f671414d.png">

[2018-10-21 13:10] Bunn commented on #1433
I've created a PR for this: https://github.com/mozilla-mobile/focus-ios/pull/1472

Note, that there's still an issue where if the user changes the font size while the settings page is available some constraints will break. This was not fixed on the previous PR because it's not related to dynamic font size since it was happening even without it being configured.

[2018-10-21 13:13] Bunn opened #1473 "Constraints break after changing dynamic text settings."
If the user has the settings page opened, closes the app, goes to settings and change the text dynamic font size, some constraints under the settings table will break.

Before changing font size:
<img width="300" alt="screen shot 2018-10-21 at 14 01 00" src="https://user-images.githubusercontent.com/782316/47267405-47d92500-d53b-11e8-896a-9395aa57773f.png">

After changing font size
<img width="30

[2018-10-21 13:55] #1468 closed

[2018-10-21 14:01] sblatz commented on #1386
This is what's happening to me on device. Not sure why simulator's behavior is different.

![share reminders](https://user-images.githubusercontent.com/4400286/47267931-3b8fa080-d518-11e8-9574-084ddb435f64.gif)

[2018-10-21 16:18] #1375 closed

[2018-10-21 22:36] sblatz commented on #1386
@Botary are you able to post a gif or link to a video of how it's operating on your iPhone 7 Plus? Wonder why it's not showing up on neither mine nor @oliviabrown9's iPhone X.

[2018-10-21 22:49] sblatz commented on #1386
Interesting piece of research found by @oliviabrown9: https://stackoverflow.com/questions/43376747/why-is-uiactivityviewcontroller-not-showing-expected-share-options

[2018-10-22 18:45] sblatz commented on #1384
@shubhjain1106 Here's a demo of the issue:

![share bug](https://user-images.githubusercontent.com/4400286/47311940-07e07380-d609-11e8-9b7a-da306018d097.gif)

And here's the article I used (though I think any of them will work): https://www.nytimes.com/2018/10/22/us/politics/house-senate-midterms.html

[2018-10-22 18:57] sblatz opened #1478 "Broken web view after settings iPad bug"
We have a pretty critical bug right now on iPads.
![ipad bug](https://user-images.githubusercontent.com/4400286/47312562-b33df800-d60a-11e8-9e77-6c41a97d4067.gif)

### Steps to reproduce:
1. Open the settings icon while the keyboard is being displayed on the home page
2. Press "Done"
3. Navigate to any page

Expected result:
Website loads normally

Actual result:
The webview is bugged and only sho

[2018-10-22 20:28] Bunn commented on #1441
New PR from master: https://github.com/mozilla-mobile/focus-ios/pull/1479

[2018-10-22 20:31] #1249 closed

[2018-10-22 20:33] Bunn commented on #1433
new PR from master branch: https://github.com/mozilla-mobile/focus-ios/pull/1480

[2018-10-23 01:03] #1386 closed

[2018-10-23 01:03] #1441 closed

[2018-10-23 07:04] danielbogomazov commented on #1478
I could take a look at this.
Does anyone know if previous versions had the same bug or if it's new?

[2018-10-23 09:37] oliviabrown9 commented on #1443
This is definitely an issue, but I imagine it's more of an issue with our documentation not informing users that we're still using 2.7. I know that most of our scripts rely on 2.7, so I'd recommend a docs update over pushing 3 (but certainly just my opinion). CC @sblatz for thoughts.

[2018-10-23 15:09] #1269 closed

[2018-10-23 15:43] sblatz opened #1483 "Tracking protection stats do not count blocked <iframe> elements"
We should copy what Firefox iOS does [found here](https://github.com/mozilla-mobile/firefox-ios/pull/3958) in order to make sure all iframes blocks are counted.

More information here: #862

[2018-10-23 16:28] sblatz commented on #1455
@marchiore We will have to look into this some more. Thanks for doing some initial investigation! 😄

[2018-10-23 16:47] sblatz commented on #52
Looks to be fixed by #1450

[2018-10-23 16:47] #52 closed

[2018-10-23 16:51] sblatz commented on #704
This issue seems to have been lingering for a while on both the Android side and the iOS side. My recommendation would be to at least update our documentation to clearly **call this out as being deprecated**.

[2018-10-23 16:51] sblatz commented on #1435
Closed in favor of an updated #704.

[2018-10-23 16:51] #1435 closed

[2018-10-23 16:57] sblatz commented on #1408
@st3fan do we have any update on this? Seems like it's kind of critical to get fixed.

[2018-10-23 17:08] #673 closed

[2018-10-23 17:13] pocmo commented on #704
Just closed the Android issue: Focus for Android switched to the component some time ago.

In the component we parse list.json at runtime and ship all search plugins. So we do not need this scrape script anymore.

[2018-10-23 17:14] #1388 closed

[2018-10-23 17:31] sblatz commented on #704
Sounds like https://github.com/mozilla-mobile/focus-ios/blob/master/Search/scrape_plugins.py#L19 needs to be updated to point to a new URL at mozilla-central.

Our list.json should look like this: https://github.com/mozilla-mobile/android-components/blob/master/components/browser/search/src/main/assets/search/list.json

[2018-10-23 17:37] sblatz commented on #1223
Slower gif of our current implementation for reference:
![slower](https://user-images.githubusercontent.com/4400286/47379400-c911f280-d6c8-11e8-842b-b7672e42860b.gif)

[2018-10-23 17:48] sblatz commented on #1371
This is almost certainly an issue with our Drag and Drop implementation. We should disable drag and drop when the urlBar ```isEditing``` **and the URL is not fully selected**

[2018-10-23 18:10] sblatz opened #1484 "Tips toggle not showing on some devices"
Both my iPhone and iPad are not showing the toggle to disable tips, but it shows in simulator. I think this is likely some issue with ```userDefaultsShareTrackerStatsKeyNEW``` vs. ```userDefaultsShareTrackerStatsKeyOLD``` being set (as [we're only checking for NEW](https://github.com/mozilla-mobile/focus-ios/blob/3490990130b2b0aa81886259a7bbd91540ed4fc8/Blockzilla/SettingsViewController.swift#L105

[2018-10-23 18:13] sblatz opened #1485 "Consider adding 'disable share trackers button' behavior to tips toggle"
Several people I know (namely power users) who are not a fan of the "share trackers" button would like an option to disable it. Since we already have an option to disable all tips, it would make sense to disable the share trackers button along with it (since it's also a 'tip').

[2018-10-23 18:34] sblatz commented on #1408
After some discussion, it sounds like we should just roll with a Firefox user agent.

We should investigate [removing the Safari portion](https://github.com/mozilla-mobile/focus-ios/issues/1408#issuecomment-427259652) vs. changing FocusOS to FxiOS. I'm not sure which one will result in captcha working **while maintaining fixes for #1177 and #944**

[2018-10-23 18:35] #1433 closed

[2018-10-23 18:41] sblatz commented on #1348
@mmccorks have you had a chance to look into this?

[2018-10-23 18:45] sblatz commented on #1360
I believe @st3fan was looking into updating the l10n script to handle this. I would say this is likely a priority to fix for 8.0 since it will have been one whole release cycle without Siri shortcuts being localized.

[2018-10-23 18:50] sblatz commented on #1182
@vesta0 @Sdaswani would this be good to include in the product roadmap?

[2018-10-23 18:52] sblatz commented on #1152
Seems like this is ready to be worked on. @saresend were you still wanting to tackle this?

[2018-10-23 19:00] sblatz commented on #907
This seems to no longer be an issue in 7.0.

[2018-10-23 19:00] #907 closed

[2018-10-23 19:05] sblatz opened #1486 "StringExtensions file has indexing issues"
See #874 for more information.

[2018-10-23 19:06] #1486 closed

[2018-10-23 19:15] sblatz commented on #865
This should likely be pulling from some source of truth, but as I look at Focus Android and Firefox iOS it doesn't seem to be hosted anywhere. @Sdaswani can you confirm?

[2018-10-23 19:18] Sdaswani commented on #865
I haven't the foggiest @sblatz 😞 . @st3fan may have a better idea if there is a source of truth?

[2018-10-23 19:18] sblatz commented on #841
According to Frank this is "low priority technical debt" and we should "probably keep it as-is". I think it's safe to close for now.

[2018-10-23 19:20] Sdaswani commented on #1182
I think so but it's mainly a BD conversation that @vesta0 has to initiate. I don't think there is any engineering work to be done? We already have a URL scheme right?

[2018-10-23 19:20] sblatz commented on #395
Just throwing in my two cents: I would love for this to be a priority at some point. It can be difficult to get up to speed on how localization works, and has caused a lot of issues in the past.

[2018-10-23 19:28] gueroJeff commented on #395
@Sdaswani We would need to remove this product from being localized by the community. There's no sense in developing distinct processes with distinct toolchains for the community to participate. I'm happy to take that up with you over email. Please include Lonnen when you do.

[2018-10-23 19:29] sblatz commented on #547
Blocked on #839.

[2018-10-23 19:29] Sdaswani commented on #1408
@sblatz @vesta0 definitely needs to understand the options and implications here. I am a bit scared to lose the Focus piece of our UA but then again nothing wrong with it Firefox. Someone should test using FxiOS and seeing if it works across all those issues.

[2018-10-23 19:30] gueroJeff commented on #395
For the time being, sorting out the Android l10n story is higher priority for us than iOS. We'll be happy to bring the same tools that make it easier to localize Android once that's complete.

[2018-10-23 19:33] Sdaswani commented on #395
Understood @gueroJeff we are still in the fact finding stage. I agree the Android l10n story is much more high priority that is why I told @sblatz a solution should cover all of our products.

[2018-10-23 19:35] gueroJeff commented on #395
Thanks. That's exactly what we plan to accomplish with the tooling we're creating in Pontoon and the rest of our toolchain.

[2018-10-23 19:41] Sdaswani commented on #395
@gueroJeff where can @sblatz read documentation about that tooling?

[2018-10-23 19:53] Delphine commented on #395
@Sdaswani: there are a few docs for Pontoon, but they don't describe the tooling that has yet to come - which I believe is what you're interested in.
CC'ing @Pike so he can give more details on what's in the pipeline.

[2018-10-23 20:00] sblatz commented on #1182
We do not currently have a URL scheme to do this. I'm updating this to be blocked on #128.

[2018-10-23 20:02] Sdaswani commented on #128
@sblatz looks like we have a PR, that probably needs to be updated. Maybe.

[2018-10-23 20:29] Sdaswani commented on #1408
I vote for using FxiOS, assuming I understand 'maintain' to mean there are no regressions to those fixed issues.

[2018-10-23 23:18] oliviabrown9 commented on #1182
@sblatz are we sure we need the whole SDK? could they not just open with our URL scheme [which we definitely have](https://github.com/mozilla-mobile/focus-ios/issues/32#issuecomment-329339662). I guess it depends on how the Reddit app is structured and what they're looking for, but I imagine they'd be much more willing to add a one line link vs entire SDK. I think this should be low priority until

[2018-10-23 23:32] tsekityam commented on #1371
I can help disable it.

[2018-10-24 02:02] yzen commented on #1385
Hi @sblatz , James Teh referred me to your question about the color contrast accessibility. I checked whether the color contrast satisfies accessibility requirements for "Done" and "Learn more." and it looks like it doesn't (you can try this online tool https://webaim.org/resources/contrastchecker/). It looks like the color contrast is 2.69:1 where for normal text you would want it to be at least

[2018-10-24 09:52] danielbogomazov commented on #1478
The bug happens because `urlBar.shouldPresent` is set to false when opening the settings popup ([see here](https://github.com/mozilla-mobile/focus-ios/blob/316bf0a9a03d171cccab17489fe8385a209cebc7/Blockzilla/BrowserViewController.swift#L538)). When this variable is set to false, the `urlBar` object never calls the [delegate method to activate](https://github.com/mozilla-mobile/focus-ios/blob/316bf

[2018-10-24 18:38] sblatz commented on #1182
Ah, good catch, @oliviabrown9! I totally missed that. Removing blocked label 😄

[2018-10-24 18:38] sblatz commented on #1371
That'd be great, @tsekityam, thanks!

[2018-10-24 18:39] sblatz commented on #1385
Thanks for your input on this, @yzen! Will leave this up to @brampitoyo on how to handle this color moving forward, as I know we were trying to be in line with Firefox color standards.

[2018-10-24 18:45] sblatz opened #1487 "Implement new Tracking Protection Module"
@garvankeeley has abstracted tracking protection code out into its own repo to reduce code duplication and inconsistencies between Firefox and Focus. We need to implement this module into Focus at some point.

Will update this ticket with a link to the tracking protection repo once it's up.

More discussion [here](https://mozilla.slack.com/archives/C4DK7829K/p1540400860000100).

[2018-10-24 18:48] sblatz commented on #1478
I'll defer to @oliviabrown9 on this one as she implemented this redesigned popover for 7.0.

[2018-10-24 18:58] sblatz opened #1488 "Fix second top crasher (Webkit playback session)"
This is currently our second most crashed stack trace. Not sure what may be causing it, but it could be related to my addition of [exiting full screen video](https://github.com/mozilla-mobile/focus-ios/pull/1187). Need to investigate when it started to confirm.

<img width="727" alt="screen shot 2018-10-24 at 2 55 36 pm" src="https://user-images.githubusercontent.com/4400286/47454326-ee703080-d79c

[2018-10-24 19:33] sblatz opened #1489 "App Store Review: Preview videos play in full screen when scrolling"
One of our reviewers mentioned sites auto playing videos in full screen. We should investigate this and or reach out to the reviewer if we cannot reproduce.
<img width=300 src=https://user-images.githubusercontent.com/4400286/47456274-0dbd8c80-d7a2-11e8-85c1-f7c840fa8217.PNG>

[2018-10-24 19:39] sblatz opened #1490 "Focus Enterprise is failing to build due to code signing error"
<img width="751" alt="screen shot 2018-10-24 at 3 38 36 pm" src="https://user-images.githubusercontent.com/4400286/47456577-ec10d500-d7a2-11e8-83a5-3d2faf30081e.png">

### **I believe we need to update our verification code as suggested here:**

![image](https://user-images.githubusercontent.com/4400286/47456683-1c587380-d7a3-11e8-917d-6dd320955168.png)

[2018-10-24 19:45] #1443 closed

[2018-10-24 20:05] oliviabrown9 commented on #1478
Sorry to continue the handoff, but it looks this specific part was written by @boek. He can hopefully provide insight into if there is a case where an overlay would appear over the settings popup. This might not occur anymore since settings is now modally presented. Not sure though.

[2018-10-24 20:32] sblatz commented on #1490
Apparently this build schema is no longer in use. Closing (and disabling the schema) until it is used again.

[2018-10-24 20:32] #1490 closed

[2018-10-24 20:33] sblatz opened #1491 "Buddybuild is failing due to ./buddybuild_postclone.sh"
The script was not updated to include the new ```./build-disconnect2.py``` filename (caused by #1482).

[2018-10-24 20:47] sblatz opened #1493 "Quick add autocomplete"
https://github.com/mozilla-mobile/focus-android/issues/2966#issuecomment-423032174

[2018-10-24 20:51] sblatz opened #1494 "Just-in time information – Tracking Protection"
While we don't have this exact menu, we could certainly add it to the tracking protection menu we do have:
<img width=300 src=https://user-images.githubusercontent.com/4400286/47460667-ffc13900-d7ac-11e8-95e2-05656705922b.png>

https://github.com/mozilla-mobile/focus-android/issues/2964

[2018-10-24 20:55] sblatz commented on #514
Android issue: https://github.com/mozilla-mobile/focus-android/issues/1250

Notably this is our most requested feature in app store reviews.

[2018-10-24 20:56] sblatz opened #1495 "Add toggle to onboarding card to turn on ad blocking"
https://github.com/mozilla-mobile/focus-android/issues/3616

[2018-10-24 20:57] sblatz opened #1496 "[meta] Support for safe browsing"
https://github.com/mozilla-mobile/focus-android/issues/459

[2018-10-24 20:58] sblatz opened #1497 "[meta] Enable and disable trackers via Allowlist"
https://github.com/mozilla-mobile/focus-android/issues/957

Also be sure to follow all related tickets found in [this comment](https://github.com/mozilla-mobile/focus-android/issues/957#issuecomment-425480347)

[2018-10-24 21:05] #1491 closed

[2018-10-24 22:29] brampitoyo commented on #1385
Hi @yzen, thanks a lot for your feedback – and nice to briefly meet you last week.

Colour contrast has been an that I’m hyper-aware of for a long time, because our [magenta colour palette](https://design.firefox.com/photon/visuals/color.html#magenta) was never designed to play well with [the ink palette](https://design.firefox.com/photon/visuals/color.html#ink).

Our recent accessibility assessme

[2018-10-25 00:29] brampitoyo commented on #1220
This is an easy fix, but there are two things to be aware of.

The first is that, we originally built this feature because “Paste & Go” uses the long-press gesture and was not deemed easy/direct enough to access, so that not many users will be able to take advantage of it (and this was thought to impact retention). Therefore, we built a less obscure way to access the same functionality.

The secon

[2018-10-25 07:39] oliviabrown9 commented on #1220
From an engineering note, it should be stated that in order to do this, I think we would need to store the last "cleared" URL, which users might not expect (though, of course, it would only be local to the app).
Second, we would only switch to display the URL again if the copied URL was different, meaning that if a user copied a link, then cleared it, but then decided they actually wanted to use i

[2018-10-25 16:05] tsekityam commented on #1371
I found that I can still drag something out from the URLBar after I removed `UIDragInteractionDelegate` from it completely.

https://youtu.be/kZe_zYyYG1E

After removing the delegate, everything works except the content being dragged is empty.

Perhaps the text field provides a drag feature by default but it is broken by our URLBar implementation.

I think we should fix the bug that breaks the def

[2018-10-26 06:06] janicelee opened #1500 "Search Suggestions: Create BrowserViewController Unit Tests"

[2018-10-26 06:07] janicelee opened #1501 "Search Suggestions: Create OverlayView Unit Tests"

[2018-10-26 06:07] janicelee opened #1502 "Search Suggestions: Create SearchSuggestionsPromptView Unit Tests"

[2018-10-26 06:07] janicelee opened #1503 "Search Suggestions: Create SettingsViewController Unit Tests"

[2018-10-26 06:07] janicelee opened #1504 "Search Suggestions: Create SearchEngine Unit Tests"

[2018-10-26 06:08] janicelee opened #1505 "Search Suggestions: Create SearchSuggestionClient Unit Tests"

[2018-10-26 11:53] danielbogomazov commented on #1493
I can work on thIs.

I looked around the android discussion and it seems that they don't have the _Search for_ tab that the iOS version does (I could be wrong though, don't have an Android device to check). Should the quick add autocomplete be placed underneath?

![simulator screen shot - iphone xs max - 2018-10-26 at 07 24 01](https://user-images.githubusercontent.com/18453121/47563674-90ecf880-d

[2018-10-26 18:31] Pike commented on #395
On the Android side, we've spent more time on fixing bugs than documenting. Probably a good reminder to fix the documentation, too. Sebastian has ideas on where to do this in particular in the light of Android Components.

One major component is to get localization issues in the front of developers early. We're making good progress there, a-c and focus Android run checks on PRs. They validate that

[2018-10-27 18:02] Sdaswani commented on #395
Thanks so much @pike. Look forward to seeing this work completed!

@sblatz please review and send any thoughts but I know @pocmo was hoping to deliver a transparent and simple process for engineers.

@stefan it may be interesting to see if Firefox and Focus iOS can benefit from these changes too.

[2018-10-27 18:02] Sdaswani commented on #395
And by @stefan I meant @st3fan
https://github.com/mozilla-mobile/focus-ios/issues/395#issuecomment-433642294

[2018-10-28 04:10] janicelee opened #1506 "Search Suggestions: Create UI / End-To-End Tests"
**UI Tests / End-To-End Tests:**
- [x] User can enable feature through **prompt**, type in URL bar, see a list of suggestions, press on a suggestion, and be taken to the correct page
- [x] User can enable feature through **settings**, type in URL bar, see a list of suggestions, press on a suggestion, and be taken to the correct page
- [x] User can disable through prompt and no search suggestions s

[2018-10-28 18:02] shubhjain1106 commented on #1384
Please have a look at this PR ([1508](https://github.com/mozilla-mobile/focus-ios/pull/1508))

[2018-10-29 01:48] boek commented on #1478
As long as the bug referenced that that ticket (Launching from the share extension) doesn't regress I'm fine taking that out 👍

[2018-10-29 23:16] sblatz opened #1511 "Use link icon for search suggestions that are websites"
As the [mockup outlines](https://github.com/mozilla-mobile/focus-ios/issues/1151#issuecomment-422623320), we should be getting search suggestions for websites as well and include a link icon instead of a search one for those cells.

[2018-10-29 23:22] sblatz opened #1512 "Remove "Search for" text from search suggestion cells"
As detailed in the mock up: https://github.com/mozilla-mobile/focus-ios/issues/1151#issuecomment-422623320

Note this should **only happen** if a user has enabled search suggestions.

[2018-10-29 23:56] oliviabrown9 commented on #1496
Dupe of #162

[2018-10-29 23:57] sblatz opened #1514 "Handle placement of "find in page" and "link you copied" buttons when search suggestions are enabled"
When search suggestions are enabled, we need to decide if we want these find in page and "link you copied" buttons to be at the top or bottom of the search list.

Current notes from @brampitoyo so far:

So if you _do_ start typing, the “Paste” option should be put on the bottom.
With “Find in page”, it’s less clear. When you type, which one is more important? The word on the page, or the keyword?

[2018-10-29 23:57] oliviabrown9 commented on #1497
Dupe of #167

[2018-10-30 00:02] oliviabrown9 commented on #1514
I would probably look at Telemetry on how much users currently click on find in page/copied URL to help with this.

[2018-10-30 00:05] sblatz commented on #1493
Hey @danielbogomazov. The autocomplete button should actually go away when the user starts typing. So when you're on "example.com" and tap the URL bar, it would display the button as the first (and only) button underneath the URL bar. After you start typing, it would disappear. Thanks for your work on this so far!

[2018-10-30 16:53] sblatz commented on #1514
Notably when a user has search suggestions enabled on a smaller device, they have no way of seeing the find in page or "link you copied" buttons:

<img width="304" alt="image" src="https://user-images.githubusercontent.com/4400286/47735262-932dba80-dc42-11e8-9c2a-52794c98a248.png">

One solution would be to show fewer search suggestions on smaller devices to accommodate the find in page button (an

[2018-10-30 16:57] #1478 closed

[2018-10-30 16:58] sblatz commented on #1408
Confirmed with Vesta that we will just use FxiOS for now. I'll move forward with a fix for this.

[2018-10-30 17:10] #1496 closed

[2018-10-30 17:10] sblatz commented on #162
mozilla-mobile/focus-android#459

[2018-10-30 17:11] sblatz commented on #167
https://github.com/mozilla-mobile/focus-android/issues/957

Also be sure to follow all related tickets found in [this comment](https://github.com/mozilla-mobile/focus-android/issues/957#issuecomment-425480347)

[2018-10-30 17:11] #1497 closed

[2018-10-30 17:18] sblatz commented on #1371
@tsekityam does removing the drag interaction still allow users to drag the URL when the text field is not active? I believe that's why I added that functionality (and overrode the default behavior).

[2018-10-30 17:54] pdil commented on #1484
Should the toggle be showing if `userDefaultsShareTrackerStatsKeyOLD` is also enabled? I wasn't sure what the intended behavior was for users where the "old" key was enabled.

It seems like the check for old vs new keys was removed in `8.0-dev`
(see [`shouldShowTips()` in `7.0`](https://github.com/mozilla-mobile/focus-ios/blob/b16be370bec3527e89a98a238eeba1c0c61468fc/Blockzilla/BrowserViewControll

[2018-10-30 19:05] #1377 closed

[2018-10-30 19:06] #1376 closed

[2018-10-31 17:31] sblatz commented on #1514
Bram's final call on this:

[2018-10-31 17:50] sblatz commented on #1484
@pdil In 7.0.3 [we pushed tips to everyone in the en-US locale](https://github.com/mozilla-mobile/focus-ios/pull/1401), which is why ```shouldShowTips()``` no longer exists. My understanding is that if ```canShowTips()``` is true, we should also be displaying the tips toggle.

Hope that clears things up a bit; I know those "OLD" keys are super confusing 😅

[2018-10-31 18:11] sblatz opened #1519 "Fix or disable Bitrise"
Currently when a PR is opened, bitrise **always fails**. This leads to every PR having a large ❌ on it, making failed builds on buddybuild or actual issues harder to notice. We should fix how our bitrise is running or remove it altogether.

Not a super high priority, but would be nice to have.

[2018-11-01 18:52] #1408 closed

[2018-11-02 01:41] janicelee opened #1520 "Enabling search suggestions through settings shows only one search cell"
UI Testing has revealed the following bug:
If user has not responded to prompt and enables search suggestions through the settings, typing in the URL bar causes only 1 search cell to appear

![img_0013 trim](https://user-images.githubusercontent.com/25831712/47889840-3f210280-de09-11e8-94da-b0ab5e01ad69.gif)

[2018-11-02 16:15] sblatz opened #1523 "Search text mismatch when using forward and back navigation"
## Steps to Reproduce:
1. Search "the guardian"
2. Search "mozilla"
3. Press back
4. Search "firefox"
5. Press back

## Expected Result
The URL bar search text displays "the guardian" and shows the corresponding search page

## Actual Result
The URL bar search text displays "mozilla" and shows the guardian search page.

## Demo:
![search history bug](https://user-images.githubusercontent.com/44002

[2018-11-02 19:00] #1455 closed

[2018-11-02 19:01] klymenkoo commented on #1523
I would like to work on this issue if you don't mind.

[2018-11-02 19:35] vesta0 opened #1527 "New homescreen tip to inform user about the new allowlist feature"
### Why/User Benefit/User Problem

As a user (new/existing) I would like to know how to add afrequently visited site to my allowlist so the site doesn't break by tracker blocking

### What / Requirements

Add a new homescreen tip on how to add a site to the allowlist, to link to new Sumo page (TBD)

### Acceptance Criteria (how do I know when I’m done?)

-Users will see a home screen tip informing

[2018-11-02 19:45] sblatz opened #1528 "Update UserAgent Test"
With our new userAgent being based on [FxiOS](https://github.com/mozilla-mobile/focus-ios/issues/1408) instead of "Focus" or "Klar" we should update this UI test so it passes:

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/4400286/47937155-3803fe00-deb6-11e8-8231-bab8c954924c.png">

[2018-11-02 19:47] vesta0 commented on #1527
Wrong repository!

[2018-11-02 19:47] #1527 closed

[2018-11-02 19:59] sblatz opened #1529 "AMP sites don't force toolbars to show"
If the toolbar is collapsed before entering an AMP site, they won't be forced to show. This can be fixed by adding a ```showToolbars``` call when the url changes (rather than only when navigation starts)

[2018-11-02 20:06] #1529 closed

[2018-11-02 20:41] sblatz opened #1531 "Back button appears active after erase"
## Steps to Reproduce
1. Navigate to any site
2. Navigate to another site
3. Erase
4. Navigate to any site

## Expected Result
Back button is inactive

## Actual Result
Back button is active for a brief moment (or always on v7.0.4)

This issue existed previously but we were quickly updating the backButton with ```updateBackForwardState``` after the new session started (so it would flash a back but

[2018-11-02 20:49] #1531 closed

[2018-11-03 08:17] oliviabrown9 commented on #1528
In the future, this should be included as a prereq for PRs being merged in. If a PR breaks a test, that PR should update the test so that it passes by the time it's merged into master.

[2018-11-03 17:50] Meng-Wei opened #1535 "Empty Search cell after typing "WhiteSpaces""
In the master branch, after I typed some whitespaces, I got the following outputs:
![img_4912](https://user-images.githubusercontent.com/25020683/47955501-73aece80-df6f-11e8-88d0-5d9f411e2b83.PNG)

[2018-11-03 17:54] Meng-Wei opened #1536 "Search Suggestions: Whitespaces are not trimmed in the URL bar"
Here is what I got after typing some whitespaces:
<img width="362" alt="screen shot 2018-11-03 at 1 52 55 pm" src="https://user-images.githubusercontent.com/25020683/47955517-cb4d3a00-df6f-11e8-92f7-4bf90004dc93.png">
<img width="379" alt="screen shot 2018-11-03 at 1 53 30 pm" src="https://user-images.githubusercontent.com/25020683/47955521-ddc77380-df6f-11e8-9cd9-523bc7333539.png">

[2018-11-03 18:17] sblatz commented on #1535
Hmmm, I cannot reproduce this on master on my iPhone. What phone is this?

[2018-11-03 19:05] Meng-Wei commented on #1535
It's iPhone 8Plus.

[2018-11-03 19:17] Meng-Wei commented on #1535
Sorry, I make a mistake here.
I tested on the application downloaded from the App Store, not from the master branch.

[2018-11-03 19:33] Meng-Wei commented on #1535
But on the master branch, I encounter the same bug.

[2018-11-04 02:32] janicelee opened #1537 "Search Suggestions: prompt should hide when no text is in URLbar"
![promptstillup](https://user-images.githubusercontent.com/25831712/47959354-192d6680-df9f-11e8-8693-c9287e25a824.gif)

[2018-11-04 17:46] #1493 closed

[2018-11-04 19:00] codeman869 commented on #1528
Do we want to check that the user agent just contains FxiOS or do we want to check different parts of the useragent ? This is what I'm currently seeing in the debugger.

[2018-11-04 19:37] sblatz commented on #1528
@codeman869 I think checking for "FxiOS" and the version number (which is already being handled) should be sufficient.

@oliviabrown9 agreed--this was an oversight on my part.

[2018-11-05 01:17] danielbogomazov commented on #1535
Should have been fixed [here](https://github.com/mozilla-mobile/focus-ios/pull/1507/commits/902230f76af54211b200bc0a6e453e9fa445c16b#diff-c6c1eb8a6c8fda2f5bc80a405a26e5d6R78). Can you pull from master and recheck if the bug is still happening?

[2018-11-05 01:54] Meng-Wei commented on #1535
Thanks! That works.

[2018-11-05 01:54] #1535 closed

[2018-11-05 13:44] sblatz opened #1541 "URL bar doesn't display search when search suggestions are used"
If a user selects a search suggestion from the tableview rather than pressing "Go," the URLBar is not filled with the search suggestion, but rather the google.com URL.

This is a regression for our search queries and should be fixed for search suggestions to be merged in.

![bug](https://user-images.githubusercontent.com/4400286/48001578-f736ff80-e0d6-11e8-9231-7aed2c90adfc.gif)

[2018-11-05 14:51] Meng-Wei commented on #1502
UI tests

[2018-11-05 14:51] #1502 closed

[2018-11-05 14:51] Meng-Wei commented on #1501
UI tests

[2018-11-05 14:51] #1501 closed

[2018-11-05 14:51] Meng-Wei commented on #1500
UI tests

[2018-11-05 14:51] #1500 closed

[2018-11-05 14:51] Meng-Wei commented on #1503
UI tests

[2018-11-05 14:51] #1503 closed

[2018-11-05 14:59] codeman869 commented on #1519
@sblatz, can we enable public logs / builds for Bitrise? I am currently unable to view them.

[2018-11-05 15:44] klymenkoo commented on #1541
I can take this issue if it is possible.

[2018-11-05 16:54] sblatz commented on #1541
That'd be awesome! Please be sure you're working off the search-suggestions branch for this issue 😄

[2018-11-05 18:40] sblatz commented on #1519
I'm not sure if that's a possibility. Right now I don't have access to them either, which is why I'm airing on the side of removing it altogether (especially since Firefox-iOS repo also does not use it).

Thoughts @Sdaswani?

[2018-11-05 18:49] #1387 closed

[2018-11-05 18:51] sblatz opened #1543 "Investigate and fix broken UI Tests"
Currently we have three consistently failing UI tests on master. We should get these resolved so we can once again use passing tests as an indicator for PR merging viability.

* testAddRemoveCustomSearchProvider()
* testCheckSetting()
* testSignUpWithGoogle()

[2018-11-05 21:04] Sdaswani commented on #1519
@st3fan can we disable bitrise for Focus iOS?

[2018-11-05 21:32] #1512 closed

[2018-11-06 02:13] danielbogomazov commented on #1511
I can take a look at this

[2018-11-06 09:44] #1504 closed

[2018-11-06 13:49] yzen commented on #1385
sorry for the delay @brampitoyo , these look good! Pass AAA with large text even.

[2018-11-06 19:35] #1505 closed

[2018-11-06 19:43] sblatz commented on #1511
I believe @reidgust said he was working on this. Reid, can you confirm (and assign yourself if so)?

[2018-11-06 20:52] #1520 closed

[2018-11-06 20:52] #1536 closed

[2018-11-06 20:52] #1537 closed

[2018-11-06 20:57] #1528 closed

[2018-11-07 02:29] brampitoyo commented on #1385
See also FirefoxUX/photon/issues/330.

[2018-11-07 14:09] #1484 closed

[2018-11-07 15:01] sblatz opened #1545 "Setting one Siri shortcut incorrectly sets them all"
## Steps to Reproduce:
1. Settings
2. Erase & Open
3. Record any voice command
4. Done
5. Force close the app
6. Go to settings

## Expected Results:
Only Erase & Open is set to have the voice command

## Actual Results:
All of the Siri shortcuts get set to that voice command.

[2018-11-07 15:05] sblatz commented on #1458
Did a little investigation. Looks like we only modified our "present" calls a few times since 6.1.1:
https://github.com/mozilla-mobile/focus-ios/compare/v6.1.1...v7.0

It is likely tied to one of these, though I can't reproduce from any of the changes there.

[2018-11-07 15:27] codeman869 opened #1546 "Add SwiftLint to pre-commit git hook"
After https://github.com/mozilla-mobile/focus-ios/issues/1452 is resolved, it would be good to run swiftlint automatically before files are committed.

[2018-11-08 01:21] danielbogomazov commented on #1152
Was wondering if you’re working on this @saresend ? If not, I can take a look into this

[2018-11-08 14:52] #1543 closed

[2018-11-08 14:54] sblatz commented on #1546
This is an awesome idea. Love it 😄

[2018-11-08 15:15] sblatz commented on #846
Related to #1220. IMO we don't need both a toggle **and** ability to clear. Should likely decide to use on or the other.

[2018-11-08 15:24] sblatz commented on #235
This would deviate from Firefox iOS, Focus for Android, and Safari. I think we should consider closing this.

[2018-11-08 16:30] sblatz opened #1547 "Run through release checklist"
We should make sure we follow the procedures outlined [here](https://github.com/mozilla-mobile/focus-ios/wiki/New-Release-Checklist) before shipping our beta.

[2018-11-09 00:04] klymenkoo commented on #1541
I investigated the code and found that click on suggestion is handled in the following function:

**focus-ios/Blockzilla/BrowserViewController.swift** _line 1112_:
[code]

After debugging and comparing with `func urlBar(_ urlBar: URLBar, didSubmitText text: String)`, I found that the query from the suggestion is not pushed to the `SearchHistoryUtils` stack. Therefore, search text considered to be

[2018-11-09 13:46] sblatz commented on #1541
@klymenkoo thanks for looking into this. I think it may just be better to swap the ```submit(url: url)``` line with ```urlBar(urlBar, didSubmitText: query)``` as that will the search query as it should (without us having to change any of our existing functions). Let me know if that doesn't work or causes an issue!

(By the way, I **think** the reason the issue persisted even though displayText was

[2018-11-09 15:43] garvankeeley opened #1548 "Port focus code to use content-blocker-lib-ios from Firefox iOS"
PR is https://github.com/mozilla-mobile/firefox-ios/pull/4363

This will enable using the same code between the two products. Focus would need to be refactored to remove the existing content blocking code and point to this instead. Also, a `FocusTabContentBlocker` class will be needed that subclasses `TabContentBlocker` to provide specific implementations for `isEnabled` and for specifying which b

[2018-11-09 16:30] sblatz commented on #1511
Confirmed that Reid is working on this. There should be plenty of [help wanted](https://github.com/mozilla-mobile/focus-ios/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) tickets to work on if you're still wanting to contribute, @danielbogomazov!

[2018-11-09 21:12] saresend commented on #1152
Hey, sorry haven't had a chance to actually go ahead and implement this just yet. I'll probably have a chance to tackle it towards the end of november, so you're welcome to go for it, and if theres anything left over by then I can take a look and wrap it up?

[2018-11-09 21:31] danielbogomazov commented on #1152
Sounds good

[2018-11-10 21:56] sblatz opened #1550 "Search suggestions should not contain duplicates"
If one of our search suggestions is the exact same text that the user has entered, we should not display it. Instead we should push the rest of the suggestions up (while still displaying the same total number).

In the example below, the second button should be "the guardian movie" the third being "the guardian news" etc. and then we should grab the **next** suggestion and fill it in as the bottom

[2018-11-10 21:57] #1541 closed

[2018-11-11 01:30] #1514 closed

[2018-11-11 21:53] cmorierroy commented on #1390
#1552

[2018-11-11 22:19] #1550 closed

[2018-11-12 13:44] sblatz opened #1554 "Remove Client Test checking for userDefaultsShareTrackerStatsKeyNEW"
We no longer use this key and thus this test should not be checking for it.

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/4400286/48351072-1f82a900-e657-11e8-8e71-1bee221f24ec.png">

[2018-11-12 19:04] sblatz commented on #1519
Going ahead with removing it for now. We can add it back if we find it useful again in the future!

[2018-11-12 19:07] #1519 closed

[2018-11-12 19:31] #1554 closed

[2018-11-12 19:34] oliviabrown9 commented on #1489
Confirming this. I'm seeing it on some social medias that default to autoplay videos - the issue is that they are being played in fullscreen mode. I wonder if previous versions of Focus had this, and we never noticed or if one of the fullscreen fixes (I think @sblatz did) might have caused this.

[2018-11-12 19:35] sblatz opened #1557 "Settings alignment issue on larger phones on search-suggestions branch"
This issue appears to only affect plus models on the search-suggestion branch. We should make sure the misalignment is fixed when we pull in master. Thanks for finding this, @Meng-Wei!

<img width="300" alt="screen shot 2018-11-11 at 11 17 50 pm" src="https://user-images.githubusercontent.com/4400286/48370723-1eb63b00-e688-11e8-9647-1da1601f2959.png">

[2018-11-12 19:39] sblatz commented on #1489
**Potentially** caused by this #1187

[2018-11-12 20:05] liuche opened #1558 "Move Telemetry wiki to a docs/Telemetry.md"
Moving the Telemetry wiki to a docs/Telemetry.md has two main benefits:
1) Documentation of telemetry can be done in the PR (rather than needing to remember to edit the wiki later, after the PR has merged)
2) Contributors can make documentation changes as part of their PR, rather than needing someone on the team with Wiki edit privs to copy changes over.

[2018-11-12 20:06] liuche commented on #1558
Firefox-TV did this recently, and it's a pretty easy change - just copy paste the wiki text to a file and commit it, and update the wiki to reflect the documentation being moved.
https://github.com/mozilla-mobile/firefox-tv/wiki/Telemetry

[2018-11-13 14:40] sblatz opened #1559 "Update search suggestion telemetry to match android better"
Our search suggestion telemetry uses the ```searchSuggestion``` method rather than using ```click``` which could make it confusing for the data team to look at. We should likely update it to more closely match Android's implementation.

[2018-11-13 15:07] sblatz opened #1561 "Add small delay before making search suggestion query"
Currently we're making a search suggestion request immediately after the user types or backspaces. While this results in very quick return times, it could be using more data than a user would like. We could delay this request by 100ms or so to make sure the user hasn't typed again before making a request.

See [here](https://github.com/mozilla-mobile/focus-android/pull/3076/files#r208728622) for i

[2018-11-13 15:11] sblatz opened #1562 "Temporarily showing Google URL when search suggestion URL is used"
Note: this bug currently only exists on the search-suggestions branch. Please branch off of that in order to work on this issue.

![bug](https://user-images.githubusercontent.com/4400286/48422363-7d34f500-e72c-11e8-80ab-a868133b3934.gif)

[2018-11-13 15:20] sblatz commented on #1511
Looks like we are already getting the URLs from the search engines. We just need to update the search icon to be a link icon when appropriate.

### Demo
![demo](https://user-images.githubusercontent.com/4400286/48422994-b91c8a00-e72d-11e8-86a5-add8936fd0d0.gif)

[2018-11-13 15:27] sblatz opened #1563 "After changing search engine, search suggestions do not use the new engine"
Users are currently required to force quit the app in order for search suggestions to be used from the appropriate engine. That being said, the suggestions from the previous engine are used to properly query the new one.

### Steps To Reproduce
1. Change your search engine
2. Type a query (with search suggestions enabled)

### Expected Result
Search suggestions come from new engine

### Actual Res

[2018-11-13 15:38] sblatz commented on #1558
This seems like a great change and an easy win. Thanks for the recommendation!

[2018-11-13 16:04] sblatz commented on #1487
Closed in favor of #1548.

[2018-11-13 16:04] #1487 closed

[2018-11-13 16:09] sblatz commented on #1489
To clarify this issue: I think it's a concern with videos not playing in line, but rather opening a new link altogether.

Example:
![example](https://user-images.githubusercontent.com/4400286/48426332-93df4a00-e734-11e8-95cf-13c33f9a3e85.gif)

[2018-11-13 16:13] sblatz opened #1565 "StringExtensionTest does not check for Klar / Focus"
Buddybuild is failing for Klar. The StringExtensionsTest is not checking if Focus / Klar and importing properly.

<img width="741" alt="image" src="https://user-images.githubusercontent.com/4400286/48426620-254ebc00-e735-11e8-956a-d5a84601fcbf.png">

[2018-11-13 18:30] Meng-Wei commented on #1511
#1567

[2018-11-13 19:27] #1565 closed

[2018-11-13 19:46] oliviabrown9 opened #1568 "Remove truncated extension"
We currently have a String extension to truncate a String. However, this is rather unnecessary and bloated code as it handles multiple cases and options that we never use. In fact, we only use this extension once in the entire project. Beyond this, since Swift 4, this is a one line fix: https://medium.com/@johnsundell/exploring-the-new-string-api-in-swift-4-ce7d2c1cae00

When this extension is rem

[2018-11-13 19:51] oliviabrown9 commented on #1561
This should absolutely be done. Otherwise, you're sending off a request for every letter a user types, every time. We should set it up so that it waits 100ms after every letter typed and reset the countdown if another letter is typed.

[2018-11-13 19:56] #1559 closed

[2018-11-13 19:57] #1563 closed

[2018-11-14 12:29] sblatz opened #1569 "Fix failing SearchEngineTests"
Some of the SearchEngineTests added in our search-suggestions branch are failing. These should pass before we merge this branch into master.

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/4400286/48482585-0f95d100-e7df-11e8-9720-b47a4fea5c46.png">

[2018-11-14 12:49] sblatz commented on #1569
It seems that #1538 actually fixed this issue by trimming preceding whitespace in the URL bar before passing it to the search engine. This should be handled by the search engine in order to pass these tests.

[2018-11-14 13:02] sblatz opened #1571 "Disable CopyTest on Klar"
CopyTest is currently disabled on Focus build and enabled on Klar (causing Buddybuild to fail for Klar).
This test is deprecated as it does not use the new photon action sheet copy item, **and** it is already tested in the base case (which is why it was disabled). I think removing this test is the right path forward. At the very least, we need to disable it to get Klar to pass.

[2018-11-14 13:09] #845 closed

[2018-11-14 13:11] #1506 closed

[2018-11-14 13:11] #1392 closed

[2018-11-14 13:12] #1511 closed

[2018-11-14 13:14] sblatz commented on #1547
Let's make sure this sumo link is also live: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/search-suggestions-focus-ios

[2018-11-14 18:59] #1562 closed

[2018-11-14 20:08] danielbogomazov commented on #1557
The issue comes from [hardcoding the left constraint](https://github.com/mozilla-mobile/focus-ios/blame/search-suggestions/Blockzilla/SettingsViewController.swift#L400). This doesn't only affect plus models, it's just more noticeable on them.

If we want to keep _Learn More_ as a button, the best way of dealing with this issue would be to create a new cell similar to the [SettingsTableViewAccessor

[2018-11-14 20:21] #1571 closed

[2018-11-14 20:55] #1151 closed

[2018-11-14 22:52] jonisavage commented on #1151
Article is ready. Direct links:

- (ios) https://support.mozilla.org/en-US/kb/search-suggestions-firefox-focus-ios
- Klar https://support.mozilla.org/en-US/kb/search-suggestions-firefox-klar-ios

Please use in-product link referenced in my previous comment.

[2018-11-14 23:34] brampitoyo commented on #1557
@sblatz wrote:

Only the link should be tappable. Not the whole cell.

Here’s an example from iOS Settings. The link labelled [Clock app] has a generous tap area, but the rest of that paragraph isn’t tappable. We should follow that example.

<img width="320" src="https://user-images.githubusercontent.com/51007/48519661-94ade280-e8d2-11e8-9950-afba642a3a5f.PNG"> <img width="320" src="https://user-i

[2018-11-15 12:34] sblatz commented on #1557
So it sounds like we should then go ahead with the solution of creating a new cell class. Are you able to tackle that, @danielbogomazov?

[2018-11-15 20:21] sblatz opened #1575 "beginWithWhiteSpaceSearchSuggestions test fails"
We need to make sure this test passes before we can merge search suggestions into master.

[2018-11-15 20:50] danielbogomazov commented on #1557
@sblatz Yup, sounds good

[2018-11-15 21:41] Sdaswani opened #1577 "Change Google Search Code"
We need to change our search code for Google. We can do this in a major or minor release.

[2018-11-16 11:56] #1561 closed

[2018-11-16 12:54] sblatz opened #1580 "After enabling/disabling tips, the home screen constraints are broken"
Note: this resolves itself after the user types

### Demo
![tips bug](https://user-images.githubusercontent.com/4400286/48622470-e60eae00-e974-11e8-92ed-69c6f441f724.gif)

[2018-11-16 12:56] sblatz commented on #1577
Can you explain a bit more what you mean by this, @Sdaswani? It'll help me appropriately tag the ticket 😄

[2018-11-16 14:16] Sdaswani commented on #1577
I will - stay tuned. Waiting on something....

[2018-11-16 17:03] ooHAoo commented on #1580
I would like to give this a try but just making sure, do you basically mean the search bar is kind of overshadowing the top part ? (The carrier, battery, etc.)

[2018-11-16 17:04] sblatz commented on #1580
Yep! That's the issue.

[2018-11-19 21:17] sblatz opened #1585 "Autocomplete site button shows on home screen"
It should only show on websites as the top button if a user has not typed anything yet.

## Demo

![bug](https://user-images.githubusercontent.com/4400286/48735507-93542100-ec16-11e8-9699-43933c744051.gif)

[2018-11-19 21:22] sblatz commented on #1485
App store review request:
![img_6429](https://user-images.githubusercontent.com/4400286/48735762-3c028080-ec17-11e8-8231-237ccbb55de1.jpeg)

[2018-11-20 18:52] sblatz commented on #1545
This appears to be a simulator bug. Cannot reproduce on 8.0 TestFlight on actual device.

[2018-11-20 19:53] #1464 closed

[2018-11-21 12:31] #1557 closed

[2018-11-21 13:20] #1545 closed

[2018-11-21 13:32] #1558 closed

[2018-11-22 10:13] piotrdrag opened #1589 "“usage-data” translatable string is hard to understand"
I would like to know how should I translate this string:

[code]

CCing @Delphine

[2018-11-22 12:11] sblatz commented on #1589
Sorry for the confusion on this. This string is actually not supposed to be localized. We are working on removing it and making a note to not localize it!

[2018-11-22 12:12] piotrdrag commented on #1589
That makes sense. Thanks!

[2018-11-22 12:59] #1589 closed

[2018-11-25 22:59] janicelee opened #1592 "Settings table view cells padding and text sizes are inconsistent"
On master, it seems that there are several problems with the appearance of the settings.

- The padding of the cells is inconsistent ( "Use Touch ID" cell appears to have a larger padding than "Block Web fonts")
- The text sizes are also inconsistent, particularly the "Send usage data" and "Get Search Suggestions" cells. This can be clearly seen when the dynamic font size is changed.

It appears t

[2018-11-26 00:37] reidgust commented on #1488
[Webkit source code at PlaybackSessionManagerProxy](https://trac.webkit.org/browser/webkit/releases/WebKitGTK/webkit-2.23.1/Source/WebKit/UIProcess/Cocoa/VideoFullscreenManagerProxy.mm)

[2018-11-26 17:07] reidgust commented on #1489
"Starting in iOS 10, WebKit relaxes its inline and autoplay policies to make these presentations possible, but still keeps in mind sites’ bandwidth and users’ batteries."
https://webkit.org/blog/6784/new-video-policies-for-ios/

[2018-11-26 18:51] sblatz commented on #1592
Good catch on these. A couple notes:

* The Touch ID cell is missing the description text for some reason.
* It seems like the send usage data and get search suggestions cells do not properly respect dynamic text, which causes the variance in text size.

[2018-11-26 19:19] #1585 closed

[2018-11-26 19:21] #1473 closed

[2018-11-27 04:16] brampitoyo commented on #1385
My newest proposal darkened the colour palette of iOS Settings and dialogue backgrounds, to both increase the contrast against the text, and align it with Android.

Also note that I’ve darkened the magenta. But even with this, the resulting contrast should still pass WCAG 2.0.

Current vs. earlier proposal vs. new proposal
<img width="220" src="https://user-images.githubusercontent.com/4400286/461

[2018-11-27 15:16] sblatz commented on #1485
This is a one-liner fix if I can get a thumbs up on tackling it so it can ship with 8.0

cc: @Sdaswani

[2018-11-27 15:18] sblatz commented on #1489
As @reidgust mentioned in the planning meeting yesterday, this is actually an issue with preview videos playing when you are just scrolling (without tapping on them). Renaming the ticket for clarification.

[2018-11-27 15:22] Sdaswani commented on #1485
This is up to @vesta0 . My tombstone will have have how many trackers Focus has blocked on it so I vote no. 🤣

[2018-11-27 15:43] vesta0 commented on #1485
@sblatz I assume the one-liner fix is to disable it globally and I would rather give the user the option to disable it - which would require UI change. Let's leave it as is for 8.0 and circle back to it later. Thanks for raising this!

[2018-11-27 16:30] sblatz opened #1596 "Swipe to go back removes search history in URL bar"
## Steps to Reproduce:
1. Search "mozilla"
2. Tap on Mozilla link
3. **Swipe** to go back to google search

## Expected:
URL bar contains "mozilla"

## Actual:
URL bar contains "www.google.com"

This does not happen if you tap the back button!

[2018-11-27 18:11] #1592 closed

[2018-11-28 22:41] sblatz opened #1599 "Reload of page pushes to search history"
This causes issues with the URL bar not being properly set when navigating back / forward.

[2018-11-28 22:41] sblatz commented on #1599
Associated with #1596.

[2018-11-29 01:49] #1596 closed

[2018-11-29 01:49] #1599 closed

[2018-11-29 13:32] leschlogl commented on #1568
Hi @oliviabrown9,

I was looking into this issue and I think we have two approaches in this case:

1 - Creating a method in String Extension of the middle truncate case, removing the others because Swift 4 already take care of them, and keeping only the tests of the this middle case.
2 - Keeping the extension but changing to use the swift 4 methods (prefix/suffix) and keeping only the middle trunc

[2018-11-29 17:54] sblatz commented on #1452
Closed by https://github.com/mozilla-mobile/focus-ios/commit/c6c03f3d7784c7b51a75906bd2f0832f9f5da660

[2018-11-29 17:54] #1452 closed

[2018-11-29 20:57] oliviabrown9 commented on #1568
@leschlogl I think this is a much simpler fix because we only use the truncated extension in one place. I think we should remove the extension entirely and use the Swift 4 method in the one place we need it.

[2018-11-29 21:34] #1489 closed

[2018-12-01 00:32] #1547 closed

[2018-12-03 15:54] danielbogomazov commented on #1039
I can take a look at this

[2018-12-03 19:34] oliviabrown9 commented on #1039
@danielbogomazov go for it :)

[2018-12-04 20:11] TheOriginalTomO commented on #1438
Hi @vesta0 - hope you had a great vacation! Have you had an opportunity to look at this proposed feature?

[2018-12-04 20:15] TheOriginalTomO commented on #1345
@brampitoyo I think this is a great job! I agree with the positives and that they outweigh the negatives; moving the buttons make a lot of sense. That would complete the visual refresh :) I also still prefer the long URL address bar ;)

[2018-12-05 20:06] oliviabrown9 commented on #1494
@sblatz @brampitoyo Can you confirm that this issue is simply asking to add a label with the string "Turning this off may fix some site problems." below the tracking protection title?

[2018-12-05 23:12] brampitoyo commented on #1494
Hi @oliviabrown9. Yes. This issue is about labelling that menu item.

We’ve got the 12px text size already use for sublabels/captions in menu items under Settings. Let’s use it to label Tracking Protection, too.

<img width="375" src="https://user-images.githubusercontent.com/51007/49550328-1633e600-f950-11e8-8b0a-49afd994f3f8.png">

Thoughts?

[2018-12-10 09:08] trungducc commented on #934
I'm not sure but maybe this issue has been fixed because now they are defined as `UIConstants.layout.overlayButtonHeight`.

[2018-12-10 12:24] NSBaguette commented on #1494
@oliviabrown9 is this task assigned to someone? I would like to work on it.

[2018-12-10 15:46] slozano95 commented on #1495
Hi, I would like to work on this issue, but do you have specific design guidelines for iOS or should I use the ones on the Android repo?
Thanks

[2018-12-10 20:43] oliviabrown9 commented on #934
We've essentially been fixing as we go, so if we see a button not defined as a constant in a file we're working with, we change it to be a constant. @sblatz to confirm that this is not resolved as there are presumably still many buttons we haven't changed?

[2018-12-10 20:44] oliviabrown9 commented on #1495
@brampitoyo can you confirm the spec for this?

[2018-12-10 22:08] brampitoyo commented on #1495
Thanks for pinging me, @oliviabrown9.

@slozano95, the design guidelines for iOS is exactly the same, although it’s not clear that we will be able to implement ad blocking on iOS. Maybe @oliviabrown9 and @sblatz can confirm.

Normally, I would add more space between the tips and the toggle, but small screens (iPhone SE) necessitates a smaller margin.

<img width="320" src="https://user-images.gith

[2018-12-10 22:20] slozano95 commented on #1495
Sure I’ll post the screenshot asap, also please confirm if the feature is or will be done cause I didn’t find a branch with that feature cc @oliviabrown9 @sblatz
Thanks

[2018-12-11 13:13] slozano95 commented on #1495
![simulator screen shot - iphone se - 2018-12-11 at 07 54 39](https://user-images.githubusercontent.com/5178713/49802992-94abd180-fd1c-11e8-84e6-80b88b5db455.png)
![simulator screen shot - iphone se - 2018-12-11 at 07 54 42](https://user-images.githubusercontent.com/5178713/49802993-94abd180-fd1c-11e8-9aa1-89f465973168.png)
![simulator screen shot - iphone se - 2018-12-11 at 07 55 15](https://user

[2018-12-11 17:01] mkaply commented on #1577
So we are going to make a simple switch for the search code. We'd also like to rename the engine to make it clear it's using the new code.

Change will be to add -m to the end of the codes:

firefox-b-1-m | firefox-b-m

For desktop, we are naming the engines the same as the code:

google-b-1-d.xml

[2018-12-11 17:08] sblatz commented on #1494
Hey @NSBaguette, just saw your email. I'd recommend going with the second option you mentioned in your message. Also, to add a string, please just add it as an NSLocalizableString in UIConstants.swift inside the strings struct. If you have any more questions feel free to reach out inside this ticket and @ mention me 😄

[2018-12-11 19:12] sblatz commented on #934
@trungducc There are still cases where buttons have "magic numbers" for their heights. See: SearchSuggestionsPromptView, URLBar, and AddSearchEngineViewController.

[2018-12-11 19:31] #1580 closed

[2018-12-11 19:33] Sdaswani commented on #1577
@sblatz you are on this already it seems - will we roll it in a 8.0.1?

[2018-12-11 19:38] sblatz commented on #1577
@Sdaswani seems reasonable to me! Once we release 8.0 we can push this into beta.

[2018-12-11 20:31] #1577 closed

[2018-12-11 21:04] sblatz opened #1607 "Search suggestions text should be greyed out"
Per @brampitoyo specs, we should have the suggested portion of the text have a color of grey-10, alpha 60%.

<img width=300 src=https://user-images.githubusercontent.com/4400286/49830113-3dc6ec00-fd5e-11e8-8a28-7cd7e268ef35.png>

[2018-12-12 17:03] vesta0 commented on #1438
@TheOriginalTomO thanks for this feature idea. I will consider this when I meet with the team to prioritize the roadmap.

[2018-12-12 20:52] #1568 closed

[2018-12-13 03:02] klymenkoo commented on #1607
I can take it.

[2018-12-13 03:15] oliviabrown9 commented on #1607
@klymenkoo Go for it!

[2018-12-13 19:58] klymenkoo commented on #1607
@sblatz, @oliviabrown9, just to make sure: do I work off `search-suggestions` branch or `master`?

[2018-12-13 19:59] sblatz commented on #1607
@klymenkoo please work off of master; thank you for reminding me I still need to close that branch!

[2018-12-13 22:04] klymenkoo commented on #1607
I was able to style string for the use case you have described above:
<img width="423" alt="screen shot 2018-12-13 at 4 58 28 pm" src="https://user-images.githubusercontent.com/26641473/49970187-89150200-fef8-11e8-8f74-28820adf73fa.png">

How are the suggestions supposed to be styled when, for example, the user typed "gog", and suggestions are like "google", "google maps", etc.
<img width="414" al

[2018-12-14 19:16] GM28 opened #1609 "MOZILLA-MOBILE ISSUES FOCUS-IOS"
[markdown-cheatsheet-online.pdf](https://github.com/mozilla-mobile/focus-ios/files/2681410/markdown-cheatsheet-online.pdf)

[2018-12-16 12:41] GM28 commented on #1609
Commit

[2018-12-16 20:11] brampitoyo commented on #1607
@klymenkoo Are you able to un-bold the search results text, so it matches the font weight of strings that the user has typed in the URL bar?

[2018-12-16 21:59] brampitoyo commented on #1607
@klymenkoo Thanks heaps! The font fix concludes all the design changes requires in this issue.

[2018-12-17 16:37] oliviabrown9 commented on #1609
@GM28 can you explain what this issue is?

[2018-12-17 20:01] brampitoyo commented on #1495
Hi @slozano95:

1. Just to clarify that the “Block Ads” switch will only show up on the specific start screen tip and onboarding card that talks about ad blocking?

2. On the iPhone SE device, it seems as if we want to lengthen the onboarding card to make room for more text and button. See below for design specs:

<img width="320" src="https://user-images.githubusercontent.com/51007/50112085-3f833

[2018-12-17 20:19] slozano95 commented on #1495
Hi. @brampitoyo
1. Sure, the switch is only visible on the third tab in this case, also the text is not right because of lack of info on which branch I should work on, I am not sure if the ads can be block on the iOS version
2. Ok, I'll do the changes, should I lengthen the other cards? or just the last one?
3. Ok
Thanks

[2018-12-17 21:38] brampitoyo commented on #1495
Thanks for your contributions, @slozano95!

I think that you should lengthen all the other cards. Of course, the other cards won’t have content that’s as long as the ad blocking card. In that case, what we want to do is move the “OK” or “Next” button down as the card gets bigger. Everything else should stay in place.

I’ve updated the specs above and posted one below (in case of short onboarding c

[2018-12-17 22:20] slozano95 commented on #1495
@brampitoyo yeah sure thanks

[2018-12-18 06:57] tibinthomas9 commented on #1607
@klymenkoo @brampitoyo Is this issue still open?Does it need work?

[2018-12-18 08:00] tibinthomas9 commented on #1609
@oliviabrown9 @GM28 I think this issue was create accidentally or while simply testing.

[2018-12-18 15:05] sblatz commented on #1609
Closing this for now as it seems to be an erroneously created issue. Please re-open if I'm incorrect!

[2018-12-18 15:05] #1609 closed

[2018-12-18 17:56] #1546 closed

[2018-12-18 19:31] oliviabrown9 commented on #1607
@tibinthomas9, looks like @klymenkoo is working on this one (speaking of which, feel free to open a PR when you're ready), so you might want to grab another issue in the meantime.

[2018-12-18 20:10] klymenkoo commented on #1607
@oliviabrown9  @tibinthomas9  Yes, I' m working on it. I am waiting for response from @sblatz or @oliviabrown9 about the question I asked above:

[2018-12-19 00:45] brampitoyo commented on #1607
@klymenkoo Great work!

Here’s a more detailed specs for you to reference on:

<img width="375" src="https://user-images.githubusercontent.com/51007/50191441-c95dff80-0392-11e9-8694-3b42497902ea.png">

I realise that I haven’t been thorough in describing the type and colour that we wanted. Sorry about that. The specs above was my attempt to clarify things.

Does this help you?

Your approach is to

[2018-12-19 17:39] #1039 closed

[2018-12-19 18:37] klymenkoo commented on #1607
@brampitoyo, thanks. That makes sense. I'll work on it.

[2018-12-20 15:53] #1494 closed

[2018-12-31 13:56] sblatz opened #1614 "App Store Review: Investigate "screen keeps going blank" bug"
<img width="721" alt="image" src="https://user-images.githubusercontent.com/4400286/50561558-db686800-0cd9-11e9-8950-7e316373c57b.png">

[2019-01-01 19:08] sblatz opened #1615 "Incorrect suggestions sometimes display"
When a user types a query, it is possible for some suggestions to come back even if the first part of the string does not match the user input.

### Example
![Uploading Screen Shot 2019-01-01 at 1.55.36 PM.png…]()

[2019-01-01 19:18] sblatz commented on #1614
In regards to the photo portion of this review: the user likely denied access to their photo library when saving an image. The prompt only displays once (we can't get around this, really), and then users must go to settings in order to change their permissions.

[2019-01-01 19:23] sblatz opened #1617 "didPressSearch Selector Crash"
This crash was introduced in 8.0

<img width="720" alt="image" src="https://user-images.githubusercontent.com/4400286/50575690-c7ebf880-0dd0-11e9-95f0-5744d9efc1e4.png">

[2019-01-02 05:21] oliviabrown9 commented on #1614
Would be great to reply and ask this person for more info

[2019-01-03 15:51] #1607 closed

[2019-01-03 15:55] sblatz commented on #1614
Will have Loren reach out 😄

[2019-01-03 18:41] #1617 closed

[2019-01-07 05:53] oliviabrown9 commented on #1146
@sblatz can you add this to our linter?

[2019-01-08 16:41] #1272 closed

[2019-01-08 16:46] sblatz commented on #1146
I believe this is [already in our linting ruleset](https://github.com/realm/SwiftLint/blob/master/Rules.md#private-over-fileprivate). (See example of it auto-correcting [here](https://github.com/mozilla-mobile/focus-ios/commit/f8444e2b940e2a3f42fce84fe2c2bad08fc0019a#diff-f6b2254aa310d8d0d8886d3df4c180c2)).

Do you think we should implement the [opt-in version](https://github.com/realm/SwiftLint/b

[2019-01-09 19:51] oliviabrown9 commented on #1146
Well, there are some times where fileprivate may be necessary (ie. if we extensions that use something in the same file but not class), so I'm not sure the strict fileprivate rule is good to add. Has the autolinter fixed all the private over fileprivate in the current project? I think we just need to ensure that all fileprivate variables _need to be_ fileprivate over private in the current project

[2019-01-10 21:16] oliviabrown9 opened #1621 "Pink in 8.1.1 Beta Settings Does Not Match Theme"
It appears that the pink in settings in the latest beta is inconsistent with the shade of pink we use elsewhere in the app. I recognize that this decision was made for accessibility concerns but having inconsistent pink makes it look like a mistake. I would encourage reconsider how we're approaching this, either changing the pink elsewhere in the app to match this shade or rethinking the selected

[2019-01-11 05:02] saresend commented on #840
Hey, just wanted to ask whether this is a stale issue or not? If not I'll go ahead and give it a shot.

[2019-01-11 19:37] oliviabrown9 commented on #840
@saresend We won't be adding this to future Focus releases (based on discussion that occurred during 8.0 development). Sorry for the stale ticket. All other good first issues and help wanted issues are correctly open.

[2019-01-11 19:37] #840 closed

[2019-01-11 19:38] oliviabrown9 commented on #1621
Perhaps input from @brampitoyo or @vesta0 would be helpful?

[2019-01-13 22:57] klymenkoo commented on #1164
Can I work on this issue?

[2019-01-13 23:08] klymenkoo commented on #934
I can look for magic numbers and move them to constants if you don't mind.

[2019-01-14 00:19] brampitoyo commented on #1621
@oliviabrown9 I noticed just a few more places where the old shade of magenta were still used:

<img width="320" src="https://user-images.githubusercontent.com/51007/51092656-a5a9a000-17fe-11e9-9c3f-36a60eba736d.jpeg"> <img width="320" src="https://user-images.githubusercontent.com/51007/51092670-bfe37e00-17fe-11e9-80ff-cd70d0499292.jpeg">

<img width="320" src="https://user-images.githubuserconte

[2019-01-14 06:52] oliviabrown9 commented on #1621
I think on the eng side we can just replace the shade everywhere it is if that's what you want. It looks like we use it as an accent in a handful of places and it's also in the gradient for the home screen and URL bar.

[2019-01-14 06:58] oliviabrown9 commented on #1164
@klymenkoo Go for it! Ping me when done and I'll review it!

[2019-01-14 07:05] oliviabrown9 commented on #1440
Rather than using Waffle, you can actually just assign code owners and GitHub will natively support: See: https://help.github.com/articles/about-code-owners/

[2019-01-14 08:20] oliviabrown9 opened #1623 "Remove 8.0 from README"
Now that 8.0 has been released, it should be removed from the README.

[2019-01-14 08:29] oliviabrown9 opened #1625 "Remove SCWaveformView & WaveView"
All code related to SCWaveformView appears to be unused and unnecessarily bloating the project.

[2019-01-14 08:54] oliviabrown9 commented on #1621
@brampitoyo I ran a quick check and updated all the instances of the darker magenta to the Magenta40 shade. I think the gradient looks quite off. What are your thoughts? Are there new start or end shades we should change for the gradient background? How do all the other updates look?

![simulator screen shot - iphone xr - 2019-01-14 at 00 47 52](https://user-images.githubusercontent.com/20130899/5

[2019-01-14 09:32] oliviabrown9 commented on #630
I can't seem to reproduce this anymore. Can anyone confirm if we're still seeing it in crash logs?

[2019-01-14 14:47] Sdaswani commented on #630
@sblatz can you check? I feel like closing it just because it's practically geriatric at this point.

[2019-01-14 19:39] sblatz commented on #630
Confirming this is not showing up as a crash in Xcode Organizer (nor can I repro). Closing!

[2019-01-14 19:39] #630 closed

[2019-01-14 20:03] brampitoyo commented on #1621
@oliviabrown9

I think we shouldn’t change any gradient value in the product.

On the other hand, all the other colour changes – I assume that you’d also change the colour of the ON/OFF toggle – looks great!

[2019-01-15 08:41] oliviabrown9 commented on #1621
@brampitoyo the toggles in 8.1.1 are already the updated pink color I believe

[2019-01-15 09:01] oliviabrown9 opened #1628 "Clean up UIConstants.colors"
The color constants currently contains many many unnecessary hex values when there are defined constants within Photon and also contain many unused constants, making the code unreadable and unclear what to actually change when we're doing color updates (like with 8.1.1 updating pink we forgot to update several instances with the new pink color because of this issue).

[2019-01-15 09:20] oliviabrown9 commented on #1628
This is the source of what caused #1621

[2019-01-15 09:50] oliviabrown9 opened #1631 "Client Tests are not Passing Linter"
@sblatz there appear to be significant linting changes within client tests that arise in PR #1630. I'm guessing corrections for the linter did not go through client tests. This needs to be resolved before this PR can be reviewed (or any PR that touches the client tests in fact).

[2019-01-15 19:47] oliviabrown9 opened #1632 "SearchSuggestionsPromptTest Frequently Fails on BuddyBuild"
SearchSuggestionsPromptView is not always displayed during tests as seen in screenshots, which causes both enable and disable tests to fail.

[code]

[2019-01-16 01:50] #1146 closed

[2019-01-16 02:02] #1631 closed

[2019-01-17 09:49] alexey-savchenko opened #1634 "Switch to new image rendering API"
I have noticed that old API is used for image rendering purposes (`UIGraphicsBeginImageContextWithOptions`). Apple recommends to switch to `UIGraphicsImageRenderer` due internal optimizations of new API. Although this application does not involve any complex image rendering operations, it would be nice to use new API.

[2019-01-17 20:09] oliviabrown9 commented on #1634
Hey, thanks so much for opening this issue! Could you link to documentation where Apple recommends switching? Then I can check out your PR!

[2019-01-22 17:03] sblatz commented on #934
@klymenkoo That'd be great, yeah!

[2019-01-22 17:04] #1623 closed

[2019-01-22 18:18] #1223 closed

[2019-01-22 18:20] #1625 closed

[2019-01-28 09:18] SimonBasca opened #1638 "Firefox Focus: support user filter/whitelist feature for content blocker"
Requested by user via https://bugzilla.mozilla.org/show_bug.cgi?id=1523132

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:65.0) Gecko/20100101 Firefox/65.0

Expected results:

I think it would be good if Firefox Focus for iOS support user filter/whitelist for content blocker feature similar to uBlock Origin or AdGuard.

[2019-01-28 10:19] oliviabrown9 commented on #1638
I think this is a dupe of #167

[2019-01-29 02:50] yoasif opened #1639 "Wait until second app launch to send adjust data"
Saw this post on reddit where a user found that Focus sent back telemetry data without any opportunity to disable telemetry within preferences: https://www.reddit.com/r/firefox/comments/akb9qv/so_this_is_what_mozillas_privacy_browser_focus/

As the user rightly points out:

STR:

1. Download Focus
2. Launch

What happens:

Telemetry is sent to Adjust; I had no opportunity to opt out of telemetry g

[2019-01-31 18:01] klymenkoo commented on #1164
@oliviabrown9 is it supposed to be a UI test or unit test?

[2019-01-31 22:41] oliviabrown9 commented on #1164
@klymenkoo I think an XCUI test would work well here

[2019-02-05 02:59] oliviabrown9 opened #1643 "Selecting URL when URL bar is minimized displays distorted URL bar"
See: https://user-images.githubusercontent.com/111388/52048843-a0fa2100-254c-11e9-83d1-46008daeddf4.gif

[2019-02-05 03:07] #1638 closed

[2019-02-05 03:07] oliviabrown9 commented on #167
Requested by user via https://bugzilla.mozilla.org/show_bug.cgi?id=1523132

[2019-02-10 04:12] #934 closed

[2019-02-10 20:19] #1643 closed

[2019-02-23 01:38] deniskrop opened #1646 "Where to disable any and all WebRTC features in the code?"
Meant to post in the Android section for now.

[2019-02-23 01:47] #1646 closed

[2019-02-27 08:09] oliviabrown9 opened #1648 "BuddyBuild fails with invalid cert issue"
This blocks merging PRs into master because BuddyBuild is unable to run tests.

[code]

[2019-02-27 08:11] oliviabrown9 commented on #1648
@st3fan can you help with this?

[2019-02-28 05:30] oliviabrown9 commented on #1639
@vesta0 I agree with this user that it seems against a privacy browser's purpose to automatically send data elsewhere without the opportunity to opt-out first. What are your thoughts on the issue? When is it valid to deem that a user has had an opportunity to change their settings?

Perhaps, is it after a user has started typing to visit a website and thus surpassed the settings option, after they

[2019-03-05 04:46] oliviabrown9 commented on #1648
CCing @sblatz for help on this

[2019-03-05 19:12] sblatz commented on #1648
Chris Atlee resolved this for us!

[2019-03-05 19:12] #1648 closed

[2019-03-05 19:30] oliviabrown9 commented on #1437
Closed with #1640

[2019-03-05 19:30] #1437 closed

[2019-03-05 19:35] #1006 closed

[2019-03-07 12:48] SimonBasca opened #1649 "Firefox focus suggests turning on Face ID when Face ID is already enabled."
Logged via: https://bugzilla.mozilla.org/show_bug.cgi?id=1528617

User Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/15.0b13894 Mobile/15E148 Safari/605.1.15

Steps to reproduce:

Enable Face ID in settings.

Actual results:

Face ID is enabled, but there is still text st the bottom of the browser window suggesting the user enable Face

[2019-03-07 20:46] oliviabrown9 commented on #1649
Issue actually stems from not refreshing tips after closing settings (and thus happens with all tips that shouldn't be shown after changing a setting)

[2019-03-12 23:28] marchiore commented on #1649
Open a PR ( #1651) for this.

[2019-03-13 15:05] igorkulman opened #1652 "Pasting long text to the URL bar on iPad makes the erase button disappear"
Using Firefox Focus 8.1.1 on iPad Air 2 with iOS 12.1.4

1. Copy some longer text to the clipboard
2. Open Firefox Focus
3. Paste the clipboard to the URL bar and hit Go
4. Observe the text filling in the whole URL bar pushing the erase button off screen so there is no way to erase the current session:

![IMG_0151](https://user-images.githubusercontent.com/4746070/54289653-d5301b00-45a9-11e9-8e4f-

[2019-03-21 23:46] orev opened #1654 "Allow disabling and resetting of "# trackers blocked so far""
For a privacy-focused app, this is a very strange omission.  Pressing the "Erase" button does not clear this data, so now you have an app that has no history, but still provides information on roughly how many times you have used it and not generated history.  It betrays much of the point of a privacy-focused app to keep track of how many times the user wanted to protect their privacy.

There shou

[2019-03-28 20:48] khaledhosny opened #1656 "Arabic Firefox Focus help page shows incorrectly encoded text"
Opening Firefox Focus help page in the Arabic version with no internet connection shows a big blue button with incorrectly encoded text:
![IMG_0015](https://user-images.githubusercontent.com/93914/55191689-82f71880-51ab-11e9-8e2c-1fa297444f25.jpeg)

[2019-03-28 20:50] khaledhosny commented on #1656
The same in the Privacy Notice page.

[2019-03-28 20:52] khaledhosny commented on #1656
There is non-localized text in that page as well.

[2019-03-28 21:00] khaledhosny opened #1657 "Forward and back arrows are reversed in the Arabic UI"
Both arrows point to the wrong direction:
![IMG_0016](https://user-images.githubusercontent.com/93914/55192144-8212b680-51ac-11e9-87bc-4d4867792853.PNG)

[2019-03-30 16:15] Mozilla-GitHub-Standards opened #1658 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-03 23:56] Delphine opened #1660 "Add Lithuanian (lt) locale"
Lithuanian localizer has let me know that he's done with localization, and would like to see his translation on device.
Could you please add "lt" locale to the release builds?
thanks!

[2019-04-04 10:58] Args commented on #90
So how do you deal with the problem of `NSURLProtocol` @bbinto

[2019-04-08 08:59] SimonBasca opened #1661 "Firefox Focus > open in app opens store, not app"
Logged via https://bugzilla.mozilla.org/show_bug.cgi?id=1538581

Testing Notes:
- This issue is correctly handled in Firefox iOS, Chrome for iOS and Safari. When tapping "open app" on https://m.reddit.com/ the Reddit app will open if it is installed.

Summary: In firefox focus, users clicking on "use" or "open in app" are redirected to the iOs store even if they have the app installed. Uninstallin

[2019-04-24 18:05] vickychin opened #1662 "Tapping goldice.ca menu bar does nothing"
Steps to Reproduce:
Navigate to goldice.ca
Tap on About on the menu bar at the top of the page

Behaviour: Tap does nothing
Expected behaviour: Tapping About opens a list of submenu options

It works on Safari, Focus on Android.

[2019-04-27 11:40] duoi opened #1663 "Add option to mask UA string as Safari"
Focus isn’t exactly a popular browser on iOS in comparison to Safari. This means that users using Focus become significantly easier to fingerprint.

An option to use Safari’s UA string would make a lot of sense in this case.

[2019-05-25 15:13] quangDecember commented on #1661
seems like bug related to code overwriting `WKNavigationDelegate`.
Default of WKWebView is already going directly to the app.
Without app, reddit.app.link URL will go https://reddit-alternate.app.link

[2019-06-11 23:36] vivekpatani opened #1664 "Random wiping of Firefox Session on iOS 13"
I've been using iOS 13 beta 1 and I see sometimes when I lock my phone out for an extended amount of time (say about 15 minutes) FF Focus clears the session out and brings me to the blank page. Is this just me or is this an actual bug? Thanks.

[2019-07-07 17:14] ameeramourad commented on #1632
Hi @oliviabrown9. Is this bug still open/unassigned? If so, I can give it a shot.

[2019-07-07 22:32] oliviabrown9 commented on #1632
Hey @ameeramourad, this issue is still open and unassigned, but this project isn't a high priority anymore (per the README) so you'll probably find it more enjoyable to work on another project (maybe try Firefox for iOS https://github.com/mozilla-mobile/firefox-ios).

[2019-07-07 23:04] ameeramourad commented on #1632
Hey @oliviabrown9. I jumped straight into this issue from Codeatribute and missed the README -- sorry about that. Despite having a few years of iOS development under my belt, I've never contributed to an open-source project before, so I'm a bit new to all this. I've also searched for a "good first bug" on Bugzilla, but I don't see any for firefox-ios. If you could recommend an issue or resource or

[2019-07-09 03:32] oliviabrown9 commented on #1632
@ameeramourad I'm not at Mozilla anymore but I think this list is a great place to start! https://github.com/mozilla-mobile/firefox-ios/issues?q=is%3Aopen+is%3Aissue+label%3A%22Contributor+OK+%F0%9F%A4%9D%22 You can see on the issue who tagged it with "contributor ok" and that person will probably be your best point of contact for that specific issue! Welcome to open source :)

[2019-07-16 15:00] emesterhazy opened #1668 "Past search results appear in address bar after erase"
## Steps to reproduce
This bug appears sporadically so it's difficult to reproduce every time.

1. Search for something and browse results

2. Click the erase button to clear the page

3. Open the app later and search for something else

4. Browse results based on second search

## What actually happens
After following this sequence the search terms from the first search will sometimes appear in t

[2019-08-03 15:47] Flitzpiepe42 commented on #1408
Hey folks, not sure but this seems to be the best place for the issue i found: I am using android with Orbot and Firefox Klar (Focus). Using Firefox Klar, it says it has a communication problem with the provider in the recaptcha screen. Using Chrome it has no problems and recaptcha works correctly. Is Tor somehow changing the user agent?

[2019-08-06 13:26] csuciu commented on #1668
Other STR:
From cleared state, search for something and let google load. Then hit the trash can. Then go to a page directly, not searching for one, such as a news site. Click a link in the site such as an article. Then swipe to go back and the previous search will populate the address bar.

Actual results:

Previous search is visible in address bar

Expected results:

Address bar should not show p

[2019-08-07 14:07] SimonBasca opened #1672 "Changing device orientation to landscape while in settings will focus the URL bar"
Build: 8.1.3 (4005)
Device: iPhone XS
iOS: 12.2

Steps to reproduce:
1. Open Settings
2. Change device orientation to landscape

Actual results:
- The URL bar will be focused and the keyboard will pop up.

[2019-08-08 14:13] SimonBasca opened #1673 "Location sharing should not be allowed in Firefox Focus"
Build: 8.1.3 (4005)
Device: iPhone XS
iOS: 12.2

Steps to reproduce:
1. Go to https://rpappalax.github.io/testapp/
2. Tap on "Get location" button from Location Menu
3. A dialog prompting to allow location is displayed.
4. Tap "Allow"
5. "Erase" content by tapping on the bin icon
6. Repeat steps 1) and 2)

Actual results:
- The prompt will no longer be displayed and the location will be displayed.

[2019-08-14 06:46] SimonBasca opened #1674 "Firefox Focus iOS: lookup definition shows in app switcher"
Logged via: https://bugzilla.mozilla.org/show_bug.cgi?id=1573156

Steps to reproduce:

    Open Firefox Focus for iOS
    Open a web page (doesn’t matter which one, as long has it has text)
    Select a word
    Hit “lookup”
    A definition of the term selected shows up
    Task switch to another app
    Switch back

Actual results:

Screen with definition is visible behind authentication screen

[2019-09-18 11:44] rajiv opened #1675 "Focus iOS 8.1.3 in app store, but no release on github"
8.1.3 is available for update in the iOS app store, however no release is tagged with this version in this repo. the version change was made in #1670. please tag 8.1.3 in the code so we know which commit was used to build the app store version.

[2019-11-19 15:24] tsparber opened #1676 "Open in Firefox Focus does not show erase button"
When opening a URL from the Share Action sheet eq in Safari, Facebook, ... the Firefox Focus App opens the links, but does not show the erase button.
If the Firefox Focus app is close via the App Switcher the Keyboard is also shown.

iOS version: 13.1.3
Firefox Focus version: 8.1.3
iPhone 6s

Share             |  No Button & Keyboard | No Button
:-------------------------:|:------------------:|:--

[2019-12-13 17:03] casonswindle commented on #1676
Bug is present in the most recent version of iOS, too.

iOS version: 13.3
Firefox Focus version: 8.1.3
iPhone 11 Pro

[2020-01-09 18:11] tmalloy opened #1678 "Tap target to expand the top toolbar when it is collapsed is too small"
Currently, the tap target area to expand the toolbar when it is collapsed (e.g. when you scroll down the page) only covers the status bar. That means there's a large portion of the collapsed bar that you can tap and it does nothing, which is quite annoying. On phones without notches the area you can tap is only 20 pts tall. Safari, Chrome, and Firefox all handle this correctly.

Current tap target

[2020-01-20 18:27] athomasmoz opened #1680 "Update Disconnect List on Focus"
**Vision**

Tracking protection lists used are the most up to date, so users have the best change to see what's meaningful to them on a website without trackers monitoring them

----

**Acceptance Criteria**

* Tracking protection list has been updated to the latest Disconnect list
* The same cateogies are used

----

**Not Included**

* This ticket does not include adding the fingerprinting or cr

[2020-02-06 06:16] #1657 closed

[2020-02-06 06:16] #1656 closed

[2020-02-11 09:59] kirapwn opened #1682 "URL is not updated on IOS with Single Page Application"
Build: 8.1.3
Device: iPhone 8
iOS: 13.3

Steps to reproduce:

Go to SPA Vue.js based page. eg:
https://nuxtjs.org/
Change page from homepage to a different one (Get Started button)

The url stays as homepage but it shows correct page.

Expected results:

Should update URL in the header to current one.

[2020-02-13 21:08] #1680 closed

[2020-02-13 21:09] #1658 closed

[2020-02-18 22:23] nbhasin2 opened #1684 "Fix Firefox Focus iOS tests (also includes disabled test items)"
Buddy build has been inconsistent with the tests that pass and some tests require loading of an external websites (which are not ideal tests as we rely on external website loading components).

**Following tests are disabled:**
QuickAddAutocompleteURLTest/testURLContextMenu()
SearchProviderTest/testAmazonSearchProvider()
SearchProviderTest/testGoogleSearchProvider()
SettingAppearanceTest/testOpenI

[2020-02-20 10:24] SimonBasca opened #1688 "The keyboard is displayed during the onboarding flow"
Build: 8.1.3 (4038)
Device: iPad Air 3
iOS: 13.1

Steps to reproduce:
1. Clean install Focus
2. Launch Focus

Actual results:
- On iPad and iPhone, the keyboard is displayed during the onboarding flow.

[2020-02-20 11:15] SimonBasca opened #1689 "[iPad] Learn more link is overlapping the text in Settings menu"
Build: 8.1.3 (4038)
Device: iPad Air 3
iOS: 13.1

Steps to reproduce:
1. Launch Focus
2. Go to Settings - > Search section

Actual results:
- Learn more link is overlapping the text.

![IMG_D649B6216231-1](https://user-images.githubusercontent.com/32130829/74928846-f668d080-53e2-11ea-90c9-2cebc29b7053.jpeg)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCU

[2020-02-20 12:27] SimonBasca opened #1690 "[iPad] Opening favorites site via Siri Shortcuts causes some layout issues"
Build: 8.1.4 (4038)
Device: iPad Air 3
iOS: 13.1

Preconditions;
- Enable "Open Favorite Site" in Siri Shortcuts.

Steps to reproduce:
1. Wake Siri up
2. Speak the command "Open Favorite Site"

Actual results:
- The URL bar will be empty and stretched overlapping the Settings button. After tapping the Settings button the layout will be ok.

![IMG_76664D5002E3-1](https://user-images.githubuserconte

[2020-02-20 12:47] SimonBasca opened #1691 "Adding Youtube search engine pulls Yahoo icon"
Build: 8.1.4 (4038)
Device: iPad Air 3
iOS: 13.1

Steps to reproduce:
1. Go to Settings -> Search Engine -> Add Another Search Engine
2. Add Youtube as a new search engine

Actual results:
- The Youbtube engine is correctly added but the icon is wrong.
![IMG_2A8D947EA326-1](https://user-images.githubusercontent.com/32130829/74934155-341f2680-53ee-11ea-8abb-effd89e3414a.jpeg)

[2020-02-20 13:19] csuciu opened #1692 "Long pressing on links does not open the context menu"
v8.1.4
iPhone 8 iOS 12
iPhone XS iOS 13

1. Launch the app
2. Visit a site (e.g. bbc.com)
3. Long press on a link.

Expected: The context menu is open.

Actual: The context menu does not open.

[2020-02-20 13:35] csuciu opened #1693 "Trying to paste text in the URL bar only selects the existing URL"
v8.1.4
iPhone 8 iOS 12
iPhone XS iOS 13

1. Launch the app
2. Open an article.
3. Copy some text.
4. Long press on the URL bar and select Paste

Expected: The URL is replaced by the pasted text.

Actual: The URL gets selected and the text is not pasted.

Note: The text is pasted successfully if the URL bar is empty.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/br

[2020-02-20 13:38] csuciu commented on #1688
Reproducible also on iPhone 8 iOS 12 and iPhone XS iOS 13.
Works fine on SE iOS 11.

[2020-02-20 15:03] SimonBasca opened #1694 ""+Add Custom URL" button is displayed in edit mode"
Build: 8.1.4 (4038)
Device: iPad Air 3
iOS: 13.3

Steps to reproduce:
1. Go to Settings -> URL Autocomplete -> Manage Sites
2. Add a custom URL
3. Tap on "Edit"
4. Move the menu down and up, the release.

Actual results:
- "+Add Custom URL" button is displayed in edit mode although it's not tappable.

Video:
- [RPReplay_Final1582210858.MP4.zip](https://github.com/mozilla-mobile/focus-ios/files/423

[2020-02-20 15:15] SimonBasca opened #1695 "Moving one of the saved sites in URL Autocompletion will crash Focus"
Build: 8.1.4 (4038)
Device: iPhone Xr
iOS: 13.3

Preconditions:
- Go to Settings - > URL Autocomplete - > Manage Sites and add a custom URL

Steps to reproduce:
1. Go to Settings - > URL Autocomplete - > Manage Sites
2. Tap "Edit"
3. Tap on the three line icon and move the added site down

Actual results:
- Focus will crash.

[RPReplay_Final1582211499.MP4.zip](https://github.com/mozilla-mobile/foc

[2020-02-20 21:15] #1688 closed

[2020-02-21 22:09] SimonBasca commented on #1688
This is verifyed fixed on latest build 8.4.1(4051).

[2020-02-26 08:35] ecnelises opened #1697 "Support dark mode web pages"
Latest Firefox on iOS already supports dark-mode pages (by `prefers-color-scheme` CSS media query).

[2020-03-07 14:26] raelg opened #1698 "Allow backwards navigation if a site fails to load"
When navigating to a site that fails to load, the page should be added to the back-forward list so that it is possible to go back to the previous site and navigate to other links.

E.g., if navigating to a broken site from a Google search then the user should be able to go back to Google search results to check other links.

I have a PR with a potential fix: https://github.com/raelg/focus-ios/pull

[2020-03-08 01:30] PawanP1808 commented on #1695
I would like to work on this.

[2020-03-08 01:30] PawanP1808 commented on #1673
I would like to work on this.

[2020-03-08 01:46] PawanP1808 commented on #1691
The default search engine favicon are hard coded, any engine added by user just uses the first letter from the name and displays a default image.

[2020-03-08 15:54] PawanP1808 commented on #1693
see PR #1699

[2020-03-08 17:12] PawanP1808 commented on #1676
PR #1699 fixes it

[2020-03-08 18:02] PawanP1808 commented on #1673
The dialog for permissions you are asking is not a bug per say because it is an iOS restriction. Based on my research, iOS caches app permissions and that dialog once enabled for the app, only the user can change its permission from their settings app. Hence, can't really fix this.

[2020-03-08 22:06] PawanP1808 commented on #1682
Could you please be more specific ? im trying to reproduce this bug, but I can't can I please have more information?

[2020-03-09 06:10] kirapwn commented on #1682
As in the ticket - open the given page, click on the "Get Started" button. The page should have a different URL in the browser navigation, but it does not.

It is using the history API, I suppose there is something not right with this.

[2020-03-16 18:10] ecnelises commented on #1697
I think this was solved in latest version, at least on iPad.

[2020-03-16 18:10] #1697 closed

[2020-03-16 19:43] PawanP1808 commented on #1682
I can't seem to reproduce this on any other single page application besides the one given.

[2020-03-16 20:01] kirapwn commented on #1682
The one given is a framework...

Besides you can see the same on reactjs.org or angular.io

So I am not sure what SPA are you testing...

[2020-03-16 21:48] danialasghar commented on #1654
Hey, I looked into this.

From what I can see this is intended behaviour for the application to keep a total count of the trackers blocked.

As such, it is probably not an error.

[2020-03-17 12:31] PawanP1808 commented on #1692
see PR #1701

[2020-03-17 12:43] PawanP1808 commented on #1682
See PR #1702

[2020-03-17 12:59] kirapwn commented on #1682
thank you! :)

[2020-03-18 03:19] arderyp opened #1703 "cannot tap+hold to trigger right-click menu (for example, to copy an image)"
For example, in normal FireFox app for IOS, you can hold your finger down on the screen over an image and you will be presented with a sub-menu:

- Share
- Add to Photos
- Copy

Nothing happens when doing this in Focus.  I am not sure if its some privacy thing or what, but I'm unable to copy images in Focus (my primary use case complaint).  I'm pretty sure that you used to be able to tap+hold in F

[2020-03-18 22:26] orev commented on #1654
This request is not to report an error/bug, but to change the intended behavior so it is more in-line with what one expects for a privacy-focused app (i.e. to not betray how many times you wanted your privacy protected, or at least be able to reset it).  If the browser has no history but a high count of blocked trackers, it is obvious you are trying to avoid tracking and raises suspicion.

As it i

[2020-03-26 23:52] epicodertime opened #1704 "Overlapping text issue in settings"
![4EDA7698-6569-4E50-BBF3-6FF38A01F75D](https://user-images.githubusercontent.com/41688975/77707316-28012880-6f9b-11ea-8d0e-24b0b7269b38.jpeg)
I discovered in the settings panel in firefox focus it has a text overlapping issue that should get fixed on my iPad 7th gen on iOS 13.4

[2020-04-10 04:36] Githubuxer opened #1705 "Add setting to have contents deleted if leave app"
There should be a setting that allows auto closure of website when leaving app focus/return to iOS home screen. Instead of having to manually hit the delete/trash can everytime.

[2020-04-25 06:32] rimas-kudelis commented on #1660
Wow. I get it that this project isn't high priority, but to not find time in a whole year to enable a locale that has been done... Well, to say it politely, that's just sad.

I've just compared the list of locales in the source and the list of locales in https://l10n.mozilla-community.org/webstatus/?product=focus-ios and in addition to lt, a couple more are missing in the source. So the complete l

[2020-05-17 04:41] david-shortman commented on #44
Is there still interest in creating a Focus extension for macOS Safari?

[2020-05-20 16:25] spankme opened #1706 "Content blocking in Safari doesn't work"
Some time ago the content blocking functionality stopped working in Safari. Suddenly, all the websites are full of ads everywhere. I've tried turning the feature off/on in the Safari settings tab, turning integration off/on in the Firefox Focus settings tab, reinstalling Firefox Focus - nothing seems to be helping.

iOS version: 13.4.1
Firefox Focus version: 8.1.4
iPhone model: Xs

[2020-05-25 00:50] david-shortman commented on #1706
I’ll see if I can replicate on my device and emulator.

[2020-05-25 00:51] david-shortman commented on #1704
This looks like an easy enough fix. I’ll see if it still reproduces and what might be done to resolve it.

[2020-05-25 00:53] david-shortman commented on #202
I think this is worth revisiting. Is this app remaining popular for some niche, or is pushing users toward the main Firefox app preferred?

[2020-05-25 02:37] david-shortman commented on #1706
Can you provide a URL to a site where you are seeing a lot of ads? The list of blocked domains probably needs to be updated.

For instance, [looking at this AV Club article](https://www.avclub.com/in-the-end-the-real-maniac-was-the-mostly-conventional-1829315355), I see some ads that are blocked, and some that still appear.

[2020-05-25 02:59] david-shortman commented on #1704
Was able to replicate. Bumping margin number works but increases margin on all devices. Will need to research how layout should be done in Swift to implement the best cross-device solution.

[2020-05-26 08:35] spankme commented on #1706
@david-shortman Thanks for coming back on that! It's pretty much any website I visit, the Internet suddenly is flooded with ads: bbc.com, gazeta.pl, onet.pl, anything.

[2020-06-02 05:00] birdsarah opened #1707 "youtube says browser "not supported""
![69C00213-6F07-41A8-9D54-79FAA81EA010](https://user-images.githubusercontent.com/1796208/83481716-15581380-a464-11ea-9260-6baa60c69d83.png)

[2020-07-07 18:35] athomasmoz opened #1709 "Set Focus as Default Browser"
**Vision**

As an iOS user, I want to set Firefox Focus as my default app so that all the links I open from other apps are private and will be closed when I'm done with them

**Acceptance Criteria**

* Focus meets all requirements to be a default app
* Focus is registered to be a default app when available

**Not Included**

This does not include informing users of the option to set Focus as their

[2020-07-07 18:38] athomasmoz opened #1710 "Support iOS 14"
**Vision**

As an iOS 14 user, I want to continue using Focus as I have on previous OS versions

**Acceptance Criteria**

* Core functionality works on iOS 14
* Identified issues with Focus on iOS 14

[2020-07-07 19:29] sblatz opened #1711 "Pastes from clipboard on every keystroke [iOS 14 Support]"
See https://www.reddit.com/r/firefox/comments/hmqqwp/ios_firefox_focus_copies_from_clipboard_with/

[2020-07-08 00:54] nbhasin2 commented on #1710
Was able to build focus on XCode 12 Beta to support iOS14 without making any changes to the dependencies 😊

[2020-07-08 03:15] nbhasin2 commented on #1711
Apple actually has a new iOS14 api just to check if its a URL for paste and go. Although it needs more investigation on how to properly use it.

[code]

https://developer.apple.com/documentation/uikit/uipasteboard/detectionpattern?changes=latest_minor

[2020-07-10 13:27] Conduitry opened #1713 "Sending app to background throws JS TypeError"
The change in #1187 to fix #1139 does not check whether there is a `<video>` element before attempting to minimize it. This causes a normally harmless console exception, but results in noise in logs when using some sort of error reporting service.

`document.getElementsByTagName('video')[0].webkitExitFullScreen()` should probably at least be changed to check whether there is a video before attempt

[2020-07-12 14:49] aritramullick commented on #1371
Hey! is this still open? I am a beginner and would love to get involved in the open source community, but would require quite a bit of help.

[2020-07-20 13:29] nbhasin2 opened #1714 "Fix: XCUITest in BB by replacing sleep with better solution"
**Issue:**
The buddybuild test for the PR https://github.com/mozilla-mobile/focus-ios/pull/1712 was timing out due as we wait for suggestion to load

Resolution:
Initially to fix the above problem for BB I added a sleep for 4 sec. However, this sleep will increase BB time. One way to fix this is to follow @isabelrios suggestion and try to do something like we have on firefox-iOS: waitForExistence(

[2020-07-20 13:32] #1711 closed

[2020-07-23 17:48] athomasmoz commented on #1692
@csuciu Is this a regression?

[2020-07-27 21:36] rugk opened #1715 "Search engine telemetry is wrong"
I use [Firefox Klar](https://apps.apple.com/de/app/firefox-klar/id1073435754#) (the German version) on an iOS 13.4.1 device. (Klar seems to be v8.1.4)

If you manually enable telemetry, it seems to send some data at start (or shutdown?).

However, there is always an error.
So when I change my search engine to DuckDuckGo, or in this test Twitter, let's see what happens…

` https://incoming.telemetr

[2020-07-29 19:42] sblatz commented on #1707
I can't seem to reproduce this on my iPad. Going to try simulator 🤔

[2020-07-29 19:46] sblatz commented on #1707
@birdsarah are you still seeing this on your device? :)

[2020-07-29 21:30] sblatz commented on #1707
Cannot reproduce on iOS 13 simulator, either. My guess is this was fixed on the YouTube side of things :O

[2020-07-29 21:52] birdsarah commented on #1707
No. I can't reproduce. Apologies for the noise.

[2020-07-29 21:52] #1707 closed

[2020-08-05 18:26] cpeterso commented on #1706
I noticed that Safari stopped blocking ads. I tried to check whether Focus was still set as my Safari Content Blocker, but I don't see Focus listed in Safari's Content Blockers settings. I see just one switch: "USE CONTENT BLOCKERS ON: All Websites false/true".

I'm using iOS version 13.6.

[2020-08-16 11:53] jamielinux opened #1716 "Feature Request: Allow users to disable JavaScript"
There's a system setting for **_iOS Safari_** (hidden in the _Advanced_ section) that lets you disable JavaScript. It would be great if this was possible in Firefox Focus (probably best also hidden away in an _Advanced_ section).

DNS-based ad-blocking and browser-based content blocking are useful but only go so far. Large parts of the web are much less aggravating to browse when JavaScript is dis

[2020-08-16 21:32] sodle commented on #846
Adding to this... it’s now clear on iOS 14 that this feature scans the clipboard quite aggressively. Every keystroke into the URL bar triggers a notification that “Firefox Focus pasted...”

There should be an option to turn this feature off entirely. And even if it’s on, it should only check the clipboard once, when the URL bar is first focused.

[2020-08-24 14:27] liquidsunshine commented on #846
Yeah, @sodle 's observation is something I noticed since upgrading to the iOS 14 beta.  It's quite alarming, and feels like the behavior of an app scooping up data.  (Especially since other apps actually do this.)

Of course, I don't believe Mozilla would do something nefarious like that, but it undermines the feeling of trust in an app that specifically brands itself on privacy.

[2020-08-24 14:27] liquidsunshine commented on #846
(By the way, I know resources are not what they used to be with the recent layouts... is there any way I could get involved and try to help with this?)

[2020-08-25 19:57] dnarcese opened #1717 "v8.1.5 Release Checklist"
Branch setup, steps typically done when creating new version branch
- [x] Update Version Number in code (Eng task, use `update_version.sh`)
- [x] Update `Client/Info.plist` MozWhatsNewTopic (Eng task)
- [x] Create version specific Sentry project
- [x] Setup Sentry keys in BuddyBuild (per release)
---
- [x] Ensure L10N box has been run (if needed) to do string export
- [x] Tag release in GitHub (En

[2020-08-31 13:23] SimonBasca opened #1722 "Background and restoring Focus in settings will focus the URL bar"
Build: 8.1.3 (4005)
Device: iPhone XS
iOS: 12.2

Steps to reproduce:
1. Launch Focus
2. Open Settings
3. Background Focus
4. Restore Focus

Actual results:
- The URL bar will be focused and the keyboard will pop up while settings screen is diplayed..

[2020-08-31 13:37] SimonBasca opened #1723 "Unable to save image in Firefox Focus"
## Steps to reproduce

1. Open Focus
2. Search for "image" on google.

### Expected behavior
- A prompt asking for permission to save the image should be displayed. After accepting the dialog the image should be saved.

### Actual behavior
- Unable to save the image.

### Device & build information
* Device: iPad
* OS version: 14 beta 3
Notes:
- This is working on iOS 12.
- Not working for iOS 13.

[2020-08-31 13:39] SimonBasca commented on #1672
I am no longer reproducing this issue on v8.5.1 (4048)

[2020-08-31 13:39] #1672 closed

[2020-08-31 14:06] SimonBasca opened #1724 "The App Store is opened instead of native app"
## Preconditions:
- Download Reddit app from App Store
## Steps to reproduce:
1. Go to "reddit.com"
2. Tap "Open" to open in Reddit app
### Actual behavior
- The App Store is opened.
### Actual behavior
- The Reddit app should be opened

### Device & build information
* Device: iPhone XS (14.0b6)
* Build version: 8.5.1 (4084)
### Notes

┆Issue is synchronized with this [Jira Task](https://mozilla-

[2020-09-01 16:20] SimonBasca commented on #1711
Verified fix on  8.1.5 (4084).

[2020-09-01 18:32] #1717 closed

[2020-09-12 08:05] deepal15 commented on #1689
@SimonBasca how can i add reviewers to my Pull request?

[2020-09-14 09:20] SimonBasca commented on #1689
@deepal15 Thanks for the PR. I'll add a reviewer.

[2020-09-17 17:11] bgneu commented on #1713
+1 I have also seen this noise in my logs recently.

[2020-09-18 08:25] SimonBasca opened #1732 "Open in Safari option opens Firefox"
Preconditions:
- Set Firefox as Default Browser
Steps to reproduce:
1. Open Focus
2. Go "google.com"
3. Open Page Action Menu and tap "Open in Safari"

Actual results:
- The link will open in Firefox.
Expected results:
- The link should open in Safari.

Environment:
- iPhone Xr 14.0
- 8.1.6 (4126)

[2020-09-18 08:34] SimonBasca opened #1733 ""Trash" icon will not be displayed after opening a link in Focus set as default browser"
Preconditions:
- In Notes, type "google.com"
- Set Focus as default browser by deleting all other browsers and disabling Safari from Screen Time

Steps to reproduce:
1. Tap on the "google.com" link from notes

Actual Results;
- The link will open correctly but the "Trash" icon will not be displayed.

Expected results:
The "Trash" icon should be displayed.

Environment:
- iPhone Xr 14.0
- 8.1.6 (41

[2020-09-18 19:11] deepal15 commented on #1694
@SimonBasca,
In Edit mode after moving menu down and up and then release, "Add Customer URL" should be not visible(since it is in Editing  mode).
Is that expected?

Video:
[Screen Recording 2020-09-19 at 12.39.42 AM.mov.zip](https://github.com/mozilla-mobile/focus-ios/files/5247699/Screen.Recording.2020-09-19.at.12.39.42.AM.mov.zip)

[2020-09-21 20:56] mvykol opened #1734 "Infinite tab loop when opening Apple Maps link"
I removed Apple Maps from my phone. If I click on an Apple Maps link that goes to Firefox, the app gets stuck in an infinite loop of opening new tabs. I believe prior to iOS 14 a dialog popped up saying Apple Maps could not be found, with options to cancel or view in the App Store. I am using an iPhone 11, iOS 14.0, Firefox Version 28.2 (2470).

[2020-09-22 01:12] #1734 closed

[2020-09-22 10:01] SimonBasca commented on #1694
@deepal15 I am not seeing the issue in the your video. The actual behavior on the latest master (5aaa750a9) is:
Actual results:
- "+Add Custom URL" button becomes visible in edit mode after scrolling trough the custom URL list.
Expected results:
- "+Add Custom URL" should not be visible in edit mode after scrolling trough the custom URL list.

Note:
- Also reproducible on iPhone

Correct STR:
1. G

[2020-09-22 13:03] deepal15 commented on #1694
@SimonBasca I have fixed the issue and attached the video for the same, I was just asking for your confirmation if that("+Add Custom URL" should not be visible in edit mode after scrolling trough the custom URL list.) is the expected behaviour. And looks like it is, so I'll create the Pull Request for the mentioned issue.

[2020-09-24 02:16] gregory-opera commented on #1709
Yep, I second this... Mozilla Firefox and Google Chrome for iOS can be set as the default browser under iOS 14.x or higher - but not Firefox Focus.

[2020-09-24 15:22] dineplays opened #1736 "Enabling focus on Safari erases Symbols on webpages"
Symbols like the "x" to close the cookies message in every website or the magnifier in search buttons check photo attached
![IMG_7033](https://user-images.githubusercontent.com/71837321/94165369-bf164280-fe4f-11ea-8234-543c8b79463c.PNG)

Android on the left, iOS 14 on the right with missing symbols

[2020-09-28 21:57] emesterhazy commented on #1668
Closed according to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1571325

I haven't noticed this behavior in a long time, so I'm inclined to believe it actually is resolved even though the bugzilla doesn't include a patch.

[2020-09-28 21:57] #1668 closed

[2020-09-29 08:58] isabelrios opened #1738 "The iOS14 snackbar message to Paste from a different device is shown too many times when tapping on the addres bar"
**Step to reproduce**
Open the app and tap to start searching a site

**Actual**
The copied from Mac message is shown too many times each time a click is done on the address bar

**Expected**
I guess that showing the message only once would be enough. Current behaviour is annoying and makes it difficult to type in the address bar

**Note**
iPhone 6s, iOS14, Focus: 8.1.3
Please see [video](https://

[2020-09-29 20:51] deepal15 opened #1739 "Module 'SnapKit' was created for incompatible target arm64-apple-ios11.4: /Users/focus-ios/Carthage/Build/iOS/SnapKit.framework/Modules/SnapKit.swiftmodule/arm64.swiftmodule"
Not able to build the project on latest commit "cbdc5d6b336a001bfc28fc39807b592e6566a60e"

Issue: Module 'SnapKit' was created for incompatible target arm64-apple-ios11.4: /Users/Desktop/focus-ios/Carthage/Build/iOS/SnapKit.framework/Modules/SnapKit.swiftmodule/arm64.swiftmodule

@jevans-mozilla could you please help?

[2020-10-01 21:01] #1722 closed

[2020-10-08 19:00] boek opened #1740 "Migrate to glean"

[2020-10-20 08:46] isabelrios opened #1743 "[XCUITests] testFindInPageURLBarElement fails on both Focus and Klar"
Filing issue to investigate if the failure is due to real issue, intermittent or update needed with this test

See Bitrise logs:
https://addons-testing.bitrise.io/builds/a578196a3d9f9b4b/testreport/ca0a7428-c206-4279-afe7-f243c02150d5/testsuite/1/testcases?status=failed

[2020-10-20 10:20] isabelrios commented on #1743
Looks like the issue is intermittent, due to the new iOS14 pop up showing the copied test overlapping the url bar. The solution would be to wait until that element dissapears or wait for the presence of any of the elements overlapped by it.

[2020-10-30 13:25] SimonBasca opened #1747 "No "Set Focus as default browser" option is displayed in Focus Settings"
## Steps to reproduce:
1. Go to Settings
## Actual Results;
- No "Set Focus as default browser" option is displayed.
Expected results:
- "Set Focus as default browser" option is displayed.
## Environment:
Device: iPhone Xr 14.0
Build: 8.1.8
## Notes:
- Could be confusing for users.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-50)

[2020-10-30 15:38] SimonBasca opened #1748 "Update "What's new page" with default browser option"
Steps to reproduce:
1. Go to Settings and tap on the top right corner button

Actual results:
- There is no mention of setting Focus as default browser.

Expected results:
- We should mention to the users that Focus can be set as default browser.

Build: 8.1.8

[2020-11-10 00:16] brampitoyo opened #1750 "Update icon and branding"
| Current | Updated |
| --- | --- |
| <img width="246" src="https://user-images.githubusercontent.com/51007/98611328-993cf280-2356-11eb-9d42-2524e9f7a1f3.png"> | <img width="246" src="https://user-images.githubusercontent.com/51007/98611254-73afe900-2356-11eb-8e7f-1fcce2fd679a.png"> |

Source: https://drive.google.com/drive/folders/1m4v_vAtgJasttH2sCy8HiHWolhGB5viN

Android issue: https://github.c

[2020-11-16 15:55] badboy opened #1751 "Enable the Focus App ID in the data pipeline"
Congrats on migrating to Glean (#1741).

We're now seeing data coming in with the app id `org-mozilla-ios-focus`, but this app id is not yet enabled in the pipeline.
Please [file a data engineering bug](https://bugzilla.mozilla.org/enter_bug.cgi?assigned_to=nobody%40mozilla.org&bug_ignored=0&bug_severity=--&bug_status=NEW&bug_type=task&cf_fx_iteration=---&cf_fx_points=---&comment=Application%20fri

[2020-12-08 13:56] sarthurdev commented on #1676
This is still an issue and with Focus now able to be the primary browser, it occurs every time a link is opened. Can the above PR get some attention and be released?

iOS 14.2.1 / iPhone 12 / Focus 8.1.6

[2020-12-30 00:27] chriscoderdr commented on #1750
What about the beta and dev Icons?

[2021-01-05 03:02] squelart opened #1755 "Update https://support.mozilla.org/en-US/kb/focus"
https://support.mozilla.org/en-US/kb/focus seems out-of-date, especially screenshots.

E.g.:
- "To view a page in regular Firefox..." shows a share icon at the bottom left, but now it's done through the "..." menu to the right of the URL bar.
- Erase button shown as text "ERASE", but now it's a garbage bin.

I would suggest:
- Fix these issues.
- Setup a process so that future app changes will be

[2021-01-08 23:00] sneakernuts opened #1756 "Issues with default app behaviour on iOS 14.3"
When opening a link from another app on iOS 14.3 Focus opens without the trash can icon on the top right.

[2021-02-02 15:04] devlynnsingley opened #1757 "CausewayStack=trace;{{{000111}}}"
### Bitrise Test Run:
Provide a Bitrise test run report link here showcasing the problem
### Stacktrace:
### Build:

[2021-02-02 21:57] #1757 closed

[2021-02-08 18:21] athomasmoz commented on #1733
@SimonBasca Can you test this out with the new, proper way of having Focus set as the default? If you set Focus as the default browser, is the trash can disapearing in certain situations?

[2021-02-09 09:27] SimonBasca commented on #1733
This issue is still reproducible on v8.1.6 after setting Focus as default browser from iOS settings and opening a link from notes.

[2021-02-16 07:06] Turtle1331 opened #1759 "Slide-to-type autocomplete crash"
I've discovered a consistent crash on Firefox Focus version 8.1.6, iOS version 14.4.  It occurs due to a conflict between the iOS keyboard's slide-to-type feature and Firefox Focus's URL autocomplete.

Prerequisites:
- In iOS settings, enable General > Keyboards > Slide to Type
- In Firefox Focus settings, enable Settings > URL Autocomplete > My Sites
- Add example.com to Firefox Focus autocomplet

[2021-02-18 18:09] #1733 closed

[2021-02-19 17:51] Yanazyrf opened #1760 "Problem with layout in russian localization"
Description: Problem with layout in russian localization

Steps:
1. Open Firefox Focus
2. Tap on "Gear"
3. Find "Send usage data" in "Privacy" section

Actual result: Layout does not work properly, "Learn more" in the "Privacy" section runs over words

Expected result: Proper layout

Device info:
iPhone Xr, iOS 14.4
Version of Firefox Focus 8.1.6

![photo_2021-02-19_20-49-20](https://user-images.g

[2021-03-13 20:33] mike-nelson commented on #1713
Yup, a bit annoying, have to filter this out of my error reporting

[2021-03-23 21:00] seansfkelley opened #1761 "compatibility with Safari content blockers?"
I recently played around with 1Blocker, which worked like a charm for Safari, allowing me to catch ads that Firefox Focus didn't while also blocking time-wasting sites. I currently use system-level content restrictions for the latter purpose, but they are poorly suited to the purpose as they are overly conservative.

I had thought that since Firefox Focus was a Safari wrapper it would get these be

[2021-04-04 14:55] afshin2020 opened #1762 "Different"
### Bitrise Test Run:
Provide a Bitrise test run report link here showcasing the problem
### Stacktrace:
### Build:

[2021-04-07 19:19] #1750 closed

[2021-04-07 20:42] dnarcese opened #1764 "8.1.7 Release"
- [x] Update version in code
- [x] PI request https://jira.mozilla.com/browse/PI-1024
- [x] Release notes updated
- [x] Publish build to [Github](https://github.com/mozilla-mobile/focus-ios/releases)
- [x] Release with 7 day rollout

[2021-04-08 06:08] csuciu commented on #1733
This issue doesn't reproduce on v8.1.7. Verifying as fixed.

[2021-04-13 20:37] #1764 closed

[2021-04-14 09:29] SimonBasca opened #1765 "Opening a link in Focus as default browser will focus the URL bar"
Build: 8.1.7 (4124)
Device: iPhone Xr
iOS: 14.4

Steps to reproduce:
1. Set Focus as default browser in iOS settings.
2. Launch Focus. Make sure the URL bar is empty
3. Close Focus from app switcher
4. Open a link from notes (e.g. google.com) or from external apps (e.g Gmail App)

Actual results:
- The URL bar will be focused and the keyboard will pop up.

Video:
- [Skype_Video.mp4.zip](https://gi

[2021-04-14 09:44] SimonBasca opened #1766 "Enable Glean Debug Tools"
Build: 8.1.7 (4124)
Device: iPhone Xr
iOS: 14.4

**Case for Firefox**
- For Firefox-iOS when we tap on : `Firefox://glean?tagPings=Glean-Test` from notes, the app will open and the events, pings and metrics can be seen in the Glean Dashboard.

**Case for Focus**
- For Focus-iOS this is not possible because the Glean debug tools have not been enabled in Focus.

**This is the missing implementation

[2021-04-14 11:46] dsegurag commented on #1676
@tsparber I just updated the app to version 8.1.7 and seems that the problem is gone.

[2021-04-14 13:59] channingcarter commented on #1765
Unfortunately the video did not play for me, but is this only happening when you open a link from notes? I was unable to reproduce opening links from emails or text messages.

[2021-05-01 22:55] dVVIIb opened #1768 "CSS @media viewport width landscape incorrect"
iPhone XS, 11 Pro, possibly others.
Firefox Daylight 33.1 (4629), Firefox Focus 8.1.7

The CSS rule `@media (min-width: 89.35vw) { body { background: red } }` isn't applied on landscape orientation, but is applied on portrait orientation.

The CSS rule `@media (min-width: 89.34vw) { body { background: red } }` is applied normally.

This discrepancy is not present in Safari.

Essentially, there is

[2021-05-04 20:45] st3fan opened #1769 "Migrate to Swift Packages"
Replace all Carthage dependencies with Swift Packages. With the ultimate goal to drop Carthage. This will move us towards simpler and more standard tooling.

[2021-05-04 20:47] st3fan opened #1770 "Remove the SCSiriWaveformView code"
The `SCSiriWaveformView` code was used in the About screen when this product was briefly called _Signal_. We don't use it anymore, so drop it from repository and project.

[2021-05-04 20:52] st3fan opened #1771 "Remove the GCDWebServer dependency"
The dependency on [swisspol/GCDWebServer](https://github.com/swisspol/GCDWebServer) is used to discover if the user has enabled the (Safari) blocklists.

There is now also an API in _Safari Services_ that allows us to easily query whether the user has enabled our content blockers or not. See [SFContentBlockerManager](https://developer.apple.com/documentation/safariservices/sfcontentblockermanager?

[2021-05-04 20:53] st3fan opened #1772 "Remove the AgileBits/onepassword-extension dependency"
With `WKWebView` supporting password filling for a couple of years now, we do not need this vendor specific helper. If you have 1Password, or any other password manager, configured then it will just work. Without the need of this dependency.

[2021-05-04 20:54] st3fan opened #1773 "Move Sentry from Carthage to Swift Package Manager"
Focus uses Sentry 4.2 while the latest version is at 7.0.3. This is also a good opportunity to pull Sentry in via Swift Package Manager instead of Carthage. (See #1769)

[2021-05-04 20:57] st3fan opened #1774 "Make sure we can build Focus on Xcode 12.5"
We must stay up to date with Apple's latest tooling. This may also be required work to properly support building Focus on M1 Macs.

[2021-05-04 20:57] st3fan opened #1775 "Make sure we can build Focus on M1 Macs"
Focus currently does not build on M1 Macs. This is high priority because this is probably the last year that Apple will sell Intel Macs. We need to get past this quickly otherwise it will become impossible to actually work on Focus.

This may be resolved with #1774 (Xcode 12.5 Support)

[2021-05-04 21:00] st3fan opened #1776 "Vendor all dependencies"
We need to start vendoring (keeping a local copy) of dependencies. For the following reasons:

 - This will considerably speed up the build, since no dependencies will have to be fetched.
 - It will guarantee stability since we will build with a known set of dependencies
 - Security-wise it is better to vendor because we do not know for sure what we will pull in from the network

It is unclear if

[2021-05-04 21:01] st3fan opened #1777 "Replace legacy event telemetry with Glean"
Focus currently uses both `mozilla-mobile/telemetry-ios` and `mozilla/glean`.

The Legacy Telemetry (`telemetry-ios`) is used only for events. While Glean does the 'core' ping. The legacy telemetry is unsupported and we should move away from it sooner than later. The path forward is Glean.

 - Implement existing events (or a subset) in Glean
 - Remove the legacy telemetry library

This is not comp

[2021-05-04 21:03] st3fan opened #1778 "Move Fuzi from Carthage to Swift Package Manager"
Probably for historical reasons, `cezheng/Fuzi` is pulled from `master`. This is not a good practice and we should pin it to an explicit version number. While we do that we should also move the dependency out of Carthage and instead pull it in as a Swift Package.

[2021-05-04 21:04] st3fan opened #1779 "Remove the BuddyBuildSDK.framework"
Unclear why this is part of the project. Make sure Focus does not ship with this framework and remove it from the repository and project.

[2021-05-04 21:06] st3fan opened #1780 "Remove all the buddybuild shell scripts"
Since we do not use BuddyBuild anymore, remove all the `buddybuild_*` scripts.

[2021-05-04 21:10] st3fan opened #1781 "Only include the com.apple.developer.web-browser entitlement on CI"
The `com.apple.developer.web-browser` entitlement is only available to applications that have been granted this special entitlement. Contributors (and Mozilla devs) are unable to use this entitlement in their builds because they cannot actually set this up: there is no option to add `com.apple.developer.web-browser` manually in the developer portal and when _Automatically Manage Signing_ is used i

[2021-05-04 21:11] st3fan opened #1782 "Enable "Automatically Manage Signing" for FocusDebug/KlarDebug"
Enable "Automatically Manage Signing" for FocusDebug/KlarDebug to make the development process simpler.

This depends on #1781

[2021-05-04 21:13] st3fan opened #1783 "Update the README to reflect current status"
The README currently talks about iOS 10 and Swift 4.2 which is out of date. Update it and also make sure that the Getting Involved section reflects reality. (We would prefer chat.mozilla.org over IRC and I don't think the mailing list exists anymore)

[2021-05-04 21:22] st3fan opened #1784 "On bigger size classes Focus does not render in desktop mode"
Needs more details. But the short version is that WKWebView now has APIs to switch between Desktop/Mobile mode. Firefox iOS already uses these and that has a made a huge difference in terms of usability.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FOCUSIOS-55)

[2021-05-04 21:28] st3fan commented on #1761
No that is not correct - the Safari Content Blockers only work in ... Safari. They are not system wide. This is bit odd but unfortunately not something we can fix or work around.

[2021-05-04 21:28] #1761 closed

[2021-05-04 21:29] #1762 closed

[2021-05-04 21:30] st3fan commented on #1768
I think this may be related to #1784

[2021-05-04 21:32] st3fan commented on #1751
@badboy We would like to drop the "classic" telemetry and switch fully over to Glean. Am I correct to understand that Glean is currently only used for the core metrics and that the old telemetry is used for events?

[2021-05-04 21:34] st3fan commented on #1747
@channingcarter we should probably just do the same thing that _Firefox iOS_ does in their settings. At the top of the settings it has a "Set as default browser" button that opens the right system setting.

[2021-05-04 21:35] st3fan commented on #1740
@boek @nbhasin2 What is the status of this issue? I see Glean is part of the product now and a bunch of code landed to support Glean. Can we close this issue and open a new one to call out specific remaining work?

[2021-05-04 21:36] boek commented on #1740
@st3fan This is done! We tracked the work in the other repo so it would sync with Jira 😬

[2021-05-04 21:36] #1740 closed

[2021-05-04 21:38] st3fan commented on #1738
I can't reproduce this issue.

We don't have control over those messages, but they are a side-effect of how we use the `UIPasteboard` APIs. We should re-evaluate if we still do the right thing there now that Apple has added this kind of feedback to make it clear that some apps are (unknowlingly) accessing your clipboard.

[2021-05-04 21:45] st3fan commented on #1736
I've filed a webcompat issue at https://github.com/webcompat/web-bugs/issues/72915

[2021-05-05 07:46] badboy commented on #1751
I haven't helped with Focus before, so I don't really know. I think @travis79 did.
But there's only one [metrics.yaml](https://github.com/mozilla-mobile/focus-ios/blob/main/Blockzilla/metrics.yaml) and that lists a single metric, so yeah, no other data is sent with Glean yet.

[2021-05-05 11:14] travis79 commented on #1751
The legacy telemetry has the core ping and events instrumented, while Glean only has the legacy is added to the deletion-request ping. Focus should already be sending the Glean baseline ping, for measuring things like retention and DoU, but the other metrics need to me migrated to Glean events and metrics yet.

[2021-05-06 19:32] st3fan opened #1786 "Move the Bitrise configuration into version control"
The `firefox-ios` project has it's `bitrise.yml` stored on GitHub. Let's do the same for Focus so that we have a backup and then we can make the version in git the source of truth.

[2021-05-06 19:43] st3fan commented on #1786
@boek @isabelrios do you see any problems with this? I do see an some token in our config, which I assume would have to become a Bitrise secret?

[2021-05-06 20:08] st3fan opened #1788 "UserAgentTest.testSignInWithGoogle is failing"
### Bitrise Test Run:

https://app.bitrise.io/build/8088c0b1e23a085e

### Stacktrace:

[code]

### Build:

[2021-05-06 20:23] st3fan commented on #1788
I submitted a PR to disable this test for now. Does anyone know the purpose of this test? It indicates it is about signing in with google, but the only thing the test does is find a sign in button on getpocket.com ... I am not sure how useful this test is.

[2021-05-06 20:37] st3fan opened #1790 "Have separate workflows for Focus and Klar?"
(Not urgent - no action required)

I noticed that Focus and Klar are built and tested in the same workflow, one after eachother. We could get a good speed boost if Focus and Klar workflows ran in parallel like they used to on BuddyBuild. There both the build and tests would run in separate processes.

I think it is worth exploring if we can do the same with Bitrise once we have more capacity (para

[2021-05-06 21:03] st3fan commented on #1790
[code]

[2021-05-06 21:03] #1788 closed

[2021-05-07 16:34] isabelrios commented on #1790
Following the doc in this link: https://blog.bitrise.io/post/fan-out-parallel-builds-and-test-reports-on-bitrise
We can separete the build and test for each Focus and Klar and have them running in parallel.

WIP: So there will be a build that trigger that, `runParallelTests` and then `runFocus` and `runKlar` happening in parallel. `runParallelTests` will not finish until the other two finish and w

[2021-05-07 17:03] isabelrios commented on #1790
This a build example https://app.bitrise.io/build/7d589e6af58e3078#?tab=log. It took 19.3 mins to build and run tests (saving ~12 min), for both Focus and Klar.
- Still to fix the report, since the test report is available in each build ([Focus](https://app.bitrise.io/build/a0c88c260ecf0d0f#?tab=log), [Klar](https://app.bitrise.io/build/9ba39a8eb92fdc7c#?tab=log)) but not in the build that trigger

[2021-05-10 14:13] isabelrios commented on #1790
There is a limitation for PRs.
- We would need to expose the Personal API token created to PRs (the value it is not shown but it could be a security risk)
- In oder to be able to build in one workflow and test in a different one, we need to pass the cache. And cache does not work for PRs for public repositories on Bitrise to prevent exposing or accessing private keys, secretes and so. This could b

[2021-05-11 12:49] isabelrios commented on #1790
I managed to have the parallel workflows working in PRs too. I takes a few more minutes around 20-22 mins, and we will have duplicate steps but we will benefit from having Focus and Klar builds building at the same time, saving around 10-12 mins for PRs a bit more for Push.

I have enabled the trigger to run this new runParallelTest workflow for both Push and PR, we can try for some time and keep

[2021-05-12 21:37] st3fan opened #1795 "Move SnapKit from Carthage to Swift Package Manager"

[2021-05-13 11:56] #1780 closed

[2021-05-13 13:39] #1795 closed

[2021-05-13 14:32] st3fan commented on #1790
@isabelrios this looks great! It definitely gives us a good speed bump already 🥳

[2021-05-13 17:15] st3fan opened #1797 "Install Mergify"
Mergify can give us a simple workflow to land patches. Lets mirror what we do in Android-Components and allow Mergify to land patches that:

- Pass CI
- Have a review
- have a Land label set

Mergify will then take care of coordinating the rebasing and landing.

[2021-05-13 17:40] st3fan opened #1798 "Introduce a strict protected branch policy"

[2021-05-13 17:43] #1779 closed

[2021-05-13 19:40] #1770 closed

[2021-05-13 21:17] st3fan opened #1800 "Enable Parallel UI Tests"
Xcode has an option (since v10) to run UI tests in parallel. Let's give this a try on CI and see what happens. Have you tried this before @isabelrios ?

[2021-05-13 21:31] st3fan opened #1802 "Move the AutocompleteTextField dependency into Focus"
Move [mozilla-mobile/AutocompleteTextField](https://github.com/mozilla-mobile/AutocompleteTextField) directly into the Focus project.

Focus is the only user of this _single file dependency) and as such there is very little value in having this project separated out into a dependency. This will speed up the build, make things less complex and remove a dependency that we will have to maintain in pa

[2021-05-13 23:33] st3fan opened #1803 "Intermittent test failures on SearchEngineTests.testResponseConsistency"
### Bitrise Test Run:

https://app.bitrise.io/build/3e477f1c7f85073a

### Stacktrace:

[code]

[2021-05-13 23:41] st3fan commented on #1800
Hm I enabled this on my Mac and it started 3 simulators for the tests.

No parallel testing: 2262 seconds
First run parallel testing: 930 seconds (but a bunch failed)
Second run parallel testing: 959  (simulators already started from last run, but still failures)