[2016-12-06 23:42] davidjb opened #32 "Custom URL scheme for opening Focus"
Firefox iOS has a custom URL scheme (implemented in https://github.com/mozilla-mobile/firefox-ios/blob/master/Client/Application/AppDelegate.swift#L266), which allows the use of URLs like:

    firefox://?url=http://example.com
    firefox://?url=http://example.com&private=true

to open the browser from another app or webpage.  Could a similar URL scheme be added to Focus?

[2016-12-07 06:31] sornalingam opened #33 "Feature request : Add Image save and zoom option"
Right now Focus does not support to save image in Iphone or Zoom the image.

Can you please add this?

[2016-12-09 13:06] rarkins opened #34 "LocalStorage support"
Can LocalStorage support be returned?

When I downloaded Firefox Focus after release, I was very happy to find that LocalStorage is supported, unlike every other private mode browsing on iOS I'd seen prior (Mobile Safari, Chrome, Firefox, etc). Unfortunately after updating recently from the App Store, it is also now unsupported in Firefox Focus too.

I assume it was this commit responsible: https:

[2017-01-07 14:25] timdream opened #39 "Asia Input Methods not working"
It's being filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1318263 also.

[2017-01-20 00:05] thebnich commented on #39
Fixed by bug 1318263.

[2017-01-20 00:05] #39 closed

[2017-01-20 00:12] thebnich commented on #34
Agreed. Unfortunately, we were finding that `localStorage` *wasn't* cleared at the end of the private session, so we had to go with the more drastic solution of disabling it altogether.

I think we'd gladly consider any PR that figures out a way to clear `localStorage` per-session without disabling it entirely. I don't see any public API for it, so we'd probably need to use selectors to hack aroun

[2017-01-20 05:36] corv89 opened #42 "Not available in German App Store"
Firefox Focus is not available in the German App Store

[2017-01-20 21:24] thebnich commented on #42
Due to naming conflicts, the app has a different name in Germany and a few other countries -- try looking for "Firefox Klar" instead.

[2017-01-20 21:24] #42 closed

[2017-01-23 16:13] stevemoser opened #44 "Focus for macOS"
Now that macOS has support for content blockers can this app be ported to macOS?

[2017-01-27 13:09] fabiogaragiola opened #46 "Add startpage.com search engine."
Please add _startpage.com_ to the list of supported search engines.

[2017-02-09 14:30] ingria opened #47 "Focus doesn't block Yandex.Direct trackers and ads"
In the center:
![scr1](https://cloud.githubusercontent.com/assets/2178368/22828339/20268e2e-efb6-11e6-9fa1-9410ec81af8c.jpg)

On the right:
![scr2](https://cloud.githubusercontent.com/assets/2178368/22828346/24d7f570-efb6-11e6-9ce2-ddaa9f2e179d.jpg)

Ad network: https://direct.yandex.com
Example page with ads: https://geektimes.ru/post/285682/

iOS 10.2.1
Firefox Focus 3.0.1

Related BugZilla issu

[2017-02-22 16:51] jeevankumarr opened #48 "[Meta] Add request Desktop Site"
Some popular websites require Desktop Site for better access. For ex: google news links on mobile tend to be part of Google AMP, which does not present the whole website and the google amp banner reduces screen space.

[2017-03-01 21:34] strugee opened #49 "README doesn't actually describe what this project is"
What the title says.

[2017-03-16 10:49] pocmo opened #50 "Download list.json from Android repo"
I just saw this TODO in scrape_plugins.py:

[code]

And coincidentally I just recently reviewed the related Fennec code:
https://bugzilla.mozilla.org/show_bug.cgi?id=1300201

The mobile list is now located at mobile/locales/search:
https://hg.mozilla.org/mozilla-central/file/tip/mobile/locales/search/list.json

[2017-03-25 12:04] amtopel opened #52 "Trackers not blocked on any Google AMP pages"
For example, when browsing on Safari with Focus content-blocking enabled, trackers appear on this page:  https://www.google.com/amp/s/www.wired.com/2016/02/googles-amp-speeding-web-changing-works/amp/

[2017-04-25 21:35] thebnich commented on #49
Thanks. Fixed.

[2017-04-25 21:35] #49 closed

[2017-06-11 15:10] timonus commented on #32
+1, would use this to add support to [Opener](http://www.opener.link)

[2017-06-11 19:51] Sdaswani commented on #32
@liuche wonder if we should get @ekager to work on this at some point this summer? We probably need to go through security review and of course talk to @bbinto before proceeding.

[2017-06-13 23:20] brampitoyo opened #67 "Clean up top domains"
From [SpiceGirls4Life on Reddit](https://www.reddit.com/r/firefox/comments/6h37ls/firefox_focus_ios_autocompletes_url_even_though/):

[2017-06-13 23:33] Sdaswani commented on #67
@bbinto @st3fan terraclicks.com is in our topdomains list: https://github.com/mozilla-mobile/focus/blob/ac6814f19422241be16dedee0f80c05ac2337a2b/Blockzilla/topdomains.txt#L389

[2017-06-14 06:42] bbinto commented on #67
Thanks Susheel, I think one of the interns could pick up cleaning this list (for Android, multiple, and iOS), don't you think?

* `diply.com`
* `pch.com`
* `swagbucks.com`
* `outbrain.com`
* `ijreview.com` (down)
* `ebates.com`
* `swagbucks.com`
* `faithtap.com`
* `littlethings.com`
* `nametests.com`
* `iflscience.com`
* `buzzlie.com` (down)
* `emgn.com`
* `myway.com` (search hijack)
* `ozztube.co

[2017-06-14 06:46] bbinto commented on #67
Bram, just to confirm you disabled search suggestion for DDG via their website, so not sure if / how we could catch that setting to apply to the app?

[2017-06-14 08:25] brampitoyo commented on #67
Hi Barbara, I got this report straight from Reddit. The user might have thought that DDG’s autocomplete setting impacts Focus’ autocomplete. In other words, there was a little mix-up. But the point still stands that we shouldn’t autocomplete ‘grey’ domains.

[2017-06-14 11:56] MihaiNinu opened #68 "Focus Crashes if you erase history from android bar while site loading"
Device: Android only

STR:
1. Tap a site address (e.g. qq.com since it takes a long time to load )
2. while site is loading, drag to open android bar
3. Tap on Erase focus history

Actual: Focus Crashes
Note: Please take in consideration that you might need to repeat the STR to trigger the crash

For further details please check : https://pastebin.mozilla.org/9024585

[2017-06-14 12:26] MihaiNinu commented on #68
Moved this issue to focus-android

[2017-06-14 16:36] Sdaswani commented on #67
Yes @bbinto - this is a quick fix we'll get in for 3.4. Just to confirm - all the domains you listed should be removed, right?

https://bugzilla.mozilla.org/show_bug.cgi?id=1372968

[2017-06-16 18:05] Sdaswani commented on #67
FYI here is a case of a user requesting we add something to the autocomplete list @brampitoyo : https://github.com/mozilla-mobile/focus/pull/69

[2017-06-16 22:59] #68 closed

[2017-06-18 05:57] Sdaswani opened #70 "Genius.com Lyric Drawer Doesn't Expand on Focus"
Try this site on Focus 3.2 or 3.3: https://genius.com/The-smiths-cemetry-gates-lyrics#note-1770575

When you click a lyric, the Drawer should expand. The page just loads something and then nothing happens.

[2017-06-18 13:15] bbinto commented on #67
@Sdaswani and @bram, we can't add anything to the list, we need to follow the sanitization rules, imposed by legal/compliance, see here http://gecko.readthedocs.io/en/latest/mobile/android/fennec/defaultdomains.html#id1

I will "need info" Marshall and Elvin in the bug, btw, in the bug the "here" link seems to be missing.

[2017-06-18 23:49] brampitoyo commented on #67
@bbinto Yes, I agree that we can’t (and shouldn’t) modify the list at will.

Do we or anybody know the last time `topdomains.txt` was updated? The Source Tree Docs wrote that reviews happen every ~2 releases. This means that the team may catch some of the domains I’ve mentioned next time – fixing this issue in the process.

If a review was not conducted recently, then maybe there’s a case to push

[2017-06-19 17:14] aterribili opened #71 "WKWebView - Question"
Why not use WKWebView instead of UIWebView?

[code]
[Docs](https://developer.apple.com/documentation/webkit/wkwebview)

[2017-06-19 17:25] aterribili commented on #71
If it's possible to do the refactor, I can help :). Please, let me know!

[2017-06-19 18:03] ncalexan commented on #71
This is a very technically involved decision.  `WKWebView` supports a different API than `UIWebView`, and in particular does not support any of the "request lifecycle" hooks that `UIWebView` supports.  That makes content filtering -- which is Focus's bread and butter -- not possible.  (Apple has, at various times, supported content filtering in Safari and in `WKWebView`, but it's not full featured

[2017-06-19 18:03] #71 closed

[2017-06-19 18:07] Sdaswani commented on #71
@ncalexan there was some talk that WKWebView may provide what we need in iOS11, so we have an action item to see what is possible. cc @jhugman @farhanpatel

[2017-06-19 18:09] ncalexan commented on #71
OK, glad to hear `WKWebView` is only _mostly_ and not _entirely_ abandoned :)

Can you ship it on a reasonable timeline, though?  Isn't the trailing edge of iOS updates pretty far back -- like years back?

[2017-06-19 18:13] Sdaswani commented on #71
@ncalexan we would do something smart - support WKWebView for iOS11 and later, and UIWebView for older releases. But note the majority of iOS users upgrade to the latest iOS **much faster** than Android users do. As such it's common for App Developers to only support the last two iOSes in their Apps: https://developer.apple.com/support/app-store/ (86% of iOS devices use version 10)

[2017-06-19 19:24] aterribili commented on #71
Good to know!

[2017-06-21 04:13] KWierso opened #74 "Search engine plugins are retrieved from a soon-to-be-defunct mozilla-aurora url."
Search engine plugins are currently retrieved from https://github.com/mozilla-mobile/focus/blob/a185afaa6875575bd33e8614d9b3973ef064e0c5/Search/scrape_plugins.py#L19 (and L10n versions a few lines below that) by pulling directly from hg.mozilla.org's mozilla-aurora repository.

That's unfortunate for two reasons:
1. Mercurial's not really meant to be queried like that for raw files. There's got to

[2017-06-21 04:58] Sdaswani commented on #74
Thanks for filing @KWierso . What would you say the timeline is for getting this work done, i.e., how much time do we have? It's not a user facing change so I want to understand the urgency.

[2017-06-21 05:35] KWierso commented on #74
I'm unsure of a timeline for removing the actual mercurial repository, or if it's even going to happen at all. @indygreg (:gps on IRC) might know? I don't know if I can tag him successfully if he's not in this Github organization.

[2017-06-21 19:34] indygreg commented on #74
I doubt we'll remove the mozilla-aurora repo because it has historical value. But it isn't being updated any more. So you should definitely transition to something else (like the beta or release repos).

Regarding polling hg.mozilla.org, that's not a huge problem as long as it isn't being done by tens of thousands of clients. Since this is a Python script and not part of the shipping product, I th

[2017-06-21 20:26] Sdaswani commented on #67
@bbinto sorry - so should we remove all these from topdomains? https://github.com/mozilla-mobile/focus/issues/67#issuecomment-308334515

[2017-06-21 21:47] mikehenrty opened #76 "Inner Div Scrolling using overflow-x: hidden inside a fixed div not working in some cases"
On voice.mozilla.org, we use overflow-x on a fixed div to achieve page scrolling. This seems to work on all platforms (including safari, firefox for android, and an ios native app we build which wraps our site in a webview) except focus for ios. We are investing this on the website side, but it would be great to have some advice from the native side too.

Here's the bug we filed for our project:
h

[2017-06-21 22:05] mcomella commented on #76
Team debugging: removing `-webkit-overflow-scrolling:touch` allowed the inner div to start scrolling and others have seen this issue on StackOverflow: [Link1][], [Link2][]

[Link1]: https://stackoverflow.com/questions/32897960/ios-9-webkit-overflow-scrollingtouch-and-overflow-scroll-breaks-scrolling
[Link2]: https://stackoverflow.com/questions/26176288/webkit-overflow-scrolling-touch-breaks-in-app

[2017-06-21 22:20] Sdaswani commented on #76
Interesting - another reason to look into WKWebView once iOS 11 drops.

[2017-06-22 04:56] Sdaswani commented on #74
Looks like this script is only run during tests, and I am not even sure if we run these tests. Let me see if they are run during our buddybuild steps or with every PR.

But I don't think you are ever going to have a load problem as clients don't run this. Can I create a bugzilla for this and throw it in our backlog as a P3 / P4?

[2017-06-22 19:47] ithomasleo opened #79 "SwiftKey keyboard not working in iOS"
SwiftKey isn't showing up as a keyboard option when using Focus on my iPhone SE. Thanks!

[2017-06-22 22:33] Sdaswani commented on #79
Per @st3fan : "Regarding third-party keyboards .. we disabled them in iOS. Because there were incompatibilies. May be worth it to enable them and ask QA to test with a number of popular ones. We did the same for Firefox for iOS too recently. (Which did not look good, we have some work to do, or need to take the Focus autocompleting text field if it works better)"

[2017-06-24 10:32] pyg27233 opened #80 "Scrolling text is sometimes choppy when blocking social trackers"
Example:

1. open reddit.com in firefox focus
2. pick a post with many comments
3. scrolling through posts is slightly choppy
4. disable blocking social trackers in settings
4. scrolling through posts is now completely smooth

I assume it is because there are lots of upvote / downvote reddit buttons everwhere. I have noticed this on other pages too

[edit]
I'm sorry to not mention that this is the

[2017-06-24 21:30] Sdaswani commented on #80
Wrong project: https://github.com/mozilla-mobile/focus-android/issues/816

[2017-06-24 21:30] #80 closed

[2017-07-03 16:40] WolfangAukang opened #81 "[REQUEST] Firefox Focus for iPod Touch 5th Gen"
I do not know if there is a restriction for it, but I saw on the Apple Store that Firefox Focus requires iOS 9.0. It is available for the iPod Touch 6th gen, so I want to know if it's possible to also port it to the iPod 5th gen which also has iOS 9.0+.

Thank you.

[2017-07-04 00:37] ArtSabintsev commented on #32
I'm also interested in this as I have now built and maintain an action sheet launcher for third-party browsers: https://github.com/ArtSabintsev/Freedom

I'd love to be able to support Focus.

[2017-07-04 01:07] farhanpatel commented on #32
Should be pretty simple to add. You can find the relevant firefox code [here](https://github.com/mozilla-mobile/firefox-ios/blob/e370f44b400bb8669c3ab0e966695e1a8e0ed179/Client/Application/AppDelegate.swift)

Firefox supports deep links into different parts of the app. This would be overkill for Focus though so you can strip it out.

The one thing you have to watch out for is
urls like firefox://?

[2017-07-04 01:22] ArtSabintsev commented on #32
Do you want us, the community, to add it, @farhanpatel?

[2017-07-04 02:33] Sdaswani commented on #81
If the iPod 5th gen supports iOS 9.0+ then Focus should work on it?

[2017-07-05 21:18] WolfangAukang commented on #81
Yes. I mean, is there any restriction to make it not available to the iPod Touch 5g? Because it meets the requirements indicated in the Apple Store.

[2017-07-06 11:35] Sdaswani commented on #81
So while iPod touch 5g supports iOS 9, its houses a 32-bit chip, and we only compile for 64-bit chipsets. Supporting a 32-bit chipset would be a lot of work for us. Sorry!

[2017-07-06 11:35] #81 closed

[2017-07-06 14:32] WolfangAukang commented on #81
No problem at all, totally understandable. Thanks!

[2017-07-11 03:23] timonus commented on #32
Started the diff here https://db.tt/mWjX4CQ9d8, but couldn't get it working. I don't know how to make the bar and intro overlay dismiss correctly to just show the browser.

[2017-07-11 03:28] Sdaswani commented on #32
@bkmunar can you pick this up?

[2017-07-14 19:18] npark-mozilla opened #89 "nytimes.com/video social sharing icons are not displayed."
See https://github.com/mozilla-mobile/focus-android/issues/927

[2017-07-14 21:56] antlam opened #90 "Allow swipe-left/right gestures for navigating backwards and forwards"
Something we talked about before launch... just like Safari!

[2017-07-14 22:00] antlam opened #91 "Match Focus Android 'Loading bar' UI"
Firefox Focus on Android is actually using a Photon-gradient loading bar that we plan on using across Mobile. I think this is strictly a UI matter but it would be more consistent if we could unify the two Focus apps here.

Focus on iOS is currently using an old loading bar UI.

[2017-07-14 22:02] antlam opened #92 "Use Photon icons"
Icons to be replaced:
- [x] <-
- [x] ->
- [x] Refresh
- [x] Stop
- [x] Share
- [x] Clear
- [x] Settings
- [x] Magnifying glass
- [x] Big lock (expanded URL)
- [x] Small lock (collapsed URL)

(note: TP icons to be handled in another issue as we implement the feature)

[2017-07-14 22:03] antlam opened #93 "Use Photon color palette"
Another Photon consistency thing.

Specifically here, it involves updating the color elements such as the gradient in the toolbar, text, and maybe some icons here and there.

**Update:**
- [x] Main gradient (#D70022 #B5007F #440071) at 70% opacity overlaying dark background (#363B40)
- [x] Inactive/before page is loaded gradient (#D70022 #B5007F #440071) at 10% opacity overlaying dark background (

[2017-07-14 22:08] antlam opened #94 "[meta] Update First Run content and UI"
Tasks:

- [ ] #589 Breakdown

Currently in iOS:

![screen shot 2017-07-14 at 3 06 55 pm](https://user-images.githubusercontent.com/1994820/28232589-55dc3d48-68a6-11e7-84c9-2b08c0e0dba5.png)

(grey box is the wave-animation)

Currently in Android:

![screen shot 2017-07-14 at 3 05 45 pm](https://user-images.githubusercontent.com/1994820/28232542-2b54b884-68a6-11e7-8e94-9c583ed24c0e.png)

[2017-07-14 22:29] antlam opened #95 "Remove 'Settings' icon from above keyboard"
Barring incredible usage numbers for this Settings button. I think we should be able to remove it....

Removing a redundant UI for accessing Settings is nice but also leveraging this opportunity to further unify the experience across platforms.

[2017-07-14 22:34] Sdaswani commented on #94
Lets figure out how to A/B test this experience to make sure it doesn't impact metrics. Or perhaps if Android retention is as good as it is on iOS (or better) we can safely make this change.

[2017-07-14 22:40] antlam opened #96 "Tracker switch to turn on/off"
- [ ] Add telemetry

![screen shot 2017-07-14 at 3 39 01 pm](https://user-images.githubusercontent.com/1994820/28233288-9c1e248e-68aa-11e7-8bc1-4bfb6fdeb528.png)

We currently do this in the Android side. This hinges on UX issues around an iOS menu since we don't have one.

[2017-07-14 22:43] antlam opened #97 "Show collapsed toolbar with shortened URL after page is scrolled"
![screen shot 2017-07-14 at 3 42 54 pm](https://user-images.githubusercontent.com/1994820/28233365-1ffdaed2-68ab-11e7-9136-0f0a734aa669.png)

Something we tried to get in the initial release but didn't

[2017-07-14 22:49] antlam opened #98 "Start session with keyboard up (active) already"
One of the pieces of feedback we're looking to address next for Focus on Android. We should do the same thing here for iOS. (https://github.com/mozilla-mobile/focus-android/issues/832)

Attaching Android mock for context, will update with iOS version later.

![screen shot 2017-07-14 at 3 46 49 pm](https://user-images.githubusercontent.com/1994820/28233482-05818b18-68ac-11e7-8697-3f8660a190ec.png)

[2017-07-14 22:53] antlam commented on #94
Note to self: need content help from Sean and @mheubusch here.

We will likely need to address things like Safari integration, etc that we didn't need to worry about for Android.

[2017-07-14 22:56] antlam opened #99 "Clarify 'Open with/ Share' button on main menu"
One of the recommendations coming out of our research is to clarify the 'box-with-an-arrow' button. This sits on the bottom right of the screen ATM and was intended to allow users to easily jump out into the full fledged browser of their choice.

[2017-07-15 11:51] lfxc opened #100 "images on website do not appear"
try www.foxnews.com  works in firefox

[2017-07-17 15:17] bbinto opened #101 "[focus-android] Enabling DOM storage API"
[focus-android]
Enabling DOM storage API
By ekager
Assigned to
Labeled:
July 17, 2017 at 01:51PM
via GitHub http://ift.tt/2u1DKuf

[2017-07-17 15:18] #101 closed

[2017-07-17 15:25] bbinto opened #102 "cardEngineering work for preloading Fennec."
Unclear, but questions have been asked by Fetch how to prepare a preload distribution and how that works with Adjust and attribution. Assuming this does not magically work and will require some engineering work.

(mhan originated this but he is not on this board yet)

[2017-07-17 15:26] bbinto opened #103 "Engineering work for preloading Fennec."
Unclear, but questions have been asked by Fetch how to prepare a preload distribution and how that works with Adjust and attribution. Assuming this does not magically work and will require some engineering work.

(mhan originated this but he is not on this board yet)

[2017-07-17 15:28] bbinto opened #104 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 15:29] bbinto opened #105 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 15:29] bbinto opened #106 "If user does not have Firefox installed, don't trick them with menu item/label"
maybe we can think about other ways to promote Firefox, if not installed, eg. rather say "Get/Download Firefox" in share menu or somewhere else

Basically, we want users who don't have Firefox installed, suggest to install Firefox as they might also like to use Firefox

[2017-07-17 15:29] bbinto opened #107 "Provide information why Focus is better than using private browsing mode in another browser app"

[2017-07-17 15:29] bbinto opened #108 "If Focus is running in background, give users option to erase session"

[2017-07-17 15:29] bbinto opened #109 "Show notification while browsing session is active"
Communicate to user when Focus and their session is running in the background

[2017-07-17 15:29] bbinto opened #110 "Clarify more clearly why/how Focus is both a browser and a content blocker"

[2017-07-17 15:29] bbinto opened #111 "Provide feedback about what / how much has been blocked"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318338

[2017-07-17 15:29] bbinto opened #112 "Include Focus (and Firefox) in iOS share options"
https://bugzilla.mozilla.org/show_bug.cgi?id=1319785

[2017-07-17 15:29] bbinto opened #113 "Add "Paste & Go" context menu to URL entry"

[2017-07-17 15:29] bbinto opened #114 "Add version number to product"
see what we've done for Android, under "About"

[2017-07-17 15:29] bbinto opened #115 "Give users option to set how to handle session data while in background"
Need to talk to Engineering to figure out edge cases, and feasibility, e.g. interrupted by a phone call, maybe offer options, e.g. to Auto erase when in background (setting), or via timer

[2017-07-17 15:29] bbinto opened #116 "Make settings page more comprehensive"
Settings: Find better ways to communicate what each option is for and why someone would want to use them

US: I don't know what all these tracker settings mean under settings

[2017-07-17 15:29] bbinto opened #117 "Ability to add partner search engines and or remove existing search engines"
I have difficulties finding a way to change my default search engine

[2017-07-17 15:29] bbinto opened #118 "Allow users to quickly jump into a new search"
US: I want to jump into a new search as easy and as quickly as possible

From @bruck's feedback in channel. Something to discuss.

Allow users to quickly jump into a new search

Some ideas
- Include in app shortcut
- Include in notification
- Search widget
- Open with keyboard open

[2017-07-17 15:29] bbinto opened #119 "Turn Tracking Blocker ON/OFF per site"

[2017-07-17 15:29] bbinto opened #120 "Show the number of ads/trackers blocked"

[2017-07-17 15:29] bbinto opened #121 "Indicate "Blocking" has been turned off"
https://github.com/mozilla-mobile/focus-android/issues/682#issuecomment-309580117

[2017-07-17 15:29] bbinto opened #122 "I want to view PDF files and download files without having to switch to another browser"

[2017-07-17 15:29] bbinto opened #123 "Save images inside web pages"

[2017-07-17 15:29] bbinto opened #124 "Save to Homescreen"
Source: http://www.downloadsource.net/why-you-should-consider-using-mozilla-firefox-focus-on-your-android-devices/n/9987/

Maybe introducing "save to home screen" option in menu?

US: I grow tired of entering the URL of a frequently visited website or searching for it each time I use Focus

[2017-07-17 15:29] bbinto opened #125 "Clearly communicate "share" icon experience"

[2017-07-17 15:29] bbinto opened #126 "Warn users about leaving the app (handle external links)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1316421

[2017-07-17 15:29] bbinto opened #127 "Quick Action to Reset"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318349

[2017-07-17 15:29] bbinto opened #128 "Create "open with Focus" SDK"
In order support Open links with Focus for other apps to use, we could/should provide them with an SDK, similar to this: https://github.com/mozilla-mobile/firefox-ios-open-in-client

[2017-07-17 15:29] bbinto opened #129 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 15:29] bbinto opened #130 "If Focus is running in background, give users option to erase session"

[2017-07-17 15:29] bbinto opened #131 "Provide information why Focus is better than using private browsing mode in another browser app"

[2017-07-17 15:29] bbinto opened #132 "If user does not have Firefox installed, don't trick them with menu item/label"
maybe we can think about other ways to promote Firefox, if not installed, eg. rather say "Get/Download Firefox" in share menu or somewhere else

Basically, we want users who don't have Firefox installed, suggest to install Firefox as they might also like to use Firefox

[2017-07-17 15:29] bbinto opened #133 "Provide feedback about what / how much has been blocked"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318338

[2017-07-17 15:29] bbinto opened #134 "Give users option to set how to handle session data while in background"
Need to talk to Engineering to figure out edge cases, and feasibility, e.g. interrupted by a phone call, maybe offer options, e.g. to Auto erase when in background (setting), or via timer

[2017-07-17 15:29] bbinto opened #135 "Show notification while browsing session is active"
Communicate to user when Focus and their session is running in the background

[2017-07-17 15:29] bbinto opened #136 "Clarify more clearly why/how Focus is both a browser and a content blocker"

[2017-07-17 15:29] bbinto opened #137 "Add "Paste & Go" context menu to URL entry"

[2017-07-17 15:29] bbinto opened #138 "Add version number to product"
see what we've done for Android, under "About"

[2017-07-17 15:30] bbinto opened #139 "Include Focus (and Firefox) in iOS share options"
https://bugzilla.mozilla.org/show_bug.cgi?id=1319785

[2017-07-17 15:30] #114 closed

[2017-07-17 15:30] #115 closed

[2017-07-17 15:30] #116 closed

[2017-07-17 15:30] #117 closed

[2017-07-17 15:30] #129 closed

[2017-07-17 15:30] #130 closed

[2017-07-17 15:30] #131 closed

[2017-07-17 15:30] #132 closed

[2017-07-17 15:30] #133 closed

[2017-07-17 15:30] #134 closed

[2017-07-17 15:30] #135 closed

[2017-07-17 15:30] #136 closed

[2017-07-17 15:30] #137 closed

[2017-07-17 15:30] #102 closed

[2017-07-17 15:30] #103 closed

[2017-07-17 15:30] #104 closed

[2017-07-17 15:30] #105 closed

[2017-07-17 15:30] #106 closed

[2017-07-17 15:30] #107 closed

[2017-07-17 15:30] #108 closed

[2017-07-17 15:30] #109 closed

[2017-07-17 15:30] #110 closed

[2017-07-17 15:30] #111 closed

[2017-07-17 15:30] #112 closed

[2017-07-17 15:30] #113 closed

[2017-07-17 15:32] bbinto opened #140 "Provide information why Focus is better than using private browsing mode in another browser app"

[2017-07-17 15:32] bbinto opened #141 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 15:33] bbinto opened #142 "If user does not have Firefox installed, don't trick them with menu item/label"
maybe we can think about other ways to promote Firefox, if not installed, eg. rather say "Get/Download Firefox" in share menu or somewhere else

Basically, we want users who don't have Firefox installed, suggest to install Firefox as they might also like to use Firefox

[2017-07-17 15:33] bbinto opened #143 "Indicate if Focus has saved a browsing state while the application is inactive"

[2017-07-17 15:33] bbinto opened #144 "Provide feedback about what / how much has been blocked"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318338

[2017-07-17 15:33] bbinto opened #145 "Show notification while browsing session is active"
Communicate to user when Focus and their session is running in the background

[2017-07-17 15:33] bbinto opened #146 "Settings polish"
Settings: Find better ways to communicate what each option is for and why someone would want to use them

US: I don't know what all these tracker settings mean under settings

[2017-07-17 15:33] bbinto opened #147 "[ux] Ability to add search engines and or remove existing search engines"
## User Story
- I want to add a search engine default that is not in the pre-defined list of search engines, e.g. Bing

## User Value
- Pick their preferred search engine, give user control

## Business Value
- Give users choice over their preferred search engine

## Success Criteria
- We know this feature is successful by looking at usage of this feature
- Retention by users using this feature

[2017-07-17 15:33] bbinto opened #148 "Start session with keyboard up (active) already"
US: I want to jump into a new search as easy and as quickly as possible

From @bruck's feedback in channel. Something to discuss.

Allow users to quickly jump into a new search

Some ideas
- Include in app shortcut
- Include in notification
- Search widget
- Open with keyboard open

[2017-07-17 15:33] bbinto opened #149 "Turn Tracking Blocker ON/OFF per site"

[2017-07-17 15:33] bbinto opened #150 "Show the number of ads/trackers blocked"

[2017-07-17 15:34] bbinto opened #151 "Left/right gestures to quickly navigate through different pages/history"

[2017-07-17 15:34] bbinto opened #152 "[Meta] Find in page"
Especially useful if you set Focus as your default on Android.

I haven't confirmed this doesn't exist on iOS.

[2017-07-17 15:34] bbinto opened #153 "Search widget"

[2017-07-17 15:34] bbinto opened #154 "Support for Nightmode"

[2017-07-17 15:34] bbinto opened #155 "Https everywhere"

[2017-07-17 15:34] bbinto opened #156 "I want to consume content without being distracted by e.g. images (Reader View)"

[2017-07-17 15:34] bbinto opened #157 "Use Photon style iconography + colors"

[2017-07-17 15:35] bbinto opened #158 "Consider allowing first party cookies"

[2017-07-17 15:35] bbinto opened #159 "[Meta] Selection of different blocklists"

[2017-07-17 15:35] bbinto opened #160 "Locking browsing session/downloads with fingerprint/PIN"

[2017-07-17 15:36] bbinto opened #161 "Fingerprinting protections"

[2017-07-17 15:36] bbinto opened #162 "Safe browsing, e.g. notice re: you are entering a phishing site now etc."

[2017-07-17 15:38] bbinto opened #163 "Evaluate if we should remove autocomplete list from address bar"
- Maybe consider informing users that autocompleting common URLs (youtube.com, cnn.com) is coming from a local list?
- Follow telemetry and usage of this feature

[2017-07-17 15:38] bbinto opened #164 "I want to easily get back to my current browsing session after I was interrupted by e.g. a phone call or message"
Consider adding "get back to currently opened website" to system notification bar (in addition to erasing the browsing history)

[2017-07-17 15:38] bbinto opened #165 "Proxies support"

[2017-07-17 15:38] bbinto opened #166 "I want to have several tabs open in Focus"

[2017-07-17 15:38] bbinto opened #167 "Add Whitelist"
- https://appbot.co/apps/926238-firefox-focus-the-privacy-browser/reviews/475076741
- http://appbot.co/apps/926238-firefox-focus-the-privacy-browser/reviews/488627651

[2017-07-17 16:36] antlam commented on #150
@bbinto to clarify, is this the same as issue 96?

[2017-07-17 17:08] bbinto opened #168 "NamExample Trello Card"
This is an example card description - something that you write inside Trello!

[2017-07-17 17:08] bbinto opened #169 "Example Trello Card"
This is an example card description - something that you write inside Trello!

[2017-07-17 17:12] bbinto opened #170 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 17:14] #168 closed

[2017-07-17 17:14] #170 closed

[2017-07-17 17:14] #169 closed

[2017-07-17 17:18] bbinto opened #171 "Replace UIWebView with WKWebview in iOS11"
First task is for someone to watch this and analyze what's possible:

Customized Loading in WKWebView from #WWDC17
https://developer.apple.com/wwdc17/220

[2017-07-17 17:18] bbinto opened #172 "Include "Open in Focus" option in other apps, e.g Outlook etc."
https://bugzilla.mozilla.org/show_bug.cgi?id=1319696

[2017-07-17 17:20] bbinto opened #173 "If user does not have Firefox installed, don't trick them with menu item/label"
maybe we can think about other ways to promote Firefox, if not installed, eg. rather say "Get/Download Firefox" in share menu or somewhere else

Basically, we want users who don't have Firefox installed, suggest to install Firefox as they might also like to use Firefox

[2017-07-17 17:20] bbinto opened #174 "TouchID Support"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318346

[2017-07-17 17:20] bbinto opened #175 "Give users option to set how to handle session data while in background"
Need to talk to Engineering to figure out edge cases, and feasibility, e.g. interrupted by a phone call, maybe offer options, e.g. to Auto erase when in background (setting), or via timer

[2017-07-17 17:20] bbinto opened #176 "Show notification while browsing session is active"
Communicate to user when Focus and their session is running in the background

[2017-07-17 17:20] bbinto opened #177 "Provide feedback about what / how much has been blocked"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318338

[2017-07-17 17:20] bbinto opened #178 "Clarify more clearly why/how Focus is both a browser and a content blocker"

[2017-07-17 17:20] bbinto opened #179 "Add "Paste & Go" context menu to URL entry"

[2017-07-17 17:21] Sdaswani commented on #176
What do you mean by 'running in the background'? Since Focus on iOS does not support any [iOS background modes](https://developer.apple.com/library/content/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html) , it's never running in the background.

[2017-07-17 17:23] Sdaswani commented on #175
Since Focus on iOS does not support any [background modes](https://developer.apple.com/library/content/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html), if the App is resigned/backgrounded, all we could _try_ to do is auto-erase, but we couldn't guarantee anything since iOS may not allow the erase command to complete.

[2017-07-17 17:24] #150 closed

[2017-07-17 17:27] bbinto opened #180 "Include Focus in iOS Action Menu"
https://bugzilla.mozilla.org/show_bug.cgi?id=1319785

[2017-07-17 17:27] bbinto opened #181 "Add version number to About page"
see what we've done for Android, under "About"

[2017-07-17 17:59] #173 closed

[2017-07-17 19:16] #139 closed

[2017-07-17 19:16] #181 closed

[2017-07-17 19:20] #118 closed

[2017-07-17 19:21] #166 closed

[2017-07-17 19:32] antlam commented on #151
same as issue https://github.com/mozilla-mobile/focus-ios/issues/90 ?

[2017-07-17 19:55] antlam commented on #143
Do we reliably know if the browsing session has been erased by iOS? If not, and the user hasn't used the "swipe up" interaction to kill the app, maybe this could exist as a 3D touch action?

[2017-07-17 19:57] Sdaswani commented on #143
As I mentioned in another issue, once the user backgrounds our App, Focus will have no processing time **at all**. So there is no such thing as 'Focus running in the background', unless we enable one ore more of the [iOS background modes](https://developer.apple.com/library/content/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html).

[2017-07-17 20:05] antlam commented on #157
I had this separated into two issues (https://github.com/mozilla-mobile/focus-ios/issues/93 and https://github.com/mozilla-mobile/focus-ios/issues/92), feel free to close those if we want to track this one instead.

[2017-07-17 20:41] antlam commented on #179
IIUC, this is no longer a item for the context menu in the URL entry. But rather, a list item under the URL bar with a clipboard icon and the contents displayed in line?

So maybe we should rename this to "Show clipboard contents as suggestions when typing"? or something?

[2017-07-17 20:48] antlam commented on #94
I see a lot of individual cards/ issues in this repo that sound like they're describing problems which could be (potentially) solved through a more robust Onboarding/ First Run experience.

On Android for example, our First Run slides explain a bit of the value proposition, "why it's better", and even how to find a specific feature. I think we should follow the same UI/UX here, but look to adjust

[2017-07-17 21:50] antlam commented on #176
I interpret this to be related to what we heard from our June studies on Firefox Focus for iOS. But please correct me if I'm wrong!

I think a good user story here might be...

As a user, I want to know what to expect if I switch back to Focus (after briefly leaving the app) so that I can avoid unwanted surprises.

[2017-07-17 21:52] antlam commented on #177
Is this different to issue https://github.com/mozilla-mobile/focus-ios/issues/96 ?

[2017-07-17 21:53] antlam commented on #120
this seems identical to issue https://github.com/mozilla-mobile/focus-ios/issues/96 ... so im going to close it :)

[2017-07-17 21:53] #120 closed

[2017-07-17 22:09] antlam commented on #149
I'm going to merge this with issue https://github.com/mozilla-mobile/focus-ios/issues/96

[2017-07-17 22:09] #149 closed

[2017-07-17 22:22] jessicajiang opened #182 "Add padding to Paste & Go feature"

[2017-07-17 22:26] antlam commented on #124
User story idea! let me know what you think:

[2017-07-17 22:34] antlam commented on #182
![img_0918](https://user-images.githubusercontent.com/1994820/28292736-469b33d2-6b05-11e7-8fc9-9ebe01ee0620.PNG)

Easy polish item :) the vertical alignment of "Search" is off

[2017-07-17 22:41] #151 closed

[2017-07-17 23:28] jessicajiang commented on #182
Turns out the clipboard icon was simply larger than the search icon, making them the same size fixed the issue 👍

[2017-07-18 04:14] Sdaswani opened #184 "Import New Locales"
Tracked in [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1376945) too.

[2017-07-18 10:22] bbinto commented on #176
I'm closing this, as this is a more appropriate issue/user story (US): #164

[2017-07-18 10:22] #176 closed

[2017-07-18 10:24] #157 closed

[2017-07-18 10:43] #177 closed

[2017-07-18 13:38] #174 closed

[2017-07-18 17:29] #140 closed

[2017-07-18 17:33] bbinto commented on #142
See retention curve: https://trello-attachments.s3.amazonaws.com/5968cfdf10948e2104f6e68b/5968cfe010948e2104f6e6db/1057x621/b63a0b406fb191725da1b802dec02027/Picture1.png

[2017-07-18 17:35] antlam commented on #142
Note from meeting:

- detect if Firefox is installed
- IF NOT, communicate it's to "go download Firefox"
- IF IT IS, communicate that it's to "open this URL in Firefox"

Will obviously need strings help at least

[2017-07-18 17:39] antlam commented on #141
Note from meeting:

Let's take a step back and clarify the user problem here. It's a nice to have, but also something that can be as big or as small as we want. Not to mention, something Android can do as well. A user story will help us decide defaults, placement, use cases, etc.

[2017-07-18 17:41] antlam commented on #127
Need Strings and Icon

[2017-07-18 18:02] antlam commented on #123
We can use the iOS system context menu for the UI here but we'll need strings too.

[2017-07-18 18:05] antlam commented on #127
@Sdaswani pointed out we may need to relaunch the app before we can reliably "Erase".

[2017-07-18 18:22] antlam opened #185 "Match text-styles in 'About' and 'Your Rights'"
Correct styling:
![img_0926](https://user-images.githubusercontent.com/1994820/28332964-5639cac8-6bab-11e7-9b14-9f8c0b22ef1d.PNG)

Inconsistent styling:
![img_0925](https://user-images.githubusercontent.com/1994820/28332967-591118d2-6bab-11e7-8f2c-2234445182ab.PNG)

[2017-07-18 18:44] mcomella commented on #143
To address the terminology of the bug title:

I think this refers to Focus having saved browsing state when the app is inactive, not that it's using CPU in the background (where I think @Sdaswani was referring to the latter).

---

To address, "If Focus has saved state while the app is inactive, give users option to erase session", I think we may have options. After briefly looking into this, I th

[2017-07-18 18:46] antlam commented on #94
![screen shot 2017-07-18 at 11 42 37 am](https://user-images.githubusercontent.com/1994820/28334058-c0669fd6-6bae-11e7-8e82-a3b38ab5d3ff.png)

NEEDS NEW CONTENT STILL! WIP!

[2017-07-18 19:01] antlam commented on #180
![img_0927](https://user-images.githubusercontent.com/1994820/28334668-b10859c4-6bb0-11e7-954c-3e82ce51cc79.PNG)

Screenshot for reference.

- We'll need copy: "Open in Focus", "Firefox Focus", "Add to Firefox Focus"?
- We will also need an icon that hopefully won't add another Fox outline to this sheet...

[2017-07-18 19:02] antlam commented on #138
Same spot sounds perfect. Removing ux label.

[2017-07-18 19:03] antlam commented on #142
![img_0928](https://user-images.githubusercontent.com/1994820/28334821-29b6ff6a-6bb1-11e7-83e6-13e80e2898a9.PNG)

Screenshot for reference.

[2017-07-18 20:04] antlam commented on #146
For consistency, here's the Android issue too! https://github.com/mozilla-mobile/focus-android/issues/834

[2017-07-18 20:23] Sdaswani opened #186 "Add Telemetry for 'Paste & Go' Menu"
Assigning to @bbinto to see exactly what she wants measured.

[2017-07-18 20:24] Sdaswani opened #187 "Add Telemetry for Share Menu"
Related to https://github.com/mozilla-mobile/focus-ios/issues/180 .

Assigning to @bbinto to specify what she wants measured.

[2017-07-18 20:26] Sdaswani commented on #94
This is still WIP but @jessicajiang will pick it up when the mocks are ready.

[2017-07-18 20:38] Sdaswani commented on #143
- Correct, we can't display notifications while the app is foregrounded.
- I don't think requesting additional foreground->background time will help, as the docs say: 'Apps that start a short task in the foreground can ask for time to finish that task when the app moves to the background.' So we would have to start some (fake?) task in the foreground periodically that asks for background time, and

[2017-07-18 20:45] antlam commented on #126
![iphone 7 - leaving external](https://user-images.githubusercontent.com/1994820/28338940-4fc41fc2-6bbf-11e7-9324-335512f9e31a.png)

Placeholder screenshot to show what we're talking about. Will need proper strings from @mheubusch next

[2017-07-18 20:47] antlam commented on #148
Maybe we could focus (haha) this issue here to be about opening with the keyboard up? It sounds like the other 3 points are somewhat covered in various other issues. And we have this Android equivalent issue here https://github.com/mozilla-mobile/focus-ios/issues/98

Thoughts?

[2017-07-18 21:09] antlam commented on #97
![screen shot 2017-07-18 at 2 07 48 pm](https://user-images.githubusercontent.com/1994820/28339877-82cb8e3e-6bc2-11e7-830f-d9bc9374a68a.png)

Not only will this help us feel more "iOS-y" but it's also a great way to show number of Trackers (issue https://github.com/mozilla-mobile/focus-ios/issues/96) and to show Tracking has been switched off (issue https://github.com/mozilla-mobile/focus-ios/issu

[2017-07-18 21:31] antlam commented on #94
Awesome! We can get started with placeholder content in the mean time.

[2017-07-18 22:07] Sdaswani commented on #127
Yes I think so, but I think I need to research more what is possible from the 3D touch menu. I'm assigning this to myself so I can do that research.

[2017-07-18 22:09] Sdaswani commented on #143
I'm assigning this to myself so I can present what's possible and give more info about background modes.

[2017-07-18 23:33] Sdaswani opened #188 "Add Sputnik to Build Process"
From @pocmo : "Sputnik runs code quality tools like checkstyle, PMD and findbugs on new code and comments on GitHub in pull requests. It's basically an automated reviewer."

[2017-07-19 10:32] bbinto commented on #143
Or even a badge on the app icon when this scenario is in effect.

Does Chrome do anything when in incognito mode on iOS, like they do on Android?

[2017-07-19 10:33] bbinto commented on #148
Yeah, fine by me.

[2017-07-19 16:35] antlam commented on #143
I like this idea a lot. A blatant red circle on the app icon to show there's a web page loaded.

I think that would help solve the first part of the problem here, (as a user) knowing that there even is a "saved browsing state" that could possibly embarrass me.

After that, things like TouchID (issue https://github.com/mozilla-mobile/focus-ios/issues/141) could be leveraged to give added privacy to

[2017-07-19 17:33] mcomella commented on #143
I was thinking that when we receive the background callback, we set a `UILocalNotification.fireDate` (or the non-deprecated equivalent) that is set several seconds in the future (10 seconds? if background execution is like ~5 seconds?) so the notification will fire after the app closes.

[2017-07-19 20:32] farhanpatel commented on #143
on iOS 10.3 you can now change the App icon programmatically
http://www.idownloadblog.com/2017/01/26/ios-10-3-will-let-apps-change-their-home-screen-icon-at-any-time-no-update-required/

That could be another way you can let the user know there is an active session.

[2017-07-19 20:55] Sdaswani commented on #143
@mcomella I think processing in the background callback is not guaranteed, so we may run into the inconsistency issues I mentioned before. But it's worth a try.

@bbinto @antlam @farhanpatel Both the badge icon and/or changing the icon is better than background methods IMHO. For reliable backgrounding, we are going to need another user permission, which is a big product decision. Both the badge ic

[2017-07-19 21:48] antlam commented on #146
![screen shot 2017-07-19 at 2 46 59 pm](https://user-images.githubusercontent.com/1994820/28391037-352e1456-6c91-11e7-867f-f8c607a1610f.png)

Settings UI updated with room for descriptions, and including the Photon color palette too!

[2017-07-19 22:08] bkmunar commented on #185
What does this mean exactly? Do I need to incorporate bullets? Change font style and size? Make it look as similar as possible to the first image? What's the priority here

[2017-07-19 22:36] antlam commented on #185
Spoke on Slack to clarify. Leaving note.

[2017-07-20 16:34] mheubusch commented on #180
Please use: Open in Focus
This follows an existing pattern - Open in News, for example.

[2017-07-20 18:00] Sdaswani commented on #180
@bkmunar you will have to add 'Open in Focus' to the en-US localization here: https://github.com/mozilla-l10n/focusios-l10n

[2017-07-20 19:22] mheubusch commented on #142
The recommended string is:  Get the Firefox App
Please note the capitalization is per the style guide.
A note for localization:  This string will not wrap in the interface. Instead, it will truncate. To prevent this, please keep the localized string to 18 or fewer characters.  If your string runs longer than 18 characters, you can use "Get Firefox" as the basis for your string. However, if at all

[2017-07-20 19:45] bbinto commented on #187
A good start is adding a event probe when "Open in Focus" is hit from the Share option menu

[2017-07-20 20:00] Sdaswani commented on #142
@bkmunar can you see how 'Get the Firefox App' fits on iPhone6 and iPhone5 screen sizes in English and German? @bbinto can you do a quick translation so @bkmunar can see how it fits for German?

[2017-07-20 20:16] Sdaswani commented on #187
@bkmunar , @justindarc can help you out on adding a probe but look at the commits, there are some examples there.

[2017-07-20 20:20] Delphine commented on #142
Thanks for trying to check! Unfortunately, the translation isn't going to be the same depending on the person who translates this, so this won't really be reliable (given @bbinto isn't - unfortunately - our German localizer!).  I can try digging up a similar string that was used from our German localizer (can't promise 100% I'll find it but I'll try).
A few hours ago, I talked with the French loca

[2017-07-20 20:34] antlam commented on #179
Note: this includes the tooltip where it will say "Paste" usually, as well as the UI (another row item) under the URL bar.

[2017-07-20 20:39] Sdaswani commented on #179
@antlam @bbinto i'm confirming with @jessicajiang but from the PR there are not new strings for paste & go: https://github.com/mozilla-mobile/focus-ios/commit/e116f813af77d270a676c5e9487db9159391a9e4

[2017-07-20 20:46] Delphine commented on #142
Just talked with our German localizer:
Formal: "Holen Sie sich die Firefox-App"
Casual: "Hole Dir die Firefox-App"

[2017-07-20 20:48] Sdaswani commented on #142
Thanks @Delphine - those will most likely overflow. @bbinto any comments here? should we use 'Get Firefox' instead?

[2017-07-20 20:59] antlam commented on #179
UI from Bram in https://bugzilla.mozilla.org/show_bug.cgi?id=1310265

<img width="1316" alt="screen shot 2017-07-20 at 1 34 52 pm" src="https://user-images.githubusercontent.com/1994820/28438606-97505f64-6d53-11e7-80c3-db4e93a886b4.png">

@mheubusch is "Paste & Go" acceptable?

[2017-07-20 21:03] antlam commented on #179
@Sdaswani what are we saying in the Multi-action tooltip menu? (where it usually just says "Copy, Select All, Paste, etc"

[2017-07-20 21:30] mheubusch commented on #142
@Sdaswani @Delphine @bbinto - My hope is that we can use Get the Firefox App in English but advise localizers that if this runs too long in their language they can translate as if it is "Get Firefox"  - if we add that instruction to the localizers I'm not sure why we have to have the English change.  Can they not see notes or can't we send them an email to let them know this is our approach?

[2017-07-20 22:18] Sdaswani opened #190 "Extract 'Paste & Go' String from Focus & Add to En Localization"

[2017-07-20 23:38] Sdaswani commented on #142
@mheubusch looks like @Delphine can add the instruction to the localizers to use the shorter string for longer languages. @bkmunar will start work on this.

[2017-07-21 00:12] Delphine commented on #142
Hey - actually I can't add that note myself. It would need to appear in the localization notes that go with each string you expose :) thanks!

[2017-07-21 03:02] mheubusch commented on #142
Just noting that I provided a note for localization that @bkmunar can use verbatim:
This string will not wrap in the interface. Instead, it will truncate. To prevent this, please keep the localized string to 18 or fewer characters. If your string runs longer than 18 characters, you can use "Get Firefox" as the basis for your string. However, if at all possible, we'd like to signal to the user that

[2017-07-21 11:17] bbinto commented on #186
Probe basically how often "paste & go" is actually used -- nothing more.

[2017-07-21 13:30] Sdaswani commented on #186
OK thanks - @bkmunar this means you should add telemetry (maybe a count?) that is included with our pings. Once again @justindarc will be helpful in figuring out how to do this best.

[2017-07-21 13:33] bbinto commented on #164
see #143

[2017-07-21 13:33] #164 closed

[2017-07-21 13:33] bbinto commented on #175
see #143

[2017-07-21 13:33] #175 closed

[2017-07-21 13:38] bbinto commented on #148
see #98

[2017-07-21 13:38] #148 closed

[2017-07-21 14:01] justindarc commented on #186
No need to track counts separately. Just record the event when it happens.

[2017-07-21 14:02] justindarc commented on #187
Again, we just need to add a `recordEvent()` for this like we just did for swipe navigation. If you look at the recent commits you'll see what I mean.

[2017-07-21 14:03] justindarc commented on #186
Another good example: https://github.com/mozilla-mobile/focus-ios/commit/9011f05c839727180e484eba9653e814dc3c024b

[2017-07-21 14:03] justindarc commented on #187
Another good example: https://github.com/mozilla-mobile/focus-ios/commit/9011f05c839727180e484eba9653e814dc3c024b

[2017-07-21 15:00] npark-mozilla commented on #179
Just to double check, so would the paste & go suggestion disappear once the user starts typing? I think @Sdaswani mentioned this in a meeting, but I could be mistaken.

[2017-07-21 16:23] Sdaswani commented on #179
I don't think it's supposed to disappear, right @jessicajiang and @antlam ?

[2017-07-21 16:38] npark-mozilla commented on #179
Yup I double checked with antlam. All good.

[2017-07-21 18:26] Sdaswani opened #192 "Add 3.4 Strings to All Locales"
Here are the instructions: https://github.com/mozilla-mobile/focus-ios/wiki/Importing-Locales

https://github.com/mozilla-mobile/focus-ios/issues/180
```Open in Focus```
https://github.com/mozilla-mobile/focus-ios/issues/142
```Get the Firefox App```
https://github.com/mozilla-mobile/focus-ios/issues/179
```Paste & Go```

[2017-07-21 18:49] antlam commented on #143
Yeah, I agree. As I said, I think there are two main parts/ issues we're looking to solve here.

1. User knows there's a website they forgot about that's already loaded in Focus
2. User can perform an Erase action to avoid embarrassing moments

We can address 1. with a badge icon.

[2017-07-21 20:59] bkmunar commented on #187
Where is "Open in Focus" in the Share Menu.....

[2017-07-21 21:11] Sdaswani commented on #187
Sorry, you need to do [this](https://github.com/mozilla-mobile/focus-ios/issues/180) first, or perhaps do them together.

[2017-07-24 16:32] liuche opened #194 "Document telemetry collection transparently in-tree"
We need some in-tree documentation for our data collection for Focus for iOS.

I was glancing through my bugmail and noticed that Issue #82 landed without any data review or updates to any documentation. Looking at the probe it looks fine from a data review perspective, but I don't actually see anywhere where these telemetry probes from this file are being documented.

I'd like for Focus iOS to ad

[2017-07-24 16:48] Sdaswani commented on #194
This is a worthy item so I'm putting it into the main board for @bbinto to prioritize against all the other work we have for Focus iOS, especially given we are short staffed.

[2017-07-24 17:34] bkmunar commented on #180
Wait, why do we need to localize "Open in Focus," isn't this for external apps? Not for Focus itself...

[2017-07-24 17:36] Sdaswani commented on #180
It's true it's for other apps, but don't we need to localize it for the Share menu? If I'm in an external app and BR locale, I don't want to see 'Open in Focus' in the share sheet?

[2017-07-24 17:38] bkmunar commented on #180
But is that something we control? Idk how the mechanics work for this

[2017-07-24 17:39] Sdaswani commented on #180
Neither do I, so until we do, let's plan to localize it.

[2017-07-25 11:56] bbinto commented on #145
see #143

[2017-07-25 11:56] #145 closed

[2017-07-25 11:57] bbinto commented on #119
#96

[2017-07-25 11:57] #119 closed

[2017-07-25 11:58] bbinto commented on #144
feature parity to Android

[2017-07-25 12:04] bbinto commented on #139
#180

[2017-07-25 17:49] antlam commented on #185
From the last screenshot @bkmunar showed me on Slack, this looked like it was good to go!

[2017-07-25 17:55] Sdaswani commented on #192
Duplicated by https://github.com/mozilla-mobile/focus-ios/pull/196 so closing.

[2017-07-25 17:55] #192 closed

[2017-07-25 18:35] bkmunar commented on #180
This needs more discussion, maybe I need to do more research but right off the top of my head, I don't know how to include an "Open in Focus" option for other apps' share menus. Any ideas? @justindarc is there like some extension thing to be able to make this work?

[2017-07-25 18:37] Sdaswani commented on #180
@bkmunar this is what @garvankeeley pointed me to: https://github.com/brave/browser-ios/tree/master/BraveShareTo

@garvankeeley said: "This creates an app extension so that any other app that can share URLs will get a "Open in Brave" in the share action sheet of the other app."

[2017-07-25 18:40] justindarc commented on #180
Yes, talk to @garvankeeley when he returns from PTO.

[2017-07-25 18:44] bkmunar commented on #190
Isn't this a dupe?

[2017-07-25 19:18] Sdaswani commented on #190
No, as you actually have to start using the 'Paste & Go' localized string: https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/URLBar.swift#L268

[2017-07-25 19:59] bkmunar commented on #190
oh ok i understand the issue

[2017-07-25 20:07] Sdaswani commented on #187
@bbinto since it isn't our Share menu, this may not be possible at all. We likely can't execute any code when the user opens the Share Sheet and clicks 'Open in Focus'. @bkmunar will investigate if the app delegate tells the source, but probably not

[2017-07-25 20:10] jessicajiang opened #198 "Pressing Longpress Paste&Go Menu without anything in clipboard breaks"

[2017-07-25 22:13] Sdaswani commented on #190
Committed here: https://github.com/mozilla-mobile/focus-ios/pull/199#event-1178899605

[2017-07-25 22:14] #138 closed

[2017-07-25 22:14] #179 closed

[2017-07-25 22:14] #190 closed

[2017-07-25 22:14] #198 closed

[2017-07-25 22:20] bkmunar commented on #185
https://github.com/mozilla-mobile/focus-ios/commit/37c66a3dedb7fedb9871655072294b12ac8c675c

[2017-07-25 22:20] #185 closed

[2017-07-25 23:07] Sdaswani commented on #194
FYI @liuche I noticed we have this? https://github.com/mozilla-mobile/focus-ios/wiki/Event-Tracking-with-Mozilla's-Telemetry-Service

@justindarc wrote it - is this what you were looking for?

[2017-07-26 20:36] antlam commented on #122
@bbinto Right now, a Focus user can view a PDF from a link. IIUC this is about "downloading files in Focus" right?

[2017-07-26 20:40] antlam commented on #123
Here's the Android issue https://github.com/mozilla-mobile/focus-android/issues/502 for reference

[2017-07-26 20:40] antlam commented on #122
Here's the Android issue https://github.com/mozilla-mobile/focus-android/issues/14 for reference

[2017-07-26 22:52] Sdaswani commented on #180
@antlam any idea when we'll have the asset for this?

[2017-07-26 22:54] #186 closed

[2017-07-27 11:27] bbinto commented on #178
<img width="280" alt="screen_shot_2017-06-14_at_2 36 32_pm" src="https://user-images.githubusercontent.com/122897/28668271-0b28476e-729d-11e7-8356-c519c976116d.png">

[2017-07-27 12:27] shorlander commented on #180
I am making them. Just need to know what sizes we need.

This is what we are using in Firefox iOS: https://github.com/mozilla-mobile/firefox-ios/tree/master/Extensions/SendTo/Images.xcassets/AppIcon.appiconset

[2017-07-27 15:45] bbinto commented on #90
https://bugzilla.mozilla.org/show_bug.cgi?id=1316949

[2017-07-27 15:49] bbinto commented on #167
Allow some form of whitelisting so that people can disable content blockers selectively for sites where it does not work. Not sure how this fits in Focus though. Which is supposed to be Always On.

It may also be difficult to contain cookies on just a single site. All the WebViews share their caches. Not sure how much control we have.

[2017-07-27 16:47] liuche commented on #194
@Sdaswani that will be okay, provided there's one small change to add a link the in-tree probes. On Android, each probe is documented directly in the doc - at the very least on iOS, the doc should link to the TelemetryIntegration file, where the probes are added.

[2017-07-27 17:59] antlam commented on #125
From issue #99

[2017-07-27 17:59] antlam commented on #99
Closing as a dupe of #125

[2017-07-27 17:59] #99 closed

[2017-07-27 18:04] antlam opened #202 "Integration as a Safari Content Blocker is unclear"
Focus was originally a Content Blocker **only**. But now it's also it's own browser.

We've buried the setting under an "Integration" label in V1. So let's revisit how to clarify this value proposition to users.

[2017-07-27 18:17] liuche opened #203 "Check for iOS 11 compatibility issues"
We'll want to ship with iOS 11 at some point, so we need to figure out if there are any compatibility bugs with iOS 11.

To find any compatibility bugs, install the Xcode 9 beta, and run Focus iOS in the simulator, and file issues for bugs found!

[2017-07-27 19:18] Sdaswani opened #204 "Automate Screenshot Generation"
This is currently a [manual process](https://github.com/mozilla-mobile/focus-ios/wiki/Creating-L10N-Screenshots), and that needs to change.

[2017-07-27 19:23] Sdaswani commented on #194
OK, I added it - feel free to ask for more changes or close the issue if we are done.

[2017-07-27 19:29] Sdaswani commented on #180
@shorlander that works - here is what we use in Focus: https://github.com/mozilla-mobile/focus-ios/tree/master/Blockzilla/Assets.xcassets/AppIcon.appiconset But matching what we use on Firefox is likely fine.

[2017-07-27 20:09] antlam commented on #122
Seems like we would need some more Engineering investigation about Downloading files, the share extension, etc.

[2017-07-27 20:22] Sdaswani commented on #122
We can view PDFs on the web already - I wonder what PDF resource the user couldn't view in Focus iOS? Downloading files will require some sort of extension work and in iOS 11, probably some (new) file system work.

[2017-07-27 20:34] Sdaswani commented on #122
![img_4765](https://user-images.githubusercontent.com/4879954/28691055-5d460274-72d0-11e7-8bb1-c6687345a939.PNG)

[2017-07-28 11:08] bbinto commented on #122
@antlam reminded me of the PDF ability yesterday. Thanks for confirming. I wouldn't mind finding out if we can make downloads work in future releases, using newer OS versions! Not that urgent for now.

[2017-07-28 16:44] Sdaswani commented on #122
Cool @bbinto . I think our privacy focus may also to get us into 'private, secure storage', a la a service like [KeepSafe](https://www.getkeepsafe.com/).

[2017-07-28 16:56] lime124 commented on #123
<img width="446" alt="ios_focus_burgundy_tif_sketch" src="https://user-images.githubusercontent.com/287322/28727727-bd224a90-737a-11e7-8ee6-db6bc971bd7e.png">

Basically press and hold on an image to open up an Action Sheet. I know I put a couple additional things in there beyond just straight up saving the image, it would be cool to get it in but ok if we can't.

[2017-07-28 16:57] lime124 commented on #123
@mheubusch Please double check copy - hopefully straightforward and easy for you! Thanks!

[2017-07-28 17:30] antlam commented on #144
To start, I think we need to get issue #97 going. It will help UX since it gives us the UI we want to use to display this information

[2017-07-28 17:36] lime124 commented on #146
The other title was vague and confusing - updating to reflect what we're trying to achieve with this bug.

[2017-07-28 18:27] lime124 commented on #143
Can we try this out on a device? I'm concerned that if people turn off notifications (e.g. badges) this is not going to help them.

[2017-07-28 19:12] Sdaswani commented on #143
@lime124 is right - we will need to prompt for notification access in order to display a badge, and if the user says no, or later shuts badges/notifications off, the badge reminder won't be available. But we will be able to check for this the next time we are run and remind the user why they _should_ enable notifications.

I'm not sure if there is an alternative here - whether we use badges, push

[2017-07-28 19:46] Sdaswani opened #207 "Add SnapshotTests for the Following Features"
- Paste & Go

[2017-07-28 23:18] Sdaswani commented on #198
@jessicajiang can you do me a solid and let me know which of your commits addressed this issue?

[2017-07-28 23:23] Sdaswani commented on #198
Fixed https://github.com/mozilla-mobile/focus-ios/pull/199

[2017-07-28 23:24] #142 closed

[2017-07-31 15:05] AaronMT commented on #143
Just ran into this testing Geolocation prompts in session data

[2017-07-31 15:09] AaronMT opened #215 "Focus does not forget session data on erase (and or prompt for permission again)"
Tested with the HTML5 Geolocation API on my iPad (10.3.x)

1. http://html5demos.com/geo - see and accept permission prompt
2. Erase
3. Visit http://html5demos.com/geo - **see no permission prompt**

[2017-07-31 15:35] AaronMT opened #216 "Focus should detail its index of tracker listing"
In an effort to more transparent with users, Focus should include in-product (or linked in-product to a site) an index of its tracker listing.

I appreciate how other web privacy tools, such as Better by Ind.ie, curate and show their lists. It helps to teach one about individual trackers (they even have encyclopedia-like entries). I think being more transparent is something we should strive to be

[2017-07-31 18:00] npark-mozilla opened #217 "Paste & Go menu does not appear on fresh install"
On iphone 6 simulator with contents and settings resetted, testClipboard() UI Test fails because Paste & Go context menu is no longer appearing.

It's interesting to note that on upgrades, this issue does not appear.

![screen shot 2017-07-31 at 1 53 57 pm](https://user-images.githubusercontent.com/6930774/28790841-82b35716-75f8-11e7-86bb-99910167ed4f.png)

[2017-07-31 18:03] Sdaswani commented on #215
Thanks for filing @AaronMT ! Does this happen on 3.3.1 (current App Store version) too? If so, then it shouldn't be a blocker for 3.4, but just something we should fix generally.

[2017-07-31 18:06] #184 closed

[2017-07-31 18:18] Sdaswani commented on #180
@antlam @bbinto clarification needed - do you want 'Open in Focus' in the 'Share Menu' (2nd row in the screenshot) or the 'Action Menu' (3rd row)?

[2017-07-31 18:20] Sdaswani commented on #217
I cannot reproduce this on my iPhone 7 Plus.

[2017-07-31 18:33] npark-mozilla commented on #217
STR:
Select "Reset Contents and Settings" in the simulator menu to reset simulator

Run testClipboard() XCUITest, or do the following:

copy something into the clipboard from outside focus
tap url bar, and type 'mozilla' and press return
when the website is displayed, tap url bar
long tap url bar again until the context menu appears

Actual:
"Paste & Go" is not visible
Expected:
"Paste & Go" is vi

[2017-07-31 18:51] bbinto commented on #180
3rd row, Action menu, see also here, like Yandex does it: https://bugzilla.mozilla.org/attachment.cgi?id=8813680

[2017-07-31 19:55] Sdaswani commented on #180
Ok thanks @bbinto - that is what I thought, just confirming. So this is *not* what Brave does, so we don't have open source code to get inspired from. So that is why we are running into a longer engineering haul that we originally planned @bbinto . I'll work with @bkmunar to figure this out.

[2017-07-31 21:57] Sdaswani opened #219 "Fix Bad Formatting of Paste & Go Entry When Clipboard Contains A Lot of Text"
![img_4841](https://user-images.githubusercontent.com/4879954/28800225-a18cd0ec-7600-11e7-9b76-0f05b2eca32e.PNG)
![img_4840](https://user-images.githubusercontent.com/4879954/28800224-a1895cc8-7600-11e7-9632-375fbd50c23c.PNG)

[2017-08-01 12:54] bbinto commented on #123
leaving a note here, once eng picks this up to follow the same telemetry than Android: https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#context-menu

[2017-08-01 13:33] bbinto opened #220 "Handle external links"
Source: 1316421
Assignee: nobody

[2017-08-01 13:40] bbinto opened #221 "Handle external links"
Bugzilla: 1316421
Changed: 4/24/2017
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #222 "About page and your rights page in Firefox Focus for Android aren't localizable"
Bugzilla: 1348560
Changed: 5/7/2017
Status: UNCONFIRMED
Assignee: nobody

[2017-08-01 13:41] bbinto opened #223 "Laggy Scrolling on Reddit.com comment threads with images"
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1379329
Changed: 7/7/2017
Status: UNCONFIRMED
Assignee: nobody

[2017-08-01 13:41] bbinto opened #224 "[3.8 Crasher] AGXGLDriver: glrKillClient + 464"
Bugzilla: 1371810
Changed: 6/21/2017
Status: NEW
Assignee: bmunar

[2017-08-01 13:41] bbinto opened #225 "Clean Up Top Domains List"
Bugzilla: 1372968
Changed: 6/23/2017
Status: NEW
Assignee: bmunar

[2017-08-01 13:41] bbinto opened #226 "Support Locale-Based Autocompletion Lists"
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1373076
Changed: 7/7/2017
Status: NEW
Assignee: bmunar

[2017-08-01 13:41] bbinto opened #227 "Generate Screen Shots for 32 new locales"
Bugzilla: 1376945
Changed: 7/19/2017
Status: NEW
Assignee: bmunar

[2017-08-01 13:41] bbinto opened #228 "ad trackers blocking stops usatoday.com videos"
Bugzilla: 1286815
Changed: 7/14/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #229 "Add the Settings buttons back to the Safari instructions"
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1302171
Changed: 11/7/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #230 "Support State Preservation"
Bugzilla: 1315229
Changed: 11/9/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #231 "Unable to override SSL errors"
Bugzilla: 1318071
Changed: 11/23/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #232 "On high-memory devices, use a fully in memory cache"
Bugzilla: 1318337
Changed: 11/21/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #233 "Provide feedback about what / how much has been blocked"
Bugzilla: 1318338
Changed: 4/24/2017
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #234 "Can we release Focus on all devices, even if they don't support native content blocking?"
Bugzilla: 1318363
Changed: 11/17/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #235 "Add ".com" and other URL input keys to keyboard"
Bugzilla: 1315788
Changed: 11/21/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:41] bbinto opened #236 "Make anonymous usage toggle more visible"
Bugzilla: 1318392
Changed: 12/19/2016
Status: NEW
Assignee: nobody

[2017-08-01 13:54] bbinto opened #237 "Add in-tree Docs for focus-event ping"
Bug: 1358206
Changed: 6/8/2017
Assignee: fbertsch
Status: NEW

[2017-08-01 13:55] bbinto opened #238 "Unable to override SSL errors"
Bug: 1318071
Changed: 11/23/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #239 "On high-memory devices, use a fully in memory cache"
Bug: 1318337
Changed: 11/21/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #240 "Provide feedback about what / how much has been blocked"
Bug: 1318338
Changed: 4/24/2017
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #241 "Can we release Focus on all devices, even if they don't support native content blocking?"
Bug: 1318363
Changed: 11/17/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #242 "Fully localize Focus"
Bug: 1318400
Changed: 11/17/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #243 "Respect the system wide dynamic text size"
Bug: 1318436
Changed: 11/17/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:55] bbinto opened #244 "Overlay screen briefly flashes when reopening app"
https://bugzilla.mozilla.org/show_bug.cgi?id=1318510
Changed: 11/17/2016
Assignee: nobody
Status: NEW

[2017-08-01 13:56] #221 closed

[2017-08-01 13:56] #241 closed

[2017-08-01 13:58] #231 closed

[2017-08-01 13:58] #233 closed

[2017-08-01 13:58] #239 closed

[2017-08-01 14:56] bbinto opened #245 "Add in-tree Docs for focus-event ping"
Bug: 1358206
Changed:  ---
Assignee: General
Status: fbertsch

[2017-08-01 14:56] #245 closed

[2017-08-01 15:52] bbinto commented on #127
@Sdaswani -- any news on that?

[2017-08-01 15:56] Sdaswani commented on #127
No sorry, haven't had a chance to look at this yet! I'll prioritize it now.

[2017-08-01 16:55] antlam commented on #142
We confirmed this from our research findings. With this change, we should measure the success/failure here. To start, some telemetry would be helpful. @bbinto ?

[2017-08-01 17:24] bbinto opened #246 "Focus "trash" confirmation is confusing"
UR recommends: Instead of saying that "history" is erased, consider ways to communicate that other things like cookies have also been erased.

Next Steps:
Potentially rephrase with Michelle to be more general.

[2017-08-01 17:25] bbinto opened #247 "Users read the “Mozilla” section as “Make Mozilla the default browser.”"
UR recommends: Consider updating the menu item to “Make Firefox Focus default browser.”

Next steps: Will update with Michelle

[2017-08-01 17:26] antlam commented on #146
Michelle is on PTO this week, so I think it's better if we pivot this to be about Settings UI polish.

Specifically we can update to the photon color palette, clean up the table view cells, and leave a spot for descriptions when she gets back. That way, we can just follow up with added strings when she returns.

[2017-08-01 17:26] bbinto opened #248 "The option to make Focus default is currently buried in the settings menu"
UR recommends: Help users make Focus their default browser by better placement in the settings menu.

Next steps:
Address position soon

[2017-08-01 17:27] #247 closed

[2017-08-01 17:27] #248 closed

[2017-08-01 17:28] bbinto opened #249 "It's not clear to new users that Focus is also a content blocker."
UR recommends:
Communicate in first-run and/or settings.

Next steps:
Try to clarify flow in iOS. Check if we have telemetry numbers for those using Focus iOS as Content Blocker (Barbara)

[2017-08-01 17:29] bbinto opened #250 ""Search for ..." suggestion feels redundant"
UR recommends: Remove search suggestions.
Next steps: Simplify/remove this. (But keep autocomplete for now)

[2017-08-01 17:30] bbinto opened #251 "Shopping and banking are frequently cited as private browsing use cases."
UR recommends: Can we do more to support this frequently reported user case?
Next steps: Product team will think about.

[2017-08-01 17:30] bbinto opened #252 "Clarify share icon purpose and value"
UR recommends: Communicate in first-run and/or settings.

Next steps: Barbara

[2017-08-01 17:31] bbinto opened #253 ""Integration: Safari" is a confusing menu item or users"
UR recommends: Better communicate that this refers to using Focus as a content blocker and what that means.

Next steps: UX & Michelle

[2017-08-01 17:32] bbinto opened #254 ""Firefox Focus is not enabled" does not make sense to users when clicking through on menu item "Integration: Safari" because they are currently using Firefox Focus."
UR recommends: Better communicate that this refers to using Focus as a content blocker and what that means. Be careful when referring to Focus as a content blocker rather than a browser.

Next steps: UX & Michelle

[2017-08-01 17:38] antlam commented on #252
This is a dupe of issue #125

[2017-08-01 17:38] #252 closed

[2017-08-01 17:43] antlam commented on #253
closing as a dupe of issue #202

[2017-08-01 17:43] #253 closed

[2017-08-01 17:45] antlam commented on #254
This sounds similar to issue #202 as well... closing as a dupe for now.

[2017-08-01 17:45] #254 closed

[2017-08-01 20:11] Sdaswani commented on #123
Firefox does this so open source this @bkmunar

[2017-08-01 20:16] bbinto commented on #121
depends on #96

[2017-08-01 20:17] Sdaswani commented on #144
1. # of trackers blocked is per page.
2. @bkmunar and i to research how we can measure how many trackers are blocked (UIWebView callbacks)

[2017-08-01 20:23] Sdaswani commented on #123
@bkmunar estimate: 1 day.

[2017-08-01 20:30] antlam opened #255 "Show trackers blocked in collapsed URL bar (on-scroll)"
**EDIT: New design preview**

![screen shot 2017-08-17 at 3 27 35 pm](https://user-images.githubusercontent.com/1994820/29436490-a455477e-8360-11e7-81f2-9c0ed08f178e.png)

@Sdaswani from our meeting, we mentioned we need to know how/what knobs-and-dials we have to play with here. I.e. Can we show total trackers per page? tally that per session? different types of trackers?

To be clear, we might n

[2017-08-01 20:37] bbinto commented on #178
dupe of #202

[2017-08-01 20:37] #178 closed

[2017-08-01 20:38] antlam commented on #202
From #202

<img width="280" alt="screen_shot_2017-06-14_at_2 36 32_pm" src="https://user-images.githubusercontent.com/122897/28668271-0b28476e-729d-11e7-8356-c519c976116d.png">

[2017-08-01 20:39] bbinto commented on #215
Welcome @boek :) (no worries, this is something for you to look at *next* week)

[2017-08-02 04:39] Sdaswani commented on #127
Yes, as I suspected, you can't perform a 'silent' 3D Touch Quick Action, meaning you have to actually launch the app to perform the action. [reference](https://stackoverflow.com/questions/33342810/silent-3d-touch-quick-action)

We may want to prototype how the experience feels if we do the following:
# Set up a 'Erase' Quick Action
# Allow the App to launchc
# Quick perform the 'Erase'
# Force Clo

[2017-08-02 17:33] AaronMT commented on #97
What about combining the title with tracker's blocked: "%TITLE% (%N Trackers Blocked)" ?

[2017-08-02 17:33] AaronMT commented on #255
What about combining the title with tracker's blocked: "%TITLE% (%N Trackers Blocked)" ?

[2017-08-02 19:22] lime124 commented on #97
@AaronMT you read my mind <3. please see attached mini spec for this release as well as a preview for cobalt. lmk if you have questions, comments, or feedback. thanks!
![flow - collapsed url bar](https://user-images.githubusercontent.com/287322/28890837-475ca1c8-777d-11e7-8af8-86db8ce94247.png)

[2017-08-03 17:17] Sdaswani commented on #255
@bkmunar counting the amount of trackers blocked is pretty easy - just keep a per page count and tally it up when this line fires: https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/LocalContentBlocker.swift#L37

[2017-08-03 17:33] Sdaswani commented on #255
@lime124 comment belongs here actually: https://github.com/mozilla-mobile/focus-ios/issues/97#issuecomment-319772234

[2017-08-03 17:43] antlam commented on #182
@jessicajiang did this fix (making the icons the same size) make it into release yet? I'm still seeing the misalignment :(

[2017-08-03 17:53] bbinto commented on #127
I think we should park this...not worth the effort and other things we can work on in the meantime. Thanks @Sdaswani for diggin into this.

[2017-08-03 18:30] lime124 commented on #97
@Sdaswani commented in #255 that it would be easy to show the tracker count from an Eng perspective.

The reason we elected not show this information from a UI perspective is that we would also need to reflect the tracker count when the URL bar is not collapsed to provide a consistent UX.

Issue #255 should probably encapsulate showing the tracker count in both collapsed and expanded URL bars. And

[2017-08-03 19:30] npark-mozilla commented on #217
Verified fix

[2017-08-03 19:30] #217 closed

[2017-08-03 20:45] Sdaswani commented on #255
@lime124 regarding your comment https://github.com/mozilla-mobile/focus-ios/issues/97#issuecomment-320052741 @bbinto and I spoke with @antlam and he said we can still get in the 'n trackers blocked' next to the URL for Burgundy, so @bkmunar is going to work on that.

[2017-08-03 20:49] lime124 commented on #121
@bbinto this still shows up on the burgundy roadmap board. is that intentional?

[2017-08-03 20:51] Sdaswani commented on #121
No, it should be moved - just spoke to @antlam and @bbinto about this.

[2017-08-03 21:31] Sdaswani opened #259 "Export Strings for Burgundy"
Following [these](https://github.com/mozilla-mobile/focus-ios/wiki/Adding-New-Strings-For-Localization) directions, add Strings to l10n for:

'Save Image'
'Copy Image'
'Trackers blocked'

[2017-08-04 00:11] Sdaswani commented on #259
A few more strings needed:
'Firefox Focus wants to open $AppName.'
'Open'
'Cancel'
'Firefox Focus wants to open another App.'

cc @antlam @lime124

[2017-08-04 00:17] lime124 commented on #126
![flow - external app warning](https://user-images.githubusercontent.com/287322/28949132-898a606a-786f-11e7-88b8-396f0da97411.png)

LMK if there's any questions. Please note the alt string if we can't determine the app name. Thanks!

[2017-08-04 00:19] Sdaswani commented on #126
@lime124 do we do the new Step 2 whether the app exists on the device or not?

[2017-08-04 00:24] lime124 commented on #126
The step 2 is if the app exists on the device and that app is going to open. We currently don't handle this in Focus (e.g. a Redfin webpage).

The Exisiting UI is what we already do when you click on something that is going to launch the App Store (e.g. you don't have the Redfin app).

LMK if you have more questions @Sdaswani

[2017-08-04 04:55] antlam commented on #127
I don't mind parking this for now. But I'd also love to see how this feels on device!

I feel like it aligns with our Android notification action of "Erase and open" quite nicely, maybe even without the Force Close... 🤔

[2017-08-04 06:02] Sdaswani commented on #126
Thanks @lime124 . So the algorithm is:
1. If we can open the link in an App, show the new UI in Step 2 above.
2. If we can't open the link in an App, but instead have to go to the App Store, show the Exiting UI.

?

[2017-08-04 06:06] Sdaswani commented on #127
I'll see if @bkmunar or @boek can fit in prototyping this this iteration.

[2017-08-04 17:21] lime124 commented on #126
@Sdaswani sorry missed the "?" at the end. yes.

For the new UI -  will we need both of the proposed strings in the app OR is it going to be a case of we're either always (or never) able to get the App name?

Just want to make sure I have a handle on what is landing and how it works :)

[2017-08-04 17:25] antlam opened #265 "Update App Icon"
😉

[2017-08-04 17:30] lime124 opened #266 "Update string/UI for the alerts shown when opening App Store links"
The new UI in Burgundy to open external links to other apps is different. This bug is to bring both in alignment. Here is the current UI we're looking to update.
![2017-08-03 17 05 11](https://user-images.githubusercontent.com/287322/28979726-bb5cf306-78ff-11e7-86fe-023830a3be17.png)

[2017-08-04 18:04] Sdaswani commented on #266
@lime124 are there new strings here? Does this have to get in with https://github.com/mozilla-mobile/focus-ios/issues/126? We are past the string freeze.

[2017-08-04 18:42] lime124 commented on #266
![flow - external app alerts](https://user-images.githubusercontent.com/287322/28982241-f899ae9e-7909-11e7-847f-5a1ad0f59bf0.png)

[2017-08-04 18:43] lime124 commented on #266
nope hoping for Cobalt release - @bbinto, please :)

[2017-08-04 18:46] Sdaswani commented on #126
@lime124 I have to look into if we can get the App Name - I'm pretty sure the answer is yes just need to figure out how.

[2017-08-04 19:36] Sdaswani commented on #259
Fixed in https://github.com/mozilla-mobile/focus-ios/commit/65cdbfa3da0adf1d8b6bafc4dbe1bc7d59bee947

[2017-08-04 19:36] #259 closed

[2017-08-04 19:36] lime124 commented on #266
@mheubusch, please take a gander at the strings. Thanks!

[2017-08-04 19:41] Sdaswani commented on #123
This estimate has increased since UIWebView does not make it easy to save or copy the image. I'll talk to @boek about potentially getting this into 3.5 but may have to punt it.

[2017-08-04 19:43] Sdaswani commented on #180
This is the last thing we'll try to get into Burgundy - it probably won't happen unless @boek can work some magic.

[2017-08-04 21:03] lime124 commented on #98
Here you go!
![flow - homescreen search page](https://user-images.githubusercontent.com/287322/28986857-a712d21c-791d-11e7-8f8d-6df3b042d1e8.png)

As always LMK if there's any questions!

[2017-08-04 21:04] lime124 commented on #95
![flow - homescreen search page](https://user-images.githubusercontent.com/287322/28986899-c960bfaa-791d-11e7-83a8-a8e8040fbf0b.png)

Here you go! LMK if there's any questions!

[2017-08-04 21:17] #182 closed

[2017-08-04 22:41] Sdaswani commented on #182
@antlam when you get a quick chance can you verify this looks the way you want?

[2017-08-05 00:06] antlam opened #269 "Allow more control over clipboard suggestion UI in Focus"
Now that we show items on the users clipboard, maybe we should clarify the logic (as it pertains to the synced iOS/MacOS clipboard), if we want to allow hiding this clipboard "suggestion", etc

[2017-08-06 03:02] WeiWW opened #270 "Can't use third party keyboad"
1.I have downloaded and used Google Gboad, but I can't use it in Focus.
2. Focus can't choose
[https://imgur.com/gallery/yDN0h?s=fbm](url)
3.Normally can choose the third party keyboard
[https://imgur.com/gallery/rGFNG?s=fbm](url)

[2017-08-07 21:45] lime124 commented on #146
Since we couldn't really fiddle with strings here are some minor updates for this release. More things to come for Cobalt! @antlam can you provide the info icon please? Thanks!

![ixd - settings polish](https://user-images.githubusercontent.com/287322/29046868-3ffbfa64-7b7e-11e7-82bb-4a672706d7ae.png)

[2017-08-07 23:39] Sdaswani commented on #180
@antlam can we get the icon for this? @boek and @bkmunar got this working so we would like to ship it in 3.5.

[2017-08-08 01:35] antlam commented on #180
@Sdaswani to be clear, 3.5 is Cobalt right?

Either way, Stephen has been working on these. I'm going to follow up!

[2017-08-08 01:39] Sdaswani commented on #180
No 3.5 is Burgundy so we need it this week.

[2017-08-08 01:53] antlam commented on #97
Sorry for the confusion! This might be my fault.

Yes, we had talked about this. But given that Burgundy and Cobalt were successive releases that were only two weeks apart, I thought it was OK for the two issues (showing tracker count in collapsed and showing tracker count in expanded view with controls) to ship one after another.

While shipping separately isn't ideal for UX, I think this is goin

[2017-08-08 09:42] antlam commented on #265
<img width="775" alt="screen shot 2017-08-06 at 4 24 41 pm" src="https://user-images.githubusercontent.com/1994820/29066128-ea4ae2d6-7c60-11e7-8313-989482cb0ebe.png">

Working on fancy adaptive icons as well with @pocmo

[2017-08-08 13:40] shorlander commented on #180
These are the sizes that we use for Firefox iOS. Let me know if you need something else.

![icon-60 2x](https://user-images.githubusercontent.com/684427/29074505-91dfc334-7c1d-11e7-830f-300162811f69.png)
![icon-60 3x](https://user-images.githubusercontent.com/684427/29074506-91e098f4-7c1d-11e7-8dd3-39d58026391f.png)
![icon-76](https://user-images.githubusercontent.com/684427/29074504-91dad3e2-7c1d

[2017-08-08 15:38] lime124 commented on #146
I removed the need strings b/c we are past the freeze date for this one. We can continue that work in Cobalt.

[2017-08-08 17:48] Sdaswani commented on #180
@shorlander you mean Focus not Firefox, right?

[2017-08-08 17:49] boek commented on #180
@Sdaswani I think he meant he used the sizes from Firefox. This is a different icon :)

[2017-08-08 17:51] Sdaswani commented on #180
Oh duh, I should read. ;)

[2017-08-08 18:26] boek commented on #123
@Sdaswani

I'm able to get the path of the image from the `UIWebView`.

![img_2086](https://user-images.githubusercontent.com/1250545/29087929-741f5e22-7c2c-11e7-89f7-a95e185b6701.PNG)

At first I thought we would have to redownload the image but it looks like we can pull it out of the [`NSURLCache`](https://stackoverflow.com/questions/32624106/get-loaded-images-from-uiwebview). I'll try it out an

[2017-08-08 18:31] bkmunar commented on #180
@shorlander can I get an asset folder with the sizes specified so I can import them into their proper place? If not it's fine, I can just guess and hopefully I get it right hahaha :)

[2017-08-08 18:50] Sdaswani commented on #123
I spoke to @boek and he think he can finish this in .5 days.

[2017-08-08 19:52] bbinto commented on #146
@lime124, is there a follow-up issue you can hint at here for the Cobalt string updates?

[2017-08-08 20:00] shorlander commented on #180
[focus-action-sheet-icons.zip](https://github.com/mozilla-mobile/focus-ios/files/1209386/focus-action-sheet-icons.zip)
Apparently Github eats labels for attachments. I had no idea.

[2017-08-08 20:10] lime124 opened #272 "Explain blocking settings better"
This will be focused on the String improvements we want to make in Settings.

[2017-08-08 20:14] bbinto commented on #97
Must be merged by August 9 in order to get it into Burgundy/QA verified

[2017-08-08 20:52] Sdaswani opened #273 "iOS 11 Compatibility Testing"
iOS 11 is around the corner - let's test Focus on iOS11 and see if any issues come up.

[2017-08-08 20:54] Sdaswani opened #274 "Research Supporting WKWebView on iOS11"
We would still support UIWebview on iOS10.

Research should include:
- What's required on the engineering side?
- What do we gain?
- How can we compare performance?

[2017-08-08 20:56] Sdaswani opened #275 "Research Migrating to XCode 9"
Research should include:
- Is migration required to use WKWebView?
- Does Focus compile out of the box on XCode 9?

[2017-08-08 20:58] Sdaswani commented on #180
When you build the required deeplink, please also include a query parameter where the caller can set the 'source' of the call.

[2017-08-08 22:05] lime124 commented on #123
Great question from @boek about super, super long strings that crash slack and make my computer weep.

We agreed to keep the string to a max of 4 lines and truncate it in the middle. This is what Firefox seems to be doing.

[2017-08-08 23:19] boek commented on #123
@lime124 Another question: Do we want any confirmation UI for either copying the link or saving the image?

[2017-08-08 23:30] boek commented on #123
So this is just about done. There are two bugs that are outstanding

- Truncate extremely long paths
- There is a really weird issue that after the first long press gesture every subsequent ones try to select the entire page inside the web view.

[2017-08-09 01:39] antlam commented on #272
To clarify, let's make this bug specifically about (and tell me if I'm missing anything):

- [ ] Integration pref clarity
- [ ] Blocking prefs descriptions/subtitles
- [ ] Grouping description for Blocking switches

[2017-08-09 01:57] antlam commented on #146
Here are the specs for the more info button, along w assets! Also included the background color which I think we didn't mention yet :)

[icon_moreinfo.zip](https://github.com/mozilla-mobile/focus-ios/files/1210067/icon_moreinfo.zip)

<img width="560" alt="screen shot 2017-08-09 at 9 54 18 am" src="https://user-images.githubusercontent.com/1994820/29102052-13dcb542-7ce9-11e7-8d65-797a23c73119.png">

[2017-08-09 06:25] antlam commented on #255
Question for @bbinto , if we're shipping this now as a part of issue #97 ... should we close this issue?

[2017-08-09 12:04] bbinto commented on #272
This is the Android issue, should probably have the same copy: https://github.com/mozilla-mobile/focus-android/issues/834

[2017-08-09 12:05] bbinto commented on #272
**User Story**

**Feature/Suggestion**

[2017-08-09 12:19] bbinto commented on #202
@antlam is this a dupe of #249?

[2017-08-09 12:33] Sdaswani commented on #255
@antlam i dont think we are shipping it as part of 97? specifically this work will not include any messaging about trackers.

[2017-08-09 14:12] antlam commented on #249
This is a dupe!

[2017-08-09 14:12] #249 closed

[2017-08-09 14:12] antlam commented on #202
Good catch - closed!

[2017-08-09 15:23] AaronMT opened #277 "iOS 11 - Background bleeds through a visible bottom horizontal strip during active page-load"
See screenshot.
![img_0046](https://user-images.githubusercontent.com/102331/29129531-1bfcd002-7cf5-11e7-8d1d-3f1f37fbc7f9.PNG)

During page load, on my iPad Pro (in both orientations) there is a horizontal strip at the bottom of the browser that exposes the client's background bleeding through

--
**iOS 11 Public Beta 4 | iPad Pro**

[2017-08-09 15:30] lime124 commented on #255
@antlam wasn't able to make triage yesterday as he's in taipei so he wasn't
aware that we moved this part out of burgundy b/c of some technical
implementation complexity. that's my fault for neglecting to tell him.

On Wed, Aug 9, 2017 at 5:33 AM Susheel Daswani <notifications@github.com>
wrote:

[2017-08-09 15:33] lime124 commented on #272
Integration has its own bug #202

There are a couple other strings I want to change too to make things more
clear and polished. For example under the data collection.

On Wed, Aug 9, 2017 at 5:05 AM Barbara Bermes <notifications@github.com>
wrote:

[2017-08-09 15:55] Sdaswani commented on #277
Nice find @AaronMT - as public betas are released it's good to see if the issue still exists, but we will look to fix this.

[2017-08-09 16:54] Sdaswani commented on #123
@lime124 we won't be getting in the [link copying and sharing](https://github.com/mozilla-mobile/focus-ios/issues/123#issuecomment-318706839) under this work, so please open another ticket for those.

[2017-08-09 17:40] lime124 commented on #125
Here is the proposed solution. I talked it over with @boek today and we figured out how to make it happen!

@Sdaswani unfortunately, this is going to require new strings unless we already have them. I was hoping we wouldn't have to worry about them, but I believe the implementation requires us to provide them.

@mheubusch - hopefully easy strings...
"Open in Firefox"
"Open in Chrome"
"Open in Safa

[2017-08-09 17:54] Sdaswani commented on #125
New strings are fine, just means it's going to be the next release (Cobalt).

[2017-08-09 17:56] lime124 opened #278 "Copy and Share Link"
Add these two items to the Action Sheet that contains the save and copy image actions.

See Burgundy work #123 . There shouldn't be any additional design work.

[2017-08-09 17:56] lime124 commented on #123
@boek we don't need to worry about showing a confirmation. Thanks for asking though.

@Sdaswani #278 (idk the link isn't coming up: https://github.com/mozilla-mobile/focus-ios/issues/278)

[2017-08-09 20:01] lime124 commented on #97
As per conversation with @boek and @bkmunar - we're going to keep the URL centered in the collapsed URL bar for this release.

There isn't enough time to work out the animation and it was looking weird when it slide over to the left. This will get addressed when we add in the tracker count per issue #255

[2017-08-09 21:00] lime124 commented on #125
forgot to @bbinto for thoughts about the proposal!

[2017-08-10 01:55] antlam commented on #97
Chatted with @lime124 @bkmunar about getting that fade-in and fade-out animation (that we used to have) back in. I think /was told that a simple 1-0 fade should be doable 😬

Thank you @bkmunar !

[2017-08-10 18:14] boek commented on #123
![foo](https://user-images.githubusercontent.com/1250545/29185010-d7c96d78-7dbc-11e7-8436-fad95810c5be.png)

So, Firefox shows this alert whenever you try to save an image when you don't have permission. We could do something similar but we would need strings. Would it be possible to take them from Firefox and replace the name? cc: @Sdaswani

![img_2103](https://user-images.githubusercontent.com/1

[2017-08-10 19:44] bbinto commented on #125
Thanks, glad you included me in this conversation. I'm ok with moving it, and no fault to anybody here for this specific issue, but we need to get better in estimating releases, instead of moving too many things half way/end of each milestone.

Gracias!

[2017-08-10 21:01] lime124 commented on #123
Looks good @boek - nice catch and thanks :)

@Sdaswani i'm assuming we won't be able to get the string in. so @bbinto it's your call if we should ship without this followup dialogue or push the whole issue to cobalt.

While I don't like shipping incomplete work, I feel the risk to a bad experience is relatively small. Most people are going to be tapping Allow since they initiated the action to sav

[2017-08-10 21:46] Sdaswani commented on #123
So @boek what happens if for some reason you already disallowed Focus from picture access and you try to save an image? Another way to get there would be First Use Path, Don't Allow, Second Use and try to 'Save Image'?

[2017-08-10 21:48] boek commented on #123
@Sdaswani at this point nothing.

I do receive an `Error` if the save failed which I can produce an alert like in Firefox

[2017-08-10 21:56] Sdaswani commented on #123
Ugh so that means we need *another* string for the alert. @bbinto this feature may not be ready to ship without more string work.

[2017-08-10 23:03] lime124 commented on #123
@bbinto - can you either move the issue back to UX column if we aren't
shipping in burgundy so we can deal with strings or make a new issue for
the follow up work and put in UX column? Thanks!

On Thu, Aug 10, 2017 at 2:56 PM Susheel Daswani <notifications@github.com>
wrote:

[2017-08-11 02:18] antlam commented on #123
@Sdaswani @boek if (for some reason) the user "disallowed" Focus from picture access, and they tried to Save Image again, couldn't we just reprompt them with the same messaging? We wouldn't need new strings for this version then?

cc/ @lime124

[2017-08-11 02:20] boek commented on #123
That initial prompt is from the operating system. If a user selects no the OS won't ever prompt them again

[2017-08-11 02:34] antlam opened #283 "Re-prompt user for permissions if they selected "Don't Allow" the first time"
From issue #123:

![foo](https://user-images.githubusercontent.com/1250545/29185010-d7c96d78-7dbc-11e7-8436-fad95810c5be.png)

If a user clicks "Don't Allow", we currently do nothing. But it would be nice to re-prompt for some added context instead of just doing nothing.

[2017-08-11 02:36] antlam commented on #123
Just when I thought I was being smart... 😥

@bbinto I agree with @lime124 's point above though. We can consider this edge case of "re-prompting" in a follow up issue. I've filed issue #283 for that part of the experience so that we may continue to ship this feature in Burgundy.

[2017-08-11 11:53] bbinto commented on #123
Let's ship this without edge case solution in Burgundy and #283 goes into Cobalt

[2017-08-11 13:49] boek commented on #123
@bbinto what I could do is change the telemetry to on image save with a `didSucceed` flag

[2017-08-11 14:37] bbinto commented on #123
@boek, good idea!

[2017-08-11 18:09] bbinto commented on #98
Looking at Cobalt right now, there is a lot in there, I'm wondering if we should wait with this issue until Denim, get feedback from our Android users about this feature (shipping in Aqua Android) and then work on it?

Thoughts? @antlam @lime124?

[2017-08-11 18:21] lime124 commented on #98
@bbinto when you say get feedback do you mean see if Android users like having the keyboard active immediately.

I'm all for user feedback (hurray!) but I'm pretty confident people are going to want this as it makes the task flow easier and requires less taps. :)

[2017-08-11 18:56] mheubusch commented on #125
strings are fine by me as written.

[2017-08-11 19:01] mheubusch commented on #255
I'm ok with "N trackers blocked" but @delphine might want it to be "Trackers Blocked: N" because of l10n.  either is fine - please go with what works globally.

[2017-08-11 19:03] mheubusch commented on #144
Use trackers blocked <n> as we do on Android.

[2017-08-11 19:04] lime124 commented on #255
moving this back to ready for UX until we can finalize the string.

[2017-08-11 19:22] Delphine commented on #255
Yes please use "Trackers Blocked: N" for l10n! thanks

[2017-08-11 19:39] Delphine commented on #123
Hey everyone - you can use the sames strings from Firefox - but they will need to be exposed and translated again (so a string export etc is needed). Thanks for asking!

[2017-08-11 19:44] lime124 commented on #255
we have a couple more cases that need strings that i'm working with michelle on. spec page coming soon!

[2017-08-11 21:15] jakobkappel opened #284 "l10n: "Help" in Settings shows content from support.mozilla.org/en/ on localized build"
Tested in Focus 3.4, da-DK

**Problem**
Content from https://support.mozilla.org/en-US/kb/focus is displayed

**Solution**
Display content from https://support.mozilla.org/da/kb/focus-firefox

---

The URLs for the localized pages vs. the english URL looks a bit messed up compared to Android btw:

/en-US/kb/focus

vs.

/da/kb/focus-firefox
/fr/kb/firefox-focus
/it/kb/firefox-focus
etc.

[2017-08-11 21:37] boek commented on #215
@AaronMT Are you still able to reproduce this? I've tried the latest app store build on my iPad and iPhone. Get the prompt both times.

Are you talking about the iOS prompt? Or the html5 permission prompt?

[2017-08-11 22:49] lime124 commented on #283
Here you go! @mheubusch for a quick string check. I copied this from Firefox but used title case instead and put "" around the app name to mimic the original prompt iOS gives (seen in the existing UI screens).

![flow - save image prompt](https://user-images.githubusercontent.com/287322/29234493-380dbfa0-7eac-11e7-8641-c2ea0ecc1a30.png)

I thought of another case but I don't want to make the assum

[2017-08-11 22:52] lime124 commented on #283
Also this should probably be added to Cobalt as per @bbinto comment in #123 to finish this up in Cobalt's release.

[2017-08-13 11:54] lfxc commented on #165
+1

[2017-08-14 03:38] antlam commented on #98
Agree ^ this is a pretty straight forward optimization from a UX perspective.

Perhaps there are other issues we could push to Denim instead?

[2017-08-14 13:43] AaronMT commented on #215
Site permission prompt. It seems like, on second attempt, this works. On third attempt at accessing the page (testing locally on my iPad Pro, now on iOS 11 Public Beta 2), I do **not** get a prompt and all attempts at revisiting the page again after an erase continue to not display a prompt on the page access. Therefore this issue is still reproducible.

[2017-08-14 16:32] boek commented on #215
@AaronMT Ahah! I was also able to reproduce with a third attempt. Thank you for that!

[2017-08-14 18:26] Sdaswani commented on #180
Merged in https://github.com/mozilla-mobile/focus-ios/pull/271

[2017-08-14 18:26] #180 closed

[2017-08-14 18:27] boek commented on #275
## Is migration required to use `WKWebView`
According to [this](https://gist.github.com/DreamingInBinary/cb387557c956ae7e1d2de3d42ab7b2f4) and [this](https://stackoverflow.com/questions/44381860/use-xcode-8-with-ios-11) we don't have to move fully to Xcode 9 to support iOS 11 features.

## Does Focus compile out of the box on XCode 9?

No, but it's close. I was able to spend a few minutes this mor

[2017-08-14 19:13] antlam commented on #265
![icon-appstore](https://user-images.githubusercontent.com/1994820/29287352-fb99892e-80e9-11e7-8a10-a8299fe38889.png)

[PhotonFocus_appicon.zip](https://github.com/mozilla-mobile/focus-ios/files/1223185/PhotonFocus_appicon.zip)

[2017-08-14 19:17] boek commented on #265
@antlam do you have a 83.5pt @2x size?

<img width="151" alt="image" src="https://user-images.githubusercontent.com/1250545/29287500-85961a3e-80ea-11e7-8a1b-100629819200.png">

[2017-08-14 19:52] Sdaswani commented on #187
Merged in https://github.com/mozilla-mobile/focus-ios/pull/271

[2017-08-14 19:52] #187 closed

[2017-08-14 20:03] boek opened #286 "add appVersion to Telemetry"
After talking with Frank we decided we wanted to add `appVersion` to the Telemetry events.

This is going to be blocked by:
- Adding the property to the schema
- Adding support to the Telemetry library

[2017-08-14 20:47] AaronMT opened #287 "On launch of Focus via "Open in Focus" a jarring overlay can be seen"
Tested on iPad Pro (iOS 11.0); see screenshot

- http://google.com
- Tap "Open in Focus"

![img_0047](https://user-images.githubusercontent.com/102331/29291008-25e3bab2-8110-11e7-93f6-a9540b16ed69.PNG)

[2017-08-14 20:47] AaronMT commented on #180
Issue #287

[2017-08-14 20:51] AaronMT commented on #219
Please remember to close bugs once they are merged.

[2017-08-14 20:51] #219 closed

[2017-08-15 00:46] Sdaswani commented on #275
Thanks for the research @boek - continue to try and get it compiling.

[2017-08-15 17:00] Sdaswani commented on #287
@AaronMT this should be fixed with the latest BB, though the feature has moved to the Share menu. Please verify.

[2017-08-15 17:22] antlam commented on #265
![icon-app-60x60 2x](https://user-images.githubusercontent.com/1994820/29327162-1d335dbc-81a3-11e7-9dab-096b2e8c4271.png)

![icon-app-60x60 2x](https://user-images.githubusercontent.com/1994820/29327170-22a09aa8-81a3-11e7-8c5d-baab03fb50e2.png)

[Beta_Dev.zip](https://github.com/mozilla-mobile/focus-ios/files/1225827/Beta_Dev.zip)

[2017-08-15 17:23] Sdaswani opened #289 "'Open in Focus' Crash"
Find the crash video and stack trace (needs symbolicating) in the archive. I am using [this build](https://dashboard.buddybuild.com/apps/58cc46bc5753e401002f47b4/build/599284c12ef32c000134c397).

[Archive.zip](https://github.com/mozilla-mobile/focus-ios/files/1225824/Archive.zip)

This is happening all the time on my device now.

[2017-08-15 18:00] AaronMT commented on #289
Regression based on latest changes to the share extension.

[2017-08-15 18:04] Sdaswani opened #290 "URL Bar Disappearing when Page Opened from Share Menu"
See the [video](https://drive.google.com/a/mozilla.com/file/d/0BzUgKmpyzGztcjE5R0Y5T1JiTVU/view?usp=sharing) - looks like the constraints or some UI stuff set from the Open In Focus extension is leading to the URL bar disappearing or some such.

[2017-08-15 18:12] antlam commented on #97
![img_1117](https://user-images.githubusercontent.com/1994820/29329392-9eb28d2a-81aa-11e7-83d4-8ca2b53849a9.PNG)

@lime124 noticed this

[2017-08-15 19:55] boek commented on #290
The complexity of the view hierarchy with layers of gradient views definitely made this a puzzling one to fix. By the looks of it I agreed it was probably a constraint issue. But the URL Bar sits on top of a view that gets shown after the user goes through the navigation flow.

[2017-08-15 20:07] mheubusch commented on #266
This looks good to me thank you!

[2017-08-15 20:11] mheubusch commented on #126
The priority string looks great. for the alt string (if Focus can't name the app), please lowercase the a in app:
Firefox Focus wants to open another app.

[2017-08-15 20:13] Sdaswani commented on #220
Thou arst a dupe! https://github.com/mozilla-mobile/focus-ios/issues/126

[2017-08-15 20:13] #220 closed

[2017-08-15 20:17] #97 closed

[2017-08-15 20:18] mheubusch commented on #283
Can you update the second prompt copy to
This lets you save images to your Camera Roll.

[2017-08-15 20:37] Sdaswani commented on #265
Reminder to @boek to split up into release channel icons.

[2017-08-15 20:37] #265 closed

[2017-08-15 20:41] lime124 commented on #283
Spec page updated - thanks Michelle!

[2017-08-15 20:51] Sdaswani commented on #95
Quick fix.

[2017-08-15 20:52] Sdaswani commented on #146
1 day.

[2017-08-15 20:53] Sdaswani commented on #98
1.5 days and don't forget to not show the keyboard when coming in through the Share sheet.

[2017-08-15 21:54] liuche opened #294 "Rename "Send anonymous usage data" because is misleading"
In talking to Legal, it seems there are concerns that this string is misleading to users because we persist a (random) uuid across reports, so it's not technically anonymous. Elvin requested that we change this string (because we also don't use it in our other products, other than Focus and Firefox for iOS).

Here's the Firefox iOS bug for this issue [1], and we can reuse whatever strings come out

[2017-08-15 22:34] boek opened #296 "Add Beta / Dev app icons"
Follow up for #265

[2017-08-15 22:35] boek opened #297 "Cleanup state management in BrowserViewController"
`BrowserViewController` is becoming quite complex now that we've added the ability to open the app in "browsing mode". Let us come up with a better solution to managing this.

[2017-08-15 23:35] boek opened #298 "support 3D touch on links"
One thing I miss is the ability to preview a link using 3D touch.

[2017-08-15 23:44] Sdaswani commented on #298
makes a lot of sense since we don't have multitasking.

[2017-08-16 00:27] Sdaswani opened #299 "Share Extension Changes"
- Change the Bundle ID of the Focus OpenInFocus Share Extension to org.mozilla.ios.Focus.ShareExtension (active when Focus is the scheme)
- The OpenInFocus Target under the Focus Scheme should specify the 'Focus Share Profile' as the Provisioning Profile for FocusRelease
- Change the Bundle ID of the Klar OpenInFocus Share Extension to org.mozilla.ios.Klar.ShareExtension (active when Klar is the s

[2017-08-16 01:21] jet10000 opened #300 "Support Custom focus-ios/android"
As an enterprise user, we are expected to have a customizable browser for packaging the company's Web project.

* Support keep cookies
* Support to set the default home page address
* Support self-defined search
* Support a custom theme

[2017-08-16 14:04] AaronMT opened #301 "Share extension using old Focus icon"
See screenshot

![screen shot 2017-08-16 at 10 03 40 am](https://user-images.githubusercontent.com/102331/29367231-36202f86-826a-11e7-84cd-175bb05f8ec2.png)

[2017-08-16 14:04] AaronMT commented on #301
Also noticed that the string for the share extension is omitting 'Firefox'

[2017-08-16 14:07] AaronMT opened #302 "Share extension omits 'Firefox'"
![screen shot 2017-08-16 at 10 03 40 am](https://user-images.githubusercontent.com/102331/29367321-7df043d2-826a-11e7-9eca-c9e06a25dbd3.png)

We should abide by [guidelines ](https://developer.apple.com/ios/human-interface-guidelines/extensions/sharing-and-actions/)and use our full application name.

[2017-08-16 14:15] #289 closed

[2017-08-16 14:17] #287 closed

[2017-08-16 14:17] #290 closed

[2017-08-16 14:58] AaronMT opened #303 "Tapping on SoundCloud's 'I already have the app' does nothing"
=> Install SoundCloud
=> http://soundcloud.com
=> Tap 'I already have the app'

Nothing.

[2017-08-16 15:02] AaronMT opened #304 "Tapping a phone link requires two separate accepting prompts"
`<a href="tel:1-555-555-5555">1-555-555-5555</a>`

or

Google search, 'call mozilla' tap the phone number in Google

[2017-08-16 15:53] Sdaswani commented on #304
My guess is this happens in the current App Store version so not a blocker to Burgundy.

[2017-08-16 15:54] boek commented on #302
@AaronMT good catch!

[2017-08-16 15:55] Sdaswani commented on #303
My guess is this happens in the current App Store version so not a blocker to Burgundy.

[2017-08-16 15:57] Sdaswani commented on #302
Yes good catch but won't block Burgundy as we can't get the strings in. This needs immediate triage though if we want to get it in Cobalt. @antlam what's best next steps?

[2017-08-16 16:02] boek commented on #301
@AaronMT can you restart your device? I think that is just a weird caching issue that we don't have control over

[2017-08-16 16:25] antlam commented on #302
If there's space, we should include Firefox.

`Open in Firefox Focus` works I think.

CC @mheubusch for sign off!

[2017-08-16 16:29] mheubusch commented on #302
Yes, agree to use Firefox Focus. (Think we cut out Firefox to save space, not for any communication reason).

[2017-08-16 18:43] #299 closed

[2017-08-16 18:44] AaronMT commented on #301
Confirmed

[2017-08-16 18:44] #301 closed

[2017-08-16 20:04] boek opened #310 "Revert app icon"

[2017-08-16 22:33] #310 closed

[2017-08-17 00:22] Sdaswani opened #312 "Create l10n patch for Cobalt"
Following [these](https://github.com/mozilla-mobile/focus-ios/wiki/Adding-New-Strings-For-Localization) directions, add Strings to l10n for these issues: https://github.com/mozilla-mobile/focus-ios/labels/strings-approved

[2017-08-17 00:37] lime124 commented on #144
Steps before this is done:
- [finalize erase's new placement (both landscape and portrait) ]
- [finalize TP icon]
- [spec out animation for expanded to collapsed]
- [finish spec (ixd and visual)]
- [attach production assets]

[2017-08-17 00:39] lime124 commented on #144
- [ test]

[2017-08-17 01:07] antlam commented on #302
Quick question before string freeze tomorrow because clearly this is the best time for this 😅 ... but would it be better to name the app Focus? everything in the UI can remain the same

Things to consider:
- Firefox Focus truncates after the app updates because of the blue dot
- "Open in Firefox Focus" is very long and might truncate to obfuscate "Focus" and then only the icon will be the differen

[2017-08-17 11:03] bbinto commented on #302
I believe this is mostly a branding/marketing question.

One thing we all agree on is to be consistent within the OS. In addition, we use "Firefox Focus" as well for Android.

So let's stick to "Firefox Focus".

[2017-08-17 14:25] Sdaswani commented on #302
@bbinto, by 'stick to', you mean change to 'Open in Firefox Focus'? Shouldn't we check how the text fits in the Share Extension first?

[2017-08-17 15:11] bbinto commented on #302
Yes, change it to Open in Firefox Focus, we def. should check first how it looks.

Also, do other apps shorten their app names as well in the share extension menu?

[2017-08-17 15:26] boek commented on #302
Do we have any examples of a language that takes more characters than 'Open in'? I'm not sure about other apps. I think the default behavior truncates the string at a certain point.

[2017-08-17 15:27] boek commented on #302
It also shrinks the text size:

<img width="613" alt="image" src="https://user-images.githubusercontent.com/1250545/29420103-e51cf224-8325-11e7-86fd-d07419630c5c.png">

[2017-08-17 15:29] boek commented on #302
Here is 'Open in Firefox Focus' as well

<img width="612" alt="image" src="https://user-images.githubusercontent.com/1250545/29420211-32cf8bda-8326-11e7-8cb6-3ea1dc6d2779.png">

[2017-08-17 15:38] Sdaswani commented on #302
@boek can you try several form factors, e.g., iphone 5?

[2017-08-17 15:52] AaronMT commented on #302
Is the adjective even necessary? I know exactly what to expect when I see or tap 'Twitter' and 'Facebook' in these cases. Focus, in it's current form has narrowly scoped utility. Why not just have 'Firefox Focus' and drop 'Open in'.

[2017-08-17 15:54] boek commented on #302
iPhone 5:
<img width="313" alt="image" src="https://user-images.githubusercontent.com/1250545/29421307-89182fee-8329-11e7-8b23-47973950cbff.png">

I don't know if it will build for the iPhone 4

[2017-08-17 15:57] Sdaswani commented on #302
Hah no need for the iPhone 4 :).

[2017-08-17 15:58] antlam commented on #302
Good point. System conventions just use the app name if it's up there.

"Open in" was what we wanted to use when we wanted to make this an action I believe. @lime124 @mheubusch thoughts?

[2017-08-17 16:04] lime124 commented on #302
Yes, "Open in" should be used when the app is in the Action area. If the app is in the Sharing Extensions area, only the app name is necessary.

Basically - either remove "Open in" OR put the it in the Action area. My preference would be to move it to the Action area.

[2017-08-17 16:13] Sdaswani commented on #302
@boek I wonder if for 3.5 it should be just 'Firefox Focus' then? @lime124 we had it in the action menu but an iPad display issue that seemingly can't be fixed made us move it.

[2017-08-17 16:23] boek commented on #302
@Sdaswani Sounds good to me

[2017-08-17 17:13] Sdaswani commented on #302
@lime124 @antlam @boek has a PR to change the Share extension to say 'Firefox Focus' (and 'Firefox Klar') https://github.com/mozilla-mobile/focus-ios/pull/315/files - we don't need any localizations here, right? In all languages, we just use Firefox Focus - right?

[2017-08-17 18:42] boek commented on #302
@Sdaswani @antlam This no longer needs strings as we are just using the product name correct?

[2017-08-17 18:42] npark-mozilla opened #316 "in 'Open in Klar', 'I' in 'in' is not capitalized"
![screen shot 2017-08-17 at 2 42 02 pm](https://user-images.githubusercontent.com/6930774/29428198-580aacac-835a-11e7-8f1d-6a4fff700676.png)

[2017-08-17 18:51] npark-mozilla commented on #316
realized this is old code. closing.

[2017-08-17 18:51] #316 closed

[2017-08-17 19:18] npark-mozilla opened #317 "Klar extension is deep-linked to Focus app"
When clicking a Klar extension, instead of looking for Klar app, it launches Firefox Focus.

[2017-08-17 19:21] antlam commented on #302
@boek yep. Basically what @lime124 mentioned too - since it sounds like we're leaving this in the Share extension.

[2017-08-17 19:33] boek commented on #317
So currently the Focus application has the url scheme of `firefox-focus://` and Klar has `firefox-klar://` while the extension only uses `firefox-focus://...`. This is an easy fix but makes me think of the future where 3rd parties integrate their apps using the scheme we would have to explicitly document both or Klar wouldn't get any of the integration.

[2017-08-17 19:46] boek commented on #317
I think writing it out answered my own question. While it would be great to only have to support one scheme. Doing so would make it impossible to brand Klar appropriately in integrating applications.

Going to keep them separate.

cc: @bbinto

[2017-08-17 20:29] antlam commented on #93
Closing for now. Not a high priority.

[2017-08-17 20:37] bbinto commented on #94
Still needs strings, @mheubusch will tackle that soon, moving it to Ebony for now

[2017-08-17 22:56] lime124 commented on #126
FYI - we have to go with the alt string:

Firefox Focus wants to open another app.

/cc @antlam @mheubusch

[2017-08-17 23:25] antlam commented on #294
![screen shot 2017-08-17 at 4 24 26 pm](https://user-images.githubusercontent.com/1994820/29437937-8e3ab886-8368-11e7-9a0e-66e19d1fb650.png)

@mheubusch @bbinto 👍 ?

I had to pull the subtitle out of this table view cause it is going to come out in the Settings UI polish issue #146

[2017-08-18 01:48] shinglyu opened #323 "Close/archive the bugzilla product if not in use?"
I was about to file a feature request for focus on bugzilla, but then I found this repo. Is the bugs in bugzilla still in use? If not maybe it's best to close the "focus-ios" product on bugzilla and redirect everyone to here?

[2017-08-18 01:55] #317 closed

[2017-08-18 04:42] Sdaswani commented on #323
@shinglyu we have stopped using bugzilla and have centralized all issue tracking and planning here on Github. I believe @bbinto asked to have the focus-ios product on bugzilla closed but maybe she needs to check up on that.

[2017-08-18 11:42] bbinto commented on #323
I'll follow up on this bug, seems nobody has taken it yet, although submitted a little while ago https://bugzilla.mozilla.org/show_bug.cgi?id=1384960. Sorry @shinglyu for the confusion and thanks for contributing.

[2017-08-18 11:49] bbinto commented on #294
👍

[2017-08-18 12:16] mheubusch commented on #294
Looks good but please remove the ellipsis. Thanks!

[2017-08-18 16:39] AaronMT commented on #48
Can probably implement a very similar implementation (see history https://github.com/mozilla-mobile/firefox-ios/pull/1214) as Firefox for iOS: add a long press gesture to reload, popup an action for 'Reload Desktop Site' and 'Reload Mobile Site' and forget the state on 'Erase'. I suppose it's a question of which desktop UA to use (Safari on Mac OS?)

[2017-08-18 16:48] AaronMT commented on #270
func application(_ application: UIApplication, shouldAllowExtensionPointIdentifier extensionPointIdentifier: UIApplicationExtensionPointIdentifier) -> Bool {
        // We don't currently support third-party keyboards due to incompatibilities with our
        // autocomplete text field (e.g., bug 1317104).
        return extensionPointIdentifier != UIApplicationExtensionPointIdentifier.keyboard

[2017-08-18 16:48] eleemoz opened #327 "Add in-app link to Focus Privacy notice in "About" page"
Link to privacy notice is missing from About page.

https://www.mozilla.org/privacy/firefox-focus/

[2017-08-18 17:24] antlam opened #330 "Update App Icon"
Since we held this back, filing to keep track for Cobalt.

I think the assets are already in the tree?

cc/ @bbinto

[2017-08-18 20:59] Sdaswani opened #333 "Generate Screenshots for Cobalt"
Used for l10n validation.

[2017-08-18 21:10] Sdaswani commented on #333
This needs to be done after code freeze on August 25h.

@bkmunar I'm estimating a .5 day effort in sum, pipe up if you disagree.

[2017-08-18 21:11] Sdaswani commented on #330
@boek I'm assuming this is a quickie since you just have to apply the old patch - no estimate. Let me know if you disagree.

[2017-08-18 21:12] boek commented on #330
@Sdaswani I was going to add the beta/dev icons as well this time around. But I still think it will be quick

[2017-08-18 21:12] Sdaswani commented on #126
@boek this is at least 1 day, right?

[2017-08-18 21:13] Sdaswani commented on #312
@boek we can close this right-o? if so please do it.

[2017-08-18 21:13] #312 closed

[2017-08-18 21:13] Sdaswani commented on #302
@boek this should be closed to - it got into Burgundy, right?

[2017-08-18 21:15] Sdaswani commented on #95
@bkmunar this can be closed right? If so please do so.

[2017-08-18 21:15] Sdaswani commented on #146
@bkmunar status of this? estimate was 1 day earlier this week.

[2017-08-18 21:16] Delphine commented on #333
Screenshots post code freeze sounds right. We'd be good if we get one round on the 25th (or 26th), and then a second round with updated screenshots (which will therefore show any l10n changes localizers may have had to make) before l10n-sign-off, so on August 29th. Does that sound about right on your side too? Also, I don't think I have access to the remote mac-mini. @flodolo will most surely also

[2017-08-18 21:16] Sdaswani commented on #284
no estimate yet, we will triage this next week.

[2017-08-18 21:17] Delphine commented on #333
Also, note to myself I'll have to update the screenshots link in Pontoon so that localizers can access them. Wherever they end up, we'll have to make sure the access is open to public.

[2017-08-18 21:18] Sdaswani commented on #283
@boek estimate?

[2017-08-18 21:18] Sdaswani commented on #125
@bkmunar estimate?

[2017-08-18 21:22] Sdaswani commented on #277
This is a nice to have for Cobalt @bbinto since we have one more release before iOS11 drops. Cool?

[2017-08-18 21:23] Sdaswani commented on #266
@bkmunar I'm estimating 1.5 days - agree?

[2017-08-18 21:23] Sdaswani commented on #98
@boek let me know if the 1.5 day estimate is too aggressive.

[2017-08-18 21:24] Sdaswani commented on #91
@bkmunar my estimate is 1.5 days - agree?

[2017-08-18 21:25] Sdaswani commented on #333
I'll work on getting you two access to the machine @Delphine .

[2017-08-18 21:27] Sdaswani commented on #215
@boek estimate here? may be a hard one to estimate. 1.5 days?

[2017-08-18 21:31] bkmunar commented on #333
@Sdaswani ideally yes, given that there's no problems again with the script/tests. speaking of which, do we have tests added for new screenshots to test the new strings?

[2017-08-18 21:32] Sdaswani commented on #333
No we don't @bkmunar , so that will increase the estimate and should be part of this ticket.

[2017-08-18 22:09] boek commented on #98
I think that sounds about right :)

[2017-08-18 22:10] boek commented on #283
@Sdaswani This work is bundled in with #123 now. Once I fix the edge cases for that and I get the strings this will ship with it :)

[2017-08-18 22:11] antlam commented on #269
Attaching WIP

![screen shot 2017-08-18 at 3 10 32 pm](https://user-images.githubusercontent.com/1994820/29479506-6973ef12-8427-11e7-8317-d70f551b340e.png)

[2017-08-18 22:11] #302 closed

[2017-08-18 22:11] boek commented on #302
Yes

[2017-08-18 22:32] bkmunar commented on #333
Is there a way to get a list of these things to test for then?

[2017-08-18 22:55] Sdaswani commented on #333
@bkmunar : https://github.com/mozilla-mobile/focus-ios/milestone/3

[2017-08-19 01:22] AaronMT opened #334 "Add Bing as a bundled search engine offering"
As per discussion on HN, it was raised that Bing is not offered in Focus. I can’t find any historical discussion as to why Bing does not ship in Focus. We should offer Bing as a bundled engine.

[2017-08-19 02:35] briankung commented on #152
I find myself wanting this every day. FFocus is my default browser.

[2017-08-19 04:41] Sdaswani commented on #152
It doesn't exist @bbinto . @briankung we will get to it but contributions appreciated :) .

[2017-08-19 05:55] flodolo commented on #333
Why would we need access to a Mac Mini? Ideally, screenshot generation should be automated, and the results published to a server accessible to localizers.

[2017-08-19 06:03] Sdaswani commented on #333
@flodolo running the screenshots takes over a developer's machine, keeping them from doing engineering work. So the Mac Mini will free up their machine for much more valuable coding.

Our l10n process ideally needs much more automation, as it's a significant time suck of valuable engineering time - we'll be addressing that in the future.

We will work to have the screenshots published to an S3 box

[2017-08-19 06:27] flodolo commented on #333
This part I absolutely understand. But it should be a dedicated machine, with automated jobs to generate and upload screenshots somewhere public, no need for me or Delphine to access it.

[2017-08-20 13:36] J0WI commented on #155
cross link to https://github.com/mozilla-mobile/focus-android/issues/596

[2017-08-21 05:38] Sdaswani opened #335 "Share Extension Doesn't Open All Links"
The Share Extension doesn't show up for links that I share from the following Apps:
- GMail
- Mail
- Feedly

I'm sure there are more.

[2017-08-21 05:42] Sdaswani opened #336 "Handoff of Clipboard Delays Focus Launch"
@boek has reproduced - this is similar to an issue in Firefox iOS. We should i) fix it and ii) see if a fix is needed for High Sierra + iOS 11.

[2017-08-21 18:29] Sdaswani commented on #336
I reproduced too. This is how Firefox handled it:

@jhugman said:

[2017-08-21 20:55] #95 closed

[2017-08-21 21:43] Sdaswani opened #337 "Google News (and other sites) URL Bar Not Collapsing!"
Load news.google.com and notice that the URL bar isn't collapsing.

[2017-08-21 21:50] Sdaswani commented on #146
@lime124 small issue here - I think you removed the 'needs strings' label before we agreed to affix 'strings approved' to notify it needs to get into the localization process, so we *do not* have 'Search' localized. So @bkmunar will have to change it back to 'SEARCH ENGINE', but then we have a ugly section where it says 'SEARCH ENGINE' and 'Search Engine' right below. Any ideas on how to proceed t

[2017-08-21 22:22] bkmunar commented on #91
Is there a mock for this? unsure on what to be building

[2017-08-22 01:20] lime124 commented on #146
@Sdaswani does changing the the search engine UI back restart the localization process?

If it doesn't restart the process, reverting that UI to what we have now would be my preference (I know it's sucky to revert one's work) so we aren't constantly 'fiddling' with the UI from the user's perspective.

If it does restart the process, then I'm not sure what other choice we have than to use "Search E

[2017-08-22 03:43] Sdaswani commented on #146
@lime124 if you went back to the search engine UI from before - that wouldn't restart the localization process, no. We'd just split off that section from this ticket and complete it in Denim, as you suggest.

We could also use 'Search Engine' twice in a row and just make it right in Denim.

The easier effort is probably just to use Search Engine twice.

[2017-08-22 04:24] Sdaswani commented on #277
I'm taking this out of Cobalt since the release is packed enough and it's iOS11, so we have some time.

[2017-08-22 08:11] brampitoyo opened #338 "URL bar sometimes fail to minimise when scrolling down"
I’ve observed two different behaviours:

1. URL bar is stuck in its initial maximised position ([video](https://cl.ly/1k2I2D2H3j21))
![focus-ios-header-cannot-minimise-1](https://user-images.githubusercontent.com/51007/29554004-c700a9d6-8747-11e7-853a-74e404d88a56.gif)

2. URL bar tries to minimise, but immediately started maximising again ([video](https://cl.ly/0c3a2X0z1a2K))
![focus-ios-header-c

[2017-08-22 13:04] Sdaswani commented on #337
Duped by https://github.com/mozilla-mobile/focus-ios/issues/338 .

[2017-08-22 13:05] Sdaswani commented on #338
This is a dupe: https://github.com/mozilla-mobile/focus-ios/issues/337

[2017-08-22 13:05] #338 closed

[2017-08-22 14:52] boek commented on #336
I wonder if we could fetch the clipboard on a background thread and then update the UI after we have it.

[2017-08-22 15:19] Sdaswani commented on #336
Yes I think that is what the Firefox team is doing here: https://bugzilla.mozilla.org/show_bug.cgi?id=1370281

I wonder how the UI will look - we may need a spinner or a pop in effect.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jeff Boek <notifications@github.com>
Sent: Tuesday, August 22, 2017 7:52:16 AM
To: mozilla-mobile/focus-ios
Cc: Susheel Daswani; Aut

[2017-08-22 17:38] lime124 opened #339 "Add telemetry to detect orientation usage"
Can we add telemetry to gain a better understanding for orientation usage in Focus?

[2017-08-22 17:46] Sdaswani opened #340 "[iOS 11 Support] Crash on 'Save Image' - need permission"
@AaronMT [said](https://github.com/mozilla-mobile/focus-ios/pull/281#issuecomment-324075458):

iOS 11 requires this key NSPhotoLibraryAddUsageDescription to write to the photo library

https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW73

[2017-08-22 18:49] lime124 commented on #146
I'd prefer to do the first (revert) so we don't appear to end users as
fiddling with the UI a lot. Thanks!

On Mon, Aug 21, 2017 at 8:43 PM Susheel Daswani <notifications@github.com>
wrote:

[2017-08-22 20:07] AaronMT commented on #340
This requires a new string too.

[2017-08-22 20:18] Sdaswani opened #341 "Shut Off Clipboard Access Until Improved"
Will be approved in Denim.

[2017-08-22 20:20] bbinto commented on #334
This is on purpose, reach out to me if you need more info

[2017-08-22 20:20] #334 closed

[2017-08-22 20:25] Sdaswani commented on #304
We have our own duplicative dialog we can probably eliminate.

[2017-08-22 20:28] bbinto commented on #300
Could you please file this issue for Android, as we consider more partner distributions under that project: https://github.com/mozilla-mobile/focus-android/issues/new

[2017-08-22 20:28] #300 closed

[2017-08-22 20:29] bbinto commented on #298
Let's do this once we move to WKWebView

[2017-08-22 20:31] Sdaswani commented on #340
@AaronMT sorry a new user facing string?

[2017-08-22 20:40] bbinto commented on #48
UX: ??
Eng: S

Under consideration

[2017-08-23 01:38] lime124 commented on #91
I'm going to need either @antlam or @brampitoyo to provide what you need. I'm not sure what the colors are. I believe this is what antlam is after:

https://github.com/mozilla-mobile/focus-android/issues/1132

[2017-08-23 01:52] lime124 opened #343 "[meta][ux] Tracking Protection"
For my own sanity, testing out the idea of creating a meta issue to track the various issues to consider while designing.

- [x] #255 Show trackers blocked in collapsed URL bar (on-scroll)
- [x] #144 Provide feedback about what / how much has been blocked
- [x] #240 Provide feedback about what / how much has been blocked
- [x] #121 Indicate "Blocking" has been turned off
- [x] #96 Tracker switch t

[2017-08-23 06:36] brampitoyo commented on #91
Here’s a visual design spec that tries to unify the iOS and Android progress bar as per @antlam’s original comment.

![ios spec progress bar](https://user-images.githubusercontent.com/51007/29601900-053ccb9c-8808-11e7-98cc-666fb6886143.png)

[2017-08-23 09:14] brampitoyo opened #344 "URL bar sometimes cannot minimise when scrolling down"
I thought I had this issue posted 2 days ago, but seem to have forgotten.

I’ve observed two different bugs here:

1. When you scroll down, the URL bar is stuck in maximised position ([video source](https://cl.ly/1k2I2D2H3j21))
![focus-ios-header-cannot-minimise-1](https://user-images.githubusercontent.com/51007/29607979-0a154904-881d-11e7-8c28-e73f0e502ead.gif)

2. When you scroll down, the URL b

[2017-08-23 09:38] brampitoyo commented on #344
My brain lapses mean that I’ve filed the bug in the wrong repo, then filed a duplicate one in the right repo. Closing this issue.

[2017-08-23 09:38] #344 closed

[2017-08-23 18:08] lime124 opened #346 "Improve the Settings UI on iPad"
The Settings screen in iPad is currently just a really big version of the iPhone. Let's make the Settings layout more iPad friendly.

[2017-08-23 18:11] lime124 opened #347 "SSL icon doesn't behave as expected"
Referring to badssl.com, our lock icon doesn't show the SSL states one would expect and can be seen in Firefox (desktop).

[2017-08-23 19:23] lime124 commented on #327
![settings](https://user-images.githubusercontent.com/287322/29634057-58e72e14-87fd-11e7-8c76-4bd80be97e1c.png)

@boek - was the background of this page updated to #272727 when we updated the high level Settings page?

@mheubusch proposed string is "Privacy Policy". Should this be title or sentence case? String freeze for Denim is 8/31.

[2017-08-23 19:28] mheubusch commented on #327
String should be Privacy Notice - title case and "Notice" not "Policy"

[2017-08-23 20:19] Sdaswani commented on #336
Note that this issue also affects how fast the 'Paste' and 'Paste & Go' menus are rendered.

[2017-08-24 00:22] learnedhoof opened #348 "Update license file"
Information in license file (under Your Rights) is out of date. For example, link to github repo has moved.

[2017-08-24 00:26] eleemoz commented on #348
started with #349

[2017-08-24 08:09] brampitoyo commented on #125
Unfortunately, I couldn’t find the app extension icons for Safari or Chrome anywhere, so I had to recreate them from scratch.

I’ve generated these icons based on the [iOS Human Interface Guidelines](https://developer.apple.com/ios/human-interface-guidelines/extensions/sharing-and-actions/):

When I measured the actual dimension of the app extension icon, it was 60px × 60px, so I’ve used that size

[2017-08-24 10:48] bbinto opened #350 ""What's new" in app"
We want to inform our users of updates *inside* the app, rather than via the store update description.

UX to come up with a solution how to achieve that.

Requirements:
- needs to show the content of a What's New SUMO Page
- shows after update of the app
- the presentation does not conflict with the simplicity of the app

[2017-08-24 16:47] Sdaswani commented on #350
UX should also consider how this works when we start the app with the keyboard up: https://github.com/mozilla-mobile/focus-ios/issues/98

Or maybe we don't do that on first launch after the App Store?

[2017-08-24 17:36] lime124 opened #351 "[meta][ux] Settings updates"
While we're taking a look at Android Settings, I think it makes sense to also look at iOS and address some issues we have floating around. Let's look at the organization, the strings, and interactions.

- [ ] #202 Safari integration isn't clear
- [x] #229 Add settings button back to Safari instructions
- [ ] #272 Explain blocking settings better
- [ ] #346 Improve the Settings UI on iPad
- [x] #38

[2017-08-24 17:49] lime124 commented on #124
@antlam can you take a look at this next week? String freeze for iOS is Thursday Aug 31st.

[2017-08-24 17:49] mheubusch commented on #340
@Sdaswani @AaronMT Michelle here - can you show me how this will appear in the interface? What are the content requirements? Do we need to write copy for a description or for buttons as well?  Is there a character limit?

[2017-08-24 18:09] AaronMT commented on #340
[Example](http://nshipster.s3.amazonaws.com/core-location-always-authorization.png)

E.g, "To be able to save images to Photos, you will need to allow this" or "This permission is required to save images to Photos" is the string description

[2017-08-24 18:15] AaronMT commented on #350
Can I suggest not using a Mozilla Support site for showcasing 'What's New'? We know (in genral) users do not read, we also know that users do not like when we force open or display pages for them in tabs. I appreciate when apps show me what is new through guided tour (e.g, sliding open a new sidebar) or (automatically showing me pull to refresh). This a new chance to try something new, can we expl

[2017-08-24 19:18] #341 closed

[2017-08-24 20:43] lime124 commented on #98
@antlam can you check in with @boek about the positioning of the Firefox Focus text on the purple background?

[2017-08-24 23:01] bkmunar commented on #266
So it seems like the only duplicate alert we get is for the telephone links? Can someone sanity check to confirm? It looks like then I can just remove out telephone link alert pop up @boek

[2017-08-24 23:04] boek commented on #266
@bkmunar https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/RequestHandler.swift

looks like you might want to check `mailto` links as well

[2017-08-24 23:57] boek commented on #98
@antlam It also looks like the setting icon has changed?

[2017-08-25 00:01] #123 closed

[2017-08-25 04:13] Sdaswani commented on #98
@antlam isn't around this week so pinging @lime124 or @brampitoyo to see if they can answer your question @boek .

[2017-08-25 05:08] Sdaswani opened #355 "Write Automated Unit Test for Share Experience"
This change needs an automated unit test: https://github.com/mozilla-mobile/focus-ios/pull/353#issuecomment-324822429 , at least for the Safari Share experience.

[2017-08-25 14:00] AaronMT commented on #340
As expected, 'Save Image' currently crashes on iOS 11.

[2017-08-25 14:52] npark-mozilla opened #356 "On iPad, clicking share button causes app to crash"
STR:
Go to www.mozilla.org
When the site is fully loaded, press the share button (next to Erase)

Expected:
Opens dialog
Actual:
Crashes the app

BB Crash message:
Fatal Exception NSGenericException

Your application has presented a UIActivityViewController (<UIActivityViewController: 0x7fcc1436b800>). In its current trait environment, the modalPresentationStyle of a UIActivityViewController with

[2017-08-25 14:52] npark-mozilla commented on #356
This happens after https://github.com/mozilla-mobile/focus-ios/commit/b611755b3946784cf7d6b0213c507ad7591a66af

[2017-08-25 16:55] Sdaswani commented on #356
Fix is forthcoming.

[2017-08-25 21:22] #340 closed

[2017-08-25 22:30] #98 closed

[2017-08-25 22:53] #146 closed

[2017-08-25 22:53] #356 closed

[2017-08-25 22:54] #283 closed

[2017-08-25 22:54] #125 closed

[2017-08-25 22:54] #330 closed

[2017-08-25 23:20] boek opened #361 "Overlay is open when app is opened from extension"
Regression from #98. Using the extension opens the overlay.

[2017-08-25 23:21] Sdaswani commented on #361
Nice find.

[2017-08-27 06:37] antlam commented on #91
Thanks @brampitoyo ! note: this is iOS so it will likely be px instead of dp. But the numbers are still correct!

[2017-08-27 07:09] antlam commented on #98
@boek it has! will update assets as a part of issue #92

[2017-08-27 21:27] lime124 commented on #336
Please refer to #269 for the spec page.

@mheubusch needs to approve/review the sting. Something like "Syncing link via Apple's Handoff feature" yes I know it's horrible :)

@antlam can provide spacing for the spinner if you need it. Thanks!

[2017-08-27 21:29] lime124 commented on #269
Here is the proposal:
![ixd - clipboard](https://user-images.githubusercontent.com/287322/29754139-2c04afd6-8b4d-11e7-880e-1dd115d53091.png)

@mheubusch please approve string "Link you copied:" - I think it's important to indicate that the user is the one who copied the link and that's why it is being shown.

FYI @bbinto @antlam

[2017-08-28 04:21] Sdaswani commented on #269
@lime124 do you think there is any value or method to have the user opt in to displaying clipboard links? I think this works well but I'm just paranoid after all the user reviews.

[2017-08-28 04:40] antlam commented on #125
@Sdaswani are these glyphs being used right now? I couldn't see them in my latest BB...

@brampitoyo and I talked and we wanted to take another pass at them (just an image swap) so that they look more accurate and a bit more polished. It would be ideal if we could even align more with our photon styles.

All in all, we just want to update the glyphs and swap them in if it's not too late :)

[2017-08-28 05:24] Sdaswani commented on #125
@antlam i do see the glyphs in the latest BB? In any case a simple glyph swap is fine - can you create a issue, affix the new glyphs  and assign it to @bkmunar please?

[2017-08-28 09:24] oMikR0n commented on #350
Will be nice to see an implementation of "Reader View" on this great app. I don't know if is in any way related to privacy.

[2017-08-28 11:53] bbinto commented on #269
Very valid point, @Sdaswani -- I'd test it as is first, as it aligns with our attitude towards convenience for the user.

[2017-08-28 11:55] bbinto commented on #350
@oMikR0n, feel free to follow along #802

[2017-08-28 12:23] oMikR0n commented on #350
@bbinto cant find it... Can you update with a link?

[2017-08-28 13:12] bbinto commented on #350
@alexbogias does that work?  https://github.com/mozilla-mobile/focus-android/issues/802

[2017-08-28 13:21] alexbogias commented on #350
@bbinto oh Android version... Now i see :D

[2017-08-28 13:33] bbinto opened #362 "Reader view"
similar to mozilla-mobile/focus-android#802

[2017-08-28 13:33] bbinto commented on #350
my bad! I shall create one for iOS: https://github.com/mozilla-mobile/focus-ios/issues/362

[2017-08-28 15:29] antlam commented on #125
@Sdaswani I see it now! 😅

Will file for new assets, thank you!

[2017-08-28 15:34] antlam opened #363 "Update glyphs for share extension"
Purely an image update left over from issue #125

Will attach new Safari and Chrome assets to replace these below:

![](https://user-images.githubusercontent.com/51007/29656151-af1db20e-88dd-11e7-9368-bf06cf7c48a2.png)

![](https://user-images.githubusercontent.com/51007/29655901-b4d5c05c-88dc-11e7-8d31-d8aefafe7aa2.png)

[2017-08-28 15:47] antlam commented on #90
I'd say this is not UX-heavy

Proceed! 👍

[2017-08-28 15:49] antlam commented on #124
@lime124 I think this has been pushed back now. Will keep an eye on it though.

[2017-08-28 15:54] bbinto commented on #124
Yeah, sorry I moved it this morning.

[2017-08-28 15:55] bbinto commented on #90
@antlam you saying this could be accomplished for Denim?

[2017-08-28 16:00] antlam commented on #269
or opt-out! but yes, let's give this a try first.

Depending on the feedback, UX also has a couple other ideas we want to try out too. Giving users a healthy balance of _convenience_ vs _privacy_ can be a tough line to tread sometimes :)

[2017-08-28 16:32] antlam commented on #240
This references the same bug in issue #144 and has the same title, I think it's a dupe. So I'm closing this! :)

[2017-08-28 16:32] #240 closed

[2017-08-28 18:58] antlam commented on #92
Pinging @shorlander for icons

[2017-08-28 19:25] boek opened #364 "Keyboard is not up after dismissing first run view"
Good find @bkmunar

[2017-08-28 19:57] boek opened #365 "Modify deeplink for dev/beta builds"
dev/beta/prod are all competing for the `firefox-focus/klar` deeplink for the share extension. We should separate them out so each share extension opens the proper parent application.

[2017-08-28 19:57] #296 closed

[2017-08-28 19:58] boek opened #366 "Integrate Sentry"
| Estimate | Impact                                                           |
| ---------|------------------------------------------- |
| 0.5 days | Adds the ability to capture errors / crashes |

## Detailed Description
Adds [Sentry](https://sentry.io/) for error/crash reporting/

## Context
Currently we are only getting crashes from the people who opt-in to Apples program. Errors are either no

[2017-08-28 20:41] boek commented on #286
Looks like the library already supports it?

https://github.com/mozilla-mobile/telemetry-ios/blob/master/Telemetry/TelemetryConfiguration.swift#L13

We should be able to add this pretty quick. I'll add it when we update the library.

[2017-08-28 20:44] bkmunar commented on #364
i know im pretty awesome

[2017-08-28 20:45] boek opened #367 "update Telemetry library"
Will add the fix for #286 as well.

[2017-08-28 21:38] #364 closed

[2017-08-28 23:06] antlam commented on #143
I'm flagging this as "Blocked" to discuss with @bbinto tomorrow

I may be missing some context here since I just got back from PTO but IIUC the last thing we were blocked on was that we need to prompt users for permissions in order to actually do any of the ideas we had.

[2017-08-28 23:13] npark-mozilla commented on #355
@Sdaswani I believe the script @AaronMT  wrote does the job: https://github.com/mozilla-mobile/focus-ios/blob/master/XCUITest/OpenInFocusTest.swift  Let me know if you need further enhancements to the test

[2017-08-29 04:31] Sdaswani commented on #355
Cool @npark-mozilla - though note we got rid of the 'More' menu, so this test should fail? The Share button skips the intermediate dialog and just opens the Extension sheet.

[2017-08-29 14:39] npark-mozilla commented on #355
@Sdaswani The test is currently passing in BB, and 'More' button in safari is still there (it's there to enable the Focus extension). is there an alternate scenario?  If so could you let me know the steps?

[2017-08-29 14:48] bbinto commented on #244
@boek can you check if this still happens? Thanks :)

[2017-08-29 14:49] bbinto commented on #227
#333

[2017-08-29 14:49] #227 closed

[2017-08-29 14:50] shorlander commented on #92
@boek Hi, I noticed that we are duplicating all of our assets for various states, e.g.:
- https://github.com/mozilla-mobile/focus-ios/tree/master/Blockzilla/Assets.xcassets/icon_back_active.imageset
and
- https://github.com/mozilla-mobile/focus-ios/tree/master/Blockzilla/Assets.xcassets/icon_back_inactive.imageset

The states are color and/or opacity changes. Is it possible to use just one set of

[2017-08-29 14:53] bbinto commented on #156
dupe #362

[2017-08-29 14:53] #156 closed

[2017-08-29 14:57] bbinto commented on #243
@boek still relevant, https://bugzilla.mozilla.org/show_bug.cgi?id=1318436?

[2017-08-29 14:58] bbinto commented on #242
ongoing process, closing

[2017-08-29 14:58] #242 closed

[2017-08-29 14:59] AaronMT opened #373 "On invalid URL, browser layout becomes permanently skewed (soft-lock)"
See screenshot

=> Visit 127.0.0.1 or http://toronto.a

The only work-around out of this state is to close and re-open the browser.
![img_0053](https://user-images.githubusercontent.com/102331/29827867-1e36f6ae-8ca9-11e7-8b64-6353c4011121.PNG)

[2017-08-29 15:00] bbinto commented on #237
closing as we've found a way to document

[2017-08-29 15:00] #237 closed

[2017-08-29 15:02] bbinto commented on #235
Chrome adds the following keys to the top of the keyboard: ":", ".", "-", "/", and ".com". We should do the same to improve URL entry.

--
Changing 'urlText.keyboardType' from '.webSearch' to '.URL' adds a '.', '/', and '.com' natively.

Making it like Chrome's keys would take a little more work.

I am completely brand new to contributing to open source and would love to help out. If you think the

[2017-08-29 15:03] bbinto commented on #234
Thoughts? @Sdaswani & @boek

[2017-08-29 15:03] npark-mozilla commented on #373
This also can be seen on BB: https://dashboard.buddybuild.com/apps/58cc46bc5753e401002f47b4/build/59a4f31348a307000130e806/test/d5ccc6d1-9d1e-4777-94b2-c2be62532c1c/c6ee5924-1d7d-4209-bb0f-dd84e2fb7726#tests

when the network is down and hostname could not be found, test freezes

[2017-08-29 15:04] AaronMT commented on #373
Older platforms affected too

[2017-08-29 15:06] #232 closed

[2017-08-29 15:07] bbinto commented on #230
Stefan: Found this note in the UIWebView documentation: "In iOS 6 and later, if you assign a value to this view’s restorationIdentifier property, it attempts to preserve its URL history, the scaling and scrolling positions for each page, and information about which page is currently being viewed. During restoration, the view restores these values so that the web content appears just as it did befo

[2017-08-29 15:08] bbinto commented on #228
when pages like http://www.usatoday.com/story/news/politics/elections/2016/07/12/bernie-sanders-endorse-hillary-clinton-today-new-hampshire/86954050/ are visited with "Block ad trackers" enabled, the headline video player disappears.

Still not working? @bkmunar? Could you please verify.

Might be a good use case for turn on/off blocking

[2017-08-29 15:09] bbinto commented on #96
Good use case: #228

[2017-08-29 15:09] bbinto commented on #225
#67

[2017-08-29 15:09] #225 closed

[2017-08-29 15:10] bbinto commented on #224
Has this been fixed?
https://bugzilla.mozilla.org/show_bug.cgi?id=1371810

[2017-08-29 15:13] AaronMT opened #374 "Regression: Sharing a URL to Focus displays search results over open URL"
Currently, when sharing a URL to Focus, we display search results overlaid the open page when Focus is in the foreground after opening the URL.

=> Safari (http://nba.com)
=> Share to Focus

See screenshot

![img_0055](https://user-images.githubusercontent.com/102331/29828569-182a2a2c-8cab-11e7-8dcc-5ec5a134ef19.PNG)

[2017-08-29 15:17] npark-mozilla commented on #374
It first appears on BB from this commit: https://github.com/mozilla-mobile/focus-ios/commit/eba1dd4976f0ce73898644574c5433a8bd6e7385

[2017-08-29 15:39] AaronMT opened #375 "Browser hard locks on sharing to Notes (iOS 11)"
Currently, on attempt to share to 'Add to Notes' the browser hard locks. I was trying to create a new note off opened tabs to create a list and was unable to do so. There is no current work-around. A full close of the browser and reopening was required.

=> http://mozilla.org
=> Share | Notes

[2017-08-29 15:43] AaronMT opened #376 "Sharing to most iOS system apps does not work as expected (iOS 11)"
Currently, on attempt to share to most iOS 11 system applications nothing is working as expected.

Reminders -> Empty
Add to Notes -> Hard lock
Twitter -> No Account (I have an account)
Messages -> I just a text URL but no preview (try it in Safari)
Mail -> No preview, basic text URL

[2017-08-29 15:44] npark-mozilla commented on #355
Oh now I see what you mean, I wonder why it passed on BB, I'll investigate and update the test

[2017-08-29 15:54] npark-mozilla commented on #355
it appears that while running XCUITest, the extension doesn't register automatically, while when repeating the same procedure manually, it was. I'm assuming this is XCUITest issue.

[2017-08-29 16:44] Sdaswani commented on #355
Hopefully you can find a workaround @npark-mozilla .

[2017-08-29 16:53] Sdaswani commented on #376
@AaronMT Notes worked as expected for me. Twitter worked too.

But if you are expecting certain behaviors for Reminders, Messages and Mail, we may need to do some legwork to match those expectations. But the app link was working in all those cases for me.

[2017-08-29 16:55] Sdaswani commented on #375
This is working for me with Build 454 Focus Enterprise on BB.

[2017-08-29 16:58] AaronMT commented on #376
Were you testing on iOS11?

[2017-08-29 16:58] Sdaswani commented on #224
No it hasn't @bbinto  - in fact we need to bake in some development time to whittle down our crashers in an upcoming release.

[2017-08-29 17:00] Sdaswani commented on #376
Sorry, didn't see in the title, which is what you've been doing for iOS 11 issues. A tag would probably be best actually so we can find all iOS 11 issues easily. Since we are in QA for Cobalt I'm assuming most bugs that cross my screen are related to the release.

[2017-08-29 17:19] boek commented on #361
dup of #374

[2017-08-29 17:19] #361 closed

[2017-08-29 17:21] npark-mozilla commented on #355
if I leave as is, that should be sufficient - the workaround is already implemented.

[2017-08-29 17:41] Sdaswani commented on #355
Cool, then closing - thanks @npark-mozilla .

[2017-08-29 17:41] #355 closed

[2017-08-29 17:48] Sdaswani commented on #234
1. We can only use the Content Blocking API on iOSes that support it.
2. I think our UIWebView ad blocking will work on any device that supports UIWebView - right @boek ?

[2017-08-29 18:16] boek commented on #234
@Sdaswani I don't think I completely understand the ask.

From what I can see, it looks like there will be no blocking without the extension.

[2017-08-29 18:22] Sdaswani commented on #234
@boek the title isn't very descriptive, so I talked about both:
1. Content Blocking _in Safari_: We can only use the Content Blocking API on iOSes that support it.
2. Content Blocking / Ad Tracking _in Focus_: I think our UIWebView ad blocking will work on any device that supports UIWebView - right?

[2017-08-29 19:00] Sdaswani commented on #266
Closing as it just needs to be QAed.

[2017-08-29 19:00] #266 closed

[2017-08-29 20:13] BrianNJones commented on #255
@lime124 are you still working with michelle on add'l strings? if so, can you point me to them?

[2017-08-29 20:20] bbinto commented on #347
@antlam to confirm

[2017-08-29 20:22] boek commented on #284
I will look into this

[2017-08-29 20:24] antlam commented on #250
Let's take a look at telemetry here too.. for both platforms!

[2017-08-29 20:25] bbinto commented on #246
Should be included with the Trash-Icon improvements (@antlam)

[2017-08-29 20:25] antlam commented on #250
Android bug here: https://github.com/mozilla-mobile/focus-android/issues/1057

With some telemetry too! Could we see some iOS numbers?

[2017-08-29 20:27] bbinto commented on #238
#347 should be worked at in parallel

[2017-08-29 20:29] bbinto commented on #235
@boek to confirm Eng T-shirt size.

[2017-08-29 20:29] bbinto commented on #230
@st3fan can you please elaborate more....

[2017-08-29 20:33] bbinto commented on #223
not high priority

[2017-08-29 20:33] antlam commented on #255
@BrianNJones hey! there might be some delay since @lime124 is on PTO.

But I think we don't want to have strings in this UI to start. We plan to use a simple number instead.

Is that OK? If so, we can label this 'strings-approved'

[2017-08-29 20:52] Sdaswani commented on #336
Estimate: S to M

[2017-08-29 20:54] Sdaswani commented on #327
Estimate: S

[2017-08-29 20:54] Sdaswani commented on #294
Estimate: S

[2017-08-29 20:56] Sdaswani commented on #269
Estimate: S

[2017-08-29 21:04] Sdaswani commented on #337
@boek Estimate please.

[2017-08-29 21:05] bkmunar commented on #92
estimate: S

[2017-08-29 21:11] boek commented on #337
The page doesn't actually scroll. It's a div that is positioned absolutely on the page and then they change the position using transform3d

<img width="675" alt="image" src="https://user-images.githubusercontent.com/1250545/29844305-abbd4e96-8cc3-11e7-9d22-d72fad15a90e.png">

It's broken on every browser (including safari).

![img_2479](https://user-images.githubusercontent.com/1250545/29844347-d3

[2017-08-29 21:13] Sdaswani commented on #335
@bbinto this is pretty important and I think we should get it in denim - your thoughts?

I think it's not a lot of eng work - more research, so I'd call it a S cc @boek .

[2017-08-29 21:14] Sdaswani commented on #337
CAN'T FIX :(

[2017-08-29 21:14] #337 closed

[2017-08-29 21:16] antlam commented on #92
@bkmunar im most nervous about this affecting the padding and margins that we've so carefully laid out. So let's make sure we get proper reviews here before closing this issue :)

[2017-08-29 21:19] boek commented on #278
Estimate: S

[2017-08-29 21:31] bkmunar commented on #92
@shorlander I think it is possible... it's honestly up to UX to decide, but i will say that if you provide assets for everything, that will most ensure you will get the look that you want instead of seeing what the program does programmatically to the assets

[2017-08-29 21:37] BrianNJones commented on #269
Please approve this string:
Link you copied:

[2017-08-29 21:41] BrianNJones commented on #336
Please approve this string:
Apple Handoff is syncing

[2017-08-29 22:54] boek commented on #339
Estimate: S

@bbinto @Sdaswani @lime124  Will need some clarification on how we want to track this though.

I could see couple of different ways we could track this. The first being:

1. Add (or attach to) an event at launch that records the current orientation. While also recording every time the orientation changes.
2. Attach the device orientation to the other events giving you the ability to c

[2017-08-29 22:58] boek commented on #215
Estimate: M

I'll update this ticket once I dig into it. Could be easier than I think as well.

[2017-08-30 04:28] Sdaswani commented on #339
@boek my suggestion is to add it to either every i) app did enter foreground event or ii) app did enter background event (code https://github.com/mozilla-mobile/focus-ios/blob/master/Blockzilla/AppDelegate.swift#L222). My preference is ii, assuming we are seeing as many foreground events as we are seeing background events.

[2017-08-30 05:37] boek commented on #339
I like that. We can always adjust later as well.

[2017-08-30 06:36] bkmunar commented on #91
Better to overestimate: M

[2017-08-30 07:11] flodolo opened #380 "Import localization for es-AR"
Looking at documentation, a brand new locale needs to be manually imported first
https://github.com/mozilla-mobile/focus-ios/wiki/Importing-Locales

es-AR is complete and a brand new locale.

I've created a script to get the list of such locales, just run it passing the path to a Focus clone as argument
https://gist.github.com/flodolo/ded70574b0a7a07efa2ba218199b0716

Side notes/questions:
* I thi

[2017-08-30 11:14] bbinto commented on #250
I don't think we track this in iOS :( we only monitor
search_bar > type_url (URL entered)
search_bar > type_query (search term entered)

@justindarc, could you please clarify/confirm?

[2017-08-30 11:50] bbinto commented on #335
Yeah, let's figure this out, considering the GMAIL is a very frequently used app.

[2017-08-30 13:50] justindarc commented on #250
@bbinto correct. I don't believe this was ever one of the events we captured.

[2017-08-30 13:53] Sdaswani commented on #250
@bbinto maybe we can have @boek or @bkmunar get the events into Denim? It may be tight but should be possible. Or we can just make decisions off the Android data.

[2017-08-30 13:54] BrianNJones commented on #255
@antlam I think this can be closed, or strings needed removed, since the ui will show a simple number with no string.

[2017-08-30 14:27] justindarc commented on #250
Do we have Android data for this event? IIRC, when we first integrated event telemetry, we shared the same base set of events between both apps.

[2017-08-30 14:46] antlam commented on #255
@BrianNJones done! will keep you guys posted if things change (since this _is_ for the Ebony release).

[2017-08-30 14:47] bbinto commented on #250
@justindarc we do, here https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#browsing
and here

[2017-08-30 14:51] bbinto opened #381 "Track event when users clicks search hint"
Similar to Android (https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#browsing), we want to track the event, when a user clicks the search hint ( ("Search for ...") )

Category: action
Method: select_query
Object: search_bar  

Once we have this, we can make a decision on #250.

[2017-08-30 14:51] bbinto commented on #250
I'm fine with adding this event to Ebony, @Sdaswani. I want to not overload them :)

I created a ticket.

[2017-08-30 16:59] antlam commented on #91
@bkmunar I really suggest playing with it on an Android device as well since this includes a lot of motion specific design elements.

@pocmo made the one on Android. Maybe he has pro-tips 😄

[2017-08-30 17:29] pocmo commented on #91
@walkingice implemented it for Fennec and we just stole the code for Focus. 😂

[2017-08-30 17:30] pocmo commented on #91
There's a GIF here:
https://github.com/walkingice/Progressbar/blob/master/misc/imgs/screenshot.gif

Note that there's an additional animation when loading has completed.

[2017-08-30 19:27] #374 closed

[2017-08-30 20:50] antlam opened #385 "Define Settings pressed state and header color"
![img_1200](https://user-images.githubusercontent.com/1994820/29894268-9a60aa3c-8d89-11e7-81a0-5c3e8c952808.PNG)

Settings UI polish bug
1. Pressed state is just white, which is unreadable
2. Titles are as white as Headers and they kind of all scream out at the same time, its a bit jarring visually.

[2017-08-30 20:56] bkmunar commented on #380
yup this is what the script outputted for me:
`The following locales are complete but missing from the product: es-AR`

[2017-08-30 21:22] bkmunar commented on #380
this is what i get when i try to import that new locale
<img width="1512" alt="screen shot 2017-08-30 at 2 21 46 pm" src="https://user-images.githubusercontent.com/8356717/29895603-9911c59e-8d8e-11e7-89d2-d7970550f05e.png">

[2017-08-30 21:25] AaronMT commented on #373
This is fixed on master however the bottom area visible in the screenshot above still bleeds through. On device rotation that entire area is redrawn with a jarring white flicker.

[2017-08-30 22:11] Sdaswani commented on #380
@boek any ideas what's going on?

[2017-08-30 22:22] boek commented on #380
The only thing I can think of is one of the xliffs isn't valid? The script should validate each one before it gets imported. Did any of them have errors?

[2017-08-30 22:27] bkmunar commented on #380
@boek the script seems to only be checking completeness, not sure if that's testing for validness

[2017-08-30 22:27] Sdaswani opened #387 "Export Strings for Denim"
Here are all the strings that need to be exported: https://github.com/mozilla-mobile/focus-ios/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A%22Denim%22%20label%3A%22strings-approved%22%20

cc @antlam

@boek can help you as he ran this process for Cobalt, said it was perty fast these days.

[2017-08-30 22:30] Sdaswani commented on #380
@flodolo can maybe help tomorrow? but keep digging @bkmunar .

[2017-08-30 23:48] boek commented on #284
Estimate: S

I think we can just get the current locale `Locale.current` and change the URL based on that?

[2017-08-31 03:59] flodolo commented on #380
Are you sure your clone is up to date? Because it was missing a target-language, but that was fixed almost 36 hours ago
https://github.com/mozilla-l10n/focusios-l10n/commits/master/es-AR

The script only checks for missing locales, since validation is done when you import it manually.

[2017-08-31 05:23] flodolo commented on #380
I confirm the error appears with the currrent. Conclusion: Xcode is dumb piece of crap.

I've compare the es-ES file vs the es-AR, they have the same structure, only some translations change. `target-language` is correctly set up, I think something is wrong with the project structure, but I don't know Xcode to debug that.

[2017-08-31 05:28] flodolo commented on #380
Actually, there a couple of file elements with the attribute
https://www.diffchecker.com/41xNc1ED

[2017-08-31 05:33] flodolo commented on #380
@bkmunar Import seems to work with the latest version, can you try again?

[2017-08-31 05:37] flodolo commented on #380
Note that I don't have any knowledge beyond this point, so you need to figure out the next steps.

For example, I see a `OpenInFocus/es-AR.lproj` created that it's not there for any other locales, so it should likely not be added to git.

Also no clue how to read the changes to the .pbxproj file, even if they seem expected
https://github.com/mozilla-mobile/focus-ios/commit/41ae854da6edc37bede1ce6d

[2017-08-31 05:51] flodolo opened #389 "L10n sign-off for v3.6 Cobalt"
Apparently I can't file bugs anymore for Focus (cc @delphine).

This is the list of locales from the [bug for v3.4](https://bugzilla.mozilla.org/show_bug.cgi?id=1385424)

[code]

We have es-AR complete, but there's #380

[2017-08-31 05:52] flodolo commented on #389
@Sdaswani
In the 3.4 bug I see a request to exclude kn and ne-NP from the build. How does that happen?

[2017-08-31 16:21] flodolo commented on #389
BTW, I realized a few flaws in the process while doing #390 (cc @st3fan), something worth discussing when everyone is back from PTO:
* To have screenshots for a new locale (es-AR), it needs to be imported in the tree, and it will ship with the next version in App Store.
* The Go script only imports complete locales, which means a locale at 99% doesn't get any updated strings, even if it's shipping

[2017-08-31 17:31] #373 closed

[2017-08-31 17:49] #367 closed

[2017-08-31 18:05] AaronMT opened #392 "Focus has access to Siri & Search Suggestions in iOS 11"
Not sure if this is intentional or avoidable but I noticed today that Focus has access to Siri & Search.

Settings => Firefox Focus

You should see just Photos, but on iOS 11 I see Siri & Search.

[2017-08-31 18:20] AaronMT opened #393 "URL should be text selected on address-bar tap"
Currently my biggest peeve with Focus is that we do not text select the entire value in the address-bar on address-bar tap. Therefore when I begin to type a new URL, it only appends to the end of the existing URL.

This goes against every browser I have ever used including Safari on iOS.

Can we please text select the URL on address-bar tap?

Especially because we have no concept of history or boo

[2017-08-31 18:51] antlam commented on #393
Yeah this seems a bit like a bug actually. I thought we used to do this before..

Thanks for filing @AaronMT

[2017-08-31 18:57] Sdaswani commented on #393
It is a bug / regression - it works in 3.5.1 but not 3.6. Let's fix it :) .

[2017-08-31 19:00] Sdaswani commented on #380
Closed with https://github.com/mozilla-mobile/focus-ios/commit/ae3186d81db856fad35483002997285a84e05e67

[2017-08-31 19:00] #380 closed

[2017-08-31 19:05] flodolo commented on #389
At this point the list of locales shipping in v3.6 is the same as 3.4, plus es-AR.

I'm going to open a separate issue to discuss about improvements in the process.

[2017-08-31 19:05] #389 closed

[2017-08-31 19:09] flodolo opened #395 "[l10n] Improve localization process"
Spin-off from #389

cc @st3fan, @delphine, @Sdaswani

I realized a few flaws in the process while doing the string import, something worth discussing when everyone is back from PTO:
* To have screenshots for a new locale (es-AR), it needs to be imported in the tree, and it will ship with the next version in App Store.
* The Go script only imports complete locales, which means a locale in-tree at 9

[2017-08-31 19:09] flodolo commented on #389
Final list of locales

[code]

[2017-08-31 19:27] AaronMT commented on #392
The intent here is to investigate any privacy leak

[2017-08-31 19:37] bbinto opened #396 "[meta] Support Tor"
Similar to https://github.com/mozilla-mobile/focus-android/issues/66

Using WebView, see more info here: https://docs.google.com/document/d/1hA5SS9npOZCZdsSoD3LCN1d7MrYDs1C71rbAkV8Gwvc/edit

By default Focus blocks different kinds of trackers. If we utilize Orbot (to route traffic through the Tor network) we can protected the privacy of the user in general.

This could be a setting that only shows

[2017-08-31 19:50] Sdaswani commented on #294
Closed with https://github.com/mozilla-mobile/focus-ios/commit/f55662b87f7fdf208f8132ae521f867c066801ab

[2017-08-31 19:50] #294 closed

[2017-08-31 20:50] bbinto commented on #229
not needed anymore

[2017-08-31 20:50] antlam commented on #143
@boek mentioned there maybe a way to take advantage of iOS app icon changes here. That would not require permissions.

[2017-08-31 20:55] boek commented on #143
@antlam weird I could have sworn I commented with the documentation. This technique is only supported in iOS 10.3+.

[2017-08-31 20:55] #286 closed

[2017-08-31 20:56] bkmunar commented on #91
I saw his code for it! Now I just have to translate it into iOS :P Hopefully @walkingice can help me through that process

[2017-08-31 20:56] boek commented on #286
Not exactly sure how we can QA this on buddybuild as I don't think we send any telemetry for these builds?

[2017-08-31 21:55] Sdaswani commented on #286
QA it with the TestFlight build, which will arrive tomorrow / this weekend.

[2017-08-31 21:56] #393 closed

[2017-08-31 23:15] boek commented on #278
Quick question about this @lime124 @antlam:

Currently we do have the `copy` and `share link` buttons for links (`<img>'s wrapped in `<a href..>`). Do we want to show the copy / share link just for just images as well?

[2017-09-01 00:12] boek commented on #215
This is also broken in Safari. Going to file a Radar

[2017-09-01 05:23] Sdaswani commented on #333
@flodolo please close this once you have approved all screenshots.

[2017-09-01 05:27] Sdaswani commented on #395
@flodolo what's the diff between the two processes? Anything else besides the localizations not being stored in tree and buddybuild automating the locale integration and screenshots?

[2017-09-01 05:27] Sdaswani commented on #395
also cc @boek on this as he should be involved in discussion.

[2017-09-01 05:35] flodolo commented on #333
Should be good, thanks. Note that I'm not a contributor of the project, so I can't do anything on other people's issues ;-)

[2017-09-01 05:37] flodolo commented on #395
Exporting strings is basically the same, we should unify the scripts in one place (right now Fx has its own version in-tree).

Importing strings happens via scripts too in Firefox, there's no import via XCode for new locales, etc.

[2017-09-01 05:38] Sdaswani commented on #333
Oops sorry - well then just drop an approved here, and I'll close it.

[2017-09-01 05:39] flodolo commented on #333
Yep, they're approved.

It might be a good idea to add me and @Delphine  as contributor to the project, since we need to use issues instead of bugs.

[2017-09-01 05:42] Sdaswani commented on #333
I've added you both as Collaborators - hopefully that gets you the access you need. Thanks for the approval.

[2017-09-01 05:42] #333 closed

[2017-09-01 05:43] flodolo commented on #395
Side note: anyone against adding a "localization" or "l10n" label to this project? It might help tracking down issues
https://github.com/mozilla-mobile/focus-ios/labels

[2017-09-01 05:44] Sdaswani commented on #395
@antlam and @bbinto are the keeper of labels - it's up to them :) .

[2017-09-01 06:36] flodolo commented on #395
And here's one much worse problem. In https://github.com/mozilla-l10n/focusios-l10n/pull/20 I noticed there are a couple of localization comments disappearing, searched the code, and those strings only appear in ab-CD.proj folders, not in Swift file.

Guess what? Since we have a `en` localization in tree and we export `en`, those strings remain in the file even if they're not in the code anymore.

[2017-09-01 08:12] flodolo opened #399 "[l10n] Hard-coded Focus in send data description"
This line has an hard-coded Focus that I missed in review :-\
https://github.com/mozilla-mobile/focus-ios/blob/edebb222c59f102df2d3edfeca97e578665589e9/Blockzilla/UIConstants.swift#L147

[code]

Should be changed to
[code]

But there's also code to change, and that's beyond my knowledge of iOS.

I've already exported the fixed string
https://github.com/mozilla-l10n/focusios-l10n/pull/22

[2017-09-01 11:15] bbinto commented on #143
I think we have enough users with 10.3 and up
49% on 10.3.2
36% on 10.3.3
More details: https://sql.telemetry.mozilla.org/queries/28235/source#table

So let's go ahead with @boek's suggestion.

[2017-09-01 11:26] bbinto commented on #395
@flodolo - l10N label created, duh! We should have created that way earlier. Thanks for flagging.

[2017-09-01 13:17] Sdaswani commented on #143
We also have to check if we can do it without user interaction (i.e., programmatically).

[2017-09-01 13:22] Sdaswani opened #400 "Paste & Go Bad Interaction"
1. Copy an item to your clipboard.
2. Open Focus (cold start or not).
3. Press Erase (if available).
4. Select URL bar.
5. Long press and paste and go.

[2017-09-01 13:23] Sdaswani commented on #400
![img_0831](https://user-images.githubusercontent.com/4879954/29971691-06bd5eb4-8ede-11e7-8080-87c7f37da3ad.PNG)
![img_0832](https://user-images.githubusercontent.com/4879954/29971690-06bd2638-8ede-11e7-91fb-700e28d3764a.PNG)
![img_0833](https://user-images.githubusercontent.com/4879954/29971692-06bf977e-8ede-11e7-87ba-ccd8c8e4d538.PNG)

[2017-09-01 16:40] antlam commented on #278
Redirecting to @lime124 to clarify when shes back

It sounds like we want to give users the additional ability to Copy Link (of images) and Share Link (of images) that are *not* specifically links but rather just hosted online.

Maybe we could clarify this with another string though? Copy Image Path? Link Path?

[2017-09-01 16:42] antlam commented on #143
(Assuming we can)

I'll get us the app icons here

[2017-09-01 16:44] boek commented on #143
@Sdaswani https://developer.apple.com/documentation/uikit/uiapplication/2806818-setalternateiconname

[2017-09-01 16:47] Sdaswani commented on #143
Awesome @boek let's do it!

[2017-09-01 18:32] antlam commented on #335
Changing the label to "needs investigation"

[2017-09-01 18:43] bbinto commented on #143
Can we remove the "blocked" label now @boek?

[2017-09-01 19:55] boek commented on #143
@bbinto yep!

[2017-09-01 19:56] #400 closed

[2017-09-01 21:55] Sdaswani opened #405 "Shorten Name of Name in App Store Listing"
Per Apple, the name of our App has to be less than 30 characters - we are at 34 with "Firefox Focus: The privacy browser"

<img width="1016" alt="screen shot 2017-09-01 at 2 53 24 pm" src="https://user-images.githubusercontent.com/4879954/29989047-87bcdbc4-8f25-11e7-81ba-032b94603df7.png">

[2017-09-01 22:08] antlam commented on #405
@Sdaswani thanks for the ping here. Is this for the App Store listing? or the app name? are those tied together?

I definitely think dropping everything after the : feels more professional/polished.

I'd also like to bring up that this is something we keep running into with "Firefox Focus" as opposed to just "Focus" in general. Here are some past related issues for context:
- App name gets truncat

[2017-09-01 22:11] Sdaswani commented on #405
This is for the App Store listing - our name (on the homescreen) is still 'Firefox Focus', but our App Store listing name has an 'SEO' aspect to it. Whatever you put in your name may help with SEO. So including 'firefox' and 'privacy' may have benefits.

[2017-09-01 22:16] Sdaswani commented on #405
Oh and let's not forget Klar, whose App Store listing is even longer: "Firefox Klar: Der Browser mit Privatsphäre"

[2017-09-01 22:37] #399 closed

[2017-09-01 22:42] Sdaswani commented on #387
Fixed with https://github.com/mozilla-mobile/focus-ios/commit/ceb15b3253ca7467335a7453c67ad60b3d061949 and https://github.com/mozilla-mobile/focus-ios/commit/6a2d05f2ed58958a4d8208ed7976b7e3245e356d

[2017-09-01 22:42] #387 closed

[2017-09-02 00:03] antlam commented on #405
Good point about SEO too

[2017-09-02 00:04] antlam commented on #350
Could be a L-sized item so we should talk about this next week

[2017-09-02 01:57] npark-mozilla opened #408 "On iPad, scrolling slowly does not remove collapsedURL"
STR:
On iPad, go to a website, (www.mozilla.org)
Scroll down to show collapsed URL being displayed on top
Now, scroll up very slowly for a 1/4 of screen
Expected:
Collapsed URL view should disappear, and the URL Textfield should be shown
Actual:
Collapsed URL remains displayed

This is currently why CollapsedURLTest currently fails in master.

[2017-09-02 04:28] Sdaswani commented on #408
Reproduced, though it doesn't happen if you scroll by letting go after you slide down. FYI Safari exhibits the same behavior - in fact letting go doesn't help - so let's check with @antlam on whether this is intended behavior.

[2017-09-02 07:39] dmead28 commented on #128
Should this be in its own project / repo or just generalize the existing `firefox-ios-open-in-client` to work with both products?

[2017-09-03 04:43] Sdaswani opened #410 "Focus is not processing telephone links"
@antlam said:

I confirmed this and will try to post a URL that exhibits this behavior soon.

[2017-09-03 05:03] Sdaswani commented on #128
Hey @dmead28 ! It's own project is best. I created one you can create a PR against: https://github.com/mozilla-mobile/focus-ios-open-in-client

Let me know if you have any questions and thanks for the contribution!

[2017-09-03 20:17] Sdaswani commented on #410
Here is an example: https://www.google.com/search?source=hp&ei=f0isWbHnCMW8jwPqxKf4Aw&q=dunkin+donuts+walnut+creek&oq=dunkin+sonuts+walnut&gs_l=mobile-gws-hp.1.0.0i13k1l5.976.5652.0.7017.21.21.0.0.0.0.626.8601.2-1j12j4j4.21.0.foo%2Cnso-ehuqi%3D1%2Cnso-ehuui%3D1%2Cewh%3D0%2Cnso-mplt%3D2%2Cnso-enksa%3D0%2Cnso-enfk%3D1%2Cnso-usnt%3D1%2Cnso-qnt-npqp%3D0-1633%2Cnso-qnt-npdq%3D0-5608%2Cnso-qnt-npt%3D0-1

[2017-09-05 14:46] antlam opened #411 "Sometimes landscape toolbar still shows parts of icons when collapsed"
STR (sporadic):

1. Search Google Images for "red pandas"
2. Tap into a photo to enlarge
3. Rotate phone to landscape orientation
4. Scroll
5. Notice collapsed toolbar with partially shown icons

iPhone 7, build 538

[2017-09-05 14:48] antlam commented on #410
Searching Google for a restaurant, and then pressing "CALL" on their info card was where I last found this bug.

[2017-09-05 15:55] Sdaswani commented on #411
I can't reproduce becase after 3, I can't scroll - it just show the image I enlarged on 2.

[2017-09-05 15:55] Sdaswani commented on #411
@boek can you repro?

[2017-09-05 17:03] antlam commented on #93
Reopening - Talking to Stephen, we think this is something we want to do. But we'll need to triage this.

[2017-09-05 17:04] boek commented on #411
I haven't been able to reproduce either. After I rotate it won't let me scroll

[2017-09-05 17:10] antlam commented on #411
It's really sporadic, after a couple tries, I'm still able to get the URL to collapse by scrolling down to "related-images"

[2017-09-05 17:20] antlam commented on #94
Adding a L sizing to this but (as above) we should still be able to proceed with placeholder text and images while we get illustrations and copy finalized.

[2017-09-05 17:23] antlam commented on #147
Adding M sizing based on current iOS Firefox implementation

[2017-09-05 17:40] antlam commented on #93
![screen shot 2017-09-05 at 10 34 05 am](https://user-images.githubusercontent.com/1994820/30074464-7da018fa-9226-11e7-80f3-1c531649bede.png)

Before v. After (WIP toolbar icons, ignore those for now)

[2017-09-05 18:30] lime124 commented on #278
Just talked this over with @boek and I think this might be unnecessary. Let's close it for now and we can revisit in the future if it's not working how we want.

[2017-09-05 19:08] #278 closed

[2017-09-05 20:11] bbinto commented on #405
Barbara to talk to marketing

[2017-09-05 20:17] antlam commented on #143
renaming to reflect conversation

[2017-09-05 20:25] bbinto commented on #250
Need probe in first

[2017-09-05 20:26] antlam opened #412 "'Your Rights' background color should be #272727"
![img_1206](https://user-images.githubusercontent.com/1994820/30081880-b3dd35bc-923d-11e7-9ea2-12f28ecc43d5.PNG)

Set background-color to #272727

[2017-09-05 20:32] boek commented on #385
@antlam what should the pressed state be?

[2017-09-05 20:38] antlam commented on #385
@boek #38383D

<img width="390" alt="screen shot 2017-09-05 at 1 37 57 pm" src="https://user-images.githubusercontent.com/1994820/30082390-7af60eb6-923f-11e7-9114-fccd58d7e220.png">

[2017-09-05 20:38] bbinto commented on #91
@bkmunar to give @antlam a build for review

[2017-09-05 21:11] Sdaswani commented on #327
closed in https://github.com/mozilla-mobile/focus-ios/commit/a009c20492982ad060f12023da29020ce13f9331

[2017-09-05 21:11] #327 closed

[2017-09-05 21:15] lime124 commented on #90
@boek what do you need from UX for this one? From our perspective we're looking for a nice smooth and easy swipe that doesn't require a full screen width gesture akin to native.

I'm not really sure what should or needs to be spec'd out.

[2017-09-05 21:17] antlam commented on #408
We heard a lot of good feedback about the Android scrolling interaction. But since we're following the iOS standard here (Safari), I think this is OK for now.

Though, to take a page from the Android product, we may still file bugs about improving our scrolling as it pertains to perceived performance, responsiveness, etc. in the future :)

[2017-09-05 21:20] MozMikeHan commented on #405
Im recommending Firefox Focus: Privacy Browser - its important to keep privacy/private browser in the title because it helps with SEO.  Ill make the request for localized versions of the title too

[2017-09-05 21:21] boek commented on #90
@lime124 It really depends if we want to add any visual feedback to the swipe.

[2017-09-05 21:48] Sdaswani commented on #408
Thanks @antlam - @npark-mozilla can you modify your test to handle this?

[2017-09-05 21:49] Sdaswani commented on #375
@bkmunar don't work on this until the iOS 11 GM is out.

[2017-09-05 21:49] Sdaswani commented on #376
@bkmunar don't work on this until the iOS11 GM is out.

[2017-09-05 21:50] Sdaswani commented on #277
@bkmunar don't work on this until the iOS11 GM is out.

[2017-09-05 21:50] Sdaswani commented on #392
@boek  don't work on this until the iOS11 GM is out.

[2017-09-05 21:50] npark-mozilla commented on #408
@Sdaswani will do- i just need to scroll it lightly again.

[2017-09-05 22:28] #339 closed

[2017-09-05 22:46] antlam commented on #91
Reviewed initial build, left feedback comments for @bkmunar via Slack.

- pulsing animation
- finishing animation
- left aligned bar (doesn't show rounded left-end until finishing animation)

[2017-09-06 01:49] brampitoyo commented on #363
New assets – in .zip, because I wasn’t sure whether GitHub compresses PNGs:
https://cl.ly/0R2E3i3f1W2G

Expanded:

![ios-app-extension-safari](https://user-images.githubusercontent.com/51007/30090824-27dcbd78-92e0-11e7-84a3-47efce4aa15b.png)
![ios-app-extension-safari 2x](https://user-images.githubusercontent.com/51007/30090826-2abdeb16-92e0-11e7-9e4a-775cd169789e.png)
![ios-app-extension-safari 3

[2017-09-06 08:36] #363 closed

[2017-09-06 15:08] shorlander commented on #92
[focus-photon-assets.zip](https://github.com/mozilla-mobile/focus-ios/files/1281565/focus-photon-assets.zip)

Updated Photon Assets; includes:
- All the toolbar icons
- Updated Settings instructions images

I just have one white image for the toolbar icons. For disabled icons the opacity should be 30%.

[2017-09-06 16:45] antlam opened #418 "'Learn more' link in About is not correct blue"
Our blues in Settings should all be #0A84FF

[2017-09-06 16:51] antlam commented on #93
Previews:
![screen shot 2017-09-06 at 9 50 47 am](https://user-images.githubusercontent.com/1994820/30124077-ef843b1e-92e8-11e7-868e-81f2d5143d52.png)

[2017-09-06 16:52] antlam commented on #93
iPad preview (old icons):
![screen shot 2017-09-06 at 9 51 48 am](https://user-images.githubusercontent.com/1994820/30124113-0a4605ae-92e9-11e7-9cf7-cf4c73cad81b.png)

[2017-09-06 17:11] #410 closed

[2017-09-06 19:08] wcbeard opened #420 "Video audio doesn't play when sound is "switched off""
I can play [this video](https://m.youtube.com/watch?v=FE2GQB37G1A), in Focus for example, but there's no sound. Playing on Firefox ios works fine, though.

I'm on an iphone 7 running ios 10.3.3.

I turned off the blockers to see if they were causing it:

![5in](https://user-images.githubusercontent.com/379413/30129806-290404c4-9315-11e7-9c62-8d282c16bf9c.jpeg)

but still no sound.

[2017-09-07 00:06] #411 closed

[2017-09-07 16:20] #385 closed

[2017-09-07 17:19] bbinto commented on #272
Let's keep the SUMO page in the loop in case they need to create a page for more detailed information.

[2017-09-07 20:54] antlam commented on #229
@bbinto I'm just going to close this issue as per your comment ^ :)

[2017-09-07 20:54] #229 closed

[2017-09-07 20:57] #126 closed

[2017-09-07 22:30] #284 closed

[2017-09-07 22:54] #91 closed

[2017-09-07 23:32] Sdaswani commented on #405
This is being tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1397053

[2017-09-08 00:19] boek commented on #375
@AaronMT are you able to reproduce on the latest beta? Just installed beta 10 and I'm able to share to notes.

[2017-09-08 14:21] AaronMT commented on #375
WFM

[2017-09-08 14:21] #375 closed

[2017-09-08 16:47] boek commented on #376
@AaronMT

1. This seems to be fixed. Attaches a link/preview to the reminder.
2. Fixed as well
3. I think this is caused by https://www.macrumors.com/2017/06/05/facebook-twitter-integration-eliminated-ios-11/ not something we can control. It's also broken when sharing from Safari
4. I spent a little time looking for advanced sharing functionality. I think Safari might be using private APIs?
5. ^^

[2017-09-08 17:10] boek commented on #392
![img_2562](https://user-images.githubusercontent.com/1250545/30222975-ce1a572e-947d-11e7-9460-cee3d2d6643d.PNG)

So I think this is a little misleading. We don't have access to Siri/Search suggestions. Its asking to give Siri access to the data in the app so it can appear in the search suggestions.

[2017-09-08 17:13] Sdaswani commented on #392
Yeah maybe it's just a new iOS11 thing? Does it exist for other apps?

[2017-09-08 17:13] boek commented on #392
yeah, that setting is on every app in my list.

[2017-09-08 17:14] Sdaswani commented on #392
@AaronMT closing - feel free to re-open if you disagree.

[2017-09-08 17:14] #392 closed

[2017-09-08 17:45] boek commented on #277
@AaronMT can you still reproduce this? I remember seeing it but this might have gotten fixed with some other Auto Layout fixes in Denim.

[2017-09-08 20:10] AaronMT commented on #392
"The intent here is to investigate any privacy leak" if that's a no, then sound's good

[2017-09-08 20:11] AaronMT commented on #277
WFM

[2017-09-08 20:11] #277 closed

[2017-09-08 20:45] bkmunar commented on #387
Estimated: S

[2017-09-08 20:46] bkmunar commented on #399
Estimated: S

[2017-09-08 20:46] bkmunar commented on #294
Estimated: S

[2017-09-08 20:56] Sdaswani opened #428 "Integrate Burndown Chart"
https://github.com/radekstepan/burnchart

This will make it much easier to track our estimation and burndown skillz.

[2017-09-08 23:20] Sdaswani opened #430 "Beg for Reviews"
In iOS you can beg the user to leave a review in app - we should think about using this UX control. cc @boek

[2017-09-08 23:21] Sdaswani commented on #430
and cc @antlam

[2017-09-09 04:42] Sdaswani commented on #418
Closed with https://github.com/mozilla-mobile/focus-ios/commit/166bbbef4d6d3ebcac1a1af8e589097425b5e2ab .

[2017-09-09 04:42] #418 closed

[2017-09-09 04:43] Sdaswani commented on #412
Closed with https://github.com/mozilla-mobile/focus-ios/commit/166bbbef4d6d3ebcac1a1af8e589097425b5e2ab

[2017-09-09 04:43] #412 closed

[2017-09-09 17:13] boek opened #433 "Add ability to add domains to top domain list for autocomplete"
This request originally stems from #69 but I think it would be a great addition.

[2017-09-09 18:10] joeyg commented on #433
@boek this would consist of a settings screen to add/remove sites? Is there any other functionality needed?

[2017-09-09 19:54] heubergen commented on #141
Hi @antlam,

I'm not involved in this issue yet but I would write a user story etc if that would help you to make a good decision. If you would look into it at the end, just let me know with a reply.

[2017-09-09 20:38] boek commented on #433
@joeyg Probably. I'm sure UX will have a bit to say about this, but how I envisioned it would be the settings screen + an action sheet item to quick add the current domain to the list.

[2017-09-09 22:27] joeyg commented on #433
@boek - sounds cool. I'll try and take a crack at building that this week.

[2017-09-10 04:31] Sdaswani commented on #433
@joeyg - once again, thanks for your contributions! As @boek mentions, UX needs to chime in on this, and both @antlam and @lime124 are pretty swamped right now. But if you don't mind taking some stabs at a good UX knowing full-well that you may have to go back to the drawing board, we welcome your contribution :) .

[2017-09-10 04:34] boek opened #434 "Save Image dialog appears when scrolling"
@Sdaswani originally brought this to my attention and since then I've seen it a couple of times. But haven't been able to reliably reproduce. We've gotten a report on [Twitter](https://twitter.com/falleri/status/906111165184475136) mentioning that it is happening all the time.

[2017-09-10 04:42] Sdaswani commented on #434
If you can roll a fix for this into 3.7 that would be great. I have an easier time reproducing it on iPad than on iPhone if that helps at all. I will try to reproduce again and send STRs.

[2017-09-10 04:43] boek commented on #434
Good idea, I'll try reproducing with the iPad tomorrow.

[2017-09-11 02:10] escapewindow commented on #434
I've seen it a lot... this happens on image heavy pages like https://www.pinterest.com/explore/hot-weather-food/?lp=true . I'm guessing that since your finger is on an image for a length of time while scrolling, Focus is interpreting it as a long-press as well as a scroll.

[2017-09-11 16:13] bkmunar commented on #255
Can I have the asset for the trackers blocked title?

[2017-09-11 16:23] Sdaswani commented on #434
We will have a fix ASAP - sorry for the trouble!

[2017-09-11 16:25] lime124 commented on #343
![ixd flow - url bar trackers](https://user-images.githubusercontent.com/287322/30285280-7a4cfac8-96d2-11e7-8b64-b21c8ae5ddda.png)

![visual design - url bar trackers](https://user-images.githubusercontent.com/287322/30285279-7a49538c-96d2-11e7-8144-c393c4b0461f.png)

There are no strings in these design to approve. @antlam is going to provide the badged shield icon and the disabled icon (note: th

[2017-09-11 16:26] lime124 commented on #255
See #343 for the spec pages. @antlam is on the hook for the icon 😛

(it's going to be better for everyone to put them in one spot to ensure they're up-to-date).

[2017-09-11 16:27] lime124 commented on #144
See #343 for the spec pages.
(it's going to be better for everyone to put them in one spot to ensure they're up-to-date).

[2017-09-11 16:27] lime124 commented on #121
See #343 for the spec pages.
(it's going to be better for everyone to put them in one spot to ensure they're up-to-date).

[2017-09-11 16:27] lime124 commented on #96
See #343 for the spec pages.
(it's going to be better for everyone to put them in one spot to ensure they're up-to-date).

[2017-09-11 16:29] lime124 commented on #343
Here is the spec page for the drawer. Visual spec coming later.
/cc @bbinto, @antlam

![ixd flow - drawer](https://user-images.githubusercontent.com/287322/30285668-9e7d22aa-96d3-11e7-87df-ec56b3b61166.png)

[2017-09-11 16:35] #275 closed

[2017-09-11 16:49] Sdaswani commented on #141
Thanks for your willingness to contribute @heubergen . I have assigned this to @antlam to let him decide on next steps (including whether you should provide a user story).

[2017-09-11 19:35] antlam commented on #433
Thanks for the ping! this is interesting. We'll look into this further but will likely benefit from whatever additional feedback we could get!

To help us stay true to the vision for Focus and to solve for the best solution to the core problem here, I'm going to summarize what I think we're hearing but please feel free to correct me!

What I'm hearing is... (in addition to being able to "white-lis

[2017-09-11 19:51] antlam commented on #433
We've also been looking at an approach in issue #124 that might help some of these use cases too

[2017-09-11 20:02] antlam opened #438 "Initial support for 3D touch options"
Screenshot of Fennec for iOS:
![img_1271](https://user-images.githubusercontent.com/1994820/30294023-84b291d0-96f0-11e7-84e6-de885190b163.PNG)

There are some system level integrations that could help us solve some problems we've already been looking at. But we haven't been actively looking at these solutions (3D touch) because of discover-ability concerns, support across devices, and just general

[2017-09-11 21:08] james524 opened #440 "iOS Native Print Support"
device: iPad Air 2
OS: iOS 10.3.3
Firefox Focus:  3.6.1

Please consider adding the ability to print using iOS' native print application.

[2017-09-11 21:18] bkmunar commented on #93
I'm marking this as done because one of the color changes requested in this ticket is for a feature that doesn't exist yet. When that feature is made, that spec will be paired with the feature ticket

[2017-09-11 21:18] #93 closed

[2017-09-11 23:02] antlam commented on #93
@bkmunar cool! will leave it to you to make sure that the spec (#272727) is captured in the appropriate bug then. thanks! :)

[2017-09-11 23:11] antlam commented on #343
The icon with the counter is giving me issues. Will post later. Here are the others though, in SVG :)

[trackingprotectiong-medium-small.zip](https://github.com/mozilla-mobile/focus-ios/files/1294298/trackingprotectiong-medium-small.zip)

[2017-09-12 14:44] bbinto commented on #433
Sounds like another more creative way of bookmarking?!? I'm starting to see more and more value in this feature,  as it follows our product mantra: make search/browsing easy & convenient while giving users choice and not invading their privacy.

I'll need to bring this up with legal/policy as mentioned here https://github.com/mozilla-mobile/focus-ios/pull/69#issuecomment-309277381.

[2017-09-12 14:53] bbinto commented on #230
will re-open if issue shows up again

[2017-09-12 14:53] #230 closed

[2017-09-12 14:55] bbinto commented on #228
mark as blocked until Susheel reports back

[2017-09-12 14:58] bbinto commented on #430
+ @lime124

@Sdaswani can you share an example (least annoying)? :)

Do reviews result in better installs/featuring/DAUs?

Effort vs. result :)

[2017-09-12 15:46] bbinto commented on #440
Need estimates but for now I'd say roadmap -> under consideration

[2017-09-12 15:47] bbinto commented on #438
Needs Eng estimate, then should go under "under consideration"

[2017-09-12 15:49] bbinto commented on #433
Policy is fine with this feature

[2017-09-12 15:56] antlam commented on #350
Moving to Folly for now. cc @bbinto

[2017-09-12 16:16] antlam commented on #141
@heubergen Sure! that would help us get started.. But this isn't high on our list of priorities at the moment. We'll need to review this as it gets brought up in our Roadmap.

I'll add this to be triaged later

[2017-09-12 16:29] joeyg commented on #433
Glad to see all the interest in this feature. I'll try and put together a PR with the settings functionality and we can go from there.

[2017-09-12 16:50] antlam commented on #433
@joeyg thanks for the PR!

I think the next step is to give our team some time to think about this. We'd like to address some of this for Android as well as iOS.

A Settings pref is certainly a straight forward solution and we might go that route too. But they also come with some usability concerns inherently.

[2017-09-12 16:54] joeyg commented on #433
@antlam understood.

[2017-09-12 17:17] Sdaswani commented on #430
Engineering effort is small / medium - @antlam and @lime124 may have to spend medium effort to let us know where to show it. You can see an example of the in-app dialog here: https://developer.apple.com/app-store/ratings-and-reviews/

[2017-09-12 17:18] Sdaswani commented on #430
@bb A well reviewed app may result in featuring - but would have to work with Marketing to make that happen. That would help installs. DAUs I'm not sure.....

[2017-09-12 17:37] selimsumlu opened #443 "Use hi-res search engine icons"
Search engine icons listed in Settings > Search Engine are low-resolution compared to Firefox for iOS, thus looking pixelated. Those need to be replaced with higher-resolution alternatives.

![img_0499](https://user-images.githubusercontent.com/1046789/30340119-21b1b1f0-97fa-11e7-8d40-bc422a66629e.PNG)

[2017-09-12 17:53] antlam commented on #343
Got it! [trackingprotection-medium-counter.zip](https://github.com/mozilla-mobile/focus-ios/files/1296891/trackingprotection-medium-counter.zip)

Here's the approved icon with the space cut-out for the counter.

**Note: SF Pro Text, Medium, 8px**

[2017-09-12 17:56] antlam commented on #347
Moving to Granite to give us more time to define the scope, etc.

[2017-09-12 18:06] antlam commented on #147
Folly has "What's New?" now, so moving this to Granite*

[2017-09-12 18:10] antlam commented on #272
We spec'd out some of this UI in #146

Re-pasting from other issue for visuals:
![screen shot 2017-07-19 at 2 46 59 pm](https://user-images.githubusercontent.com/1994820/28391037-352e1456-6c91-11e7-867f-f8c607a1610f.png)

[2017-09-12 19:32] antlam commented on #141
Was going to placeholder this in Granite for the time being, but I think it seems more like something we'd want in "For Consideration"

[2017-09-12 19:34] antlam commented on #443
Yikes, yeah we should fix this in the next release if possible!

[2017-09-12 19:42] heubergen commented on #141
As a Community Member, I'm willing to help you and Mozilla of course. But I'm sure you understand that I don't like to do all the work and then the feature will be canceled.
Maybe you want the User Story for the decision but then I don't think I'm the right person for that sorry.
As soon as you have a Go! for the feature/idea, in general, I can deliver you the user story.

[2017-09-12 19:48] antlam commented on #141
@heubergen yep, no worries. UX loves user stories! we'll just need some time to figure this out :)

[2017-09-12 20:08] Sdaswani commented on #438
@bbinto hard to give an eng estimae without a spec - will file as you instruct though.

[2017-09-12 20:11] Sdaswani commented on #434
Going to keep in Ebony but will try to uplift to Denim this Friday.

[2017-09-12 20:18] Sdaswani commented on #250
@boek please confirm whether we log this already or not? Please see discussion here: https://github.com/mozilla-mobile/focus-ios/pull/431

[2017-09-12 20:18] bkmunar commented on #420
Hey @wcbeard I just tried this on the lastest master on my phone and sound did come out on youtube. However, my sound switch was on and the sound was NOT working when the sound switch was off. Can you try it again and see what you find?

[2017-09-12 20:33] Sdaswani commented on #96
String is 'Trackers Blocked', approved by @BrianNJones .

[2017-09-12 20:55] antlam commented on #96
I think 'Trackers Blocked' is a bit weird given the UI outlined by @lime124 in #343 ...

@BrianNJones could we take another stab at this together? :) the screenshot in the first comment is from Android (for reference) so maybe I've caused some confusion there - sorry!